<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="$can('notification-view')">
      <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4">{{ get_text('title@notification_list@l') }}</b>
              <b-link :href="'/notification'" v-if="$can('notification-create')">
                <b-button variant="primary" size="md" class="btn float-right">
                  <b><i class="icon-plus icons font-1xl"></i> {{ get_text('add@notification@l') }}</b>
                </b-button>
              </b-link>
            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading">
              <div style="text-align:center; padding-top:50px;">
                <!-- Loading Holiday Data... -->
                {{ get_text('loading@prcType@l') }}

              </div>
            </div>
            <!--&& this.$store.state.loading-->
            <div v-if="$auth.ready() && this.$store.state.loading">
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('filter@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l')
                          }}
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('sort@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">{{ get_text('please_select@l') }}
                        </option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ get_text('asc@l') }}</option>
                        <option :value="true">{{ get_text('desc@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('channel@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select v-model="sortByChannel":options="this.$store.state.notifiChannel">
                      <option slot="first" :value="null">{{
                        get_text('please_select@kpi_def@l') }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('event@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select v-model="sortByEvent":options="this.$store.state.notifiEvent">
                      <option slot="first" :value="null">{{
                        get_text('please_select@kpi_def@l') }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('status@l')" class="mb-0" :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select v-model="sortByStatus":options="this.$store.state.notifiStatus">
                      <option slot="first" :value="null">{{
                        get_text('please_select@kpi_def@l') }}
                      </option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive :items="projectlist" :fields="fields"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @filtered="onFiltered">
                <!--<template :slot="`HEAD_${ key }`" v-if="key !='description'" v-for="key in fieldKeys" slot-scope="data">
                  <b>{{ data.label }}</b>
                  <select class="form-control form-control-sm" @click.stop.prevent v-model="selectVal[key]">
                    <option :value="undefined">&#45;&#45;</option>
                    <option :value="option" v-for="option in optionsData[key]" :key="option">{{ option }}</option>
                  </select>
                </template>-->
                <template slot="Actions" slot-scope="data">
                  <b-row class="text-center">
                    <b-col cols="2" sm="4" md="" xl="1" class="mb-3 mb-xl-1" v-if="$can('notification-view')">
                      <!--<b-button variant="primary" size="sm" :title="get_text('view@notification@l')"
                                @click="showNotification(data.item) "><b><i
                        class="icon-eye icons font-1xl"></i> </b></b-button>-->
                      <b-link :href="'/notification/'+data.item.id+'/view'" style="height:28px"
                              class="customClass">

                        <b-button variant="primary" size="sm" :title="get_text('edit@notification@l')"
                        ><b><i class="fa fa-eye font-1xl"></i></b></b-button>
                      </b-link>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('notification-edit')">
                      <b-link :href="'/notification/'+data.item.id" style="height:28px"
                              class="customClass">

                          <b-button variant="warning" size="sm" :title="get_text('edit@notification@l')"
                          ><b><i class="fa fa-edit font-1xl"></i></b></b-button>
                      </b-link>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('notification-delete')">
                      <b-button variant="danger" size="sm" :disabled="(data.item.status_active!=1) ?
                    false : true" @click="selectNotification(data.item)"><b><i
                        :title="get_text('delete@notification@l')" class="icon-trash icons font-1xl"></i></b></b-button>
                    </b-col>
                  </b-row>
                </template>
                <template slot="description" slot-scope="data">
                  {{ data.item.description }}
                </template>
                <template slot="status_active" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status_active)">{{ getName(data.item.status_active) }}
                  </b-badge>
                </template>
                <template slot="Manage" slot-scope="data">
                  <b-dropdown variant="link"
                              toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' : 'text-center btnClassCustmAr')"
                              no-caret class="" v-if="$can('notification-active-inactive')">
                    <template slot="button-content">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa-gears fa font-1xl"></i>
                      </button>
                    </template>
                    <b-dropdown-item
                      v-if="data.item.status_active!=1"
                      @click="activeDeactiveNotification(data.item)"
                      :disabled="(data.item.status==0 || data.item.active_status==1  && data.item.status!=2) ? true : false">
                      {{
                      get_text('activate@kpi_def@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="data.item.status_active==1"
                                     @click="activeDeactiveNotification(data.item)"
                    > {{
                      get_text('deactivate@kpi_def@l')
                      }}
                    </b-dropdown-item>
                  </b-dropdown>
                  <!--<b-dropdown id="dropdown-1" text="Actions" class="m-md-2">-->
                  <!--&lt;!&ndash;{{ data.item.status }}&ndash;&gt;-->
                  <!--<b-dropdown-item :disabled="(data.item.status==1 || data.item.status==2) ? true : false" @click="kpiApproveReject(data.item.id, 1)">Approve-->
                  <!--</b-dropdown-item>-->
                  <!--<b-dropdown-item :disabled="(data.item.status==2 || data.item.status==1) ? true : false" @click="kpiApproveReject(data.item.id, 2)">Reject-->
                  <!--</b-dropdown-item>-->
                  <!--<b-dropdown-divider></b-dropdown-divider>-->
                  <!--<b-dropdown-item @click="kpiActiveInactive(data.item.id, 1)"-->
                  <!--:disabled="(data.item.status==0 || data.item.active_status==1 || data.item.status==2) ? true : false">Activate-->
                  <!--</b-dropdown-item>-->
                  <!--<b-dropdown-item @click="kpiActiveInactive(data.item.id, 0)"-->
                  <!--:disabled="(data.item.status==0 || data.item.status==2) ? true : false">Inactive-->
                  <!--</b-dropdown-item>-->
                  <!--</b-dropdown>-->
                </template>
              </b-table>
              <nav>
                <b-pagination size="sm" :total-rows="getRowCount" :per-page="perPage"
                              v-model="currentPage" :prev-text="this.get_text('prev@l')"
                              :next-text="this.get_text('next@l')"
                              hide-goto-end-buttons/>
              </nav>
            </div>
          </b-card>
        </transition>

      </b-col>
    </b-row>
      <b-modal :title="get_text('notif_information@notification@l')" size="lg" class="modal-info"
             v-model="showingViewModal"
             ok-variant="info">
      <!--{{ this.$store.state.showInformation }}-->
      <div class="modalcontent" v-if="showNotiDetails">
        <b-row v-for="(item1, index) in showNotiDetails" :key="index">
          <b-col sm="6">{{ get_text(index+'@notification@c') }}</b-col>
          <b-col sm="6">{{ item1 }}</b-col>
        </b-row>
        <h4 style="padding: 0.3rem; background-color: #c8ced3">{{ this.get_text('roles_detail@notification@l')}}</h4>
        <div v-for="(item, index) in showRoles" :key="index">
          <b-row v-for="(item1, index) in item" :key="index">
            <b-col sm="6">{{ get_text(index+'@role@c') }}</b-col>
            <b-col sm="6">{{ item1 }}</b-col>
          </b-row>
          <br>
        </div>
        <h4 style="padding: 0.3rem; background-color: #c8ced3">{{ this.get_text('users_detail@notification@l')}}</h4>
        <div v-for="(item, index) in showUsers" :key="index">
          <b-row v-for="(item1, index) in item" :key="index">
            <b-col sm="6">{{ get_text(index+'@users@c') }}</b-col>
            <b-col sm="6">{{ item1 }}</b-col>
          </b-row>
          <br>
        </div>

      </div>
    </b-modal>
      <b-modal :title="get_text('delete@Users@l')" size="lg" class="modal-danger" v-model="showingdeleteModal"
             :hide-footer="true" ok-variant="danger">
      <div class="modalcontent">
        <b-row>
          <b-col md="12" class="text-center" style="font-size: 24px">{{
            this.get_text('are_you_sure_to_delete@Users@l') }}
            <b>{{notificationData
              .description}}</b>?
          </b-col>
          <b-col md="12" class="text-center">

            <button class="btn btn-outline-danger left"
                    @click="showingdeleteModal = false; deleteNotification(notificationData)">{{ this.get_text('yes@l')
              }}
            </button>&nbsp;
            <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{ this.get_text('no@l')
              }}
            </button>
          </b-col>
        </b-row>
      </div>
    </b-modal>
    </div>
    <div v-else-if="!$can('notification-view')">
      <b-row>
        <b-col sm="12">
          <b-card>
            <Unauthorized></Unauthorized>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/notification/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Treeselect from "@riophae/vue-treeselect";

  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(Element);
  Vue.use(Loading);
  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      this.$store.dispatch('loadnotificationList');
    },
    data: () => {
      return {
        items: [
          {
            isActive: true,
            age: 40,
            first_name: "Dickerson",
            last_name: "Macdonald"
          },
          {
            isActive: true,
            age: 42,
            first_name: "Robert",
            last_name: "Macdonald"
          },
          {isActive: false, age: 21, first_name: "Larsen", last_name: "Shaw"},
          {isActive: false, age: 89, first_name: "Geneva", last_name: "Wilson"},
          {isActive: true, age: 38, first_name: "Jami", last_name: "Carney"}
        ],

        // This is much simpler if the select is it's own component.
        selectVal: {
          channel: undefined,
          event_id: undefined,
          status_active: undefined,
        },
        selected: null,
        fields: [
          /*{key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'TypeCode', label: 'PRC Type', sortable: true, sortDirection: 'desc'},
          {key: 'Type', label: 'PRC Type Name'},
          {key: 'Actions'},*/
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ],
        button: '',
        currentPage: 1,
        perPage: 15,
        totalRows: 0,
        priorityData: {
          TypeCode: null,
          Type: null,
        },
        priorityInfo: null,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [15, 25, 50],
        sortBy: null,
        sortByChannel: null,
        sortByEvent: null,
        sortByStatus: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        translation: [],
        sortByTenant: null,
        sortBySubTenant: null,
        sortByprojectCat: null,
        sortByprojectop: null,
        sortByprojectapprove: null,
        sortByprojectneedupdate: null,
        options: '',
        projecttypeoptions: '',
        tenantoptions: '',
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        showNotiDetails: [],
        showRoles: [],
        showUsers: [],
        notificationData: []
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {
      filteredItems() {
        this.fields = [
          {key: '', label: '#'},
          {
            key: 'description', label: this.get_text('description@notif_def@c'), sortable: true, sortDirection: 'desc'
          },
          {key: 'channelName', label: this.get_text('channel@notif_def@c'), sortable: true, sortDirection: 'desc'},
          {key: 'eventName', label: this.get_text('event_id@notif_def@c'), sortable: true, sortDirection: 'desc'},
          {
            key: 'status_active',
            label: this.get_text('status_active@notif_def@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {key: 'Actions', label: this.get_text('actions@l')},
          {key: 'Manage', label: this.get_text('manage@location@l'), thClass: 'text-center'},
        ];

        var filterData = this.$store.getters.notificationlist;
        this.totalRows = filterData.length;

        if (typeof filterData != "undefined" && filterData.length > 0) {
          return filterData.filter(item => {
            let keep = true;

            // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
            this.fieldKeys.forEach(key => {
              keep =
                keep &&
                (this.selectVal[key] === undefined ||
                  item[key] === this.selectVal[key]);
            });

            return keep;
          });
        }
      },
      fieldKeys() {
        if(this.$store.getters.notificationlist.length > 0) {
          return Object.keys(this.$store.getters.notificationlist[0]);
        }
      },
      optionsData() {
        // This could be simplified if the select was it's own component.
        const options = {};
        this.fieldKeys.forEach(key => {
          const vals = this.$store.getters.notificationlist.map(item => item[key]);

          // Cheap and efficient unique.
          options[key] = Array.from(new Set(vals));
        });

        return options;
      },
      projectlist() {
        this.fields = [
          {key: '', label: '#'},
          {
            key: 'description', label: this.get_text('description@notif_def@c'), sortable: true, sortDirection: 'desc'
          },
          {key: 'channelName', label: this.get_text('channel@notif_def@c'), sortable: true, sortDirection: 'desc'},
          {key: 'eventName', label: this.get_text('event_id@notif_def@c'), sortable: true, sortDirection: 'desc'},
          {
            key: 'status_active',
            label: this.get_text('status_active@notif_def@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {key: 'Actions', label: this.get_text('actions@l')},
          {key: 'Manage', label: this.get_text('manage@location@l'), thClass: 'text-center'},
        ];
        var filterData = this.$store.getters.notificationlist;
        this.totalRows = filterData.length;

        if(this.sortByChannel != null) {
          filterData = this.$store.getters.notificationlist.filter(data => {
            return data.channel.toString().includes(this.sortByChannel)
          })
        }
        if(this.sortByEvent != null) {
          filterData = this.$store.getters.notificationlist.filter(data => {
            return data.event_id.toString().includes(this.sortByEvent)
          })
        }

        if(this.sortByStatus != null) {
          filterData = this.$store.getters.notificationlist.filter(data => {
            return data.status_active.toString().includes(this.sortByStatus)
          })
        }
        //alert(this.totalRows)
        return filterData;
      },
      getRowCount() {
        return this.$store.getters.getRowCount
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    watch: {
      showingeditModal: function () {
        if (this.showingeditModal == false) {
          this.$store.dispatch('loadPriorities')
          this.priorityData = {}
        }
      }
    },
    components: {
      Unauthorized,
      'loading': Loading,
      Treeselect
    },
    methods: {
      selectNotification(notification) {
        this.notificationData = notification;
        this.showingdeleteModal = true;
      },
      editNotification(notif, value = null) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/notificationedit/${notif.id}`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.userInfo = response.data.data
              } else {
                this.showingeditModal = true
                this.userData = response.data.data
              }
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      showNotification(notif) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/notificationedit/${notif.id}`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.showingViewModal = true;
              this.showNotiDetails = response.data.notificationdata;
              this.showRoles = response.data.roleShow;
              this.showUsers = response.data.userShow;
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      activeDeactiveNotification(notif) {
        this.$store.state.isLoading = true;
        Vue.axios.post(`/notificationactivedeactive`, {notifyId: notif.id})
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.success({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Success',
                position: 'top-right'
              })
              this.$store.dispatch('loadnotificationList');
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      deleteNotification(notif) {
        this.$store.state.isLoading = true;
        Vue.axios.post(`/notificationdelete`, {notifyId: notif.id})
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.success({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Success',
                position: 'top-right'
              })
              this.$store.dispatch('loadnotificationList');
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      loadTenants() {
        Vue.axios({
          url: 'loadTenantsministry',
          method: 'GET'
        })
          .then(response => {
            if (response.data.code == 200) {
              this.tenantoptions = response.data.tenants.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }
              });

            }
          });
      },
      removeEmptyNode(nodes) {
        if (!nodes || nodes.length === 0)
          return;

        nodes.forEach(function (node) {

          if (node.tree.length === 0) {
            // alert(node)
            delete node.tree;
          } else {
            // alert(node.tree)
            //this.removeEmptyNode(node.tree);
            node.tree.forEach(function (node) {

              if (node.tree.length === 0) {
                // alert(node)
                delete node.tree;
              } else {
                // alert(node.tree)
                //this.removeEmptyNode(node.tree);
                node.tree.forEach(function (node) {

                  if (node.tree.length === 0) {
                    // alert(node)
                    delete node.tree;
                  } else {
                    // alert(node.tree)
                    this.removeEmptyNode(node.tree);
                  }
                });

              }
            });
          }

        });
      },
      loadKpiDataSector(sector) {
        this.options = '';
        if (!this.isAdmin && this.sortBySubTenant == null) {
          Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')
            .then(response => {
              if (response.data.code == 200) {
                this.loadTenants()
                this.options = response.data.tree;

                this.removeEmptyNode(this.options);

              }
            });
        } else {
          Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

            .then(response => {
              if (response.data.code == 200) {
                this.options = response.data.subTenants;

                this.removeEmptyNode(this.options);

              }
            });
          this.$store.dispatch('loadKpiDataSector', sector);
        }
        localStorage.setItem('session_sector', sector);
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }
</script>
<style>
  .mb-xl-0.col-sm-4.col-md-2.col-xl-1.col-2 {
    margin: 0;
    padding-left: 0px;
    padding-right: 6px;
  }

  .customClass button.btn.btn-secondary.btn-sm {
    background-color: transparent;
  }

  .btnClassCustmAr {
    padding-left: 0px !important;
  }

  .btnClassCustmEn {
    padding-right: 0px !important;
  }

  .trtdrow {
    background: #43a9cc;
    color: #ffffff;
    font-weight: bold;
  }

  .symbolCls {
    white-space: nowrap;
  }

  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

  }

  .b-dropdown {
    margin-top: 0 !important;
  }

  .text-center {
    width: 225px !important;
  }

  .setwidth {
    width: 110px !important;
  }

  .pointerClass {
    pointer-events: none;
    cursor: none;
  }

  @media print {
    .table {
      width: 100%;
      margin-bottom: 1rem;
      color: #23282c;

    }

    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #c8ced3;
    }

    table th, .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #c8ced3;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

  }

</style>

