<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="this.$route.params.view ? $can('notification-view') : ($can('notification-create') && $can('notification-edit'))">
      <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <b class="h4">{{ get_text('title@notification@l') }}</b>
                  <b-link :href="'/notificationList'">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="icon-plus icons font-1xl"></i> {{ get_text('back_to_list@notification@l') }}</b>
                    </b-button>
                  </b-link>
                </div>
                <div v-if="!$auth.ready() || !this.$store.state.loading">
                  <div style="text-align:center; padding-top:50px;">
                    <!-- Loading Holiday Data... -->
                    {{ get_text('loading@prcType@l') }}

                  </div>
                </div>
                <div v-if="$auth.ready() && this.$store.state.loading">
                  <div class="card-body" style="padding: 0.1rem">
                    <form-wizard @on-complete="onComplete"
                                 validate-on-back
                                 ref="wizard"
                                 :validate-on-back=false
                                 :start-index.sync="activeTabIndex"
                                 :back-button-text="get_text('back@notification@l')"
                                 :next-button-text="get_text('next@notification@l')"
                                 :finish-button-text="get_text('resubmit@notification@l')"
                                 shape="circle" color="#20a0ff" error-color="#fa695f" :class="'customForm'">
                      <h2 slot="title">{{ this.get_text('title@notification@l')}}</h2>
                      <h4 slot="title">{{ this.get_text('subtitle@notification@l')}}</h4>
                      <tab-content :title="this.get_text('definition@notification@l')"
                                   icon="icon icon-user" style=""
                                   :before-change="()=>validateFirstTab('step1')">
                        <step1 ref="step1" :notification="notification"></step1>
                      </tab-content>
                      <tab-content :title="this.get_text('receiver@notification@l')"
                                   icon="fa fa-list">
                        <b-row>
                          <b-col sm="4">
                            <b-card class="customCardClass">
                              <div slot="header">
                                <b class="h6">{{ this.get_text('add_receiver_by_role@notification@l') }}</b>
                                <b-button variant="primary" size="sm" class="btn float-right" @click="showingRoleModal=
                              true">
                                  <b><i class="icon-plus icons font-1xl"></i> {{this.get_text('add_role@notification@l')
                                    }}</b></b-button>
                              </div>
                              <b-row>
                                <b-col md="12" class="my-1">
                                  <b-form-group vartical :label="get_text('filter@l')" class="mb-0">
                                    <b-input-group>
                                      <b-form-input v-model="filterRole" :placeholder="get_text('type_to_search@l')"/>
                                      <b-input-group-append>
                                        <b-btn :disabled="!filterRole" @click="filterRole = ''">{{ get_text('clear@l')
                                          }}
                                        </b-btn>
                                      </b-input-group-append>
                                    </b-input-group>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                              <b-table :items="rolesList" :fields="fieldsRole" :hover="hover" :striped="striped"
                                       :bordered="bordered" :small="small"
                                       :fixed="fixed" :filter="filterRole" @filtered="onFilteredRole">
                                <template slot="action" slot-scope="data">
                                  <b-row class="text-center">
                                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0">
                                      <b-button variant="danger" size="sm"
                                                @click="removeRoles(data.index)"><b><i
                                        class="icon-trash icons font-1xl"></i></b></b-button>
                                    </b-col>
                                  </b-row>
                                </template>
                              </b-table>
                              <nav>
                                <b-pagination size="sm" :total-rows="this.totalRowsRole" :per-page="perPage"
                                              v-model="currentPageRole" :prev-text="get_text('prev@l')"
                                              :next-text="get_text('next@l')"
                                              hide-goto-end-buttons/>
                              </nav>
                            </b-card>
                          </b-col>
                          <b-col sm="8">
                            <b-card class="customCardClass">
                              <div slot="header">
                                <b class="h6">{{ this.get_text('add_users_title@notification@l') }}</b>
                                <b-button variant="primary" size="sm" class="btn float-right" @click="showingUserModal=
                              true">
                                  <b><i class="icon-plus icons font-1xl"></i> {{
                                    this.get_text('add_users@notification@l')
                                    }}</b></b-button>
                              </div>
                              <b-row>
                                <b-col md="4" class="my-1">
                                  <b-form-group vartical :label="get_text('filter@l')" class="mb-0">
                                    <b-input-group>
                                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                                      <b-input-group-append>
                                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l') }}
                                        </b-btn>
                                      </b-input-group-append>
                                    </b-input-group>
                                  </b-form-group>
                                </b-col>
                                <b-col md="4" class="my-1">
                                  <b-form-group vartical :label="get_text('sector@kpi_def@l')" class="mb-0"
                                                :label-align="$i18n.locale=='en' ? 'left' : 'right'">
                                    <b-input-group>
                                      <!--@change="loadKpiDataSector(sortByTenant, sortBySubTenant)"-->
                                      <b-form-select v-model="sortByTenant" :options="this.$store.state.setTenant">
                                        <option slot="first" :value="null">{{
                                          get_text('please_select@kpi_def@l') }}
                                        </option>
                                      </b-form-select>
                                    </b-input-group>
                                  </b-form-group>
                                </b-col>
                                <b-col md="4" class="my-1">
                                  <b-form-group vartical :label="get_text('subtenant@kpi_def@l')" class="mb-0"
                                                :label-align="$i18n.locale=='en' ? 'left' : 'right'">
                                    <b-input-group>
                                      <treeselect :placeholder="get_text('please_select@l')"
                                                  :normalizer="normalizer" searchable="searchable" :options="this.$store.getters.sectors"
                                                  v-model="sortBySubTenant"/>
                                    </b-input-group>
                                  </b-form-group>
                                </b-col>
                              </b-row>
                              <b-table :items="usersList" :fields="fields" :hover="hover" :striped="striped"
                                       :bordered="bordered" :small="small"
                                       :fixed="fixed" responsive
                                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                                       :sort-by.sync="sortBy"
                                       :sort-desc.sync="sortDesc"
                                       :sort-direction="sortDirection"
                                       @filtered="onFiltered">
                                <template slot="name" slot-scope="data">
                                  {{ data.item.name }} {{ data.item.last_name}}
                                </template>
                                <template slot="isCheck" slot-scope="data">
                                  <b-form-checkbox
                                    v-model="data.item.noti_id"
                                    @change="removeUser(data.index, $event, data.item)"
                                    :checked="data.item.isCheck"
                                    :value="data.item.is_id">
                                  </b-form-checkbox>
                                </template>

                                <!-- <template slot="action" slot-scope="data">
                                   <b-row class="text-center">
                                     <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0" >
                                       <b-button variant="danger" size="sm"
                                                 @click="removeUser(data.index)"><b><i
                                         class="icon-trash icons font-1xl"></i></b></b-button>
                                     </b-col>
                                   </b-row>
                                 </template>-->
                              </b-table>
                              <nav>
                                <b-pagination size="sm" :total-rows="this.totalRows" :per-page="perPage"
                                              v-model="currentPage" :prev-text="get_text('prev@l')"
                                              :next-text="get_text('next@l')"
                                              hide-goto-end-buttons/>
                              </nav>
                            </b-card>
                          </b-col>
                        </b-row>
                      </tab-content>
                      <tab-content :title="this.get_text('rules@notification@l')"
                                   icon="fa fa-crosshairs" style=""
                                   :before-change="()=>validateFirstTab('step3')">
                        <step3 ref="step3" :notification="notification"></step3>
                      </tab-content>

                      <template slot="footer" slot-scope="props">
                        <!--     {{ props }}-->
                        <div class=wizard-footer-left>
                          <wizard-button v-if="props.activeTabIndex > 0"
                                         :style="props.fillButtonStyle" @click="props.prevTab()"
                                         class="btn btn-primary wizardCustom">{{
                            get_text('back@fg_form@l') }}
                          </wizard-button>
                        </div>
                        <div class="wizard-footer-right">
                          <wizard-button @click.prevent.stop="cancel" class="btn btn-danger wizardCustom">{{
                            get_text('cancel@stp@l')}}
                          </wizard-button>&nbsp;

                          <wizard-button v-if="!props.isLastStep" @click="props.nextTab()"
                                         class="wizard-footer-right btn btn-primary wizardCustom" :style="props.fillButtonStyle">{{
                            get_text('next@fg_form@l') }}
                          </wizard-button>

                          <wizard-button v-else-if="showSubmitBtn" @click="onComplete" :disabled="isDisabled"
                                         class="wizard-footer-right finish-button btn btn-primary wizardCustom"
                                         :style="props.fillButtonStyle">{{props.isLastStep ? get_text('submit@fg_form@l') :
                            get_text('next@fg_form@l')}}
                          </wizard-button>
                          <!--{{this.$route.params }}-->
                        </div>
                      </template>
                    </form-wizard>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </transition>

      </b-col>
    </b-row>
      <b-modal :title="get_text('add_user@notification@l')" size="lg" ref="vueModel" class="modal-primary"
             v-model="showingUserModal"
             hide-footer>
      <b-form @submit.prevent="addUsers">
        <b-row>
          <b-col sm="6">
            <b-form-group>
              <label for="user_type">{{ get_text('org_unit@notification@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                                 style="font-size:10px;color:red;"></i></label>
              <treeselect :placeholder="get_text('please_select@l')" searchable="searchable" :normalizer="normalizer"
                          :options="this.$store.getters.sectors" v-model="notif_sector"
                          @input="loadUser(notif_sector)"/>
              <!--@input="loadUser(notif_roles)"-->
              <div v-if="submitted && errors.has('user_type')" class="invalid-feedback">{{
                errors.first('user_type') }}
              </div>
            </b-form-group>
          </b-col>
          <b-col sm="6">
            <b-form-group>
              <label for="user_type">{{ get_text('user@notification@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                             style="font-size:10px;color:red;"></i></label>
              <treeselect :placeholder="get_text('please_select@l')" searchable="searchable"
                          :options="this.$store.getters.sectorUser" v-model="notif_users"
                          :normalizer="normalizerUser"/>
              <div v-if="submitted && errors.has('user_type')" class="invalid-feedback">{{
                errors.first('user_type') }}
              </div>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button class="float-right" variant="primary" size="lg" type="submit">{{
          get_text('add_user@notification@l') }}
        </b-button>
      </b-form>
    </b-modal>
      <b-modal :title="get_text('add_role@notification@l')" size="md" ref="vueModel" class="modal-primary"
             v-model="showingRoleModal"
             hide-footer>
      <b-form @submit.prevent="addRoles">
        <b-row>
          <b-col sm="12">
            <b-form-group>
              <label for="user_type">{{ get_text('roles@Users@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                       style="font-size:10px;color:red;"></i></label>
              <treeselect :multiple="true" :placeholder="get_text('please_select@l')" searchable="searchable"
                          :options="this.$store.state.roles" v-model="notif_roles"/>
              <div v-if="submitted && errors.has('user_type')" class="invalid-feedback">{{
                errors.first('user_type') }}
              </div>
            </b-form-group>
          </b-col>
        </b-row>
        <b-button class="float-right" variant="primary" size="lg" type="submit">{{
          get_text('add_role@notification@l') }}
        </b-button>
      </b-form>
    </b-modal>
    </div>
    <div v-else-if="(this.$route.params.view) ? !$can('notification-view') : !($can('notification-create') && $can('notification-edit'))">
      <b-row>
        <b-col sm="12">
          <b-card>
            <Unauthorized></Unauthorized>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/notification/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  // import lang from 'element-ui/lib/locale/lang/en';
  //import locale from 'element-ui/lib/locale';

  import step1 from './step1';
  import step3 from './step3';

  //locale.use(lang);
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  /*import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
*/
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import {FormWizard, TabContent} from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import VueFormGenerator from "vue-form-generator";
  import draggable from 'vuedraggable'
  import Step3 from "./step3";
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(VueFormGenerator);
  Vue.use(Element);
  Vue.use(Loading);
  //Vue.use(RichTextEditorPlugin);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    /*provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },*/
    created() {
      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.showSubmitBtn = false;
      }
      //this.loadTenants();
      //this.loadprojecttypes();
      this.$store.dispatch('loadNotificationDefaultData')
      //this.$store.dispatch('loadTenants');
      //this.isAdmin = ((this.$auth.user().roles.includes('Admin')) ? true : false);
      //this.$store.dispatch('translation');
      // alert(this.$route.params.id)
      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        Vue.axios({
          url: `/notificationview/${this.$route.params.id}`,
          method: 'GET'
        })
          .then((response) => {
            if (response.data.code == 200) {
              this.$store.state.loading = true
              //this.$store.state.loading = true
              this.notification = response.data.notificationdata

              this.$store.state.roleList = response.data.role;
              this.$store.state.userList = response.data.users;
              this.$store.state.userIds = response.data.userIds;
              this.notif_roles = response.data.roleIds;
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          })
      } else if (typeof this.$route.params.id != "undefined" && this.$route.params.id) {
        //alert('in')

        Vue.axios({
          url: `/notificationedit/${this.$route.params.id}`,
          method: 'GET'
        })
          .then((response) => {
            if (response.data.code == 200) {
              this.$store.state.loading = true
              //this.$store.state.loading = true
              this.notification = response.data.notificationdata

              this.$store.state.roleList = response.data.role;
              this.$store.state.userList = response.data.users;
              this.$store.state.userIds = response.data.userIds;
              this.notif_roles = response.data.roleIds;

              /* if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.userInfo = response.data.data
              } else {
                this.showingeditModal = true
                this.userData = response.data.data
              }
            }
            this.$store.state.isLoading = false; */
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          })
      }
    },
    data: () => {
      return {
        showSubmitBtn: true,
        activeTabIndex: 0,
        list1: [
          {name: "John", id: 1},
          {name: "Joao", id: 2},
          {name: "Jean", id: 3},
          {name: "Gerard", id: 4}
        ],
        notification: {
          description: '',
          channel: '',
          event_id: '',
          contents: '',
          subject: '',
          status_active: '0',
          start_dt: '',
          end_dt: '',
          notif_time: '',
          is_recur: '0',
          recur_period: '',
          recur_dow: '',
          recur_dom: '',
          recur_m_condition: 'n',
          recur_q_condition: '',
          recur_qe_diff_days: '0',
        },
        notif_roles: null,
        notif_sector: null,
        notif_users: null,
        /*notif_desc: '',
        notif_type:'',
        notif_status: '',
        notif_args:'',
        notif_content:'',
        notif_recurring:'0',
        notif_period:'',
        notif_dayweek:'',
        notif_time:'',
        notif_datemonth:'',
        notif_monthcondition:'n',
        notif_quartercondition:'',
        notif_day:'',
        notif_starton:'',
        notif_endon:'',*/
        userIds: [],
        fieldsRole: [],
        fields: [],
        items: [
          {age: 40, first_name: 'Dickerson', last_name: 'Macdonald', status: 'awesome'},
          {age: 21, first_name: 'Larsen', last_name: 'Shaw'},
          {age: 89, first_name: 'Geneva', last_name: 'Wilson'}
        ],
        /** Gauge */
        options: '',
        projecttypeoptions: '',
        tenantoptions: '',

        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerUser(node) {
          return {
            id: node.id,
            label: node.name + ' (' + node.email + ')',
            //children: node.tree,
          }
        },

        selected: null,
        button: '',
        currentPage: 1,
        currentPageRole: 1,
        perPage: 5,
        totalRows: 0,
        totalRowsRole: 0,
        priorityData: {
          TypeCode: null,
          PRCType: null,
          TypeCodeMin: null,
          TypeCodeMax: null,
        },
        priorityInfo: null,
        showingRoleModal: false,
        showingUserModal: false,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterRole: null,
        translation: [],

        sortByTenant: null,
        sortByStatus: null,
        sortBySubTenant: null,
        status_operational: null,
        approval_status: null,
        project_type: null,
        project_category: null,
        project_short_name: null,
        project_name: null,
        project_description: null,
        project_importance: null,
        project_has_budget: null,
        planned_budget: null,
        actual_cost: null,
        project_forcasting: null,
        actual_start: null,
        actual_closure: null,
        project_update_interval: null,
        project_has_risk: null,
        project_start_date: null,
        project_end_date: null


      }
    },
    mounted() {
      let next = document.querySelector('div.vue-form-wizard');
      if (this.$i18n.locale == 'ar') {
        document.querySelector('html').setAttribute('dir', 'rtl');
        next && next.classList.add('isRtl');
      } else {
        document.querySelector('html').setAttribute('dir', '');
        let dropdown = next && next.classList.contains('isRtl');
        if (dropdown) {
          next.classList.remove('isRtl');
        }
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      Unauthorized,
      Step3,
      'loading': Loading,
      FormWizard,
      TabContent,
      Treeselect,
      draggable,
      step1,
      step3
    },
    computed: {
      usersList() {
        this.fields = [
          {key: 'name', label: this.get_text('name@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'email', label: this.get_text('email@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sector_name', label: this.get_text('sector_name@users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sub_name', label: this.get_text('subtenant_name@users@c'), sortable: true, sortDirection: 'desc'},
          {key: 'isCheck', label: this.get_text('ischeck@users@c'), sortable: false, sortDirection: 'desc'},
          /*{key: 'action', label:  this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}*/
        ];

        if (this.sortByTenant != null && this.sortBySubTenant == null && this.$store.state.userList.length > 0) {
          this.loadKpiDataSector(this.sortByTenant);
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.sector_id.toString().includes(this.sortByTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else if (this.sortBySubTenant != null && this.$store.state.userList.length > 0) {
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.subtenant_id.toString().includes(this.sortBySubTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else {

          var filterData = this.$store.state.userList;
          this.totalRows = filterData.length;
          //alert(this.totalRows)
          return filterData;
        }
      },
      rolesList() {
        this.fieldsRole = [
          {key: 'id', label: '#', sortable: false, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('name@Roles@c'), sortable: false, sortDirection: 'desc'},
          {key: 'action', label: this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}];
        var filterData = this.$store.state.roleList;
        this.totalRowsRole = filterData.length;
        //alert(this.totalRows)
        return filterData;
      }
    },
    methods: {
      cancel: function () {
        window.location.replace('/notificationList')
      },
      validateFirstTab: function (val) {
        //alert($('#recur_period').val());
        if ($('#is_recur').val() == 1) {
          if ($('#recur_period').val() == null) {
            $('#recur_period').addClass('is-invalid')
          }
        } else {
          $('#recur_period').removeClass('is-invalid')
        }
        /*if(this.notification.subject == '') {
          $('.e-subjecteditor').addClass('is-invalid')
        }
        if(this.notification.contents == '') {
          $('.e-contenteditor').addClass('is-invalid')
        }*/
        console.log(this.$refs.step1);
        //console.log(this.$refs[val].$validator.validate())
        return this.$refs[val].$validator.validate();
      },
      addRoles() {
        console.log(this.notif_roles)
        if (this.notif_roles != null) {
          this.$store.dispatch('loadDataFromRole', [this.notif_roles]);
          this.showingRoleModal = false;
        }
      },
      removeRoles(index) {
        this.$store.state.roleList.splice(index, 1);
        this.notif_roles.splice(index, 1);
        this.$store.dispatch('loadDataFromRole', [this.notif_roles]);
        console.log(this.notif_roles)
        //this.$store.dispatch('removeDataFromRole', [index]);
      },
      removeUser(index, value, item) {
        //alert(item.id);
        if (typeof item.outOfRole != "undefined" && item.outOfRole && !value) {
          let i = this.$store.getters.userIds.map(item => item.id).indexOf(item.id) // find index of your object
          this.$store.getters.userIds.splice(i, 1)
          this.$store.state.userList.splice(i, 1);
        } else if (value === true) {
          this.$store.getters.userIds.push(item.id);
        } else {
          let i = this.$store.getters.userIds.map(item => item.id).indexOf(item.id) // find index of your object
          this.$store.getters.userIds.splice(i, 1)
          //alert('in');
          //this.$store.getters.userIds.remove(id);
        }
        //this.$store.state.userList.splice(index, 1);
        console.log(this.$store.getters.userIds);
      },
      loadUser(sector) {
        //alert(sector)
        this.$store.state.isLoading = true;
        Vue.axios.get(`loadKpiOrgUsersNotification/${sector}/null`)
          .then(response => {
            if (response.data.code == 200) {
              this.$store.state.sectorUser = response.data.data;
            }
            this.$store.state.isLoading = false;
          });
      },
      addUsers() {
        this.$store.state.isLoading = true;
        Vue.axios({
          url: `/selectUser/${this.notif_users}`,
          method: 'GET',
        }).then(response => {
          console.log(response.data.user)
          this.$store.state.userList.push(response.data.user[0]);
          this.$store.getters.userIds.push(this.notif_users);
          this.showingUserModal = false;
          this.$store.state.isLoading = false;
        });
      },
      log: function (evt) {
        this.notif_content = (evt.moved.element.name);
      },
      onComplete() {
        Vue.axios({
          url: 'saveNotification',
          method: 'POST',
          data: {notification: this.notification, roles: this.notif_roles, users: this.$store.getters.userIds}
        }).then(response => {
          window.location.replace('/notificationList')
          /*if (response.data.code == 200) {
            console.log(response.data)
            this.state.loading = true,
              commit('SET_SELECTED_DATA', (response.data))
          }*/
        });
        //Vue.axios.post(`/saveNotification`, this.notification).then(response => {

        //});
      },
      loadprojecttypes() {
        Vue.axios.get('/getprojecttypes')
          .then(response => {
            if (response.data.code == 200) {
              this.projecttypeoptions = response.data.project_types.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }
              });
            }
          });
      },
      loadTenants() {
        Vue.axios({
          url: 'loadTenants',
          method: 'GET'
        })
          .then(response => {
            if (response.data.code == 200) {
              this.tenantoptions = response.data.tenants.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }
              });

            }
          });
      },
      loadKpiDataSector(sector) {
        this.options = '';
        Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });
        this.$store.dispatch('loadKpiDataSector', sector);

        localStorage.setItem('session_sector', sector);
        //this.$store.dispatch('loadSubTenants', sector);

      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      onFilteredRole(filteredItemsRole) {
        //this.totalRows = filteredItemsRole.length
        this.currentPageRole = 1
      }
    },
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .e-toolbar-wrapper {
    height: auto !important;
  }

  .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  //max-height: 140px !important;
  }

  .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
  .e-content, .e-contenteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  //max-height: 340px !important;
  }

  .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    overflow: unset !important;
  }

  .el-step__main {
    text-align: unset;
  }

  .vue-form-wizard.isRtl .wizard-progress-bar {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-left {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-right {
    float: left;
  }

  .vue-form-wizard.isRtl.el-form-item__label {
    float: right;
  }

  .customCardClass .card-body {
    padding: 0.3rem;
  }

  .el-input {
    width: 100% !important;
  }

  .wizardCustom {
    cursor: pointer;
  }

</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
