<template>
  <div>
    <b-row>
      <b-col sm="4">
        <b-form-group>
          <label for="description">{{ get_text('notif_desc@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-input type="text" v-validate="'required'" name="description" id="description"
                        v-model="notification.description"
                        :class="{ 'is-invalid': errors.has('description') }"
                        :placeholder="get_text('notif_desc@notification@l')"></b-form-input>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="channel">{{ get_text('notif_type@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="channel"
                         :plain="true"
                         required="true"
                         value="Please select"
                         v-model="notification.channel"
                         v-validate="'required'" name="channel"
                         :class="{ 'is-invalid': errors.has('channel') }"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('alert@notification@l'),
                      value: 'a'
                    },{
                      text: get_text('inbox@notification@l'),
                      value: 'i'
                    },{
                      text: get_text('email@notification@l'),
                      value: 'e'
                    }, {
                      text: get_text('broadcast@notification@l'),
                      value: 'b'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="event_id">{{ get_text('notif_event@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="event_id"
                         :plain="true"
                         value="Please select"
                         v-model="notification.event_id"
                         @change="getNotiArgs"
                         :class="{ 'is-invalid': errors.has('event_id') }"
                         v-validate="'required'" name="event_id"
                         :options="this.$store.state.notiEvent">
          </b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="subject">{{ get_text('notif_subject@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <ejs-richtexteditor :enableResize="true" ref="rteObjSub" :toolbarSettings="toolbarSettingsSub"
                              :created="onCreateSub"
                              class="e-subjecteditor"
                              v-validate="'required'"
                              enableRtl=true
                              :height="140"
                              :actionComplete='actionCompleteSub'
                              v-model="notification.subject" name="subject" id="subject"
                              :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
          <ejs-dialog id='rteDialogSub' :buttons='dlgButtonsSub' :header='header' ref="dialogObjSub"
                      :overlayClick='dialogOverlaySub' :visible='visible' height='340px' width='43%'
                      :showCloseIcon='showCloseIcon' :isModal='modal' :target='target' :created="dialogCreateSub">
          </ejs-dialog>
          <div id="customTbarDialogSub" style="display: none">
            <div id="rteSpecial_charSub">
              <ul id="limheightSub">
                <li class="char_block" v-for="(element, index) in this.$store.state.notiArgs"
                    :key="element.name" :title="element.name" @dblclick="onInsertSub">[{{ element.name
                  }}]
                </li>
              </ul>
            </div>
          </div>
          <!--:v-if="error.has('subject')"-->
          <div  class="invalid-feedback">{{errors.first('subject') }}</div>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="content">{{ get_text('notif_content@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <ejs-richtexteditor :enableResize="true" ref="rteObj" :toolbarSettings="toolbarSettings"
                              :created="onCreate" class="e-contenteditor"
                              :height="340"
                              enableRtl=true
                              locale="de-DE"
                              :actionComplete='actionComplete'
                              :enableAutoUrl="enableAutoUrl"
                              :insertImageSettings="insertImageSettings"
                              v-validate="'required'"
                              v-model="notification.contents" name="content" id="content" :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
          <ejs-dialog id='rteDialog' :buttons='dlgButtons' :header='header' ref="dialogObj"
                      :overlayClick='dialogOverlay' :visible='visible' height='340px' width='43%'
                      :showCloseIcon='showCloseIcon' :isModal='modal' :target='target' :created="dialogCreate">
          </ejs-dialog>
          <div id="customTbarDialog" style="display: none">
            <div id="rteSpecial_char">
              <ul id="limheight">
                <li class="char_block" v-for="(element, index) in this.$store.state.notiArgs"
                    :key="element.name" :title="element.name" @dblclick="onInsert">[{{ element.name
                  }}]
                </li>
              </ul>
            </div>
          </div>
          <div  class="invalid-feedback">{{errors.first('content') }}</div>
        </b-form-group>
      </b-col>
      <b-col sm="12">
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">[USER_NAME]
        </b-badge> |
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">[KPI_SYMBOL]</b-badge> |
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">
        [KPI_NAME]</b-badge> |
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">
        [MESSAGE]</b-badge> |
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">
        [DATE_TIME]</b-badge> |
        <b-badge v-b-tooltip.hover :variant="'success'" class="p-2" style="font-size: 15px;">
          [STP_SYMBOL]</b-badge>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import Vue from 'vue';
  //import { L10n } from '@syncfusion/ej2-base';
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    NodeSelection,
    Count,
    Resize,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';

  import {DialogPlugin} from '@syncfusion/ej2-vue-popups';

  Vue.use(RichTextEditorPlugin);
  Vue.use(DialogPlugin);

  export default {
    components: {},
    props: ['notification'],
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar, Resize]
    },
    data() {
      return {
        /*notification: {
          description: '',
          channel: '',
          event_id: '',
          contents: '',
          status_active: '0',
          start_dt: '',
          end_dt: '',
          notif_time: '',
          is_recur: '0',
          recur_period: '',
          recur_dow: '',
          recur_dom: '',
          recur_m_condition: 'n',
          recur_q_condition: '',
          recur_qe_diff_days: '',
        },*/
        translation: [],
        selection: new NodeSelection(),
        range: null,
        customBtn: null,
        dialogCtn: null,
        saveSelection: new NodeSelection(),
        target: document.getElementById('rteSampleContainer'),
        //header: 'Special Characters',
        visible: false,
        modal: true,
        showCloseIcon: false,
        dlgButtons: [
          {
            click: this.onInsert.bind(this),
            buttonModel: {isPrimary: 'true', content: 'Insert'}
          },
          {
            buttonModel: {
              content: 'Cancel'
            },
            click: this.dialogOverlay.bind(this)
          }
        ],
        insertImageSettings: {
          allowedTypes: ['.jpg', '.png', '.jpeg'],
          //saveFormat: "Base64"
          //saveFormat: 'Blob',
          saveUrl: Vue.axios.defaults.baseURL+'/notificationsaveImage',
          path: Vue.axios.defaults.baseURL.split('/ap')[0]+'/richeditor/'
        },
        enableAutoUrl : true,
        /*insertImageSettings: {
          saveFormat: 'Blob'
        },*/
        toolbarSettings: {
          items: ['Bold', 'Italic', 'Underline', '|', 'Formats', 'Alignments', 'OrderedList',
            'UnorderedList', '|', 'CreateLink', 'Image', '|', 'SourceCode',
            {
              tooltipText: 'Insert Arguments',
              template:
                '<button class="e-tbar-btn e-btn" tabindex="-1" id="custom_tbar"  style="width:100%"><div class="e-tbar-btn-text" style="font-weight: 500;"> <i class="fa fa-font"></i> </div></button>'
            }, '|', 'Undo', 'Redo']
        },

        dlgButtonsSub: [
          {
            click: this.onInsertSub.bind(this),
            buttonModel: {isPrimary: 'true', content: 'Insert'}
          },
          {
            buttonModel: {
              content: 'Cancel'
            },
            click: this.dialogOverlaySub.bind(this)
          }
        ],
        toolbarSettingsSub: {
          items: [
            {
              tooltipText: 'Insert Arguments',
              template:
                '<button class="e-tbar-btn e-btn" tabindex="-1" id="custom_tbarSub"  style="width:100%"><div class="e-tbar-btn-text" style="font-weight: 500;"> <i class="fa fa-font"></i> </div></button>'
            }]
        },
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {
      header() {
        return this.get_text('notif_args@notification@l')
      }
    },
    methods: {
      getNotiArgs() {
        //alert(this.notification.event_id)
        Vue.axios({
          url: `/getNotificationArgs/${this.notification.event_id}`,
          method: 'GET'
        })
          .then((response) => {
            this.$store.state.notiArgs = response.data.notiArgs
	    this.notification.contents = response.data.notiBroadCastLink
          })
      },
      onCreate: function(e) {
        this.customBtn = document.getElementById('custom_tbar');
        this.$refs.dialogObj.ej2Instances.target = document.getElementById('rteSection');
        var proxy = this;
        this.customBtn.onclick = function (e) {
          proxy.$refs.rteObj.ej2Instances.contentModule.getEditPanel().focus();
          proxy.range = proxy.selection.getRange(document);
          proxy.saveSelection = proxy.selection.save(proxy.range, document);
          proxy.$refs.dialogObj.ej2Instances.content = document.getElementById('rteSpecial_char');
          proxy.$refs.dialogObj.ej2Instances.dataBind();
          proxy.$refs.dialogObj.show();
        };
      },
      actionComplete: function(args) {
        if (args.requestType === 'SourceCode') {
          this.$refs.rteObj.ej2Instances.getToolbar().querySelector('#custom_tbar').parentElement.classList.add('e-overlay');
        } else if (args.requestType === 'Preview') {
          this.$refs.rteObj.ej2Instances.getToolbar().querySelector('#custom_tbar').parentElement.classList.remove('e-overlay');
        }
      },
      dialogCreate: function() {
        var dialogCtn = document.getElementById('rteSpecial_char');
        var proxy = this;
        dialogCtn.onclick = function (e) {
          var target = e.target;
          var activeEle = proxy.$refs.dialogObj.$el.querySelector('.char_block.e-active');
          if (target.classList.contains('char_block')) {
            target.classList.add('e-active', 'dbl-active');
            if (activeEle) {
              activeEle.classList.remove('e-active');
            }
          }
        };
      },
      onInsert: function () {
        var activeEle = this.$refs.dialogObj.$el.querySelector('.char_block.e-active');
        var activeEle1 = this.$refs.dialogObj.$el.querySelector('.char_block.dbl-active');
        if (activeEle) {
          if (this.$refs.rteObj.ej2Instances.formatter.getUndoRedoStack().length === 0) {
            this.$refs.rteObj.ej2Instances.formatter.saveData();
          }
          this.saveSelection.restore();
          this.$refs.rteObj.ej2Instances.executeCommand('insertText', activeEle.textContent);
          this.$refs.rteObj.ej2Instances.formatter.saveData();
          this.$refs.rteObj.ej2Instances.formatter.enableUndo(this.$refs.rteObj.ej2Instances);
        } else {
          if (activeEle1) {
            if (this.$refs.rteObj.ej2Instances.formatter.getUndoRedoStack().length === 0) {
              this.$refs.rteObj.ej2Instances.formatter.saveData();
            }
            this.saveSelection.restore();
            this.$refs.rteObj.ej2Instances.executeCommand('insertText', activeEle1.textContent);
            this.$refs.rteObj.ej2Instances.formatter.saveData();
            this.$refs.rteObj.ej2Instances.formatter.enableUndo(this.$refs.rteObj.ej2Instances);
            activeEle1.classList.remove('dbl-active');
          }
        }

        this.dialogOverlay();
      },
      dialogOverlay: function () {
        var activeEle = this.$refs.dialogObj.$el.querySelector('.char_block.e-active');
        if (activeEle) {
          activeEle.classList.remove('e-active');
        }
        this.$refs.dialogObj.hide();
      },

      onCreateSub: function (e) {
        this.customBtn = document.getElementById('custom_tbarSub');
        this.$refs.dialogObjSub.ej2Instances.target = document.getElementById('rteSectionSub');
        var proxy = this;
        this.customBtn.onclick = function (e) {
          proxy.$refs.rteObjSub.ej2Instances.contentModule.getEditPanel().focus();
          proxy.range = proxy.selection.getRange(document);
          proxy.saveSelection = proxy.selection.save(proxy.range, document);
          proxy.$refs.dialogObjSub.ej2Instances.content = document.getElementById('rteSpecial_charSub');
          proxy.$refs.dialogObjSub.ej2Instances.dataBind();
          proxy.$refs.dialogObjSub.show();
        };
      },
      actionCompleteSub: function (args) {
        if (args.requestType === 'SourceCode') {
          this.$refs.rteObjSub.ej2Instances.getToolbar().querySelector('#custom_tbarSub').parentElement.classList.add('e-overlay');
        } else if (args.requestType === 'Preview') {
          this.$refs.rteObjSub.ej2Instances.getToolbar().querySelector('#custom_tbarSub').parentElement.classList.remove('e-overlay');
        }
      },
      dialogCreateSub: function () {
        var dialogCtn = document.getElementById('rteSpecial_charSub');
        var proxy = this;
        dialogCtn.onclick = function (e) {
          var target = e.target;
          var activeEle = proxy.$refs.dialogObjSub.$el.querySelector('.char_block.e-active');
          if (target.classList.contains('char_block')) {
            target.classList.add('e-active', 'dbl-active');
            if (activeEle) {
              activeEle.classList.remove('e-active');
            }
          }
        };
      },
      onInsertSub: function () {
        var activeEle = this.$refs.dialogObjSub.$el.querySelector('.char_block.e-active');
        var activeEle1 = this.$refs.dialogObjSub.$el.querySelector('.char_block.dbl-active');
        if (activeEle) {
          if (this.$refs.rteObjSub.ej2Instances.formatter.getUndoRedoStack().length === 0) {
            this.$refs.rteObjSub.ej2Instances.formatter.saveData();
          }
          this.saveSelection.restore();
          this.$refs.rteObjSub.ej2Instances.executeCommand('insertText', activeEle.textContent);
          this.$refs.rteObjSub.ej2Instances.formatter.saveData();
          this.$refs.rteObjSub.ej2Instances.formatter.enableUndo(this.$refs.rteObjSub.ej2Instances);
        } else {
          if (activeEle1) {
            if (this.$refs.rteObjSub.ej2Instances.formatter.getUndoRedoStack().length === 0) {
              this.$refs.rteObjSub.ej2Instances.formatter.saveData();
            }
            this.saveSelection.restore();
            this.$refs.rteObjSub.ej2Instances.executeCommand('insertText', activeEle1.textContent);
            this.$refs.rteObjSub.ej2Instances.formatter.saveData();
            this.$refs.rteObjSub.ej2Instances.formatter.enableUndo(this.$refs.rteObjSub.ej2Instances);
            activeEle1.classList.remove('dbl-active');
          }
        }

        this.dialogOverlaySub();
      },
      dialogOverlaySub: function () {
        var activeEle = this.$refs.dialogObjSub.$el.querySelector('.char_block.e-active');
        if (activeEle) {
          activeEle.classList.remove('e-active');
        }
        this.$refs.dialogObjSub.hide();
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    }
  }
</script>
<style scoped>
  #limheight, #limheightSub {
    //height: 300 px; /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
    padding: 0;
  }

  #limheight li, #limheightSub li {
    display: inline-block; /*necessary*/
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    display: inline-block;
    width: 100%;
  }

  #custom_tbar,
  #custom_tbar div, #custom_tbarSub,
  #custom_tbarSub div {
    cursor: pointer;
    font-size: 16px;
  }

  .e-bigger #custom_tbar div, .e-bigger #custom_tbarSub div {
    font-size: 18px;
  }

  #rteSection, #rteSectionSub {
    height: 350px;
  }

  #rteSpecial_char, #rteSpecial_charSub {
    padding: 15px 0 15px 0;
  }

  .material #rteSpecial_char .char_block.e-active, #rteSpecial_char .char_block.e-active,
  .material #rteSpecial_charSub .char_block.e-active, #rteSpecial_charSub .char_block.e-active{
    outline: 1px solid #e3165b;
    border-color: #e3165b;
  }

  .fabric #rteSpecial_char .char_block.e-active, .fabric #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #0078d6;
    border-color: #0078d6;
  }

  .bootstrap #rteSpecial_char .char_block.e-active,
  .bootstrap #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #317ab9;
    border-color: #317ab9;
  }

  .highcontrast #rteSpecial_char .char_block.e-active,
  .highcontrast #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #ffd939;
    border-color: #ffd939;
  }

  .fabric.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 10px;
  }

  .bootstrap.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .bootstrap .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 6px;
  }

  .fabric .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 8px;
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    /*width: 30px;*/
    padding: 6%;
    height: 40px;
    line-height: 20px;
    margin: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .fabric.e-bigger #rteDialog, .fabric.e-bigger #rteDialogSub {
      min-width: 281px;
    }

    #rteSpecial_char, #rteSpecial_charSub {
      padding: 15px 0 15px 20px;
    }

    .fabric #rteDialog, .fabric #rteDialogSub {
      min-width: 241px;
    }

    .bootstrap.e-bigger #rteDialog,
    .bootstrap #rteDialog, .bootstrap.e-bigger #rteDialogSub,
    .bootstrap #rteDialogSub {
      min-width: 223px;
    }

    .highcontrast.e-bigger #rteDialog, .highcontrast.e-bigger #rteDialogSub {
      min-width: 283px;
    }

    .highcontrast #rteDialog, .highcontrast #rteDialogSub {
      min-width: 243px;
    }

    .material #rteDialog, .material #rteDialogSub {
      min-width: 224px;
    }

    .material.e-bigger #rteDialog, .material.e-bigger #rteDialogSub {
      min-width: 236px;
    }
  }
</style>
<style>
  /*.was-validated .form-control:invalid, .form-control.is-invalid*/
  .e-subjecteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
    /*min-height: 100px;
    max-height: 150px;*/
  }

  .e-contenteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
   /* min-height: 100px;
    max-height: 250px;*/
  }

 /* .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  //max-height: 140px !important;
  }

  .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
  .e-content, .e-contenteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  //max-height: 340px !important;
  }*/
</style>
