<template>
  <div>
    <!--{{ errors }}-->
    <b-row>
      <b-col sm="12">
        <b-form-group>
          <label for="notif_time">{{ this.get_text('timing@notification@l') }}</label>
          <b-form-input type="time"
                        v-validate="'required'"
                        name="notif_time" id="notif_time" min="0"
                        :class="{ 'is-invalid': errors.has('notif_time') }"
                        v-model="notification.notif_time"
                        :placeholder="get_text('notif_time@notification@l')"></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4">
        <b-form-group>
          <label for="is_recur">{{ this.get_text('recurring_notification@notification@l')
            }}</label>
          <b-form-select id="is_recur"
                         :plain="true"
                         value="Please select"
                         v-model="notification.is_recur"
                         v-validate="'required'" name="is_recur"
                         :class="{ 'is-invalid': errors.has('is_recur') }"
                         @change="changeRecurring(notification.is_recur)"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('no@notification@l'),
                      value: '0'
                    },{
                      text: get_text('yes@notification@l'),
                      value: '1'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_period">{{ this.get_text('reccuring_period@notification@l') }}</label>
          <b-form-select id="recur_period"
                         disabled="true"
                         :plain="true"
                         value="Please select"
                         v-model="notification.recur_period"
                         v-validate="'required'" name="recur_period"
                         :class="{ 'is-invalid': errors.has('recur_period') }"
                         @change="changeRecurringPeriod(notification.recur_period)"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('daily@notification@l'),
                      value: 'd'
                    },{
                      text: get_text('weekly@notification@l'),
                      value: 'w'
                    },
                    {
                      text: get_text('monthly@notification@l'),
                      value: 'm'
                    },{
                      text: get_text('quarterly@notification@l'),
                      value: 'q'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_dow">{{ this.get_text('day_of_week@notification@l') }}</label>
          <b-form-select id="recur_dow"
                         disabled="true"
                         :plain="true"
                         value="Please select"
                         v-model="notification.recur_dow"
                         v-validate="'required'" name="recur_dow"
                         :class="{ 'is-invalid': errors.has('recur_dow') }"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('sat@notification@l'),
                      value: '1'
                    },{
                      text: get_text('sun@notification@l'),
                      value: '2'
                    },
                    {
                      text: get_text('mon@notification@l'),
                      value: '3'
                    },
                    {
                      text: get_text('tue@notification@l'),
                      value: '4'
                    },
                    {
                      text: get_text('wed@notification@l'),
                      value: '5'
                    },
                    {
                      text: get_text('thu@notification@l'),
                      value: '6'
                    },
                    {
                      text: get_text('fri@notification@l'),
                      value: '7'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"></b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_dom">{{ this.get_text('date_of_the_month@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="recur_dom"
                         disabled="true"
                         :plain="true"
                         value="Please select"
                         v-model="notification.recur_dom"
                         v-validate="'required'" name="recur_dom"
                         :class="{ 'is-invalid': errors.has('recur_dom') }"
                         :options="this.$store.state.dom">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_m_condition">{{ this.get_text('monthly_conditions@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="recur_m_condition"
                         disabled="true"
                         :plain="true"
                         value="Please select"
                         v-model="notification.recur_m_condition"
                         v-validate="'required'" name="recur_m_condition"
                         :class="{ 'is-invalid': errors.has('recur_m_condition') }"
                         :options="[
                    {
                      text: get_text('please_select@notification@l'),
                      value: null
                    },
                    {
                      text: get_text('last_working_day_in_month@notification@l'),
                      value: 'l'
                    },
                    {
                      text: get_text('first_working_day_after_month_end@notification@l'),
                      value: 'f'
                    },
                    {
                      text: get_text('none@notification@l'),
                      value: 'n'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4"></b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_q_condition">{{ this.get_text('quarter_conditions@notification@l')
            }}</label>
          <b-form-select id="recur_q_condition"
                         disabled="true"
                         :plain="true"
                         value="Please select" v-model="notification.recur_q_condition"
                         v-validate="'required'" name="recur_q_condition"
                         :class="{ 'is-invalid': errors.has('recur_q_condition') }"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('last_working_day_in_quarter@notification@l'),
                      value: 'l'
                    },
                    {
                      text: get_text('first_working_day_after_quarter_end@notification@l'),
                      value: 'f'
                    },
                    {
                      text: get_text('after_quarter_end_costimized@notification@l'),
                      value: 'a'
                    },
                    {
                      text: get_text('before_end_of_quarter_customized@notification@l'),
                      value: 'b'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="recur_qe_diff_days">{{ this.get_text('#_of_days@notification@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-input disabled="true" type="number" v-validate="'required'"
                        name="recur_qe_diff_days" id="recur_qe_diff_days" min="0"
                        v-model="notification.recur_qe_diff_days"
                        :class="{ 'is-invalid': errors.has('recur_qe_diff_days') }"
                        :placeholder="get_text('#_of_days@notification@l')"></b-form-input>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="4">
        <b-form-group>
          <label for="notif_start">{{this.get_text('start_on@notification@l')}}</label>
          <!--<b-form-input type="date" v-validate="'required'" name="start_dt" id="start_dt" min="0" v-model="notification.start_dt" :placeholder="get_text('start_on@notification@l')" ></b-form-input>-->
          <el-date-picker
            id="start_dt"
            v-model="notification.start_dt"
            type="date"
            name="start_dt"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </b-form-group>
      </b-col>
      <b-col sm="4">
        <b-form-group>
          <label for="notif_end">{{this.get_text('end_on@notification@l')}}</label>
          <!--<b-form-input type="date" v-validate="'required'" name="end_dt" id="end_dt" min="0" v-model="notification.end_dt" :placeholder="get_text('end_on@notification@l')"></b-form-input>-->
          <el-date-picker
            id="end_dt"
            v-model="notification.end_dt"
            type="date"
            name="end_dt"
            value-format="yyyy-MM-dd">
          </el-date-picker>
        </b-form-group>
      </b-col>
      <b-col sm="4"></b-col>
    </b-row>
  </div>
</template>
<script>
  import Vue from 'vue';
  import draggable from 'vuedraggable'
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
  Vue.use(RichTextEditorPlugin);

  export default {
    components: {
      draggable
    },
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },
    props:['notification'],
    data() {
      return {
        /*notification: {
          description: '',
          channel: '',
          event_id: '',
          contents: '',
          status_active: '0',
          start_dt: '',
          end_dt: '',
          notif_time: '',
          is_recur: '0',
          recur_period: '',
          recur_dow: '',
          recur_dom: '',
          recur_m_condition: 'n',
          recur_q_condition: '',
          recur_qe_diff_days: '',
        },*/
        translation: [],
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    methods: {
      changeRecurring(val) {
        if (val == 1) {
          $("#recur_period").attr('disabled', false)
        } else {
          $("#recur_period").attr('disabled', true).removeClass('is-invalid');
          $("#recur_dow").attr('disabled', true).removeClass('is-invalid');
          $("#recur_dom").attr('disabled', true).removeClass('is-invalid');
          $("#recur_m_condition").attr('disabled', true).removeClass('is-invalid');
          $("#recur_q_condition").attr('disabled', true).removeClass('is-invalid');
          $("#recur_qe_diff_days").attr('disabled', true).removeClass('is-invalid');
        }
      },
      changeRecurringPeriod(val) {
        if (val == 'w') {
          $("#recur_dow").attr('disabled', false)
          $("#recur_dom").attr('disabled', true)
          $("#recur_m_condition").attr('disabled', true)
          $("#recur_q_condition").attr('disabled', true)
          $("#recur_qe_diff_days").attr('disabled', true)
        } else if (val == 'm') {
          $("#recur_dow").attr('disabled', true)
          $("#recur_dom").attr('disabled', false)
          $("#recur_m_condition").attr('disabled', false)
          $("#recur_q_condition").attr('disabled', true)
          $("#recur_qe_diff_days").attr('disabled', true)

        } else if (val == 'q') {
          $("#recur_dow").attr('disabled', true)
          $("#recur_dom").attr('disabled', true)
          $("#recur_m_condition").attr('disabled', true)
          $("#recur_q_condition").attr('disabled', false)
          $("#recur_qe_diff_days").attr('disabled', false)
        } else {
          $("#recur_dow").attr('disabled', true)
          $("#recur_dom").attr('disabled', true)
          $("#recur_m_condition").attr('disabled', true)
          $("#recur_q_condition").attr('disabled', true)
          $("#recur_qe_diff_days").attr('disabled', true)
        }
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    }
  }
</script>
