<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row v-if="$can('projects-edit') || $can('projects-create')">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">{{ get_text('title@project_definition@l') }}

                  <b-link :href="routelink">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="glyphicon-list glyphicon font-1xl"></i> {{ get_text('title@project_list@l') }}</b>
                    </b-button>
                  </b-link>
                </div>
                <div class="card-body">
                  <b-form @submit.prevent="createprojectdefinition">
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('mtp@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          v-model="sortByMtp" @change="loadKpiDataSector(sortByTenant)"
                          name="sortBymtp" id="sortBymtp"
                          v-validate="'required'"
                          :class="{ 'is-invalid': submitted && errors.has('sortBymtp') }"

                          :options="this.$store.state.kpi_mtp">
                          <option slot="first" :value="null">{{
                              get_text('please_select@project_definition@l')
                            }}
                          </option>
                        </b-form-select>

                      </div>
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('org_units@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <treeselect
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          :placeholder="get_text('please_select@l')" searchable="searchable" :normalizer="normalizer"
                          :options="this.$store.getters.sectors" v-model="sortBySubTenant"
                        />

                      </div>

                    </div>

                    <!--                                <div class="form-group row">-->
                    <!--&lt;!&ndash;                                  <div class="col-md-6">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                    <label horizontal &ndash;&gt;-->
                    <!--&lt;!&ndash;                                           :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{get_text('sector@project_definition@l')}}</label>&ndash;&gt;-->
                    <!--&lt;!&ndash;                                      <b-input-group>&ndash;&gt;-->
                    <!--                                        <div class="col-md-6">-->
                    <!--                                          <label class="mb-0" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('sector@project_definition@l')}}-->
                    <!--                                            <i class="fa fa-asterisk danger fa-xs"-->
                    <!--                                               style="font-size:10px;color:red;"></i>-->
                    <!--                                          </label>-->
                    <!--                                        <b-form-select :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'" v-model="sortByTenant" @change="loadKpiDataSector(sortByTenant)"-->
                    <!--                                                       name="sortByTenant" id="sortByTenant"-->
                    <!--                                                       v-validate="'required'"-->
                    <!--                                                       :class="{ 'is-invalid': submitted && errors.has('sortByTenant') }"-->

                    <!--                                                       :options="this.tenantoptions">-->
                    <!--                                          <option slot="first" :value="null">{{-->
                    <!--                                            get_text('please_select@project_definition@l') }}-->
                    <!--                                          </option>-->
                    <!--                                        </b-form-select>-->


                    <!--                                  </div>-->
                    <!--                                  <div class="col-md-6">-->
                    <!--                                    <label class="mb-0" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('org_units@project_definition@l')}}-->

                    <!--                                    </label>-->
                    <!--&lt;!&ndash;                                    <b-form-group horizontal :label="get_text('org_units@project_definition@l')" class="mb-0"&ndash;&gt;-->
                    <!--&lt;!&ndash;                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">&ndash;&gt;-->
                    <!--&lt;!&ndash;                                      <b-input-group>&ndash;&gt;-->
                    <!--                                        <treeselect :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'" :disabled="sortByTenant==2" :dir="rtl ? 'rtl' : 'ltr'" :placeholder="get_text('please_select@l')"-->
                    <!--                                                    :normalizer="normalizer" searchable="searchable" :options="options" v-model="sortBySubTenant"-->
                    <!--                                                    />-->

                    <!--                                  </div>-->
                    <!--                                </div>-->
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('status_operational@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <!--                                      <b-input-group>-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('status_operational@project_definition@l')
                          }}

                        </label>
                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          :plain="true"
                          disabled="disabled"
                          value="Please select"
                          v-validate="'required'"
                          name="status_operational" id="status_operational"
                          v-model="status_operational"
                          :class="{ 'is-invalid': submitted && errors.has('status_operational') }"
                          :options="[
                                            {
                                              text: get_text('planning@project_definition@l'),
                                              value: 0
                                            },
                                            {
                                              text: get_text('progressing@project_definition@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('onhold@project_definition@l'),
                                              value: 2
                                            },
                                            {
                                              text: get_text('closed@project_definition@l'),
                                              value: 3
                                            }
                                            ]">
                          <option if="status_operational==null" slot="first" :value="null">
                            {{ get_text('planning@project_definition@l') }}
                          </option>

                        </b-form-select>


                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('approval_state@project_definition@l')" class="mb-0"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <!--                                      <b-input-group>-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('approval_state@project_definition@l')
                          }}

                        </label>
                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          :plain="true"
                          value="Please select"
                          v-validate="'required'"
                          disabled="disabled"
                          name="approval_status" id="approval_status"
                          v-model="approval_status"
                          :class="{ 'is-invalid': submitted && errors.has('approval_status') }"
                          :options="[
                                            {
                                              text: get_text('pending@project_definition@l'),
                                              value: 0
                                            },
                                            {
                                              text: get_text('approved@project_definition@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('rejected@project_definition@l'),
                                              value: 2
                                            },
                                            {
                                              text: get_text('delete_pending@project_definition@l'),
                                              value: 3
                                            }
                                            ]">
                          <option if="approval_status==null" slot="first" :value="null">
                            {{ get_text('pending@project_definition@l') }}
                          </option>
                        </b-form-select>

                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_type@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>

                        <!--                                    <b-form-group horizontal :label="get_text('project_type@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <!--                                      <b-input-group>-->
                        <b-form-select v-model="project_type" name="project_type" id="project_type"
                                       :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                                       :options="this.projecttypeoptions"
                                       v-validate="'required'"
                                       :class="{ 'is-invalid': submitted && errors.has('project_type') }"

                        >
                          <option slot="first" :value="null">{{
                              get_text('please_select@project_definition@l')
                            }}
                          </option>
                        </b-form-select>

                        <!--                                      </b-input-group>-->
                        <!--                                    </b-form-group>-->

                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_category@project_definition@l')" class="mb-0"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_category@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>

                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          :plain="true"
                          value="Please select"
                          v-validate="'required'"
                          name="project_category" id="project_category"
                          v-model="project_category"
                          :class="{ 'is-invalid': submitted && errors.has('project_category') }"
                          :options="[
                                            {
                                              text: get_text('ministry@project_definition@l'),
                                              value: 0
                                            },
                                            {
                                              text: get_text('development@project_definition@l'),
                                              value: 1
                                            }
                                            ]">

                        </b-form-select>


                      </div>
                    </div>

                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_name@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <!--                                    <b-form-group horizontal :label="get_text('project_name@project_definition@l')" class="mb-0"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <input :maxlength="255" class="form-control" type="text" v-model="project_name"
                               v-validate="'required'"
                               name="project_name" id="project_name"
                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                               :class="{ 'is-invalid': submitted && errors.has('project_name') }">

                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_short_name@project_definition@l')" class="mb-0"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_short_name@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <input :maxlength="45" class="form-control" type="text" v-model="project_short_name"
                               v-validate="'required'"
                               name="project_short_name" id="project_short_name"
                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                               :class="{ 'is-invalid': submitted && errors.has('project_short_name') }">


                      </div>

                    </div>

                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_start_date@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <!--                                    <input v-model="project_start_date" class="form-control"  type="date" name="project_start_date" placeholder="yyyy-mm-dd"-->
                        <!--                                           :class="{ 'is-invalid': submitted && errors.has('project_start_date') }"-->
                        <!--                                           v-validate="'required'" >-->

                        <el-date-picker
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          v-model="project_start_date"
                          type="date"
                          id="project_start_date"
                          name="project_start_date"
                          :class="{ 'is-invalid': submitted && errors.has('project_start_date') }"

                          placeholder="dd/mm/yyyy"
                          format="dd/MM/yyyy"
                          v-validate="'required'"
                        >
                        </el-date-picker>


                      </div>
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_end_date@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <!--                                  <div class="col-md-6">-->
                        <!--                                  <b-form-group horizontal :label="get_text('project_end_date@project_definition@l')" class="mb-0"-->
                        <!--                                                :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->

                        <!--                                    <input v-model="project_end_date" class="form-control" id="projectend_date" type="date" name="date-input" placeholder="yyyy-mm-dd"-->
                        <!--                                           :class="{ 'is-invalid': submitted && errors.has('project_end_date') }"-->

                        <!--                                           v-validate="'required'" />-->

                        <!--                                    <el-date-picker-->
                        <!--                                      class="$i18n.locale=='en' ? 'rightdate' : 'leftdate'"-->
                        <!--                                      v-model="project_end_date"-->
                        <!--                                      type="date"-->
                        <!--                                      :class="{ 'is-invalid': submitted && errors.has('project_end_date') }"-->
                        <!--                                      popper-class="custom-date-picker"-->
                        <!--                                      placeholder="dd/mm/yyyy"-->
                        <!--                                      format="dd/MM/yyyy"-->
                        <!--                                      v-validate="'required'"-->
                        <!--                                    >-->
                        <!--                                    </el-date-picker>-->
                        <el-date-picker
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                          v-model="project_end_date"
                          type="date"
                          id="projectend_date"
                          name="projectend_date"
                          :class="{ 'is-invalid': submitted && errors.has('project_end_date') }"

                          placeholder="dd/mm/yyyy"
                          format="dd/MM/yyyy"
                          v-validate="'required'"
                        >
                        </el-date-picker>


                        <div style="color:red"
                             v-if="project_end_date && new Date(project_start_date) > new Date(project_end_date)">-->
                          {{ dateerror }}
                        </div>


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('actual_start@project_definition@l')" class="mb-0"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->


                        <!--                                      <input  v-model="actual_start"-->
                        <!--                                             class="form-control" id="actual_start"-->
                        <!--                                             name="actual_start" type="date"-->
                        <!--                                             placeholder="yyyy-mm-dd"-->
                        <!--                                              project_has_budget-->
                        <!--                                             :class="{ 'is-invalid': submitted && errors.has('actual_start') }"-->

                        <!--                                             v-validate="'required'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('actual_start@project_definition@l')
                          }}

                        </label>
                        <el-date-picker
                          :class="$i18n.locale=='en' ? 'rightdate' : 'leftdate'"
                          @change="handleactualdatechange()"
                          v-model="actual_start"
                          type="date"
                          popper-class="custom-date-picker"
                          placeholder="dd/mm/yyyy"
                          format="dd/MM/yyyy"
                        >
                        </el-date-picker>

                      </div>
                      <div class="col-md-6">
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('actual_closure@project_definition@l')
                          }}

                        </label>

                        <!--                                      <input v-model="actual_closure"-->
                        <!--                                             name="actual_closure"-->
                        <!--                                             class="form-control" id="actual_closure"-->
                        <!--                                             :class="{ 'is-invalid': submitted && errors.has('actual_closure') }"-->

                        <!--                                             type="date"  placeholder="yyyy-mm-dd"-->
                        <!--                                             v-validate="'required'">-->

                        <el-date-picker
                          :class="$i18n.locale=='en' ? 'rightdate' : 'leftdate'"
                          v-model="actual_closure"
                          type="date"
                          disabled="disabled"
                          popper-class="custom-date-picker"
                          placeholder="dd/mm/yyyy"
                          format="dd/MM/yyyy"
                        >
                        </el-date-picker>


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_importance@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_importance@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <!--                                      <b-input-group>-->
                        <b-form-select
                          :plain="true"
                          value="Please select"
                          v-validate="'required'"
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                          name="project_importance" id="project_importance"
                          v-model="project_importance"
                          :class="{ 'is-invalid': submitted && errors.has('project_importance') }"
                          :options="[
                                            {
                                              text: get_text('please_select@project_definition@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('weakly_important@project_definition@l'),
                                              value: '1'
                                            }, {
                                              text: get_text('averagely_important@project_definition@l'),
                                              value: '2'
                                            }, {
                                              text: get_text('important@project_definition@l'),
                                              value: '3'
                                            },
                                            {
                                              text: get_text('very_important@project_definition@l'),
                                              value: '4'
                                            },  {
                                              text: get_text('critically_important@project_definition@l'),
                                              value: '5'
                                            },

                                            ]">
                        </b-form-select>
                        <!--                                      </b-input-group>-->
                        <!--                                    </b-form-group>-->

                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_has_budget@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_has_budget@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <!--                                      <b-input-group>-->

                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                          :plain="true"
                          value="Please select"
                          v-validate="'required'"
                          name="project_has_budget" id="project_has_budget"
                          v-model="project_has_budget"
                          @input="clearbudget()"
                          :class="{ 'is-invalid': submitted && errors.has('project_has_budget') }"
                          :options="[
                                              {
                                              text: get_text('yes@project_definition@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('no@project_definition@l'),
                                              value: 0
                                            }

                                            ]">

                        </b-form-select>


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('planned_budget@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('planned_budget@project_definition@l')
                          }}
                          <i v-if="project_has_budget==1" class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <input v-model="planned_budget"
                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                               class="form-control"
                               name="planned_budget" id="planned_budget"
                               v-validate="project_has_budget==0 ? '' : 'required'"
                               :class="{ 'is-invalid': submitted && errors.has('planned_budget') }"
                               :disabled="project_has_budget==0"
                               type="text" @change="currencyformattingbudget">
                        <p style="color:red" if="numericerrorplanned">{{ numericerrorplanned }}</p>

                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('actual_cost@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('actual_cost@project_definition@l')
                          }}
<!--                          <i v-if="project_has_budget==1" class="fa fa-asterisk danger fa-xs"-->
<!--                             style="font-size:10px;color:red;"></i>-->
                        </label>

<!--                        <input v-model="actual_cost" class="form-control"-->
<!--                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"-->

<!--                               name="actual_cost" id="actual_cost"-->
<!--                               v-validate="project_has_budget==0 ? '' : 'required'"-->
<!--                               :class="{ 'is-invalid': submitted && errors.has('actual_cost') }"-->
<!--                               :disabled="project_has_budget==0"-->
<!--                               type="text" @change="currencyformattingactualcost(actual_cost)">-->
                        <input v-model="actual_cost" class="form-control" readonly="readonly"
                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                               name="actual_cost" id="actual_cost"


                               type="text" @change="currencyformattingactualcost(actual_cost)">
                        <br>
                        <p style="color:red" if="numericerroractual">{{ numericerroractual }}</p>

                        <!--                                      </b-input-group>-->


                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_completion@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_completion@project_definition@l')
                          }}

                        </label>

                        <input class="form-control" readonly="readonly"
                               :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                               type="number" min="0" max="100" step="1"
                               name="project_completion" id="project_completion"
                               :class="{ 'is-invalid': submitted && errors.has('project_completion') }"

                               v-model="project_completion" placeholder="0%">

                      </div>
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_forcasting@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <label
                          :style="$i18n.locale=='en' ? ' ' : 'width: 140px;word-wrap: normal;word-break: break-all;'"
                          class="mb-0" horizontal
                          :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_forcasting@project_definition@l')
                          }}

                        </label>
                        <b-form-select
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                          :plain="true"
                          value="Please select"

                          name="project_forcasting" id="project_forcasting"
                          v-model="project_forcasting"

                          :options="[
                                           // {
                                           //    text: get_text('off@project_definition@l'),
                                           //    value: 0
                                           //  },
                                            {
                                              text: get_text('on@project_definition@l'),
                                              value: 1
                                            }

                                            ]">
                          <option slot="first" :value=0>{{ get_text('off@project_definition@l') }}
                          </option>
                        </b-form-select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <!--                                    <b-form-group horizontal :label="get_text('project_update_interval@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <!--&lt;!&ndash;                                    <input model="project_update_interval" class="form-control" type="text" >&ndash;&gt;-->

                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_update_interval@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>
                        <b-form-select
                          :plain="true"
                          value="Please select"
                          :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                         @change="updateintervalchange()"
                          v-model="project_update_interval"
                          name="project_update_interval" id="project_update_interval"

                          :options="[
                                           {
                                              text: get_text('daily@project_definition@l'),
                                              value: 'D'
                                            },
                                            {
                                              text: get_text('weekly@project_definition@l'),
                                              value: 'W'
                                            },
                                            {
                                              text: get_text('monthly@project_definition@l'),
                                              value: 'M'
                                            },
                                            {
                                              text: get_text('quarterly@project_definition@l'),
                                              value: 'Q'
                                            },
                                            {
                                              text: get_text('yearly@project_definition@l'),
                                              value: 'Y'
                                            }
                                            ]">

                        </b-form-select>

                      </div>
                      <div class="col-md-6">
                        <b-form-group horizontal :label="get_text('project_has_risk@project_definition@l')"
                                      :label-align="$i18n.locale=='en' ? 'left' : 'right'">


                          <!--

<input model="project_has_risk" class="form-control" type="text" >-->
                          <b-form-select
                            :plain="true"
                            value="Please select"

                            name="project_has_risk"
                            id="project_has_risk"
                            v-model="project_has_risk"

                            :options="[
                                          // {
                                          //     text: get_text('no@project_definition@l'),
                                          //     value: 0
                                          //   },
                                           {
                                              text: get_text('yes@project_definition@l'),
                                              value: '1'
                                            }


                                            ]">
                            <option slot="first" :value=0>{{ get_text('no@project_definition@l') }}
                            </option>
                          </b-form-select>
                        </b-form-group>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">


                        <!--                                    <b-form-group  horizontal   :label="get_text('project_description@project_definition@l')"-->
                        <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
                        <!--                                    </b-form-group>-->
                        <label class="mb-0" horizontal
                               :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                            get_text('project_description@project_definition@l')
                          }}
                          <i class="fa fa-asterisk danger fa-xs"
                             style="font-size:10px;color:red;"></i>
                        </label>

                      </div>
                      <div class="col-md-12">
                        <ejs-richtexteditor
                          v-model="project_description" name="project_description" id="project_description"
                          :class="{ 'is-invalid': submitted && errors.has('project_description') }"

                          ref="defaultRTE" :height="340" :widhth="700"
                          :enableRtl="$i18n.locale=='ar' ? 'true' : ''"></ejs-richtexteditor>

                      </div>

                    </div>
                    <b-button class="float-right" variant="primary" size="lg" type="submit">
                      {{ get_text('save@prcType@l') }}
                    </b-button>

                  </b-form>
                </div>

              </div>
            </div>

          </div>


        </transition>

      </b-col>
    </b-row>
    <div v-else-if="!$can('projects-edit') || !$can('projects-create')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
import {store} from '@/components/projects/store/store'
import Vue from 'vue'
import 'element-ui/lib/theme-chalk/index.css';
import Element from 'element-ui'
//import {Notification} from 'element-ui'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import {RichTextEditorPlugin, Toolbar, Link, Image, HtmlEditor, QuickToolbar} from '@syncfusion/ej2-vue-richtexteditor';

import Treeselect from '@riophae/vue-treeselect'
// import the styles
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import lang from 'element-ui/lib/locale/lang/en'
import locale from 'element-ui/lib/locale'
import Unauthorized from "../../views/pages/Unauthorized";

Vue.use(Element);
Vue.use(Loading);
Vue.use(RichTextEditorPlugin);
locale.use(lang)

export default {
  store: store,
  provide: {
    richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
  },
  created() {
    this.$store.dispatch('loadNotificationDefaultData')
    this.loadTenants();
    this.loadprojecttypes();
    if(typeof this.$route.params.id != 'undefined' && this.$route.params.id != 'null') {
      this.loadprojectlistgetbyid(this.$route.params.id);
    }
    this.$store.dispatch('loadMTP');


    //this.isAdmin = ((this.$auth.user().roles.includes('Admin')) ? true : false);
    this.$store.dispatch('translation');
  },
  data: () => {
    return {
      options: '',
      projecttypeoptions: '',
      tenantoptions: '',
      sortByMtp: localStorage.getItem('currentMtpData'),

      normalizer(node) {
        return {
          id: node.id,
          label: node.name,
          children: node.tree,
        }
      },


      selected: null,
      fields: [
        /*{key: 'idTaskPriorityType', label: '#', sortable: true, sortDirection: 'desc'},
        {key: 'Type', label: 'Type Name'},
        {key: 'TypeCodeMin', label: 'Min', sortable: true, sortDirection: 'desc'},
        {key: 'TypeCodeMax', label: 'Max', sortable: true, sortDirection: 'desc'},
        {key: 'Actions'},*/
        //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
        //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
      ],
      button: '',
      currentPage: 1,
      perPage: 5,
      totalRows: 0,
      priorityData: {
        TypeCode: null,
        PRCType: null,
        TypeCodeMin: null,
        TypeCodeMax: null,
      },
      priorityInfo: null,
      showingeditModal: false,
      showingViewModal: false,
      showingModal: false,
      showingdeleteModal: false,
      submitted: false,
      updated: false,
      pageOptions: [5, 10, 15],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      translation: [],

      sortByTenant: null,
      sortByStatus: null,
      sortBySubTenant: null,
      status_operational: null,
      approval_status: null,
      project_type: null,
      project_category: null,
      project_short_name: null,
      project_name: null,
      project_description: null,
      project_importance: null,
      project_has_budget: null,
      planned_budget: null,
      actual_cost: null,
      project_forcasting: 0,
      project_completion: 0,
      actual_start: null,
      actual_closure: null,
      project_update_interval: null,
      project_has_risk: 0,
      project_start_date: null,
      project_end_date: null,
      //  errors:null,
      dateerror: "The End date is less than start date",
      numericerrorplanned: '',
      numericerroractual: '',
      projectid: ''


    }
  },
  mounted() {
    this.routelink = '/projectlist';

  },
  beforeMount() {
    if (localStorage.getItem('translation')) {
      this.translation = JSON.parse(localStorage.getItem('translation'));
    }
  },
  components: {
    Unauthorized,
    'loading': Loading,

    Treeselect
  },
  methods: {
    clearbudget(){
      if(this.project_has_budget==0){
        this.planned_budget='';
      }

    },

    handleactualdatechange(){
      var projectid= this.$route.params.id
      Vue.axios.get('/projectvaluechangecheck/' + projectid)
        .then(response => {
          if (response.data.code == 200) {
            if(response.data.data==true) {
              if(confirm("Do you really want to Change?")) {
                this.actual_start=this.actual_start
              } else {

                this.actual_start=this.actual_startold
              }

            }
          }
          else{
            alert("There are Project Readings. So cannot change Actual Start Date")
            this.actual_start=this.actual_startold

            return false
          }
        });

      //   if(confirm("Do you really want to delete?")) {
      //     this.actual_start=this.actual_start
      //
      // } else {
      //
      //     this.actual_start=this.actual_startold
      // }

    },
    updateintervalchange(projectid){
      var projectid= this.$route.params.id
      Vue.axios.get('/projectvaluechangecheck/' + projectid)
        .then(response => {
          if (response.data.code == 200) {
            if(response.data.data==true) {
              if(confirm("Do you really want to change?")) {
                this.project_update_interval=this.project_update_interval
              } else {

                this.project_update_interval=this.project_update_intervalold
              }

            }
          }
          else{
            alert("There are Project Readings. So cannot change Update Interval")
            this.project_update_interval=this.project_update_intervalold

            return false
          }
        });
    },
    loadprojectlistgetbyid(projectid) {

      this.$store.state.isLoading = true;
      Vue.axios.get(`/projectlistbyId/${this.$route.params.id}`)
        .then(response => {
          if (response.data.code == 200) {
            this.sortByMtp = response.data.projectlist[0]['mtp_id'];
            this.projectid = response.data.projectlist[0]['id'];
            this.sortByTenant = response.data.projectlist[0]['sector_id'];
            this.sortBySubTenant = response.data.projectlist[0]['subtenant_id'];
            if(!this.sortBySubTenant){
              this.sortBySubTenant=this.sortByTenant;
            }
            this.status_operational = response.data.projectlist[0]['status_operational'];
            this.approval_status = response.data.projectlist[0]['status_approval'];
            this.project_type = response.data.projectlist[0]['project_type'];
            this.project_category = response.data.projectlist[0]['project_category'];
            this.project_name = response.data.projectlist[0]['name'];
            this.project_short_name = response.data.projectlist[0]['name_short'];
            this.project_start_date = response.data.projectlist[0]['start_dt_base'];
            this.project_end_date = response.data.projectlist[0]['end_dt_base'];
            this.actual_start = response.data.projectlist[0]['start_dt_actual'];
            this.actual_startold = response.data.projectlist[0]['start_dt_actual'];
            this.actual_closure = response.data.projectlist[0]['end_dt_actual'];
            this.project_importance = response.data.projectlist[0]['importance'];
            this.project_has_budget = response.data.projectlist[0]['has_budget'];
            //this.planned_budget = "KWD " + response.data.projectlist[0]['budget_base'];
            this.planned_budget = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(response.data.projectlist[0]['budget_base']);

            // this.actual_cost = "KWD " + response.data.projectlist[0]['spending_total'];
            //this.actual_cost = "KWD " + response.data.projectlist[0]['spending_total'];
            this.actual_cost = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(response.data.projectlist[0]['spending_total']);
            this.project_completion = response.data.projectlist[0]['progress_total'];
            this.project_forcasting = response.data.projectlist[0]['has_forecasting'];
            this.project_update_interval = response.data.projectlist[0]['value_period'];
            this.project_update_intervalold = response.data.projectlist[0]['value_period'];
            this.project_description = response.data.projectlist[0]['description'];
            this.project_has_risk = response.data.projectlist[0]['has_risks'];


          }
          this.$store.state.isLoading = false;
        })
        .catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
    },
    currencyformattingactualcost(value) {
      if (isNaN(this.actual_cost)) {
        this.numericerroractual = "Invalid Number"
        return {valid: false, error: "Invalid Number"};
      } else {

        this.actual_cost = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.actual_cost);
        this.numericerroractual = ""
      }
    },
    currencyformattingbudget(value) {
      if (isNaN(this.planned_budget)) {
        this.numericerrorplanned = "Invalid Number"
        return {valid: false, error: "Invalid Number"};
      } else {
        this.planned_budget = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD'
        }).format(this.planned_budget);
        this.numericerrorplanned = ""
      }
    },
    createprojectdefinition() {
      this.submitted = true;


      this.$validator.validate().then(valid => {
        if (valid) {

          // if(new Date(this.project_start_date) > new Date(this.project_end_date)){
          //   //this.dateerror=true;
          //   return false;
          // }
          // else{
          //   this.dateerror="";
          // }
          if (this.actual_cost) {
            this.actual_costnum = this.actual_cost.replace(/,/g, '');
            this.actual_costnum = parseFloat(this.actual_costnum.replace('KWD', '')).toFixed(3);
          }
          if (this.planned_budget) {
            this.planned_budgetnum = this.planned_budget.replace(/,/g, '');
            this.planned_budgetnum = parseFloat(this.planned_budgetnum.replace('KWD', '')).toFixed(3);
          }
          this.$store.dispatch('createProject', {
            data: {
              created_by: this.$auth.user().id,
              mtp: this.sortByMtp,
              id: this.projectid,
              sortByTenant: this.sortByTenant,
              sortBySubTenant: this.sortBySubTenant,
              status_operational: 0,
              approval_status: 0,
              project_type: this.project_type,
              project_category: this.project_category,
              project_name: this.project_name,
              project_short_name: this.project_short_name,
              project_start_date: this.project_start_date,
              project_end_date: this.project_end_date,
              actual_start: this.actual_start,
              actual_closure: this.actual_closure,
              project_importance: this.project_importance,
              project_has_budget: this.project_has_budget,
              planned_budget: this.planned_budgetnum,
              actual_cost: this.actual_costnum,
             // project_completion: this.project_completion,
              project_forcasting: this.project_forcasting,
              project_update_interval: this.project_update_interval,
              project_description: this.project_description,
              project_has_risk: this.project_has_risk
            }
          })

          this.$validator.reset();
        }
      });
    },

    loadprojecttypes() {
      Vue.axios.get('/getprojecttypes')
        .then(response => {
          if (response.data.code == 200) {
            this.projecttypeoptions = response.data.project_types.map(function (item) {
              return {
                text: item.name,
                value: item.id
              }


            });
          }
        });
    },
    loadTenants() {
      Vue.axios({
        url: 'loadTenantsministry',
        method: 'GET'
      })
        .then(response => {
          if (response.data.code == 200) {
            this.tenantoptions = response.data.tenants.map(function (item) {
              return {
                text: item.name,
                value: item.id
              }
            });

          }
        });
    },
    removeEmptyNode(nodes) {
      if (!nodes || nodes.length === 0)
        return;

      nodes.forEach(function (node) {

        if (node.tree.length === 0) {
          // alert(node)
          delete node.tree;
        } else {
          // alert(node.tree)
          //this.removeEmptyNode(node.tree);
          node.tree.forEach(function (node) {

            if (node.tree.length === 0) {
              // alert(node)
              delete node.tree;
            } else {
              // alert(node.tree)
              //this.removeEmptyNode(node.tree);
              node.tree.forEach(function (node) {

                if (node.tree.length === 0) {
                  // alert(node)
                  delete node.tree;
                } else {
                  // alert(node.tree)
                  this.removeEmptyNode(node.tree);
                }
              });

            }
          });
        }

      });
    },


    loadKpiDataSector(sector) {

      /*this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
      if(!this.$auth.user().roles.includes('Admin') && this.sortBySubTenant != '') {
        this.loadKpiDataSector(this.sortByTenant)
      }
      */
      this.options = '';
      if (!this.isAdmin && this.sortBySubTenant == null) {
        Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.loadTenants()
              this.options = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
        // this.sortBySubTenant = this.$auth.user().subtenant_id;
        // this.$store.dispatch('loadKpiDataOrgUnit', this.sortBySubTenant);
      } else {
        Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });

        this.$store.dispatch('loadKpiDataSector', sector);
      }
      localStorage.setItem('session_sector', sector);
      //this.$store.dispatch('loadSubTenants', sector);

    },
    setPriorityRange() {
      this.priorityData = {}
    },
    get_text(textbit) {
      var transtext = this.translation[this.$i18n.locale][textbit];
      if (transtext) {
        return transtext;
      } else {
        var spliteText = (textbit.split("@"));
        if (spliteText.length > 2) {
          var newTxt = (spliteText[0] + '@' + 'l');
          var transtext1 = this.translation[this.$i18n.locale][newTxt];
          if (transtext1) {
            return transtext1;
          } else {
            return "!" + textbit;
          }
        } else {
          return "!" + textbit;
        }
      }

    },
    $can(permissionName) {
      // alert(this.$auth.user().allPermissions);
      return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
    },
    createPriority() {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.resetPasswordBtn = true,
            this.showingModal = false
          this.$store.dispatch('createPriority', {
            data: {
              TypeCode: this.priorityData.TypeCode,
              PRCType: this.priorityData.PRCType,
              TypeCodeMin: this.priorityData.TypeCodeMin,
              TypeCodeMax: this.priorityData.TypeCodeMax,
            }
          })
          this.priorityData = {
            TypeCode: null,
            PRCType: null,
            TypeCodeMin: null,
            TypeCodeMax: null,
          }
          this.$validator.reset();
        }
      });
    },
    selectPriority(priority) {
      this.priorityData = priority;
    },
    editPriority(priority, value = null) {
      this.$store.state.isLoading = true;
      Vue.axios.get(`/PriorityType/${priority.idTaskPriorityType}`, priority.PRCTypes)
        .then((response) => {
          if (response.data.code == 401) {
            Vue.prototype.$notify.error({
              title: 'Error',
              message: response.data.msg,
              type: 'Error',
              position: 'top-right'
            })
          } else {
            if (value == 'view') {
              this.showingViewModal = true;
              this.priorityInfo = response.data.data
            } else {
              this.showingeditModal = true
              this.priorityData = response.data.data
            }
          }
          this.$store.state.isLoading = false;
        }).catch(error => {
        console.log(error.response.data.message);
        this.$store.state.isLoading = false;
        if (error.response.status == 403) {
          this.$store.dispatch('get_text_title', 'Success@m');
          this.$store.dispatch('get_text_message', error.response.data.message + '@m');

          Vue.prototype.$notify.error({
            title: this.$store.state.title,
            message: this.$store.state.message,
            type: 'Error',
            position: 'top-right'
          });
        }
      });
    },
    updatePriority() {

      this.updated = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          this.showingeditModal = false
          this.$store.dispatch('updatePriority', {
            where: this.priorityData.idTaskPriorityType,
            data: {
              TypeCode: this.priorityData.TypeCode,
              PRCType: this.priorityData.PRCType,
              TypeCodeMin: this.priorityData.TypeCodeMin,
              TypeCodeMax: this.priorityData.TypeCodeMax,
            }
          })
          this.priorityData = {
            TypeCode: null,
            PRCType: null,
            TypeCodeMin: null,
            TypeCodeMax: null,
          }
          this.$validator.reset();
        }
      });
    },
    removePriority(priorities) {
      this.$store.dispatch('removePriority', priorities)
    },
    getBadge(status) {
      return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
    },
    getName(status) {
      return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
}
</script>
<style>

.rightdate {
  width: 75% !important;
  float: right;
}

.leftdate {
  width: 75% !important;
  float: left;
}


.leftalign {
  float: left
}

.rightalign {
  float: right
}


.modal-header .close {
  padding: 0 !important;
  margin: 0 !important;
}

.leftpadding {
  padding-left: 6%;
}

.rightpadding {
  padding-right: 6%;
}
</style>
<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
}
</style>
<style>
@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
