<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="$can('projects-usercost-view')">
    <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4">{{ get_text('title@user_cost@l') }}</b>
              <!--              <b-link :href="'/projectcostadd'">-->
              <b-button v-if="$can('projects-usercost-add')" variant="primary" size="md" class="btn float-right"
                        @click="showingModal= true"


              >
                <b><i class="icon-plus icons font-1xl"></i> {{ get_text('add_user_cost@user_cost@l') }}</b>
              </b-button>
              <!--              </b-link>-->
            </div>
            <!--                        <div v-if="!$auth.ready() || !this.$store.state.loading">-->
            <!--                            <div style="text-align:center; padding-top:50px;">-->
            <!--                                {{ this.get_text('loading@prcType@l') }}-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!---->
            <b-row>
              <b-col md="4" class="my-1">
                <b-form-group horizontal :label="get_text('filter@l')" class="mb-0"
                              :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                  <b-input-group>
                    <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                    <b-input-group-append>
                      <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l')
                        }}
                      </b-btn>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <b-col md="4" class="my-1">
                <b-form-group horizontal :label="get_text('role@user_cost@l')" class="mb-0" label-cols="5"
                              :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                  <b-input-group>
                    <b-form-select v-model="sortByrole" :options="userrolesoptions"
                                   @change="loadprojectcostsearch(sortByrole)">
                      <option slot="first" :value="null">{{ get_text('please_select@l') }}
                      </option>
                    </b-form-select>

                  </b-input-group>
                </b-form-group>
              </b-col>

              <b-col md="4" class="my-1">
                <b-form-group horizontal :label="get_text('salary_scheme@user_cost@l')" class="mb-0" label-cols="5"
                              :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                  <b-input-group>
                    <b-form-select @change="loadprojectcostsearch(sortBysalaryscheme)" v-model="sortBysalaryscheme"
                                   :options="[
                                   {
                                   text: get_text('general@user_cost@l'),
                    value: 1
                    },
                    {
                    text: get_text('financial@user_cost@l'),
                    value: 2
                    }
                    ]">
                      <option slot="first" :value="null">{{ get_text('please_select@l') }}
                      </option>
                    </b-form-select>

                  </b-input-group>
                </b-form-group>

              </b-col>
            </b-row>

            <!--                      <div v-if="$auth.ready() && this.$store.state.loading">-->
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                     :fixed="fixed" responsive :items="projectcostlist" :fields="fields"
                     :current-page="currentPage" :per-page="perPage" :filter="filter"
                     :sort-by.sync="sortBy"
                     :sort-desc.sync="sortDesc"
                     :sort-direction="sortDirection"
                     @filtered="onFiltered">

              <template slot="Actions" slot-scope="data">
                <b-row class="text-center">
                  <!--                  <b-link :href="'/projectcostadd/'+data.item.role_id" style="height:28px"-->
                  <!--                          class="customClass">-->

                  <b-col v-if="$can('projects-usercost-edit')" cols="2" sm="4" md="2" xl="1" clade ss="mb-xl-0"
                  >
                    <b-button variant="warning" size="sm" @click="editcost(data.item.role_id)">


                      <b><i
                        class="icon-pencil icons font-1xl"></i>
                      </b></b-button>
                  </b-col>
                  <!--                  </b-link>-->

                  <b-link style="height:28px" v-if="$can('projects-usercost-delete')"
                          class="customClass">
                    <b-col cols="2" sm="4" md="2" xl="1" clade ss="mb-xl-0">
                      <b-button variant="danger" size="sm"
                                @click="showingdeleteModal = true;  selectcost(data.item.role_id)"><b><i
                        class="icon-trash icons font-1xl"></i></b></b-button>
                    </b-col>

                  </b-link>
                </b-row>
              </template>


            </b-table>
            <nav>
              <b-pagination size="sm" :total-rows="getRowCount" :per-page="perPage"
                            v-model="currentPage" :prev-text="this.get_text('prev@l')"
                            :next-text="this.get_text('next@l')"
                            hide-goto-end-buttons/>
            </nav>
            <!--                        </div>-->
          </b-card>
        </transition>

      </b-col>

      <b-modal :title="get_text('add@user_cost@l')" size="lg" class="modal-primary" v-model="showingModal"
               @close="setPriorityData" hide-footer>
        <b-form @submit.prevent="createprojectcost">

          <div class="form-group row">
            <!--                                  <div class="col-md-6">-->
            <!--                                    <label horizontal -->
            <!--                                           :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{get_text('sector@projectcost_add@l')}}</label>-->
            <!--                                      <b-input-group>-->
            <div class="col-md-6">
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('user_role@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <b-form-select
                :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                v-model="userrole"
                name="userrole" id="userrole"
                v-validate="'required'"
                :class="{ 'is-invalid': submitted && errors.has('userrole') }"

                :options="this.userrolesoptions">
                <option slot="first" :value="null">{{
                  get_text('please_select@projectcost_add@l') }}
                </option>
              </b-form-select>


            </div>
            <div class="col-md-6">
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('salary_scheme@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <b-form-select
                :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                v-model="salaryscheme"
                name="salaryscheme" id="salaryscheme"
                v-validate="'required'"
                :class="{ 'is-invalid': submitted && errors.has('salaryscheme') }"

                :options="[
                                            {
                                              text: get_text('general@user_cost@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('financial@user_cost@l'),
                                              value: 2
                                            }
                                            ]">
                <option slot="first" :value="null">{{
                  get_text('please_select@projectcost_add@l') }}
                </option>
              </b-form-select>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <!--                                    <b-form-group horizontal :label="get_text('status_operational@projectcost_add@l')"-->
              <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
              <!--                                      <b-input-group>-->
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('average_salary@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <input :maxlength="255" class="form-control" type="text" v-model="average_salary" v-validate="'required'"
                     name="average_salary" id="average_salary" @change="currencyformattingsalary"
                     :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                     :class="{ 'is-invalid': submitted && errors.has('average_salary') }">
              <p style="color:red" if="numericerrorsalary">{{ numericerrorsalary }}</p>


            </div>
            <div class="col-md-6">
              <!--                                    <b-form-group horizontal :label="get_text('approval_state@projectcost_add@l')" class="mb-0"-->
              <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
              <!--                                      <b-input-group>-->
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('bonus_cost@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <input :maxlength="255" class="form-control" type="text" v-model="bonus_cost" v-validate="'required'"
                     name="bonus_cost" id="bonus_cost" @change="currencyformattingbonus"
                     :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                     :class="{ 'is-invalid': submitted && errors.has('bonus_cost') }">
              <p style="color:red" if="numericerrorbonus">{{ numericerrorbonus }}</p>


            </div>
          </div>


          <b-button class="float-right" variant="primary" size="lg" type="submit">{{
            get_text('save@projectcost_add@l')}}
          </b-button>

        </b-form>
      </b-modal>
      <b-modal :title="get_text('edit@user_cost@l')" size="lg" ref="vueModel" class="modal-primary"
               v-model="showingeditModal"
               hide-footer>
        <b-form @submit.prevent="createprojectcost">

          <div class="form-group row">
            <!--                                  <div class="col-md-6">-->
            <!--                                    <label horizontal -->
            <!--                                           :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{get_text('sector@projectcost_add@l')}}</label>-->
            <!--                                      <b-input-group>-->
            <div class="col-md-6">
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('user_role@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <b-form-select
                :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                v-model="userrole"
                name="userrole" id="userrole"
                v-validate="'required'"
                :class="{ 'is-invalid': submitted && errors.has('userrole') }"

                :options="this.userrolesoptions">
                <option slot="first" :value="null">{{
                  get_text('please_select@projectcost_add@l') }}
                </option>
              </b-form-select>


            </div>
            <div class="col-md-6">
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('salary_scheme@projectcost_add@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <b-form-select
                :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"
                v-model="salaryscheme"
                name="salaryscheme" id="salaryscheme"
                v-validate="'required'"
                :class="{ 'is-invalid': submitted && errors.has('salaryscheme') }"

                :options="[
                                            {
                                              text: get_text('general@user_cost@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('financial@user_cost@l'),
                                              value: 2
                                            }
                                            ]">
                <option slot="first" :value="null">{{
                  get_text('please_select@user_cost@l') }}
                </option>
              </b-form-select>

            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <!--                                    <b-form-group horizontal :label="get_text('status_operational@projectcost_add@l')"-->
              <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
              <!--                                      <b-input-group>-->
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('average_salary@user_cost@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <input :maxlength="255" class="form-control" type="text" v-model="average_salary" v-validate="'required'"
                     name="average_salary" @change="currencyformattingsalary"
                     :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                     :class="{ 'is-invalid': submitted && errors.has('average_salary') }">
              <p style="color:red" if="numericerrorsalary">{{ numericerrorsalary }}</p>


            </div>
            <div class="col-md-6">
              <!--                                    <b-form-group horizontal :label="get_text('approval_state@projectcost_add@l')" class="mb-0"-->
              <!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
              <!--                                      <b-input-group>-->
              <label class="mb-0 labelstyle3" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{
                get_text('bonus_cost@user_cost@l')}}
                <i class="fa fa-asterisk danger fa-xs"
                   style="font-size:10px;color:red;"></i>
              </label>
              <input :maxlength="255" class="form-control" type="text" v-model="bonus_cost" v-validate="'required'"
                     name="bonus_cost" @change="currencyformattingbonus"
                     :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                     :class="{ 'is-invalid': submitted && errors.has('bonus_cost') }">
              <p style="color:red" if="numericerrorbonus">{{ numericerrorbonus }}</p>


            </div>
          </div>


          <b-button class="float-right" variant="primary" size="lg" type="submit">{{ get_text('save@user_cost@l')}}
          </b-button>

        </b-form>
      </b-modal>
      <b-modal :title="get_text('delete@user_cost@l')" size="lg" class="modal-danger" v-model="showingdeleteModal"
               hide-footer>
        <div class="modalcontent">
          <h3 align="center">{{ get_text('are_you_sure_to_delete@prcType@l') }} ?</h3>
          <b-col md="12" align="center">

            <button class="btn btn-outline-danger left"
                    @click="showingdeleteModal = false; removeCost(costData)">{{ get_text('yes@prcType@l') }}
            </button>&nbsp;
            <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
              get_text('no@prcType@l') }}
            </button>
          </b-col>
        </div>
      </b-modal>

    </b-row>
    </div>
    <div v-else-if="!$can('projects-usercost-view')">
      <b-row>
        <b-col sm="12">
          <b-card>
            <Unauthorized></Unauthorized>
          </b-card>
        </b-col>
      </b-row>

    </div>
  </div>
</template>

<script>
  import {store} from '@/components/projects/store/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Treeselect from "@riophae/vue-treeselect";

  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(Element);
  Vue.use(Loading);
  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      // this.$store.dispatch('loadNotificationDefaultData')
      this.$store.dispatch('loadprojectcostlist');
      this.loaduserroles();

      //if (this.$auth.user().roles.includes('Admin')) {
      if (this.$auth.user().currentRole == 'Admin') {
        this.isAdmin = true;
      } else if (this.$auth.user().roles.includes('Strategy Executive')) {
        this.isAdmin = false;
      } else {
        this.isAdmin = false;
      }

      if (localStorage.getItem('session_plistsector') || localStorage.getItem('session_plistorg') || localStorage.getItem('session_plistcat') || localStorage.getItem('session_plistop') || localStorage.getItem('session_plistapprove') || localStorage.getItem('session_plistupdate')) {
        this.sortByTenant = JSON.parse(localStorage.getItem('session_plistsector'));
        this.sortBySubTenant = JSON.parse(localStorage.getItem('session_plistorg'));
        this.sortByprojectCat = JSON.parse(localStorage.getItem('session_plistcat'));
        this.sortByprojectop = JSON.parse(localStorage.getItem('session_plistop'));
        this.sortByprojectapprove = JSON.parse(localStorage.getItem('session_plistapprove'));
        this.sortByprojectneedupdate = JSON.parse(localStorage.getItem('session_plistupdate'));
        this.loadprojectsearch()
      } else {
        if (localStorage.getItem('isSession') == 'true') {
          localStorage.removeItem('isSession');
          if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
            this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
            this.loadKpiDataSector(localStorage.getItem('session_sector'));
          }
          if (localStorage.getItem('session_unit') && localStorage.getItem('session_unit')) {
            this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
            this.sortBySubTenant = JSON.parse(localStorage.getItem('session_unit'));
            this.$store.dispatch('loadSubTenants', this.sortByTenant);
            this.loadKpiDataOrgUnit(localStorage.getItem('session_unit'));
          }
        } else {
          if (!this.isAdmin) {
            //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
            this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
          }
          //if ((!this.$auth.user().roles.includes('Admin')) && this.sortByTenant != '') {
          if ((this.$auth.user().currentRole != 'Admin') && this.sortByTenant != '') {
            this.loadKpiDataSector(this.sortByTenant)
          } else {
            this.$store.dispatch('loadprojectlist');
          }
        }
        // this.$store.dispatch('loadprojectlist');a
      }

      this.loadTenants();

      //this.$store.dispatch('translation');


      // this.$store.dispatch('loadGroups')
    },

    data: () => {
      return {
        isAdmin: false,
        selected: null,
        fields: [
          /*{key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'TypeCode', label: 'PRC Type', sortable: true, sortDirection: 'desc'},
          {key: 'Type', label: 'PRC Type Name'},
          {key: 'Actions'},*/
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ],
        button: '',
        currentPage: 1,
        perPage: 15,
        totalRows: 0,
        CostDataid: null,
        priorityInfo: null,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [10, 20, 50, 100],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        translation: [],
        sortByrole: null,
        sortBysalaryscheme: null,

        numericerrorsalary: '',
        numericerrorbonus: '',


        sortByTenant: null,
        salaryscheme: null,

        dateerror: "The End date is less than start date",
        average_salary: '',
        bonus_cost: '',
        costid: '',
        userrole: null,
        valueConsistsOf: "ALL",
        options: '',
        userrolesoptions: '',
        tenantoptions: '',
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        // normalizer(node) {
        //   return {
        //     id: node.id,
        //     label: node.name,
        //     children: node.tree,
        //   }
        // },
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    mounted() {

    },
    computed: {
      projectcostlist() {

        this.fields = [
          {key: '', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('job_function@role_cost@c'), sortable: true, sortDirection: 'desc'},
          {
            key: 'salary_scheme',
            label: this.get_text('salary_scheme@role_cost@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'salary_average',
            label: this.get_text('salary_average@role_cost@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'bonus_cost',
            label: this.get_text('bonus_cost@role_cost@c'),
            sortable: true,
            sortDirection: 'desc'
          },

          {key: 'Actions', label: this.get_text('actions@l'), thClass: 'text-center'},
          // {key: 'Actions',label: this.get_text('actions@l')},
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ];
        if (this.sortByKpiCat != null && this.$store.getters.projectcostlist.length > 0) {
          var filterData = [];
          filterData = this.$store.getters.priorities.filter(data => {
            return data.kpi_cat != null ? data.kpi_cat.toString().includes(this.sortByKpiCat) : ''
          })
          this.totalRows = filterData.length;
          return filterData;
        } else {
          var filterData = this.$store.getters.projectcostlist;
          this.totalRows = filterData.length;
          //alert(this.totalRows)
          return filterData;
        }
        return this.$store.getters.projectcostlist;
      },
      getRowCount() {
        return this.$store.getters.getRowCount
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    watch: {},
    components: {
      Unauthorized,
      'loading': Loading,
      Treeselect
    },
    methods: {

      currencyformattingsalary(value) {
        if (isNaN(this.average_salary)) {
          this.numericerrorsalary = "Invalid Number"
          return {valid: false, error: "Invalid Number"};
        } else {
          this.average_salary = this.average_salary.replace(/,/g, '');
          this.average_salary = parseFloat(this.average_salary.replace('KWD', '')).toFixed(3);
          this.average_salary = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD'
          }).format(this.average_salary);
          this.numericerrorsalary = ""
        }
      },
      currencyformattingbonus(value) {
        if (isNaN(this.bonus_cost)) {
          this.numericerrorbonus = "Invalid Number"
          return {valid: false, error: "Invalid Number"};
        } else {
          this.bonus_cost = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD'
          }).format(this.bonus_cost);
          this.numericerrorbonus = ""
        }
      },
      loaduserroles() {
        Vue.axios.get('/getuserroles')
          .then(response => {
            if (response.data.code == 200) {
              this.userrolesoptions = response.data.user_roles.map(function (item) {

                return {
                  text: item.name,
                  value: item.id
                }
                // this.sortbytype.push(item.id);

              });
            }
          });


      },


      createprojectcost() {

        this.submitted = true;


        this.$validator.validate().then(valid => {
          if (valid) {
            this.showingModal = false;
            this.showingeditModal = false
            this.average_salarynum = this.average_salary.replace(/,/g, '');
            this.average_salarynum = parseFloat(this.average_salarynum.replace('KWD', '')).toFixed(3);
            this.bonus_costnum = this.bonus_cost.replace(/,/g, '');
            this.bonus_costnum = parseFloat(this.bonus_costnum.replace('KWD', '')).toFixed(3);
            this.$store.dispatch('createProjectcost', {
              data: {
                created_by: this.$auth.user().id,
                id: this.costid,
                userrole: this.userrole,
                salaryscheme: this.salaryscheme,
                average_salary: this.average_salarynum,
                bonus_cost: this.bonus_costnum,

              }
            })
            this.userrole = null;
            this.salaryscheme = null;
            this.average_salary = null;
            this.bonus_cost = null;
            this.$validator.reset();
          }
          this.$store.dispatch('loadprojectcostlist');

        });
      },

      editcost(costid) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/projectcostbyId/${costid}`)
          .then(response => {
            this.$store.state.isLoading = false;
            this.showingeditModal = true
            if (response.data.code == 200) {

              this.costid = costid;
              this.userrole = response.data.projectcostlist[0]['roleid'];
              this.salaryscheme = response.data.projectcostlist[0]['salary_scheme'];
              this.average_salary = response.data.projectcostlist[0]['salary_average'];
              this.bonus_cost = response.data.projectcostlist[0]['bonus_cost'];


            }

            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      updatecost() {
        this.updated = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.showingeditModal = false
            this.$store.dispatch('updatePriority', {
              where: this.priorityData.IdPRCType,
              data: {
                TypeCode: this.priorityData.TypeCode,
                Type: this.priorityData.Type,
              }
            })
            this.priorityData = {
              TypeCode: null,
              Type: null,
            }
            this.$validator.reset();
          }
        });
      },

      removeCost(costData) {
        // alert()
        this.$store.dispatch('removeCost', this.CostDataid)
      },
      selectcost(costItem) {
        // console.log(StrategyListItem);

        this.CostDataid = costItem;
      },


      loadKpiDataOrgUnit(orgUnit) {
        localStorage.setItem('session_unit', orgUnit);
        this.$store.dispatch('loadKpiDataOrgUnit', orgUnit);
      },
      change_format(dateval) {
        if (!dateval) {
          return (dateval)
        } else {
          let current_datetime = new Date(dateval)
          let formatted_date = ('0' + current_datetime.getDate()).slice(-2) + '/' + ('0' + (current_datetime.getMonth() + 1)).slice(-2) + '/' + current_datetime.getFullYear();
          return (formatted_date)
        }
      },
      loadprojectcostsearch(val) {

        var my_search = {
          sortByrole: this.sortByrole,
          sortBysalaryscheme: this.sortBysalaryscheme,


        };
        this.$store.dispatch('loadprojectcostsearch', [my_search]);
      },
      loadTenants() {
        Vue.axios({
          url: 'loadTenantsministry',
          method: 'GET'
        })
          .then(response => {
            if (response.data.code == 200) {
              this.tenantoptions = response.data.tenants.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }
              });

            }
          });
      },
      removeEmptyNode(nodes) {
        if (!nodes || nodes.length === 0)
          return;

        nodes.forEach(function (node) {

          if (node.tree.length === 0) {
            // alert(node)
            delete node.tree;
          } else {
            // alert(node.tree)
            //this.removeEmptyNode(node.tree);
            node.tree.forEach(function (node) {

              if (node.tree.length === 0) {
                // alert(node)
                delete node.tree;
              } else {
                // alert(node.tree)
                //this.removeEmptyNode(node.tree);
                node.tree.forEach(function (node) {

                  if (node.tree.length === 0) {
                    // alert(node)
                    delete node.tree;
                  } else {
                    // alert(node.tree)
                    this.removeEmptyNode(node.tree);
                  }
                });

              }
            });
          }

        });
      },
      loadKpiDataSector(sector) {
        //this.loadprojectsearch(this.sortByTenant);
        /*this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
        if(!this.$auth.user().roles.includes('Admin') && this.sortBySubTenant != '') {
          this.loadKpiDataSector(this.sortByTenant)
        }
        */
        this.options = '';
        if (!this.isAdmin && this.sortBySubTenant == null) {
          Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id + '/true')

            .then(response => {
              if (response.data.code == 200) {
                this.loadTenants()
                this.options = response.data.tree;

                this.removeEmptyNode(this.options);

              }
            });
          this.sortBySubTenant = this.$auth.user().subtenant_id;

          // this.$store.dispatch('loadKpiDataOrgUnit', this.sortBySubTenant);
        } else {
          Vue.axios.get('/subtenanttree/' + this.sortByTenant + '/true')

            .then(response => {
              if (response.data.code == 200) {
                this.options = response.data.subTenants;

                this.removeEmptyNode(this.options);

              }
            });
          this.$store.dispatch('loadKpiDataSector', sector);
        }
        localStorage.setItem('session_sector', sector);
        //this.$store.dispatch('loadSubTenants', sector);

      },


      getBadge1(status) {
        return status == 1 ? 'success' : status == 0 ? 'danger' : 'primary'
      },
      getNameStatus(status) {
        // alert(status)
        return (
          (status == 0) ? "pending" :
            ((status == 1) ? "approved" :
              ((status == 2) ? "rejected" :
                ((status == 3) ? "rejected" : "pending_for_approval")))
        );
      },
      getNameopStatus(status) {
        // alert(status)
        return (
          (status == 0) ? "planning" :
            ((status == 1) ? "progressing" :
              ((status == 2) ? "on_hold" : "closed"))

        );
      },

      setPriorityData() {
        this.priorityData = {
          TypeCode: '',
          Type: ''
        }
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },

      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }
</script>
<style>
  .centreCls {
    text-align: center !important;
  }

  .mb-xl-0.col-sm-4.col-md-2.col-xl-1.col-2 {
    margin: 0;
    padding-left: 0px;
    padding-right: 6px;
  }

  .customClass button.btn.btn-secondary.btn-sm {
    background-color: transparent;
  }

  .btnClassCustmAr {
    padding-left: 0px !important;
  }

  .btnClassCustmEn {
    padding-right: 0px !important;
  }

  .trtdrow {
    background: #43a9cc;
    color: #ffffff;
    font-weight: bold;
  }

  .symbolCls {
    white-space: nowrap;
  }

  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    /*text-align: center!important;*/

  }

  .card-body >>> table > thead > tr > th {
    text-align: center !important;
  }

  .b-dropdown {
    margin-top: 0 !important;
  }

  .text-center {
    width: 125px !important;
  }

  .setwidth {
    width: 110px !important;
  }

  .pointerClass {
    pointer-events: none;
    cursor: none;
  }

  @media print {
    .table {
      width: 100%;
      margin-bottom: 1rem;
      color: #23282c;

    }

    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #c8ced3;
    }

    table th, .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #c8ced3;
      text-align: center;
      vertical-align: middle;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

  }

</style>

