<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="!$auth.ready() || !this.$store.state.loading && $can('projects-updation')">
      <div style="text-align:center; padding-top:50px;">
        {{ this.get_text('loading@prcType@l') }}
      </div>
    </div>
    <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">

                  <b-link :href="routelink" v-if="$can('projects-view')">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="glyphicon-list glyphicon font-1xl"></i> {{ get_text('title@project_list@l') }}</b>
                    </b-button>
                  </b-link>
                  <!--<span :class="$i18n.locale=='en' ? 'floatright' : 'floatleft'"
                        style="font-weight: bold;padding-left: 10px;padding-right: 10px;padding-top:10px;">  {{
                      get_text('next_updating_date@project_change_updation@l')
                    }} : {{ this.nextupdateddate }}</span>-->

                </div>
                <div class="card-body">
                  <div v-if="$auth.ready() && this.$store.state.loading && $can('projects-updation')">
                    <b-row id="printThis">

                      <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                               :fixed="fixed" responsive :items="readingslist" :fields="fields"
                               :current-page="currentPage" :per-page="perPage" :filter="filter"
                               :sort-by.sync="sortBy"
                               :sort-desc.sync="sortDesc"
                               :sort-direction="sortDirection"
                               @filtered="onFiltered">
                        <template v-if="!data.item.spending_val" slot="spending_val" slot-scope="data">

                          {{ data.item.spending_val }}
                        </template>
                        <template v-if="data.item.spending_val" slot="spending_val" slot-scope="data">

                          {{
                          new Intl.NumberFormat('en-US', {
                          style: 'currency',
                          currency: 'KWD',
                          }).format(data.item.spending_val)
                          }}
                        </template>
                        <template style="color:red;text-align: center!important;" slot="progress_inconsistent"
                                  slot-scope="data">

                          <i v-if="data.item.progress_inconsistent==1" style="color:red;text-align: center!important;"
                             class="fa fa-check-circle fa-lg"></i>


                        </template>

                      </b-table>

                    </b-row>

                  </div>
                  <div v-else-if="!$can('projects-updation')">
                    <unauthorized></unauthorized>
                  </div>
                </div>

              </div>
            </div>

          </div>


        </transition>

      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {store} from '@/components/projects/store/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';

  import Treeselect from '@riophae/vue-treeselect'
  // import the stylesok

  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import lang from 'element-ui/lib/locale/lang/en'
  import locale from 'element-ui/lib/locale'
  import Unauthorized from "@/views/pages/Unauthorized";

  Vue.use(Element);
  Vue.use(Loading);
  Vue.use(RichTextEditorPlugin);
  locale.use(lang)

  export default {
    store: store,
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },
    created() {
      //this.loadTenants();
      //this.loadprojecttypes();
      //this.loadprojectlistgetbyid(this.$route.params.id);
      //this.projectaluesupdatelast(this.$route.params.id);
      //this.loadrisklistbyid(this.$route.params.id);


      //this.isAdmin = ((this.$auth.user().roles.includes('Admin')) ? true : false);
      this.$store.dispatch('translation');
    },
    data: () => {
      return {
        routelink: '',
        options: '',
        projecttypeoptions: '',
        tenantoptions: '',

        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },


        selected: null,
        fields: [
          /*{key: 'idTaskPriorityType', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'Type', label: 'Type Name'},
          {key: 'TypeCodeMin', label: 'Min', sortable: true, sortDirection: 'desc'},
          {key: 'TypeCodeMax', label: 'Max', sortable: true, sortDirection: 'desc'},
          {key: 'Actions'},*/
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ],
        button: '',
        currentPage: 1,

        totalRows: 0,
        priorityData: {
          TypeCode: null,
          PRCType: null,
          TypeCodeMin: null,
          TypeCodeMax: null,
        },
        priorityInfo: null,
        showingModal: false,

        submitted: false,
        updated: false,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        translation: [],
        budget_change: null,
        last_reported_progress: "0.00%",
        last_reported_progressnopercent: 0,
        curent_progress: null,
        progress_change: null,
        projected_end_date: null,
        duration_change: null,
        planned_budget: null,
        projected_budget: null,
        add_new_spending: null,
        add_new_spendingoldval: null,
        actual_spendingoldval: null,
        spending_details: null,
        spending_ref: null,
        actual_spending: null,
        nextupdateddate: null,
        spending: null,
        remain_budget: null,
        change_justification: null,
        project_reported_risk: null,
        riskcount: null,
        risk_open_issuess: null,
        risk_closed_issues: null,
        very_lowcount: 0,
        lowcount: null,
        midcount: null,
        highcount: null,
        veryhighcount: null,
        valuesid: null,
        periodno: null,
        projectedbudgetenable: 0,
        projectedenddtenable: 0,
        isDisabled: true,
        isDisableddate: true,
        hidecostsection: false,
        inconsistentprogress: 0,
        numericerroradd_new_spending: null,
        projectedbudgeterror: null,
        curent_progressnumericerror: null
      }
    },
    mounted() {
      this.routelink = '/projectlist';
      this.$store.dispatch('loadremarkreadingslist', this.$route.params.id);
      //this.getnextupdateddate(this.$route.params.id);

    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {

      readingslist() {
        this.fields = [
          {
            key: '',
            label: '#',
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'period_no',
            label: this.get_text('period_no@project_change_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'period_dt',
            label: this.get_text('period_dt@project_change_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'progress_val',
            label: this.get_text('progress_val@project_change_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'justification',
            label: this.get_text('remark@project_change_updation@c'),
            sortable: true,
            sortDirection: 'desc',
            tdClass: 'centreCls'
          },
          {
            key: 'createUpdate',
            label: this.get_text('createupdateby@project_change_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
        ];
        return this.$store.getters.remarkreadingslist;
      },
    },
    components: {
      'loading': Loading,
      Unauthorized,

      Treeselect
    },
    methods: {
      // validateprogress(){
      //   this.curent_progressnew=parseFloat(this.curent_progress.replace('%', ''));
      //
      //   if(this.curent_progressnew>100 ){
      //     this.currentprogresserror="Should be less than 100"
      //     return { valid: false, error: "Should be less than 100" };
      //   }
      // },

      printprojectreadings(elem) {

        var mywindow = window.open('', 'PRINT', 'height=auto,width=auto');
        // if(this.$i18n.locale=='ar')
        mywindow.document.write('<h5>' + this.get_text('project_name@project_change_updation@l') + ':' + this.project_name + '</h5>');
        mywindow.document.write('<h5>' + this.get_text('start_date@project_change_updation@l') + ':' + this.project_start_date + '</h5>');
        mywindow.document.write('<h5>' + this.get_text('end_date@project_change_updation@l') + ':' + this.project_end_date + '</h5>');
        mywindow.document.write('<h5>' + this.get_text('budget@project_change_updation@l') + ':' + this.planned_budget + '</h5>');
        mywindow.document.write('<h5>' + this.get_text('duration@project_list@c') + ':' + this.duration + '</h5>');
        if (this.$i18n.locale == 'ar') {
          mywindow.document.write('<html dir="rtl">');
        }
        if (this.$i18n.locale == 'en') {
          mywindow.document.write('<html dir="ltr">');
        }
        //mywindow.document.write('<head><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" /><style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
        mywindow.document.write('<head>' + '<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font/font-awesome.min.css" media="print"  rel="stylesheet" />' +
          '<style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
          '        width: 100%;\n' +
          '        margin-bottom: 1rem;\n' +
          '        color:#23282c;\n' +
          '        \n' +
          '      }\n' +
          '      .table thead th {\n' +
          '        vertical-align: bottom;\n' +
          '        border-bottom: 2px solid\n' +
          '        #c8ced3;\n' +
          '      }\n' +
          '      table th, .table td {\n' +
          '        padding: 0.75rem;\n' +
          '        vertical-align: top;\n' +
          '        border-top: 1px solid\n' +
          '        #c8ced3;\n' +
          '      }\n' +
          '' +
          'element {\n' +
          '    color: red;\n' +
          '    text-align: center !important;\n' +
          '}\n' +
          '.fa, .fas {\n' +
          '    font-family: \'Font Awesome 5 Free\';\n' +
          '    font-weight: 900;\n' +
          '}\n' +
          '.fa-lg {\n' +
          '    font-size: 1.33333em;\n' +
          '    line-height: 0.75em;\n' +
          '    vertical-align: -.0667em;\n' +
          '}\n' +
          '.fa, .fas, .far, .fal, .fad, .fab {\n' +
          '    -moz-osx-font-smoothing: grayscale;\n' +
          '    -webkit-font-smoothing: antialiased;\n' +
          '    display: inline-block;\n' +
          '    font-style: normal;\n' +
          '    font-variant: normal;\n' +
          '    text-rendering: auto;\n' +
          '    line-height: 1;\n' +
          '}\n' +
          '.fa-lg {\n' +
          '    font-size: 1.33333em;\n' +
          '    line-height: 0.75em;\n' +
          '    vertical-align: -15%;\n' +
          '}\n' +
          '.fa {\n' +
          '    display: inline-block;\n' +
          '    font: normal normal normal 14px/1 FontAwesome;\n' +
          '        font-style: normal;\n' +
          '        font-variant-caps: normal;\n' +
          '        font-weight: normal;\n' +
          '        font-size: 14px;\n' +
          '        line-height: 1;\n' +
          '        font-family: FontAwesome;\n' +
          '        font-variant-alternates: normal;\n' +
          '        font-variant-east-asian: normal;\n' +
          '        font-variant-ligatures: normal;\n' +
          '        font-variant-numeric: normal;\n' +
          '        font-variant-position: normal;\n' +
          '    font-size: inherit;\n' +
          '    text-rendering: auto;\n' +
          '    -webkit-font-smoothing: antialiased;\n' +
          '    -moz-osx-font-smoothing: grayscale;\n' +
          '}' +
          '.centreCls {\n' +
          '    text-align: center !important;\n' +
          '  }</style>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');
        //
        // mywindow.document.close(); // necessary for IE >= 10
        // mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();

      },
      getnextupdateddate(projectid) {
        Vue.axios.get(`/projectnextupdateddate/${this.$route.params.id}`)
          .then(response => {
            if (response.data.code == 200) {
              this.nextupdateddate = response.data.nextdate;
              this.nextupdateddate = this.nextupdateddate.split(' ')[0];

            }
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });

      },
      prbudgetenable() {
        //alert("sadd")
        this.projectedbudgetenable = 1;
      },
      spendingchange() {
        if (this.add_new_spending && !(Number.isInteger(parseFloat(this.add_new_spending)))) {
          this.numericerroradd_new_spending = this.get_text("invalid_number@m");
          this.add_new_spending = null;
          if (this.actual_spendingoldval) {
            this.actual_spending = parseFloat(this.actual_spendingoldval) - parseFloat(this.add_new_spendingoldval);
            if (parseFloat(this.planned_budgetoriginal) * 100 != 0) {
              // this.spending = ((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))) * 100).toFixed(2) + "%";
              this.spending = ((((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))))) * 100).toFixed(2) + "%";
            } else {
              this.spending = 0;
              this.spending = this.spending.toFixed(2) + "%";

            }

            this.remain_budget = parseFloat(this.planned_budgetoriginal.replace(',', '')) - parseFloat(this.actual_spending);

            this.remain_budget = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(this.remain_budget);
            this.actual_spending = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(this.actual_spending);
          }
          return false;

        }

        if (this.add_new_spending) {
          this.numericerroradd_new_spending = null;
          this.add_new_spendingoldval = this.add_new_spending;
          this.actual_spending = this.actual_spending.replace('KWD', '');
          this.actual_spending = this.actual_spending.replace(',', '');
          this.add_new_spending = this.add_new_spending.replace('KWD', '');
          this.add_new_spending = this.add_new_spending.replace(',', '');
          this.actual_spendingoriginal = this.actual_spendingoriginal.replace(',', '');
          this.actual_spending = parseFloat(this.actual_spendingoriginal) + parseFloat(this.add_new_spending);
          this.actual_spendingoldval = parseFloat(this.actual_spendingoriginal) + parseFloat(this.add_new_spending);
          if (parseFloat(this.planned_budgetoriginal) * 100 != 0) {
            // this.spending = ((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))) * 100).toFixed(2) + "%";
            this.spending = ((((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))))) * 100).toFixed(2) + "%";
          } else {
            this.spending = 0;
            this.spending = this.spending.toFixed(2) + "%";

          }

          this.remain_budget = parseFloat(this.planned_budgetoriginal.replace(',', '')) - parseFloat(this.actual_spending);

          this.remain_budget = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.remain_budget);
          this.actual_spending = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.actual_spending);
          this.add_new_spendingvalue = this.add_new_spending;
          this.add_new_spending = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.add_new_spending);
        } else {

          this.actual_spending = parseFloat(this.actual_spendingoldval) - parseFloat(this.add_new_spendingoldval);
          if (parseFloat(this.planned_budgetoriginal) * 100 != 0) {
            // this.spending = ((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))) * 100).toFixed(2) + "%";
            this.spending = ((((parseFloat(this.actual_spending) / parseFloat(this.planned_budgetoriginal.replace(',', ''))))) * 100).toFixed(2) + "%";
          } else {
            this.spending = 0;
            this.spending = this.spending.toFixed(2) + "%";

          }

          this.remain_budget = parseFloat(this.planned_budgetoriginal.replace(',', '')) - parseFloat(this.actual_spending);

          this.remain_budget = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.remain_budget);
          this.actual_spending = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.actual_spending);
        }
      },

      calculatebudgetchange() {
        if (this.projected_budget && !Number.isInteger(parseFloat(this.projected_budget))) {
          this.projectedbudgeterror = this.get_text("invalid_number@m");
          this.projected_budget = null;
          this.budget_change = null;
          return false;
        }
        this.projectedbudgeterror = null;
        this.planned_budget = this.planned_budget.replace('KWD', '');
        this.planned_budget = this.planned_budget.replace(',', '');

        this.budget_change = parseFloat(this.projected_budget) - parseFloat(this.planned_budget);
        this.projected_budgetnew = this.projected_budget;
        this.projected_budget = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.projected_budget);
        this.budget_change = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.budget_change);
        this.planned_budget = 'KWD' + this.planned_budget;
      },
      durationchangecalclulate() {
        const date1 = new Date(this.projected_end_date);
        const date2 = new Date(this.project_end_date);
        const diffTime = Math.abs(date2 - date1);
        const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));
        this.duration_change = diffDays;
      },
      calculateprogress() {
        if (!isNaN(parseFloat(this.curent_progress))) {
          this.curent_progressnumericerror = this.get_text("invalid_number@m");
          this.curent_progress = null;
          this.progress_change = null;
          return false;
        }
        this.currentprogresserror = null;
        this.curent_progressnumericerror = null;
        if (parseFloat(this.curent_progress) < parseFloat(this.last_reported_progressnopercent * 100)) {

          //this.currentprogresserror = "last reported progress should less than new";
          if (confirm(this.get_text("new_reported_progress_less_than_last.do_you_want_to_proceed?@l"))) {
            this.inconsistentprogress = 1;
          } else {
            this.inconsistentprogress = 0;
            this.curent_progress = null;
            return false;
          }

        }

        this.progress_change = this.curent_progress - this.last_reported_progressnopercent;
        this.progress_change = this.curent_progress - parseFloat(this.last_reported_progress.replace('%', ''));
        this.curent_progress = parseFloat(this.curent_progress).toFixed(2) + "%";
        this.progress_change = parseFloat(this.progress_change).toFixed(2) + "%";
        this.curent_progressnew = parseFloat(this.curent_progress.replace('%', ''));

        if (this.curent_progressnew > 100) {
          this.currentprogresserror = this.get_text("should_be_less_than_100@l");
          return {valid: false, error: this.get_text("should_be_less_than_100@l")};
        }

      },
      projectaluesupdatelast(projectid) {
        Vue.axios.get(`/projectaluesupdatelast/${this.$route.params.id}`)
          .then(response => {
            if (response.data.code == 200) {
              this.projectid = response.data.projvalueslist[0]['project_id']
              this.valuesid = response.data.projvalueslist[0]['id'];
              this.periodno = response.data.projvalueslist[0]['period_no'] + 1;
              if (response.data.projvalueslist[0]['progress_val'] == '') {
                this.last_reported_progress = "0.00%";

              } else {

                this.last_reported_progress = parseFloat(response.data.projvalueslist[0]['progress_val'] * 100).toFixed(2) + "%";

                this.last_reported_progressnopercent = response.data.projvalueslist[0]['progress_val'];
              }

            }
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      },
      loadprojectlistgetbyid(projectid) {

        this.$store.state.isLoading = true;
        Vue.axios.get(`/projectlistbyId/${this.$route.params.id}`)
          .then(response => {
            if (response.data.code == 200) {
              this.projectid = response.data.projectlist[0]['id'];
              this.duration = response.data.projectlist[0]['duration'] + ' ' + this.get_text('days@project_list@l');
              this.project_symbol = response.data.projectlist[0]['symbol'];
              this.project_name = response.data.projectlist[0]['name'];
              this.project_start_date = response.data.projectlist[0]['start_dt_base'];
              this.project_end_date = response.data.projectlist[0]['end_dt_base'];
              this.actual_start = response.data.projectlist[0]['start_dt_actual'];
              this.planned_budgetoriginal = response.data.projectlist[0]['budget_base'];
              this.planned_budget = response.data.projectlist[0]['budget_base'];
              if (!this.planned_budget) {

                this.hidecostsection = true;
              }
              if (this.planned_budget) {
                this.hidecostsection = false;
                this.planned_budget = new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                }).format(this.planned_budget.replace(',', ''));
              }
              this.spending_total = response.data.projectlist[0]['spending_total'];
              this.actual_spending = this.spending_total;
              this.actual_spendingoriginal = this.spending_total;
              this.actual_spending = 'KWD' + this.actual_spending;
              //this.actual_spending=this.actual_spending;
              // this.planned_budget=parseFloat(this.planned_budget.replace('KWD', '')).toFixed(3);
              this.planned_budgetcalc = this.planned_budget.replace('KWD', '');
              this.actual_spending = this.actual_spending.replace('KWD', '');
              this.planned_budgetcalc = this.planned_budgetcalc.replace(',', '');

              if (parseFloat(this.planned_budgetcalc) * 100 != 0) {
                this.spending = (((parseFloat(this.actual_spending.replace(',', '')) / parseFloat(this.planned_budgetoriginal.replace(',', '')))));
                this.spending = (parseFloat(this.spending) * 100).toFixed(2) + "%"
              } else {
                this.spending = 0;
                this.spending = this.spending.toFixed(2) + "%";

              }
              // alert(this.planned_budgetoriginal)
              // alert(this.actual_spending)
              this.remain_budget = parseFloat(this.planned_budgetoriginal.replace(',', '')) - parseFloat(this.actual_spending.replace(',', ''));
              this.remain_budget = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD',
              }).format(this.remain_budget);
              this.actual_spending = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD',
              }).format(this.actual_spending.replace(',', ''));

            }

            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Success@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');

              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      loadrisklistbyid(projectid) {

        this.$store.state.isLoading = true;
        Vue.axios.get(`/risklistbyId/${this.$route.params.id}`)
          .then(response => {
            if (response.data.code == 200) {
              this.riskcount = response.data.risklist[0]['risk_count'];

              this.risk_open_issuess = response.data.risklist[0]['open_count'];
              //alert(this.risk_open_issuess);
              this.risk_closed_issues = response.data.risklist[0]['closed_count'];
              this.very_lowcount = response.data.risklist[0]['very_low_count'];
              this.lowcount = response.data.risklist[0]['low_count'];
              this.midcount = response.data.risklist[0]['mid_count'];
              this.highcount = response.data.risklist[0]['high_count'];
              this.veryhighcount = response.data.risklist[0]['very_high_count'];

            }

            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Success@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');

              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },

      currencyformattingactualcost(value) {
        if (isNaN(value)) {
          this.numericerroractual = "Invalid Number"
          return {valid: false, error: "Invalid Number"};
        } else {

          this.actual_cost = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD',
          }).format(this.actual_cost);
          this.numericerroractual = ""
        }
      },
      currencyformattingbudget(value) {
        if (isNaN(value)) {
          this.numericerrorplanned = "Invalid Number"
          return {valid: false, error: "Invalid Number"};
        } else {
          this.planned_budget = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'KWD'
          }).format(this.planned_budget);
          this.numericerrorplanned = ""
        }
      },
      createprojectupdation() {

        this.submitted = true;

        if (parseFloat(this.curent_progress) < parseFloat(this.last_reported_progressnopercent)) {

          return false;

          // return { valid: false, error: "last reported progress should less than new" };
        }

        this.$validator.validate().then(valid => {
          if (valid) {
            this.curent_progressnew = parseFloat(this.curent_progress.replace('%', ''));
            this.last_reported_progressnew = parseFloat(this.last_reported_progress.replace('%', '') / 100);
            // this.projected_budgetnew=this.projected_budget.replace('KWD','');
            // this.projected_budgetnew=this.projected_budgetnew.replace(',','');
            this.spending_total = this.spending_total.replace(',', '');


            this.$store.dispatch('createprojectvalues', {
              data: {
                created_by: this.$auth.user().id,
                id: this.projectid,
                valuesid: this.valuesid,
                periodno: this.periodno,
                curent_progress: this.curent_progressnew,
                progress_change: this.progress_change,
                projected_end_date: this.projected_end_date,
                projected_budget: this.projected_budgetnew,
                duration_change: this.duration_change,
                spending_val: this.add_new_spendingvalue,
                spending_details: this.spending_details,
                spending_total: this.spending_total,
                change_justification: this.change_justification,
                last_reported_progress: this.last_reported_progressnew,
                inconsistentprogress: this.inconsistentprogress

              }
            })

            this.$validator.reset();
          }
        });
      },

      loadprojecttypes() {
        Vue.axios.get('/getprojecttypes')
          .then(response => {
            if (response.data.code == 200) {
              this.projecttypeoptions = response.data.project_types.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }


              });
            }
          });
      },
      loadTenants() {
        Vue.axios({
          url: 'loadTenantsministry',
          method: 'GET'
        })
          .then(response => {
            if (response.data.code == 200) {
              this.tenantoptions = response.data.tenants.map(function (item) {
                return {
                  text: item.name,
                  value: item.id
                }
              });

            }
          });
      },
      removeEmptyNode(nodes) {
        if (!nodes || nodes.length === 0)
          return;

        nodes.forEach(function (node) {

          if (node.tree.length === 0) {
            // alert(node)
            delete node.tree;
          } else {
            // alert(node.tree)
            //this.removeEmptyNode(node.tree);
            node.tree.forEach(function (node) {

              if (node.tree.length === 0) {
                // alert(node)
                delete node.tree;
              } else {
                // alert(node.tree)
                //this.removeEmptyNode(node.tree);
                node.tree.forEach(function (node) {

                  if (node.tree.length === 0) {
                    // alert(node)
                    delete node.tree;
                  } else {
                    // alert(node.tree)
                    this.removeEmptyNode(node.tree);
                  }
                });

              }
            });
          }

        });
      },


      loadKpiDataSector(sector) {

        /*this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
        if(!this.$auth.user().roles.includes('Admin') && this.sortBySubTenant != '') {
          this.loadKpiDataSector(this.sortByTenant)
        }
        */
        this.options = '';
        if (!this.isAdmin && this.sortBySubTenant == null) {
          Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

            .then(response => {
              if (response.data.code == 200) {
                this.loadTenants()
                this.options = response.data.tree;

                this.removeEmptyNode(this.options);

              }
            });

        } else {
          Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

            .then(response => {
              if (response.data.code == 200) {
                this.options = response.data.subTenants;

                this.removeEmptyNode(this.options);

              }
            });
          this.$store.dispatch('loadKpiDataSector', sector);
        }
        localStorage.setItem('session_sector', sector);
        //this.$store.dispatch('loadSubTenants', sector);

      },
      setPriorityRange() {
        this.priorityData = {}
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },


      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }
</script>
<style>

  .el-input.is-disabled .el-input__inner {
    background-color: #e4e7ea !important;
    border-color: #E4E7ED;
    color: #5c6873;
    cursor: not-allowed;
  }

  .labelstyle {
    width: 125px;
    word-wrap: normal;
    /*word-break: break-all;*/
  }

  .rightdate {
    width: 75% !important;
    float: right;
  }

  .leftdate {
    width: 75% !important;
    float: left;
  }


  .leftalign {
    float: left
  }

  .rightalign {
    float: right
  }

  .floatright {
    float: right;
  }

  .floatleft {
    float: left;
  }

  .form-group.has-success.col-sm-12.addBorderClass.field-select {
    /*border-bottom: 1px solid;
    border-top: 1px solid;
    border-style: ridge;
    padding-top: 1%;*/
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline !important;
    padding-bottom: 10px;
  }

  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .leftpadding {
    padding-left: 6%;
  }

  .rightpadding {
    padding-right: 6%;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }

  /*@media print {*/
  /*  .fa, .fas {*/
  /*    font-family: 'Font Awesome 5 Free';*/
  /*    font-weight: 900;*/
  /*  }*/
  /*  .fa-lg {*/
  /*    font-size: 1.33333em;*/
  /*    line-height: 0.75em;*/
  /*    vertical-align: -.0667em;*/
  /*  }*/
  /*  .fa, .fas, .far, .fal, .fad, .fab {*/
  /*    -moz-osx-font-smoothing: grayscale;*/
  /*    -webkit-font-smoothing: antialiased;*/
  /*    display: inline-block;*/
  /*    font-style: normal;*/
  /*    font-variant: normal;*/
  /*    text-rendering: auto;*/
  /*    line-height: 1;*/
  /*  }*/
  /*  .fa-lg {*/
  /*    font-size: 1.33333em;*/
  /*    line-height: 0.75em;*/
  /*    vertical-align: -15%;*/
  /*  }*/
  /*  .fa {*/
  /*    display: inline-block;*/
  /*    font: normal normal normal 14px/1 FontAwesome;*/
  /*    font-style: normal;*/
  /*    font-variant-caps: normal;*/
  /*    font-weight: normal;*/
  /*    font-size: 14px;*/
  /*    line-height: 1;*/
  /*    font-family: FontAwesome;*/
  /*    font-variant-alternates: normal;*/
  /*    font-variant-east-asian: normal;*/
  /*    font-variant-ligatures: normal;*/
  /*    font-variant-numeric: normal;*/
  /*    font-variant-position: normal;*/
  /*    font-size: inherit;*/
  /*    text-rendering: auto;*/
  /*    -webkit-font-smoothing: antialiased;*/
  /*    -moz-osx-font-smoothing: grayscale;*/
  /*  }*/


  /* }*/

</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
