<template>
    <div class="app animated fadeIn">
        <loading :active.sync="this.$store.state.isLoading"
                 :can-cancel="true"
                 :is-full-page="this.$store.state.fullPage"></loading>
        <b-row>
            <b-col cols="12" xl="12" ref="formContainer">
               <transition name="slide">
                     <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-header">{{ get_text('title@projectcost_add@l') }}

                              <b-link :href="routelink">
                                <b-button variant="primary" size="md" class="btn float-right">
                                  <b><i class="glyphicon-list glyphicon font-1xl"></i> {{ get_text('title@project_costadd@l') }}</b>
                                </b-button>
                              </b-link>
                            </div>
                            <div class="card-body">
                              <b-form @submit.prevent="createprojectcost">

                                <div class="form-group row">
<!--                                  <div class="col-md-6">-->
<!--                                    <label horizontal -->
<!--                                           :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{get_text('sector@projectcost_add@l')}}</label>-->
<!--                                      <b-input-group>-->
                                        <div class="col-md-6">
                                          <label class="mb-0 labelstyle" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('user_role@projectcost_add@l')}}
                                            <i class="fa fa-asterisk danger fa-xs"
                                               style="font-size:10px;color:red;"></i>
                                          </label>
                                        <b-form-select :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'" v-model="userrole"
                                                       name="userrole" id="userrole"
                                                       v-validate="'required'"
                                                       :class="{ 'is-invalid': submitted && errors.has('userrole') }"

                                                       :options="this.userrolesoptions">
                                          <option slot="first" :value="null">{{
                                            get_text('please_select@projectcost_add@l') }}
                                          </option>
                                        </b-form-select>



                                  </div>
                                  <div class="col-md-6">
                                    <label class="mb-0 labelstyle" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('salary_scheme@projectcost_add@l')}}
                                      <i class="fa fa-asterisk danger fa-xs"
                                         style="font-size:10px;color:red;"></i>
                                    </label>
                                    <b-form-select :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'" v-model="salaryscheme"
                                                   name="salaryscheme" id="salaryscheme"
                                                   v-validate="'required'"
                                                   :class="{ 'is-invalid': submitted && errors.has('salaryscheme') }"

                                                   :options="[
                                            {
                                              text: get_text('general@project_costadd@l'),
                                              value: 1
                                            },
                                            {
                                              text: get_text('financial@project_costadd@l'),
                                              value: 2
                                            }
                                            ]">
                                      <option slot="first" :value="null">{{
                                        get_text('please_select@projectcost_add@l') }}
                                      </option>
                                    </b-form-select>

                                  </div>
                                </div>
                                <div class="form-group row">
                                  <div class="col-md-6">
<!--                                    <b-form-group horizontal :label="get_text('status_operational@projectcost_add@l')"-->
<!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
<!--                                      <b-input-group>-->
                                    <label class="mb-0 labelstyle" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('average_salary@projectcost_add@l')}}

                                    </label>
                                    <input :maxlength="255" class="form-control" type="text" v-model="average_salary"    v-validate="'required'"
                                           name="average_salary" id="average_salary" @change="currencyformattingsalary"
                                           :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                                           :class="{ 'is-invalid': submitted && errors.has('average_salary') }"  >
                                    <p style="color:red" if="numericerrorsalary">{{ numericerrorsalary }}</p>



                                  </div>
                                  <div class="col-md-6">
<!--                                    <b-form-group horizontal :label="get_text('approval_state@projectcost_add@l')" class="mb-0"-->
<!--                                                  :label-align="$i18n.locale=='en' ? 'left' : 'right'">-->
<!--                                      <b-input-group>-->
                                    <label class="mb-0 labelstyle" horizontal :label-align="$i18n.locale=='en' ? 'left' : 'right'">{{ get_text('bonus_cost@projectcost_add@l')}}

                                    </label>
                                    <input :maxlength="255" class="form-control" type="text" v-model="bonus_cost"    v-validate="'required'"
                                           name="bonus_cost" id="bonus_cost" @change="currencyformattingbonus"
                                           :style="$i18n.locale=='en' ? ' width: 75%!important;float: right;' : 'width: 75%!important;float: left;'"

                                           :class="{ 'is-invalid': submitted && errors.has('bonus_cost') }"  >
                                    <p style="color:red" if="numericerrorbonus">{{ numericerrorbonus }}</p>


                                  </div>
                                </div>





                                <b-button class="float-right" variant="primary" size="lg" type="submit">{{ get_text('save@projectcost_add@l')}}</b-button>

                              </b-form>
                            </div>

                          </div>
                        </div>

                      </div>



                </transition>

            </b-col>
        </b-row>
    </div>
</template>

<script>
  import {store} from '@/components/projects/store/store'
    import Vue from 'vue'
    import 'element-ui/lib/theme-chalk/index.css';
    import Element from 'element-ui'
    //import {Notification} from 'element-ui'
    import Loading from 'vue-loading-overlay';
    import 'vue-loading-overlay/dist/vue-loading.css';

     Vue.use(Loading);


  export default {
      store: store,

        created() {
          //this.isAdmin = ((this.$auth.user().roles.includes('Admin')) ? true : false);
            this.$store.dispatch('translation');
          this.loaduserroles();
          this.loadprojectcostgetbyid(this.$route.params.id);

        },
        data: () => {
            return {

                fields: [

                ],
                button: '',
                currentPage: 1,
                perPage: 5,
                totalRows: 0,
                submitted: false,
                updated: false,
                pageOptions: [5, 10, 15],
                sortBy: null,
                sortDesc: false,
                sortDirection: 'asc',
                filter: null,
                translation:[],
              userrolesoptions: '',
              numericerrorsalary:'',
              numericerrorbonus:'',


              sortByTenant: null,
              salaryscheme:null,

              dateerror:"The End date is less than start date",
              average_salary:'',
              bonus_cost:'',
              costid:''

            }
        },
        mounted() {
this.routelink='/projectcost';

        },
        beforeMount() {
            if (localStorage.getItem('translation')) {
                this.translation = JSON.parse(localStorage.getItem('translation'));
            }
        },
        components: {
            'loading': Loading,


        },
        methods: {

          currencyformattingsalary(value){
            if(isNaN(this.average_salary) ){
              this.numericerrorsalary="Invalid Number"
              return { valid: false, error: "Invalid Number" };
            }
            else {
              this.average_salary=this.average_salary.replace(/,/g, '');
              this.average_salary=parseFloat(this.average_salary.replace('KWD', '')).toFixed(3);
              this.average_salary = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD'
              }).format(this.average_salary);
              this.numericerrorsalary=""
            }
          },
          currencyformattingbonus(value){
            if(isNaN(this.bonus_cost) ){
              this.numericerrorbonus="Invalid Number"
              return { valid: false, error: "Invalid Number" };
            }
            else {
              this.bonus_cost = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD'
              }).format(this.bonus_cost);
              this.numericerrorbonus=""
            }
          },
          loaduserroles(){
            Vue.axios.get('/getuserroles')
              .then(response => {
                if (response.data.code == 200) {
                  this.userrolesoptions = response.data.user_roles.map(function (item) {

                    return {
                      text: item.name,
                      value: item.id
                    }
                    // this.sortbytype.push(item.id);

                  });
                }
              });


          },

          loadprojectcostgetbyid(costid){

            this.$store.state.isLoading = true;
            Vue.axios.get(`/projectcostbyId/${this.$route.params.id}`)
              .then(response => {
                if (response.data.code == 200) {

                  this.costid=this.$route.params.id;
                     this.userrole=response.data.projectcostlist[0]['roleid'];
                     this.salaryscheme=response.data.projectcostlist[0]['salary_scheme'];
                     this.average_salary=response.data.projectcostlist[0]['salary_average'];
                    this.bonus_cost=response.data.projectcostlist[0]['bonus_cost'];


                  }

                this.$store.state.isLoading = false;
              })
              .catch((error) => {
                console.log(error)
              })
          },


          createprojectcost() {

            this.submitted = true;



            this.$validator.validate().then(valid => {
              if (valid) {


                // if(this.actual_cost){
                 this.average_salarynum=this.average_salary.replace(/,/g, '');
                 this.average_salarynum=parseFloat(this.average_salarynum.replace('KWD', '')).toFixed(3);
                 this.bonus_costnum=this.bonus_cost.replace(/,/g, '');
                 this.bonus_costnum=parseFloat(this.bonus_costnum.replace('KWD', '')).toFixed(3);
                // if(this.planned_budget){
                // this.planned_budgetnum=this.planned_budget.replace(/,/g, '');
                // this.planned_budgetnum=parseFloat(this.planned_budgetnum.replace('KWD', '')).toFixed(3); }
                this.$store.dispatch('createProjectcost', {
                  data: {
                    created_by:this.$auth.user().id,
                    id: this.costid,
                    userrole:this.userrole,
                    salaryscheme:this.salaryscheme,
                    average_salary:this.average_salarynum,
                    bonus_cost:this.bonus_costnum,

                  }
                })

                this.$validator.reset();
              }
            });
          },

          loadprojecttypes(){
            Vue.axios.get('/getprojecttypes')
              .then(response => {
                if (response.data.code == 200) {
                  this.projecttypeoptions = response.data.project_types.map(function (item) {
                    return {
                      text: item.name,
                      value: item.id
                    }


                  });
                }
              });
          },


            get_text(textbit) {
                var transtext = this.translation[this.$i18n.locale][textbit];
                if (transtext) {
                    return transtext;
                } else {
                    var spliteText = (textbit.split("@"));
                    if(spliteText.length > 2) {
                        var newTxt = (spliteText[0]+'@'+'l');
                        var transtext1 = this.translation[this.$i18n.locale][newTxt];
                        if (transtext1) {
                            return transtext1;
                        } else {
                            return "!" + textbit;
                        }
                    } else {
                        return "!" + textbit;
                    }
                }

            },
            $can(permissionName) {
                // alert(this.$auth.user().allPermissions);
                return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
            },

            getBadge(status) {
                return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
            },
            getName(status) {
                return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
            },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            }
        },
    }
</script>
<style>
  .labelstyle {
    width: 150px;
    word-wrap: normal;
    word-break: break-all;
  }

  .rightdate{
    width: 75%!important;
    float: right;
  } .leftdate{
    width: 75%!important;
    float: left;
  }


  .leftalign{
    float:left
  }
  .rightalign{
    float:right
  }


    .modal-header .close {
        padding: 0 !important;
        margin: 0 !important;
    }
    .leftpadding{
      padding-left:6%;
    } .rightpadding{
      padding-right:6%;
    }
</style>
<style scoped>
    .card-body >>> table > tbody > tr > td {
        cursor: pointer;
    }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
