<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="$can('projects-dashboard-view')">
    <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide" >
          <b-card>


            <div slot="header" id="headerpart">

              <b class="h4">{{ get_text('title@project_dashboard@l') }}</b>

              <div class="card-header-actions">
                <div class="row">
                  <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                    <!--:href=this.routelink-->
                    <b-link v-if="this.showback ==1" @click="backToList" variant="warning"
                            size="md"
                            class="btn float-right"

                            style="background-color:#ffc107;margin-top: 0.5%;"
                            :class="($i18n.locale=='en' ? 'ltrclassbck' : 'rtlclassbck')">
                      <b><i class="fa fa-arrow-left"></i>{{
                          get_text('back@project_dashboard@l')
                        }}</b></b-link>
                  </div>

                  <b-link id="dropdown-1" class="card-header-action btn-minimize" v-b-toggle.collapse1>
                    <i class="icon-arrow-up"></i>
                  </b-link>
                  <b-link id="myPrntbtn" class="card-header-action btn-close" href="#"
                          v-on:click="printprojecttreemap('projectreport')">
                    <i class="icon-printer"></i>
                  </b-link>

                </div>
              </div>
            </div>
            <b-collapse id="collapse1"  style="display: block;">
              <b-card-body>

                <b-row>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('mtp@project_list@l')" class="mb-0"
                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-form-select :options="this.$store.state.kpi_mtp" v-model="sortByMtp"

                                     @change="this.loadfiscal();getprojectdashboardreport(sortByMtp);">
                        <option slot="first" :value="null">{{
                            get_text('please_select@project_definition@l')
                          }}
                        </option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('fiscal@project_dashboard@l')" class="mb-0"
                                  label-cols="5"
                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-form-select :options="this.fiscaloptions" v-model="sortByStp"
                                     @change="getprojectdashboardreport(sortByStp)">
                        <option slot="first" :value="null">{{
                            get_text('please_select@project_definition@l')
                          }}
                        </option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('org_unit@project_dashboard@l')" class="mb-0"
                                  label-cols="5" :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-input-group>

                        <treeselect :placeholder="get_text('please_select@l')" searchable="searchable"
                                    :normalizer="normalizer"
                                    :options="this.$store.state.sectors" v-model="sortBySubTenant"
                                    @input="getprojectdashboardreport(sortBySubTenant)"/>

                      </b-input-group>
                    </b-form-group>
                  </b-col>


                </b-row>
                <b-row>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('project_category@project_list@l')" class="mb-0"

                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-input-group>

                        <treeselect
                          :multiple="true"
                          :options="[
                                            {
                                              label: get_text('ministry@project_definition@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('development@project_definition@l'),
                                              id: 1
                                            },

                                            ]"
                          :flat="true"

                          :default-expand-level="1"
                          :placeholder="get_text('please_select@project_definition@l')"
                          v-model="sortByprojectcategory"
                          @input="getprojectdashboardreport(sortByprojectcategory)"

                        />

                      </b-input-group>
                    </b-form-group>

                  </b-col>
                  <b-col md="4" class="my-1">

                    <b-form-group horizontal :label="get_text('project_has_budget@project_dashboard@l')" class="mb-0"
                                  label-cols="5"
                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-form-select :options="[

                                            {
                                              text: get_text('please_select@project_dashboard@l'),
                                              value: null
                                            },
                                     {
                                     text: get_text('yes@project_dashboard@l'),
                                       value: 1
                                      },
                      {
                                     text: get_text('no@project_dashboard@l'),
                                       value: 0
                                      }]" v-model=" sortByhasbuget
                      "
                                     @change="getprojectdashboardreport(sortByhasbuget)"/>
                    </b-form-group>

                  </b-col>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('project_type@project_list@l')" class="mb-0"

                                  label-cols="5" :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-input-group>
                        <treeselect
                          :multiple="true"
                          :options="this.projecttypeoptions"
                          :flat="true"
                          :default-expand-level="1"
                          :placeholder="get_text('please_select@project_definition@l')"
                          v-model="sortBytype"
                          @input="getprojectdashboardreport(sortBytype)"
                        />


                      </b-input-group>
                    </b-form-group>
                  </b-col>


                </b-row>
                <b-row>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('operational_status@project_dashboard@l')" class="mb-0"

                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-input-group>

                        <treeselect
                          :multiple="true"
                          :options="[
                                            {
                                              label: get_text('planning@project_definition@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('progressing@project_definition@l'),
                                              id: 1
                                            },
                                            {
                                              label: get_text('onhold@project_definition@l'),
                                              id: 2
                                            },
                                            {
                                              label: get_text('closed@project_definition@l'),
                                              id: 3
                                            }
                                            ]"
                          :flat="true"

                          :default-expand-level="1"
                          :placeholder="get_text('please_select@project_definition@l')"
                          v-model="sortByprojectop"
                          @input="getprojectdashboardreport(sortByprojectop)"
                        />

                      </b-input-group>
                    </b-form-group>

                  </b-col>
                  <b-col md="4" class="my-1">

                    <b-form-group horizontal :label="get_text('project_schedule@project_dashboard@l')" class="mb-0"
                                  label-cols="5"
                                  :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <treeselect
                        :multiple="true"
                        :options="[
                                            {
                                              label: get_text('on_schedule@project_dashboard@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('ahead_schedule@project_dashboard@l'),
                                              id: 1
                                            },
                                            {
                                              label: get_text('behind_schedule@project_dashboard@l'),
                                              id: 2
                                            },

                                            ]"
                        :flat="true"

                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortByprojectschedule"
                        @input="getprojectdashboardreport(sortByprojectschedule)"
                      />
                    </b-form-group>

                  </b-col>
                  <b-col md="4" class="my-1">
                    <b-form-group horizontal :label="get_text('project_budget_status@project_dashboard@l')" class="mb-0"

                                  label-cols="5" :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                      <b-input-group>

                        <treeselect
                          :multiple="true"
                          :options="[
                                            {
                                              label: get_text('on_budget@project_dashboard@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('under_budget@project_dashboard@l'),
                                              id: 1
                                            },
                                            {
                                              label: get_text('over_budget@project_dashboard@l'),
                                              id: 2
                                            },

                                            ]"
                          :flat="true"

                          :default-expand-level="1"
                          :placeholder="get_text('please_select@project_definition@l')"
                          v-model="sortByprojectbudgetstatus"
                          @input="getprojectdashboardreport(sortByprojectbudgetstatus)"
                        />


                      </b-input-group>
                    </b-form-group>
                  </b-col>


                </b-row>

              </b-card-body>
            </b-collapse>
          </b-card>

        </transition>
        <b-row v-if="$i18n.locale=='en' && dataSource">
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span class="text-white">{{ get_text('period@project_dashboard@l') }} </span>&nbsp;&nbsp;
                <i class="fas fa-info"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50, 50, 50, 50, 50, 50]" chartId="box-chart-01"-->
                  <!--                                          height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value">{{
                      (this.fiscalyear == '' ?
                        get_text('all@project_dashboard@l') : this.fiscalyear)
                    }}
                  </div>
                  <!--  -->
                  <div class="text-muted small">{{ get_text('fiscalyear@project_dashboard@l') }}</div>
                </div>
                <div>
                  <div class="text-value">
                    {{ this.totalprojectcount }}
                  </div>
                  <div class="text-muted small">{{ get_text('project_count@project_dashboard@l') }}</div>
                </div>
              </div>
            </div>
          </b-col>
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span
                class="text-white">{{ get_text('performing_nonperforming_projects@project_dashboard@l') }} </span>&nbsp;&nbsp;
                <i class="fas fa-route"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50, 50, 50, 50, 50, 50]" chartId="box-chart-01"-->
                  <!--                                          height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value">{{ this.performingprojectcount }}
                  </div>
                  <!--  -->
                  <div class="text-muted small">{{ get_text('performing_projects@project_dashboard@l') }}</div>
                </div>
                <div>
                  <div class="text-value">
                    {{ this.nonperformingprojectcount }}
                  </div>
                  <div class="text-muted small">{{ get_text('non_performing_projects@project_dashboard@l') }}</div>
                </div>
              </div>
            </div>
          </b-col>
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span
                class="text-white">{{ get_text('best_least_project_performance@project_dashboard@l') }} </span>
                &nbsp;&nbsp;
                <i class="fas fa-star-half-alt"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50,50,50,50,50,50]" chartId="box-chart-02" height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <div class="text-value"> {{ this.projectbestperforming }}%
                    <!--                    <i v-if="this.debug_show_icon_best==1" style="color:red"-->
                    <!--                       class="fas fa-exclamation-triangle fa-1x"></i>-->
                  </div>
                  <div class="text-muted small">{{ get_text('best_performance@project_dashboard@l') }}</div>
                </div>
                <div>
                  <div class="text-value">
                    {{ this.projectleastperforming }}%
                    <!--                    <i v-if="this.debug_show_icon_least==1" style="color:red"-->
                    <!--                       class="fas fa-exclamation-triangle fa-1x"></i>-->

                  </div>
                  <div class="text-muted small">{{ get_text('least_performance@project_dashboard@l') }}</div>
                </div>
              </div>
            </div>
          </b-col>


        </b-row>
        <b-row v-if="$i18n.locale=='ar' && dataSource">
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span class="text-white">{{ get_text('period@project_dashboard@l') }} </span>&nbsp;&nbsp;
                <i class="fas fa-info"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50, 50, 50, 50, 50, 50]" chartId="box-chart-01"-->
                  <!--                                          height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>
                  <!--  -->
                  <div class="text-muted small">{{ get_text('fiscalyear@project_dashboard@l') }}</div>
                  <div class="text-value">{{
                      (this.fiscalyear == '' ?
                        get_text('all@project_dashboard@l') : this.fiscalyear)
                    }}
                  </div>
                </div>
                <div>

                  <div class="text-muted small">{{ get_text('project_count@project_dashboard@l') }}</div>
                  <div class="text-value">
                    {{ this.totalprojectcount }}
                  </div>
                </div>
              </div>
            </div>
          </b-col>
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span
                class="text-white">{{ get_text('performing_nonperforming_projects@project_dashboard@l') }} </span>&nbsp;&nbsp;
                <i class="fas fa-route"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50, 50, 50, 50, 50, 50]" chartId="box-chart-01"-->
                  <!--                                          height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>

                  <!--  -->
                  <div class="text-muted small">{{ get_text('performing_projects@project_dashboard@l') }}</div>
                  <div class="text-value">{{ this.performingprojectcount }}
                  </div>
                </div>
                <div>

                  <div class="text-muted small">{{ get_text('non_performing_projects@project_dashboard@l') }}</div>
                  <div class="text-value">
                    {{ this.nonperformingprojectcount }}
                  </div>
                </div>
              </div>
            </div>
          </b-col>
          <b-col lg="4" sm="4">
            <div class="brand-card">
              <div class="brand-card-header bg-twitter">
                &nbsp;&nbsp; <span
                class="text-white">{{ get_text('best_least_performance@project_dashboard@l') }} </span>
                &nbsp;&nbsp;
                <i class="fas fa-star-half-alt"></i>
                <div class="chart-wrapper">
                  <!--                <social-box-chart-example :data="[50,50,50,50,50,50]" chartId="box-chart-02" height="90"/>-->
                </div>
              </div>
              <div class="brand-card-body">
                <div>

                  <div class="text-muted small">{{ get_text('best_performance@project_dashboard@l') }}</div>
                  <div class="text-value"> {{ this.projectbestperforming }}%
                    <!--                    <i v-if="this.debug_show_icon_best==1" style="color:red"-->
                    <!--                       class="fas fa-exclamation-triangle fa-1x"></i>-->
                  </div>
                </div>
                <div>

                  <div class="text-muted small">{{ get_text('least_performance@project_dashboard@l') }}</div>
                  <div class="text-value">
                    {{ this.projectleastperforming }}%
                    <!--                    <i v-if="this.debug_show_icon_least==1" style="color:red"-->
                    <!--                       class="fas fa-exclamation-triangle fa-1x"></i>-->

                  </div>
                </div>
              </div>
            </div>
          </b-col>


        </b-row>
        <b-card v-if="dataSource">
          <b-row v-if="dataSource" id="projectreport" style="background-color: #ffffff;margin:0;padding-top:10px;">


            <div :class="'col-lg-8 control-section'"
                 style="padding-top: 20px;direction: ltr;">
              <div style="margin-left: 15px;margin-top: -10px;font-size: 0.875rem;color:#000000"
                   class="text-muted font-weight-bold">{{
                  this.get_text('project_performance_treemap@project_dashboard@l')
                }}
              </div>
              <ejs-treemap v-if="$i18n.locale=='en'" :enableRtl='enableRtl1' id="treemap"
                           :renderDirection='renderDirection1'
                           :tooltipSettings='tooltipSettingsval'
                           :dataSource='dataSource' :rangeColorValuePath='rangeColorValuePath'
                           :legendSettings='legendSettings' :weightValuePath='weightValuePath'
                           :leafItemSettings='leafItemSettingsval'></ejs-treemap>
              <ejs-treemap v-if="$i18n.locale=='ar'" :enableRtl='enableRtl' id="treemap"
                           :renderDirection='renderDirection'
                           :tooltipSettings='tooltipSettingsval1'
                           :dataSource='dataSource' :rangeColorValuePath='rangeColorValuePath'
                           :legendSettings='legendSettings' :weightValuePath='weightValuePath'
                           :leafItemSettings='leafItemSettingsval1'></ejs-treemap>


            </div>
            <div :class="'col-lg-4 property-section'">
              <div class="text-muted font-weight-bold"
                   style="padding-bottom:0px;margin-bottom:0px;padding-top: 10px;font-size: 0.875rem;color:#000000">
                {{ this.get_text('project_performance@project_dashboard@l') }}
              </div>
              <div :class="this.type!=1 ? 'wrapperdept' : 'wrapperdept'"
                   style="margin-top: 10px;border: 1px solid #c8ced3;" align="center">
                <!--:tooltip='tooltip'-->
                <ejs-circulargauge :enablePointerDrag='enablePointerDrag' width='80%' height='400px'
                                   align='center' id='tooltip-container' style='display:block' :enableRTL="true">
                  <e-axes>
                    <e-axis :annotations='annotations' :endAngle=90 :labelStyle='labelStyle' :lineStyle='lineStyle'
                            :majorTicks='majorTicks' :minorTicks='minorTicks' :radius='gaugeradius' :ranges='ranges'
                            :startAngle=270 maximum=100 minimum=0>
                      <e-pointers>
                        <e-pointer :animation='animation' :cap='cap' :color='color' :radius='pointerRadius'
                                   :value='this.perfvalavg'></e-pointer>
                      </e-pointers>
                    </e-axis>
                  </e-axes>
                </ejs-circulargauge>
                <div align="center" class="card" style="border:0px; font-weight: bold">
                  {{ this.perfvalavg }}%
                </div>
                <div class="card customCardClass" style="margin-bottom:0px;border: 0px;margin-left: 35px;margin-right:
            35px;"
                     :class="($i18n.locale=='en' ? 'ltrclass' : 'rtlclass')">
                  <div class="card-body p-0 d-flex align-items-center"
                       style="border: 1px solid #c8ced3;border-radius: 0.25rem;">
                    <div style="width:20%;background-color: #cc163e;">&nbsp;
                    </div>
                    <div style="width:20%;background-color: #ffbd35">&nbsp;
                    </div>
                    <div style="width:20%;background-color: #f9ea60">&nbsp;
                    </div>
                    <div style="width:20%;background-color: #4dbb63">&nbsp;
                    </div>
                    <div style="width:20%;background-color: #1c8c44">&nbsp;
                    </div>
                  </div>
                  <div class="card-body p-0 d-flex align-items-center" style="font-size:11px;border:0px">
                    <div align="center" style="width:20%;">{{ this.get_text('very_poor@section_performance@l') }}
                    </div>
                    <div align="center" style="width:20%;">{{ this.get_text('poor@section_performance@l') }}
                    </div>
                    <div align="center" style="width:20%;">{{ this.get_text('fair@section_performance@l') }}
                    </div>
                    <div align="center" style="width:20%;">{{ this.get_text('good@section_performance@l') }}
                    </div>
                    <div align="center" style="width:20%;">{{ this.get_text('excellent@section_performance@l') }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="card" style="margin-top:10px;margin-bottom: 0px;">
                    <div class="card-body p-0 d-flex align-items-center">
                      <i class="fas fa-chart-line bg-danger p-4 font-2xl mr-3" style="background-color: #00aced !important;

                color: #fff;"></i>
                      <div>
                        <div class="text-muted font-weight-bold" style="font-size: 0.875rem;">
                          {{ get_text('project_progress@project_dashboard@l') }}
                        </div>
                        <div class="text-value-sm text-danger">
                          <div class="text-value-sm" style="color:#00aced">
                            {{ this.progressvalavg }}%
                            <!--                            <i-->
                            <!--                            v-if="this.progressvalavg <= 0" style="color:red"-->
                            <!--                            class="fas fa-exclamation-triangle fa-1x"></i>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:10px;margin-bottom: 0px;">
                <div class="col-md-12">
                  <div class="brand-card">
                    <div class="customCard brand-card-header bg-twitter">
                      &nbsp;&nbsp; <span
                      class="text-white">{{ get_text('project_count_by_category@project_dashboard@l') }} </span>
                      &nbsp;&nbsp;
                      <i class="fas fa-star-half-alt"></i>
                      <div class="chart-wrapper">
                      </div>
                    </div>
                    <div class="customCardBody brand-card-body">
                      <div>
                        <div class="text-value"> {{ this.ministry_prrojects }}

                        </div>
                        <div class="text-muted small">{{ get_text('ministry_projects@project_dashboard@l') }}</div>
                      </div>

                      <div>
                        <div class="text-value">
                          {{ this.department_projects }}


                        </div>
                        <div class="text-muted small">{{ get_text('department_projects@project_dashboard@l') }}</div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

          </b-row>
        </b-card>
        <b-card v-if="dataSource" style="overflow-x:auto;">
          <b-row>

            <div :class="'col-lg-12 '">


              <table width="100%" :fixed="fixed" responsive :style="$i18n.locale=='ar' ? 'direction:rtl' : 'direction:ltr' "
                     class="table table-striped table-bordered datatable dataTable no-footer" id="DataTables_Table_0"

                     role="grid" aria-describedby="DataTables_Table_0_info"
                     style="overflow-y:hidden;overflow-x:scroll !important; border-collapse: collapse !important">
                <thead>
                <tr role="row">
                  <th class="sorting_1">#</th>

                  <th>{{ get_text('symbol@l') }}</th>
                  <th>{{ get_text('project_name@l') }}</th>
                  <th>{{ get_text('org_unit@l') }}</th>
                  <th>{{ get_text('start_date@l') }}</th>
                  <th>{{ get_text('end_date@l') }}</th>
                  <th>{{ get_text('progress@l') }}</th>
                  <th>{{ get_text('spi@l') }}</th>
                  <th>{{ get_text('cpi@l') }}</th>
                  <th>{{ get_text('schedule_variance@l') }}</th>
                  <th>{{ get_text('budget@l') }}</th>
                  <th>{{ get_text('actual_cost@l') }}</th>
                  <th>{{ get_text('cost_variance@l') }}</th>
                  <th>{{ get_text('status@l') }}</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="projectlisttabledata in this.projectlisttable">
                  <td>{{ projectlisttabledata.no }}</td>
                  <td style="width:8%">{{ projectlisttabledata.symbol }}</td>

                  <td>{{ projectlisttabledata.name_short }}</td>
                  <td>{{ projectlisttabledata.resp_org_unit }}</td>
                  <td>{{ projectlisttabledata.start_dt_basenew }}</td>
                  <td>{{ projectlisttabledata.end_dt_basenew }}</td>
                  <td>{{ projectlisttabledata.proj_prog }}</td>
                  <td style="width:6%">{{ projectlisttabledata.spi }}<i
                    style="padding-left:5px;padding-right:5px;color:blue;cursor:hand" v-if="projectlisttabledata.spi>1"
                    class="far fa-arrow-alt-circle-up" data-toggle="tooltip"
                    :title="get_text('project_ahead_schedule@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;color:red"
                    v-if="projectlisttabledata.spi<1 && projectlisttabledata.spi!=0"
                    class="far fa-arrow-alt-circle-down" data-toggle="tooltip"
                    :title="get_text('project_behind_schedule@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;color:green" v-if="projectlisttabledata.spi==1"
                    class="fas fa-check-circle" data-toggle="tooltip"
                    :title="get_text('project_on_schedule@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;" v-if="projectlisttabledata.spi==0" class="fas fa-circle"
                    data-toggle="tooltip" :title="get_text('project_has_no_state@project_view@l')"></i></td>
                  <td style="width:6%">{{ projectlisttabledata.b_cpi }}<i
                    style="padding-left:5px;padding-right:5px;color:blue" v-if="projectlisttabledata.b_cpi>1"
                    class="far fa-arrow-alt-circle-up" data-toggle="tooltip"
                    :title="get_text('project_under_budget@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;color:red"
                    v-if="projectlisttabledata.b_cpi<1 && projectlisttabledata.b_cpi!=0"
                    class="far fa-arrow-alt-circle-down" data-toggle="tooltip"
                    :title="get_text('project_over_budget@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;color:green" v-if="projectlisttabledata.b_cpi==1"
                    class="fas fa-check-circle" data-toggle="tooltip"
                    :title="get_text('project_on_budget@project_view@l')"></i><i
                    style="padding-left:5px;padding-right:5px;" v-if="projectlisttabledata.b_cpi==0"
                    class="fas fa-circle" data-toggle="tooltip"
                    :title="get_text('project_has_no_state@project_view@l')"></i></td>
                  <td style="direction: ltr;
  unicode-bidi: bidi-override;width:10%" v-if="projectlisttabledata.has_budget==1">
                    {{ currencyformattingbudget(projectlisttabledata.b_sv_sched_var) }}
                  </td>
                  <td v-if="projectlisttabledata.has_budget==0">{{ projectlisttabledata.sv_sched_var_days }}</td>
                  <td>{{ currencyformattingbudget(projectlisttabledata.budget_base) }}</td>
                  <td>{{ currencyformattingactualcost(projectlisttabledata.actual_cost) }}</td>
                  <td style="direction: ltr;
                      unicode-bidi: bidi-override;width:10%" v-if="projectlisttabledata.has_budget==1">
                    {{ currencyformattingactualcost(projectlisttabledata.cost_variance) }}
                  </td>
                  <td v-if="projectlisttabledata.has_budget==0"></td>
                  <td><i
                    :style="'padding-left:5px;padding-right:5px;color:#'+(projectlisttabledata.proj_status_color)+';'"
                    class="fa fa-circle"
                    aria-hidden="true"></i>{{
                      get_text((projectlisttabledata.proj_status_name) + '@' + 'project_dashboard@l')
                    }}
                  </td>
                </tr>

                </tbody>
              </table>
            </div>


          </b-row>

        </b-card>
      </b-col>
    </b-row>
    </div>
    <div v-else-if="!$can('projects-dashboard-view')">
      <b-row>
        <b-col sm="12">
          <b-card>
            <unauthorized></unauthorized>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import {store} from '@/components/projects/store/store'
import Vue from 'vue'
import 'element-ui/lib/theme-chalk/index.css';
import Element from 'element-ui'
//import {Notification} from 'element-ui'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Treeselect from "@riophae/vue-treeselect";

import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import lang from 'element-ui/lib/locale/lang/en'
import locale from 'element-ui/lib/locale'
import {TreeMapPlugin, TreeMapTooltip} from "@syncfusion/ej2-vue-treemap";
import {CircularGaugePlugin} from "@syncfusion/ej2-vue-circulargauge";
import Unauthorized from "../../views/pages/Unauthorized";

Vue.use(CircularGaugePlugin);
Vue.use(TreeMapPlugin);

Vue.use(Element);
Vue.use(Loading);
locale.use(lang)
// let contentVue = Vue.component("contentTemplate", {
//   template: '<div><p>Name : {{data.name}}</p><p>TotalCount : {{data.workingdays}}</p></div>',
//   data() {
//     return {
//       data: {}
//     };
//   }
// });
let contentVue = Vue.component("contentTemplate", {
  template: '<div style="color:#ffffff" ><a style="color:#ffffff;font-weight: bold" :href="projectview">Project View</a></div>',
  data() {
    return {
      data: {},

    };
  }
});

let contentTemplate = function () {
  return {template: contentVue};
};
export default {
  store: store,
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  // created() {
  //   this.$store.dispatch('loadNotificationDefaultData')
  //   this.$store.dispatch('loadprojectlist');
  //   this.loadprojecttypes();
  //   this.loadprojectlist();
  //   this.$store.dispatch('loadMTP');
  //   this.loadfiscal();
  //
  //   if (this.$auth.user().roles.includes('Admin')) {
  //     this.isAdmin = true;
  //   } else if (this.$auth.user().roles.includes('Strategy Executive')) {
  //     this.isAdmin = false;
  //   } else {
  //     this.isAdmin = false;
  //   }
  //
  //   if (localStorage.getItem('session_plistsector') || localStorage.getItem('session_plistorg') || localStorage.getItem('session_plistcat') || localStorage.getItem('session_plistop') || localStorage.getItem('session_plistapprove') || localStorage.getItem('session_plistupdate')) {
  //     this.sortByTenant = JSON.parse(localStorage.getItem('session_plistsector'));
  //     this.sortBySubTenant = JSON.parse(localStorage.getItem('session_plistorg'));
  //     this.sortByprojectCat = JSON.parse(localStorage.getItem('session_plistcat'));
  //     this.sortByprojectop = JSON.parse(localStorage.getItem('session_plistop'));
  //     this.sortByprojectapprove = JSON.parse(localStorage.getItem('session_plistapprove'));
  //     this.sortByprojectneedupdate = JSON.parse(localStorage.getItem('session_plistupdate'));
  //     this.loadprojectsearch()
  //   } else {
  //     if (localStorage.getItem('isSession') == 'true') {
  //       localStorage.removeItem('isSession');
  //       if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
  //         this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
  //         this.loadKpiDataSector(localStorage.getItem('session_sector'));
  //       }
  //       if (localStorage.getItem('session_unit') && localStorage.getItem('session_unit')) {
  //         this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
  //         this.sortBySubTenant = JSON.parse(localStorage.getItem('session_unit'));
  //         this.$store.dispatch('loadSubTenants', this.sortByTenant);
  //         this.loadKpiDataOrgUnit(localStorage.getItem('session_unit'));
  //       }
  //     } else {
  //       if (!this.isAdmin) {
  //         this.sortByTenant = ((this.$auth.user().roles.includes('Admin') &&
  //           this.$auth.user().roles.includes('Strategy Executive')) ? null : this.$auth.user().sector_id);
  //       }
  //       if ((!this.$auth.user().roles.includes('Admin') &&
  //         !this.$auth.user().roles.includes('Strategy Executive')) && this.sortByTenant != '') {
  //         this.loadKpiDataSector(this.sortByTenant)
  //       } else {
  //         this.$store.dispatch('loadprojectlist');
  //       }
  //     }
  //     // this.$store.dispatch('loadprojectlist');a
  //   }
  //
  //  // this.loadTenants();
  //
  //   //this.$store.dispatch('translation');
  //
  //
  //   // this.$store.dispatch('loadGroups')
  //   this.$store.dispatch('loadSectorOrg', null);
  // },
  created() {
    this.$store.dispatch('loadNotificationDefaultData')
    this.$store.dispatch('loadprojectlist');
    this.loadprojecttypes();
    this.$store.dispatch('loadMTP');
    /*this.isAdmin = ((this.$auth.user().roles.includes('Admin') &&
      this.$auth.user().roles.includes('Strategy Executive')) ? true : false);*/

    //if (this.$auth.user().roles.includes('Admin')) {
    if (this.$auth.user().currentRole == 'Admin') {
      this.isAdmin = true;
    } else if (this.$auth.user().roles.includes('Strategy Executive')) {
      this.isAdmin = false;
    } else {
      this.isAdmin = false;
    }

    this.$store.dispatch('loadSectorOrg', null);
    //this.$store.dispatch('loadTenants');
    this.$store.dispatch('loadCategory');


    /** Session work By Bhavesh for back button with Session Value */
    if (localStorage.getItem('isSession') == 'true') {
      localStorage.removeItem('isSession');
      if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
        this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
        this.loadKpiDataSector(localStorage.getItem('session_sector'), this.sortBySubTenant);
      } else if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit')) {
        this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
        this.sortByTenant = JSON.parse(localStorage.getItem('session_unit'));
        this.$store.dispatch('loadSubTenants', this.sortByTenant);
        this.loadKpiDataSector(localStorage.getItem('session_sector'), localStorage.getItem('session_unit'));
        Vue.axios.get('/subtenanttree/' + localStorage.getItem('session_sector')+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
      } else {
        if (!this.isAdmin) {
          //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
          this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
        }
        if (!this.isAdmin && this.sortByTenant != '') {
          this.sortByTenant = this.$auth.user().subtenant_id;
          this.loadKpiDataSector(this.sortByTenant, this.sortBySubTenant)
        } else {
          this.$store.dispatch('loadKpiDataSector', null);
          localStorage.removeItem('session_unit');
          localStorage.removeItem('session_sector');
        }
      }
    } else {
      if (!this.isAdmin) {
        //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
        this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
      }
      if (!this.isAdmin && this.sortByTenant != '') {
        this.sortByTenant = this.$auth.user().subtenant_id;
        this.loadKpiDataSector(this.sortByTenant, this.sortBySubTenant)
      } else {
        this.$store.dispatch('loadKpiDataSector', null);
        localStorage.removeItem('session_unit');
        localStorage.removeItem('session_sector');
      }
      this.$store.dispatch('loadprojectlist');
    }

    /** Cookies work By Sabeeha for back button with Session Value */
    if(localStorage.getItem('back_link')==1){
      var x = document.cookie;
      var name = 'sectorname';
      // var name1 = 'orgname';

      var nameEQ = name + "=";
      // var nameEQ1 = name1 + "=";

      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c != "sectorname=") {
          if (c.indexOf(nameEQ) == 0) {
            var y = c.substring(nameEQ.length, c.length);
            if (y != "unded fined" || y != "") {
              this.sortByTenant = localStorage.getItem('sector_back');

              // localStorage.setItem('session_sector', y);
              this.loadKpiDataSector(this.sortByTenant, null);

            }
          }
        }
        //   if (c != "orgname=") {
        //     if (c.indexOf(nameEQ1) == 0) {
        //       var z = c.substring(nameEQ1.length, c.length);
        //       // alert(c);
        //       if (z != "undefined" || z != "") {
        //         // this.sortBySubTenant = z;
        //                   this.sortByTenant = z;
        //                   localStorage.setItem('session_sector', z);
        //                     //this.loadKpiDataSector(z, null);


        //       }
        //     }

        //   }
      }
      document.cookie = "sectorname=; domain=.najah.online; path=/;";
      document.cookie = "orgname=;domain=.najah.online;path=/;";

      // document.cookie = "sectorname=;  path=/;";
      // document.cookie = "orgname=;  path=/;";

      this.backlink = 0;
      localStorage.setItem('back_link', this.backlink);

    }

  },
  data: () => {
    return {
      enablePointerDrag: true,
      annotations: [{
        content: '', zIndex: '1', angle: 180
      }],
      gaugeradius: '100%',
      startAngle: 240,
      endAngle: 120,
      lineStyle: {
        width: 0
      },
      majorTicks: {
        color: 'white',
        offset: -5,
        height: 12
      },
      minorTicks: {
        width: 0
      },

      labelStyle: {
        format: '{value}%',
        useRangeColor: false,
        font: {
          color: '#424242',
          size: '13px',
          fontWeight: 'bold',
          fontFamily: 'Roboto'
        }
      },
      value: 60,
      pointerRadius: '70%',
      color: '#5c9eb7',
      cap: {
        radius: 10,
        border: {
          color: '#5c9eb7',
          width: 5
        }
      },
      animation: {
        enable: true,
        duration: 1500
      },
      ranges: [{
        start: 0,
        end: 20,
        startWidth: 10,
        endWidth: 10,
        radius: '102%',
        color: '#cc163e',
      }, {
        start: 20,
        end: 40,
        radius: '102%',
        startWidth: 10,
        endWidth: 10,
        color: '#ffbd35',
      },
        {
          start: 40,
          end: 60,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#f9ea60',
        },
        {
          start: 60,
          end: 80,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#4dbb63',
        },
        {
          start: 80,
          end: 100,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#1c8c44',
        }
      ],

      isAdmin: false,
      selected: null,
      fields: [
        /*{key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
        {key: 'TypeCode', label: 'PRC Type', sortable: true, sortDirection: 'desc'},
        {key: 'Type', label: 'PRC Type Name'},
        {key: 'Actions'},*/
        //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
        //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
      ],
      button: '',
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      priorityData: {
        TypeCode: null,
        Type: null,
      },
      showback: false,
      priorityInfo: null,
      showingeditModal: false,
      showingViewModal: false,
      showingModal: false,
      showingdeleteModal: false,
      submitted: false,
      updated: false,
      pageOptions: [10, 20, 50, 100],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      translation: [],
      sortByMtp: (localStorage.getItem('currentYearReal') == 1 && localStorage.getItem('currentPeriodReal') == 1) ? localStorage.getItem('currentMTP') : localStorage.getItem('currentMtpData'),
      sortByStp: null,
      sortByhasbuget: null,
      // sortByprojectlist: null,
      // sortByprojectlist: null,

      project_end_date: null,
      project_start_date: null,
      sortByTenant: null,
      sortBySubTenant: null,
      sortByprojectCat: null,
      sortByprojectop: [1],
      sortByprojectcategory: null,
      sortByprojectneedupdate: null,
      sortBytype: null,
      sortByprojectschedule: null,
      sortByprojectbudgetstatus: null,
      valueConsistsOf: "ALL",
      options: '',
      projecttypeoptions: '',
      fiscaloptions: '',
      tenantoptions: '',
      normalizer(node) {
        return {
          id: node.id,
          label: node.name,
          children: node.tree,
        }
      },
      totalprojectcount: 0,
      performingprojectcount: 0,
      nonperformingprojectcount: 0,
      projectbestperforming: 0,
      projectleastperforming: 0,
      fiscalyear: '',
      projectlisttable: '',
      dataSource: '',
      progressvalavg: 0,
      perfvalavg: 0,
      ministry_prrojects: 0,
      department_projects: 0,
      routelink: null,
      weightValuePath: 'workingdays',
      renderDirection: 'TopRightBottomLeft',
      enableRtl: true,
      renderDirection1: 'TopLeftBottomRight',
      enableRtl1: false,
      rangeColorValuePath: 'performance',

      // my_search:[],
      // tooltipSettings: {
      //   visible: true,
      //   template:tooltipSettings
      // },
      legendSettings: {
        visible: true,
        alignment: 'Far',
      },
      labelTemplate: contentTemplate,
      leafItemSettings: {
        labelPath: 'name',
        colorMapping: [
          {
            from: 80,
            to: 100,
            color: '#1c8c44'
          },
          {
            from: 60,
            to: 80,
            color: '#4dbb63'
          },
          {
            from: 40,
            to: 60,
            color: '#f9ea60'
          },
          {
            from: 20,
            to: 40,
            color: '#ffbd35'
          },
          {
            from: 0,
            to: 20,
            color: '#cc163e'
          },
        ],
        border: {
          color: '#000000',
          width: 0.5
        }

      }
    }
  },
  provide: {
    treemap: [TreeMapTooltip]
  },


  beforeMount() {
    if (localStorage.getItem('translation')) {
      this.translation = JSON.parse(localStorage.getItem('translation'));
    }
    if (localStorage.getItem('dashboardorg')) {
      this.sortBySubTenant = JSON.parse(localStorage.getItem('dashboardorg'));
      this.showback = true;
      localStorage.removeItem('dashboardorg');
    }

    this.routeparams = this.$route.query.query;

    if (this.routeparams) {
      var fromview = this.routeparams;

      if (fromview == 'fromprojectview') {
        if (localStorage.getItem('sortBySubTenant')!=null) {

          this.sortBySubTenant = localStorage.getItem('sortBySubTenant');

        }
        // if (localStorage.getItem('sortByMtpds')!='null') {
        //   this.sortByMtp = localStorage.getItem('sortByMtpds');
        //
        // }
        if (localStorage.getItem('sortByStpds')!='null') {
          // alert(localStorage.getItem('sortByStpds'));
          // alert("ssdddffd")
          this.sortByStp = localStorage.getItem('sortByStpds');
        }
        if (localStorage.getItem('categoryds')!='null') {
          this.sortByprojectcategory = localStorage.getItem('categoryds').split(',');
          for(var i=0; i<this.sortByprojectcategory.length; i++) { this.sortByprojectcategory[i] = +this.sortByprojectcategory[i]; }

        }
        // if (localStorage.getItem('projectlistds')) {
        //   this.sortByprojectlist = JSON.parse(localStorage.getItem('projectlistdserve' +
        //     ''));
        // }
        if (localStorage.getItem('typeds')!='null') {
          this.sortBytype = localStorage.getItem('typeds').split(',');
          for(var i=0; i<this.sortBytype.length; i++) { this.sortBytype[i] = +this.sortBytype[i]; }

        }
        if (localStorage.getItem('sortByhasbugetds')!='null') {
          this.sortByhasbuget = localStorage.getItem('sortByhasbugetds');
        }
        if (localStorage.getItem('sortByprojectopds')!='null') {
          this.sortByprojectop = localStorage.getItem('sortByprojectopds').split(',');
          for(var i=0; i<this.sortByprojectop.length; i++) { this.sortByprojectop[i] = +this.sortByprojectop[i]; }

        }
        if (localStorage.getItem('sortByprojectscheduleds')!='null') {
          this.sortByprojectschedule = localStorage.getItem('sortByprojectscheduleds').split(',');
          for(var i=0; i<this.sortByprojectschedule.length; i++) { this.sortByprojectschedule[i] = +this.sortByprojectschedule[i]; }

        }
        if (localStorage.getItem('sortByprojectbudgetstatusds')!='null') {
          this.sortByprojectbudgetstatus = localStorage.getItem('sortByprojectbudgetstatusds').split(',');;
          for(var i=0; i<this.sortByprojectbudgetstatus.length; i++) { this.sortByprojectbudgetstatus[i] = +this.sortByprojectbudgetstatus[i]; }

        }



      }

    }


  },
  mounted() {
    this.getprojectdashboardreport();
  },
  computed: {
    tooltipSettingsval() {
      var tooltipSettings = {
        visible: true,
        /*format: '<div><p>'+this.get_text("symbol@section_performance@l") + " : " + "${KPIdata}<br>" +
          this.get_text("performance@section_performance@l") + " : " + "${performancetxt}<br>" +
          this.get_text("weight@section_performance@l") +" : " + "${adjustedweight}<br>" +
          this.get_text("progress@section_performance@l") + " : " + "${progress}<br>"+
          this.get_text("name@section_performance@l") + ' :${KPIname}<br>' +
          this.get_text("weighted_performance@section_performance@l") + ' : ${weightedperformance}</p></div>',
      */
        template:
          '<div style="opacity: 0.9;padding-left:10px;padding-right:10px; border:2px solid;background-color:#403d39; color: #ffffff; width:auto; white-space: nowrap;">' +
          '<p style="padding-left:10px;padding-right:10px; text-align: left">' + this.get_text("name@project_dashboard@l") + ':${name}<br></bt>' +
          this.get_text("symbol@project_dashboard@l") + ' : ${symbol}<br>' +
          this.get_text("orgunit@project_dashboard@l") + ' : ${orgunit}<br>' +
          this.get_text("progress@project_dashboard@l") + ' : ${progress}<br>' +
          this.get_text("performance@project_dashboard@l") + ' : ${performancetxt}%<br>' +

          '</p></div>',
      }
      return tooltipSettings;
    },
    tooltipSettingsval1() {
      var tooltipSettings = {
        visible: true,
        /*format: '<div><p>'+this.get_text("symbol@section_performance@l") + " : " + "${KPIdata}<br>" +
          this.get_text("performance@section_performance@l") + " : " + "${performancetxt}<br>" +
          this.get_text("weight@section_performance@l") +" : " + "${adjustedweight}<br>" +
          this.get_text("progress@section_performance@l") + " : " + "${progress}<br>"+
          this.get_text("name@section_performance@l") + ' :${KPIname}<br>' +
          this.get_text("weighted_performance@section_performance@l") + ' : ${weightedperformance}</p></div>',
      */
        template:
          '<div style="opacity: 0.9;padding-left:10px;padding-right:10px;direction: rtl; border:2px solid;background-color:#403d39; color: #ffffff; width:auto; white-space: nowrap;">' +
          '<p style="padding-left:10px;padding-right:10px; text-align: left">' + this.get_text("name@section_performance@l") + ':${name}<br></bt>' +
          this.get_text("symbol@project_dashboard@l") + ' : ${symbol}<br>' +
          this.get_text("orgunit@project_dashboard@l") + ' : ${orgunit}<br>' +
          this.get_text("progress@project_dashboard@l") + ' : ${progress}<br>' +
          this.get_text("performance@project_dashboard@l") + ' : ${performancetxt}%<br>' +
          '</p></div>',
      }
      return tooltipSettings;
    },

    leafItemSettingsval1() {
      /*directionModedata: [
        {Id: 'TopLeftBottomRight', level: 'TopLeftBottomRight'},
        {Id: 'TopRightBottomLeft', level: 'TopRightBottomLeft'},
        {Id: 'BottomLeftTopRight', level: 'BottomLeftTopRight'},
        {Id: 'BottomRightTopLeft', level: 'BottomRightTopLeft'}],*/
      var leafItemSettings = {
        //labelPath: null,
        //labelPosition: 'TopRight',
        labelStyle: {
          color: '#C14242',
          opacity: 0.1
          //display: 'none !important'
        },

        labelTemplate:
          '<div style="width:115px;word-wrap: break-word; font-size: 10px;"><div style="text-align: center">' +
          this.get_text("name@project_dashboard@l") + " : " + "${name}<br>" + '</div><div>${viewlinkar}' + '</div>',

        // '<div style="width:135px;word-wrap: break-word; font-size: 13px;"><div style="text-align: left">' + this.get_text("name@project_dashboard@l") + " : " + "${name}<br>" + '</div></div>',
        templatePosition: 'center',
        // templatePosition: 'center',
        border: {
          color: '#000000',
          width: 0.5
        },


        /*labelFormat
        : this.get_text("symbol@section_performance@l") + " :" + "(${KPIdata})<br>" +
          this.get_text("performance@section_performance@l") + " : " + "(${performancetxt})<br>" +
          this.get_text("weight@section_performance@l") + " : " + "(${adjustedweight})<br>"+
          this.get_text("progress@section_performance@l") + " : " + "(${progress})",*/
        colorMapping: [
          {
            from: 80,
            to: 100,
            color: '#1c8c44'
          },
          {
            from: 60,
            to: 80,
            color: '#4dbb63'
          },
          {
            from: 40,
            to: 60,
            color: '#f9ea60'
          },
          {
            from: 20,
            to: 40,
            color: '#ffbd35'
          },
          {
            from: 0,
            to: 20,
            color: '#cc163e'
          }, {

            color: 'lightgrey'
          }
        ],
      };
      return leafItemSettings;
    },

    leafItemSettingsval() {
      var leafItemSettings = {
        //labelPath: null,
        labelPosition: 'TopLeft',
        labelStyle: {
          color: '#C14242',
          opacity: 0.1
        },

        // labelTemplate: contentTemplate,
        /*labelTemplate: '<div align="center">${button}<br><a style="color:#ffffff;font-weight: bold" href= "${link}">' + this.get_text('quick_view@section_performance@l') + '</a></div>',*/
        labelTemplate:
          '<div style="width:135px;word-wrap: break-word; font-size: 13px;"><div style="text-align: center">' + this.get_text("name@project_dashboard@l") + " : " + "${name}<br>" + '</div><div>${viewlink}' + '</div>',
        // '<div style="width:115px;word-wrap: break-word; font-size: 10px;"><div style="text-align: left">' +
        // +this.get_text("name12@project_dashboard@l") + " : " + "${name}<br>"  + '</div></div>',
        templatePosition: 'center',

        border: {
          color: '#000000',
          width: 0.5
        },


        /*labelFormat: this.get_text("symbol@section_performance@l") + ": " + "${KPIdata}<br>" + this.get_text("performance@section_performance@l") + ": " + "${performancetxt}<br>" + this.get_text("weight@section_performance@l") + ": " + "${adjustedweight}<br>" + this.get_text("progress@section_performance@l") + ": " + "${progress}",*/
        colorMapping: [
          {
            from: 80,
            to: 100,
            color: '#1c8c44'
          },
          {
            from: 60,
            to: 80,
            color: '#4dbb63'
          },
          {
            from: 40,
            to: 60,
            color: '#f9ea60'
          },
          {
            from: 20,
            to: 40,
            color: '#ffbd35'
          },
          {
            from: 0,
            to: 20,
            color: '#cc163e'
          }, {

            color: 'lightgrey'
          }
        ],
      };
      return leafItemSettings;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return {text: f.label, value: f.key}
        })
    }
  },
  watch: {
    showingeditModal: function () {
      if (this.showingeditModal == false) {
        this.$store.dispatch('loadPriorities')
        this.priorityData = {}
      }
    }
  },
  components: {
    Unauthorized,
    'loading': Loading,
    Treeselect
  },
  methods: {
    printprojecttreemap: function (args) {
      var printButton = document.getElementById("myPrntbtn");
      printButton.style.visibility = 'hidden';
      //  var dropButton = document.getElementById("dropdown-1");
      // dropButton.style.display = 'none';
      var collapse1 = document.getElementById("collapse1");
      collapse1.style.display = 'none';
      var headerpart = document.getElementById("headerpart");
      headerpart.style.display = 'none';


      window.print()
      printButton.style.visibility = 'visible';
      // dropButton.style.visibility = 'visible';
      collapse1.style.display = 'block';
      // dropButton.style.display = 'block';
      headerpart.style.display = 'block';

    },

    backToList() {
      if (localStorage.getItem('dashboardorgroutelink') && localStorage.getItem('dashboardorgroutelink') != "undefined") {
        this.routelink = "departmentperformance?query=" + localStorage.getItem('dashboardorgroutelink');
      } else {
        this.routelink = "departmentperformance";
      }
      window.location.replace(this.routelink)
    },
    loadfiscal() {

      Vue.axios.get('/loadfiscalfrommtp/' + this.sortByMtp)

        .then(response => {
          if (response.data.code == 200) {

            this.fiscaloptions = response.data.fiscaldata.map(function (item) {
              return {
                text: item.start_date + '  -  ' + item.end_date,
                value: item.id
              }
            });

          }
        });
    },

    currencyformattingactualcost(value) {


      value = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'KWD',
      }).format(value);


      return value;
    },
    currencyformattingbudget(value) {

      value = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'KWD'
      }).format(value);
      return value;

    },
    getprojectdashboardreport() {
      this.sortBySubTenant = (typeof this.sortBySubTenant != "undefined") ? this.sortBySubTenant : ( this.sortBySubTenant != null ? this.sortBySubTenant : null)
      //this.loadfiscal();
      var my_search = {
        'sortBySubTenant': this.sortBySubTenant,
        sortByMtp: this.sortByMtp,
        sortByStp: this.sortByStp,
        category: this.sortByprojectcategory,
        projectlist: this.sortByprojectlist,
        type: this.sortBytype,
        sortByhasbuget: this.sortByhasbuget,
        sortByprojectop: this.sortByprojectop,
        sortByprojectschedule: this.sortByprojectschedule,
        sortByprojectbudgetstatus: this.sortByprojectbudgetstatus,
      };
      //this.$store.dispatch('loadprojectearch', [my_search]);
      this.projectlisttable = '';
      this.dataSource = '';
      this.progressvalavg = '';
      this.perfvalavg = '';
      this.ministry_prrojects = 0;
      this.department_projects = 0;
      //  sortByprojectop: 1;
      sortByprojectschedule:'';
      sortByprojectbudgetstatus:'';

      //  this.periodtext=his.yearselect+"-"+this.periodselect;
      //Vue.axios.get('projectdashboardreport/' + {my_search})
      Vue.axios({
        url: 'projectdashboardreport',
        method: 'POST',
        data: {my_search}
      })
        .then(response => {
          if (response.data.code == 200) {
            this.projectlisttable = response.data.projectlisttable;
            this.dataSource = response.data.projectshowdata;
            this.progressvalavg = response.data.progressvalavg;
            this.perfvalavg = response.data.perfvalavg;
            this.ministry_prrojects = response.data.ministrycount;
            this.department_projects = response.data.developmentcount;
            this.totalprojectcount = response.data.totalprojectcount;
            this.nonperformingprojectcount = response.data.nonperformingprojectcount;
            this.performingprojectcount = response.data.performingprojectcount;
            this.projectbestperforming = response.data.projectbestperforming;
            this.projectleastperforming = response.data.projectleastperforming;
            this.fiscalyear = response.data.filscalyear;
            // if(this.fiscalyear=="all"){
            //   this.fiscalyear=this.get_text("all@project_dashboard@l")
            // }

          }
        });
      if(this.sortBySubTenant){
        localStorage.setItem('sortBySubTenantds', this.sortBySubTenant);
      }
      // if(this.sortByMtp) {
      //   localStorage.setItem('sortByMtpds', this.sortByMtp);
      // }
      if(this.sortByStp) {
        localStorage.setItem('sortByStpds', this.sortByStp);
      }
      // var categoryds =  [];
      // var sortByprojectopds=[];
      // var typeds=[]; var sortByprojectscheduleds=[];
      // var sortByprojectbudgetstatusds=[];
      // typeds=this.sortBytype;
      // sortByprojectopds=this.sortByprojectop;

      if(this.sortByprojectcategory!='null') {
        localStorage.setItem('categoryds', this.sortByprojectcategory);
      }
      // localStorage.setItem('projectlistds', this.sortByprojectlist);
      if(this.sortBytype!='null') {
        localStorage.setItem('typeds', this.sortBytype);
      }
      if(this.sortByhasbuget!='null') {
        localStorage.setItem('sortByhasbugetds', this.sortByhasbuget);
      }
      if(this.sortByprojectop!='null') {
        localStorage.setItem('sortByprojectopds', this.sortByprojectop);
      }
      if(this.sortByprojectschedule!='null') {
        localStorage.setItem('sortByprojectscheduleds', this.sortByprojectschedule);
      }
      if(this.sortByprojectbudgetstatus!='null') {
        localStorage.setItem('sortByprojectbudgetstatusds', this.sortByprojectbudgetstatus);
      }

    },
    loadprojecttypes() {
      Vue.axios.get('/getprojecttypes')
        .then(response => {
          if (response.data.code == 200) {
            this.projecttypeoptions = response.data.project_types.map(function (item) {

              return {
                label: item.name,
                id: item.id
              }
              // this.sortbytype.push(item.id);

            });
          }
        });


    },
    loadprojectlist() {
      Vue.axios.get('/getprojectlist')
        .then(response => {
          if (response.data.code == 200) {
            this.projectlistoptions = response.data.project_list.map(function (item) {

              return {
                label: item.name_short,
                id: item.id
              }
              // this.sortbytype.push(item.id);

            });
          }
        });


    },
    loadKpiDataOrgUnit(orgUnit) {
      localStorage.setItem('session_unit', orgUnit);
      this.$store.dispatch('loadKpiDataOrgUnit', orgUnit);
    },
    change_format(dateval) {
      if (!dateval) {
        return (dateval)
      } else {
        let current_datetime = new Date(dateval)
        let formatted_date = ('0' + current_datetime.getDate()).slice(-2) + '/' + ('0' + (current_datetime.getMonth() + 1)).slice(-2) + '/' + current_datetime.getFullYear();
        return (formatted_date)
      }
    },

    loadTenants() {
      Vue.axios({
        url: 'loadTenantsministry',
        method: 'GET'
      })
        .then(response => {
          if (response.data.code == 200) {
            this.tenantoptions = response.data.tenants.map(function (item) {
              return {
                text: item.name,
                value: item.id
              }
            });

          }
        });
    },
    removeEmptyNode(nodes) {
      if (!nodes || nodes.length === 0)
        return;

      nodes.forEach(function (node) {

        if (node.tree.length === 0) {
          // alert(node)
          delete node.tree;
        } else {
          // alert(node.tree)
          //this.removeEmptyNode(node.tree);
          node.tree.forEach(function (node) {

            if (node.tree.length === 0) {
              // alert(node)
              delete node.tree;
            } else {
              // alert(node.tree)
              //this.removeEmptyNode(node.tree);
              node.tree.forEach(function (node) {

                if (node.tree.length === 0) {
                  // alert(node)
                  delete node.tree;
                } else {
                  // alert(node.tree)
                  this.removeEmptyNode(node.tree);
                }
              });

            }
          });
        }

      });
    },
    loadKpiDataSector(sector) {
     // alert(this.$auth.user().subtenant_id);
      //this.loadprojectsearch(this.sortByTenant);
      /*this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
      if(!this.$auth.user().roles.includes('Admin') && this.sortBySubTenant != '') {
        this.loadKpiDataSector(this.sortByTenant)
      }
      */
      this.options = '';
      if (!this.isAdmin && this.sortBySubTenant == null) {

        Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.loadTenants()
              this.$store.state.sectors = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
        this.sortBySubTenant = this.$auth.user().subtenant_id;

        // this.$store.dispatch('loadKpiDataOrgUnit', this.sortBySubTenant);
      } else {
        Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.$store.state.sectors = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });
        this.$store.dispatch('loadKpiDataSector', sector);
      }
      localStorage.setItem('session_sector', sector);
      //this.$store.dispatch('loadSubTenants', sector);

    },


    setPriorityData() {
      this.priorityData = {
        TypeCode: '',
        Type: ''
      }
    },
    get_text(textbit) {
      var transtext = this.translation[this.$i18n.locale][textbit];
      if (transtext) {
        return transtext;
      } else {
        var spliteText = (textbit.split("@"));
        if (spliteText.length > 2) {
          var newTxt = (spliteText[0] + '@' + 'l');
          var transtext1 = this.translation[this.$i18n.locale][newTxt];
          if (transtext1) {
            return transtext1;
          } else {
            return "!" + textbit;
          }
        } else {
          return "!" + textbit;
        }
      }

    },
    $can(permissionName) {
      // alert(this.$auth.user().totalpermissions);
      return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
    },

    getBadge(status) {
      return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
    },
    getName(status) {
      return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
}
</script>
<style>
#DataTables_Table_0
{
  width:100%;
  overflow-y: hidden!important;
}
.ltrprogressclass {
  text-align: left;
}

.rtlprogressclass {
  text-align: right;
}

.ltrclassicons {
  float: left
}

.rtlclassicons {
  float: right;
  direction: rtl;
}

#treemap_Level_Index_3_Item_Index_1_LabelTemplate {
  width: 100%;
  padding: 0;
  top: 30px !important;

}

#treemap_Level_Index_2_Item_Index_1_LabelTemplate {
  width: 100%;
  padding: 0;
  top: 30px !important;

}

#treemap_Level_Index_4_Item_Index_1_LabelTemplate {
  width: 100%;
  padding: 0;
  top: 30px !important;

}

/*.table th, .table td {*/
/*  padding-top: 0.25rem;*/
/*  padding-bottom: 0.35rem;*/
/*  padding-left: 0.25rem;*/
/*  padding-right: 0.25rem;*/
/*  border-top: 0px solid #c8ced3;*/
/*  border-left: 0px;*/
/*  border-right: 0px;*/
/*  font-size: 0.855rem;*/
/*}*/

#righttable td {
  border-top: 0px solid #c8ced3;
  border-bottom: 0px solid #c8ced3;
}

.table {
  border: 0px solid #ccc;
  margin-bottom: 0.1rem;
  width:100%;
  overflow-y: hidden!important;
}

.circulargaugestyle {
  width: 80%;
  /*height:400px*/
}

.circulargaugestylenosector {
  width: 80%;
}


.wrapper {
  min-width: 100%;
  height: 38%;
  margin-top: 18px;
}

.wrapperdept {
  min-width: 100%;
  height: 450px;
  /*margin-top: 18px;*/
}

.textleftalign {
  text-align: left;
}

.textrightalign {
  text-align: right;
}

@media (max-width: 680px) {
  .customCardClass {
    width: 85%;
    margin-left: 0 !important;
  }
}

.customCardClass {
  width: 85%;
  margin-left: 0 !important;
}

@media (min-width: 1500px) {
  .customCardClass {
    width: 85%;
    margin-left: 0 !important;
  }
}

@media (min-width: 1600px) {
  .customCardClass {
    width: 80%;
    margin-left: 0 !important;
  }
}


.pb-0, .py-0 {
  padding-bottom: 30px !important;
}

.text-value-lg {
  font-size: 14px !important;
  font-weight: 100;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f0f3f5;
  border-bottom: 1px solid #c8ced3;
}

.mb-1, .my-1 {
  margin-bottom: 0.05rem !important;
}

.mt-1, .my-1 {
  margin-top: 0.05rem !important;
}

.form-group {
  margin-bottom: 0.25rem !important;;
}

.text-value {
  font-size: 0.801rem !important;
}

#tooltip-container_svg {
  height: 250px !important;

}

.ltrclass {
  direction: ltr;
}

.rtlclass {
  direction: ltr;
}

.ltrclassbck {
  margin-right: 7%;
}

.rtlclassbck {
  margin-left: 7%;
}

#treemap {
  min-height: 709px !important;
}

.col-lg-4 {
  padding-right: 10px;
  padding-left: 5px;
}

#tooltip-container_svg {
  margin-top: 0px !important;
}

.table-responsive {

  overflow-x: visible !important;
  overflow-y: hidden !important;
}

#tablecard {
  padding: 0.25rem !important;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.25rem;
}

#deptreport .card-header {
  border: 0px !important;
}

#tablecard .card-header {

  border-bottom: 0px;
}

#tablecard {
  border: 0 !important;
}

.progress-bar {
  color: #000000 !important;
  font-weight: bold !important;
}

.progress-bar {
  color: #000000 !important;
  font-weight: bold !important;
}

</style>
<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
  vertical-align: middle !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  /*text-align: center!important;*/

}

.card-body >>> table > thead > tr > th {
  text-align: center !important;
}

.b-dropdown {
  margin-top: 0 !important;
}

.text-center {
  width: 225px !important;
}

.setwidth {
  width: 110px !important;
}

#tooltip-container_svg {
  height: 250px !important;

}

.pointerClass {
  pointer-events: none;
  cursor: none;
}

.wrapper {
  min-width: 100%;
  height: 38%;
  margin-top: 18px;
}

.wrapperdept {
  min-width: 100%;
  height: 425px;
  /*margin-top: 18px;*/
}

@media print {
  canvas {

    max-width: 100%;
  }

  .table-responsive {

    overflow-x: visible !important;
    display: block;
    width: 100%;
  }

  .col-lg-9 {
    max-width: 65%;
  }

  #tooltip-container_svg {
    height: 250px !important;
    width: 150%;
  }

  .col-lg-3 {
    max-width: 35%;
  }

  #treemap {

    max-width: 50%;
  }

  #treemap_svg {
    max-width: 200%;
  }


  @page {
    size: A4;
    margin: 0mm;
    margin-top: -180px;
  }

  .wrapper {
    max-width: 25%;
  }

  /* .brand-card-header .bg-twitter {
background-color:#000000 !important;
} */
  /* .brand-card-header {
        background-color:#000000 !important;
       } */
  body {
    /* -webkit-print-color-adjust: exact !important; */
    color-adjust: exact;
    /* -webkit-print-color-adjust: exact; */
  }

  .fa {
    color: #fff;
    color-adjust: exact;

  }

  .sidebar, .breadcrumb, .app-footer {
    display: none;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  /* #card-chart-01, #card-chart-02 {
width: 100% !important;
} */
  .collapsed > .when-opened,
  :not(.collapsed) > .when-closed {
    display: none;
  }

}

</style>
