<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="$can('projects-view')">
      <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4">{{ get_text('title@project_list@l') }} - {{ this.totalRows }}</b>

              <b-link :href="'/projectdefinition'">
                <b-button variant="primary" size="md" class="btn float-right" v-if="$can('projects-create')"


                >
                  <b><i class="icon-plus icons font-1xl"></i> {{ get_text('add_project@project_list@l') }}</b>
                </b-button>
              </b-link>
            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading">
                <div style="text-align:center; padding-top:50px;">
                    {{ this.get_text('loading@prcType@l') }}
                </div>
            </div>

            <div v-if="$auth.ready() && this.$store.state.loading">

              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('filter@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l')
                          }}
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('sort@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">{{ get_text('please_select@l') }}
                        </option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ get_text('asc@l') }}</option>
                        <option :value="true">{{ get_text('desc@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('mtp@project_list@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select :options="this.$store.state.kpi_mtp" v-model="sortByMtp"
                                   @change="loadprojectsearch(sortByMtp)"/>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('org_unit@project_list@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>

                      <treeselect :placeholder="get_text('please_select@l')" searchable="searchable"
                                  :normalizer="normalizer"
                                  :options="this.$store.state.setTenant" v-model="sortByTenant"
                                  @input="loadprojectsearch(sortByTenant)"/>

                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('project_category@project_list@l')" class="mb-0"
                                label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>

                      <treeselect
                        :multiple="true"
                        :options="[
                                            {
                                              label: get_text('ministry@project_definition@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('development@project_definition@l'),
                                              id: 1
                                            },

                                            ]"
                        :flat="true"

                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortByprojectcategory"
                        @input="loadprojectsearch(sortByprojectcategory)"

                      />

                    </b-input-group>
                  </b-form-group>

                </b-col>


              </b-row>
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('project_type@project_list@l')" class="mb-0"

                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <!--                    <b-form-select-->
                      <!--                      @change="loadprojectsearch(sortBytype)"-->
                      <!--                      v-model="sortBytype"-->
                      <!--                     :options="[-->
                      <!--                                            {-->
                      <!--                                              text: get_text('ministry@project_definition@l'),-->
                      <!--                                              value: 0-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('development@project_definition@l'),-->
                      <!--                                              value: 1-->
                      <!--                                            }-->
                      <!--                                            ]">-->
                      <!--                      <option slot="first" :value="null">{{-->
                      <!--                        get_text('please_select@project_definition@l') }}-->
                      <!--                      </option>-->
                      <!--                    </b-form-select>-->

                      <treeselect
                        :multiple="true"
                        :options="this.projecttypeoptions"
                        :flat="true"
                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortBytype"
                        @input="loadprojectsearch(sortBytype)"
                      />


                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('operational@project_list@l')" class="mb-0"
                                label-cols="5" :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <!--                    <b-form-select-->
                      <!--                      :plain="true"-->
                      <!--                      value="Please select"-->
                      <!--                      v-validate="'required'"-->
                      <!--                      name="status_operational" id="status_operational"-->
                      <!--                      v-model="sortByprojectop"-->
                      <!--                      @change="loadprojectsearch(sortByprojectop)"-->
                      <!--                      :class="{ 'is-invalid': submitted && errors.has('status_operational') }"-->
                      <!--                      :options="[-->
                      <!--                                            {-->
                      <!--                                              text: get_text('planning@project_definition@l'),-->
                      <!--                                              value: 0-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('progressing@project_definition@l'),-->
                      <!--                                              value: 1-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('onhold@project_definition@l'),-->
                      <!--                                              value: 2-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('closed@project_definition@l'),-->
                      <!--                                              value: 3-->
                      <!--                                            }-->
                      <!--                                            ]">-->
                      <!--                      <option slot="first" :value="null">{{-->
                      <!--                        get_text('please_select@project_definition@l') }}-->
                      <!--                      </option>-->
                      <!--                    </b-form-select>-->
                      <treeselect
                        :multiple="true"
                        :options="[
                                            {
                                              label: get_text('planning@project_definition@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('progressing@project_definition@l'),
                                              id: 1
                                            },
                                            {
                                              label: get_text('onhold@project_definition@l'),
                                              id: 2
                                            },
                                            {
                                              label: get_text('closed@project_definition@l'),
                                              id: 3
                                            }
                                            ]"
                        :flat="true"

                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortByprojectop"
                        @input="loadprojectsearch(sortByprojectop)"
                      />

                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('status_approval@project_list@l')" class="mb-0"
                                label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <!--                    <b-form-select-->
                      <!--                      :plain="true"-->
                      <!--                      value="Please select"-->
                      <!--                      v-validate="'required'"-->
                      <!--                      name="status_approval" id="status_approval"-->
                      <!--                      v-model="sortByprojectapprove"-->
                      <!--                      @change="loadprojectsearch(sortByprojectapprove)"-->
                      <!--                      :class="{ 'is-invalid': submitted && errors.has('status_approval') }"-->
                      <!--                      :options="[-->
                      <!--                                            {-->
                      <!--                                              text: get_text('pending@project_definition@l'),-->
                      <!--                                              value: 0-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('approved@project_definition@l'),-->
                      <!--                                              value: 1-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('rejected@project_definition@l'),-->
                      <!--                                              value: 2-->
                      <!--                                            },-->
                      <!--                                            {-->
                      <!--                                              text: get_text('delete_pending@project_definition@l'),-->
                      <!--                                              value: 3-->
                      <!--                                            }-->
                      <!--                                            ]">-->
                      <!--                      <option slot="first" :value="null">{{-->
                      <!--                        get_text('please_select@project_definition@l') }}-->
                      <!--                      </option>-->
                      <!--                    </b-form-select>-->
                      <treeselect
                        :multiple="true"
                        :options="[
                                            {
                                              label: get_text('pending@project_definition@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('approved@project_definition@l'),
                                              id: 1
                                            },
                                            {
                                              label: get_text('rejected@project_definition@l'),
                                              id: 2
                                            },
                                            {
                                              label: get_text('delete_pending@project_definition@l'),
                                              id: 3
                                            }
                                            ]"
                        :flat="true"

                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortByprojectapprove"
                        @input="loadprojectsearch(sortByprojectapprove)"
                      />

                    </b-input-group>
                  </b-form-group>
                </b-col>


              </b-row>
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('need_update@project_list@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>


                      <treeselect
                        :multiple="true"
                        :options="[
                                            {
                                              label: get_text('need_updates@project_list@l'),
                                              id: 0
                                            },
                                            {
                                              label: get_text('updated@project_list@l'),
                                              id: 1
                                            },

                                            ]"
                        :flat="true"

                        @input="loadprojectsearch(sortByprojectneedupdate)"
                        :default-expand-level="1"
                        :placeholder="get_text('please_select@project_definition@l')"
                        v-model="sortByprojectneedupdate"
                      />

                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('start_date@project_list@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>

                      <el-date-picker
                        :style="$i18n.locale=='en' ? ' width: 100%!important;float: right;' : 'width: 100%!important;float: left;'"
                        @change="loadprojectsearch(project_start_date)"
                        v-model="project_start_date"
                        type="date"
                        placeholder="dd/mm/yyyy"
                        format="dd/MM/yyyy"
                      >
                      </el-date-picker>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('end_date@project_list@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>

                      <el-date-picker
                        :style="$i18n.locale=='en' ? ' width: 100%!important;float: right;' : 'width: 100%!important;float: left;'"
                        v-model="project_end_date"
                        @change="loadprojectsearch(project_end_date)"
                        type="date"
                        placeholder="dd/mm/yyyy"
                        format="dd/MM/yyyy"

                      >
                      </el-date-picker>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <!--                      <div v-if="$auth.ready() && this.$store.state.loading">-->
              <!--            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"-->
              <!--                     :fixed="fixed" responsive="sm" :items="projectlist" :fields="fields"-->
              <!--                     :current-page="currentPage" :per-page="perPage" :filter="filter"-->
              <!--                     :sort-by.sync="sortBy"-->
              <!--                     :sort-desc.sync="sortDesc"-->
              <!--                     :sort-direction="sortDirection"-->
              <!--                     @filtered="onFiltered">-->

              <b-modal size="xl"
                       class="modal-primary" v-model="showingRemarkModal"
                       ok-only :ok-title="get_text('close@project_change_updation@l')" v-if="$can('projects-readings')">

                <b-row>
                  <b-col sm="8">
                    <h3 style="margin-top: 1px;">{{ this.get_text('remarks_readings@project_change_updation@l') }}</h3>
                  </b-col>
                  <b-col sm="4">
                    <b-link href="#" v-on:click="printtableremark('printThiss')" class="pull-right">
                      <i class="icon-printer"></i>
                    </b-link>
                  </b-col>
                </b-row>
                <b-row id="printThiss">

                  <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                           :fixed="fixed" responsive :items="remarkreadingslist" :fields="remarkFields" show-empty >
                    <template v-slot:empty="scope">
                      <h5>{{ get_text('no_data_found@stp@l') }}</h5>
                    </template>
                  </b-table>

                </b-row>
              </b-modal>
              <b-modal size="xl"
                       class="modal-primary" v-model="showingModal"
                       ok-only :ok-title="get_text('close@project_change_updation@l')" v-if="$can('projects-readings')">
                <h3>{{ this.get_text('previous_readings@project_change_updation@l') }}</h3>
                <b-link
                  :style="$i18n.locale=='en' ? 'float: right;margin-top: -4%;': 'float: left;margin-top: -4%;'"
                  class="card-header-action btn-close" href="#"
                  v-on:click="printprojectreadings('printThis')">
                  <i class="icon-printer"></i>
                </b-link>


                <b-row id="printThis">

                  <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                           :fixed="fixed" responsive :items="readingslist" :fields="fieldsreading"
                           :sort-by.sync="sortBy"
                           :sort-desc.sync="sortDesc"
                           :sort-direction="sortDirection"
                           @filtered="onFiltered">
                    <template v-if="!data.item.spending_val" slot="spending_val" slot-scope="data">

                      {{ data.item.spending_val }}
                    </template>
                    <template v-if="data.item.spending_val" slot="spending_val" slot-scope="data">

                      {{
                        new Intl.NumberFormat('en-US', {
                          style: 'currency',
                          currency: 'KWD',
                        }).format(data.item.spending_val)
                      }}
                    </template>
                    <template style="color:red;text-align: center!important;" slot="progress_inconsistent"
                              slot-scope="data">

                      <i v-if="data.item.progress_inconsistent==1" style="color:red;text-align: center!important;"
                         class="fa fa-check-circle fa-lg"></i>


                    </template>

                  </b-table>

                </b-row>

              </b-modal>

              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive :items="projectlist" :fields="fields"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @filtered="onFiltered" style="overflow-x: scroll !important;">
                <template style="color:red;text-align: center!important;" slot="has_risks" slot-scope="data">

                  <!--                <i v-if="data.item.has_risks==0" style="color:red;text-align: center!important;"-->
                  <!--                   class="fa fa-times fa-lg"></i>-->
                  <i v-if="data.item.has_risks==1" style="color:black;text-align: center!important;"
                     class="fa fa-check fa-lg"></i>


                </template>
                <template slot="has_budget" slot-scope="data">

                  <!--                <i v-if="data.item.has_budget==0" style="color:red;"-->
                  <!--                   class="fa fa-times fa-lg"></i>-->
                  <i v-if="data.item.has_budget==1" style="color:black;"
                     class="fa fa-check fa-lg"></i>


                </template>
                <template slot="pd_planned_duration" slot-scope="data">

                  {{data.item.pd_planned_duration+' '+get_text('days@project_list@l')}}


                </template>
                <template slot="status_approval" slot-scope="data">
                  <b-badge
                    :variant="getBadge(data.item.status_approval)">{{
                      get_text(getNameStatus(data.item.status_approval)+'@project_list@l') }}
                  </b-badge>
                </template>
                <template slot="status_operational" slot-scope="data">
                  <b-badge
                    :variant="getBadge(data.item.status_operational)">{{
                      get_text(getNameopStatus(data.item.status_operational)+'@project_list@l') }}
                  </b-badge>
                </template>
                <template slot="next_reading_dt" slot-scope="data">
                  <b-row class="setwidth">
                    <b-badge>{{ data.item.next_reading_dtformatted }}
                    </b-badge>

                    <i v-if="data.item.redcross && data.item.status_operational!=3" style="color:red;"
                       class="fa fa-exclamation fa-lg"></i>
                    <i v-if="data.item.greencheck" style="color:green;"
                       class="fa fa-check fa-lg"></i>

                  </b-row>
                </template>
                <template slot="Actions" slot-scope="data">

                  <b-row class="text-center">
                    <b-link v-if="$can('projects-edit')" :href="'/projectdefinition/'+data.item.id" style="height:28px"
                            class="customClass"
                            :class="( data.item.status_operational==2 || data.item.status_operational==3 ) ? 'pointerClass' : ''">

                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                      >
                        <b-button v-if="$can('projects-edit')" variant="" size="sm"
                                  :title="get_text('definition@project_list@l')"

                                  :disabled="(data.item.status_operational==2 || data.item.status_operational==3 ) ? true: false">

                          <b><i class="fa fa-pencil-square-o font-1xl" aria-hidden="true"></i>
                          </b></b-button>
                      </b-col>
                    </b-link>
                    <b-link v-if="$can('projects-team')" :href="'/projectteam/'+data.item.id" style="height:28px"
                            class="customClass">

                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                      >
                        <b-button v-if="$can('projects-edit')" variant="" size="sm"
                                  :title="get_text('project_team@project_list@l')"
                        ><b><i
                          class="fa fa-users font-1xl"></i></b></b-button>
                      </b-col>&nbsp;
                    </b-link>
                    <b-link v-if="$can('projects-riskview')" :href="'/risklist/'+data.item.id" style="height:28px"
                            class="customClass">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                      >
                        <b-button variant="" size="sm"
                        ><b><i
                          style="font-weight: bold" class="fa fa-exclamation-triangle font-1xl"
                          :title="get_text('risk_mitigation_list@project_list@l')"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link v-if="$can('projects-updation')" :href="'/projectupdation/'+data.item.id" style="height:28px"
                            class="customClass"
                    >
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0">
                        <b-button
                          :disabled="(data.item.status_approval!=1 || data.item.status_operational==0 || data.item.status_operational==2 || data.item.status_operational==3 ) ? true: false"
                          variant="" size="sm" :title="get_text('project_change_updation@project_list@l')"
                        >
                          <b><i style="font-weight: bold"
                                class="fas fa-clipboard-list font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link style="height:28px"
                            class="customClass" @click="showreadings(data.item.id)"
                    >
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0">
                        <b-button v-if="$can('projects-readings')"  @click="showingModal= true"
                                  :disabled="(data.item.status_approval!=1 || data.item.status_operational==0 || data.item.status_operational==2 || data.item.status_operational==3 ) ? true: false"
                                  variant="" size="sm" :title="get_text('project_readings@project_list@l')"
                        >
                          <b><i style="font-weight: bold"
                                class="fa fa-history font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link v-if="$can('projects-remark')" style="height:28px"
                            class="customClass" @click="showremarks(data.item.id)"
                    >
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0">
                        <b-button @click="showingRemarkModal = true"
                                  :disabled="(data.item.value_count <= 0 ? true : ((data.item.status_approval!=1 ||
                                  data.item.status_operational==0 ||
                                  data.item.status_operational==2 || data.item.status_operational==3 ) ? true: false))"
                                  variant="" size="sm" :title="get_text('project_remark@project_list@l')"
                        >
                          <b><i style="font-weight: bold"
                                class="fas fa-comment-alt font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>

                    <!--                  <b-link :href="'/projectview/'+data.item.id"  style="height:28px" -->
                    <b-link :href="'#'" style="height:28px"
                            class="customClass" v-if="$can('projects-quickview')">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                      >
                        <b-button @click="projectviewdetails(data.item.id)" variant="" size="sm"
                                  :title="get_text('project_view@project_list@l')"
                        ><b><i class="fa fa-eye font-1xl" aria-hidden="true"></i>
                        </b></b-button>
                      </b-col>
                    </b-link>
                    <!--                                      <b-link :href="'projectview'" style="height:28px"-->
                    <!--                                              class="customClass"-->
                    <!--                                              >-->
                    <!--                                      <b-button variant="" size="sm" :title="get_text('project_view@project_list@l')"-->
                    <!--                                                ><b><i-->
                    <!--                                        class="fa fa-eye font-1xl"></i></b></b-button>-->
                    <!--                                      </b-link>-->


                    <b-link :href="''" style="height:28px"
                            class="customClass"
                    >

                    </b-link>
                    <!--<b-link href="#" style="height:28px">-->
                    <!--<b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0">-->
                    <!--<b-button variant="danger" size="sm"><b><i-->
                    <!--class="fa-gears fa font-1xl"></i></b></b-button>-->
                    <!--</b-col>-->
                    <!--</b-link>-->
                  </b-row>
                </template>
                <template slot="Manage" slot-scope="data">
                  <b-dropdown variant="link"
                              no-caret class="">
                    <template slot="button-content">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa-gears fa font-1xl"></i>
                      </button>
                    </template>
                    <!--{{ data.item.status }}
                    @click="kpiDeletePermanently(data.item.id)"
                    -->


                    <b-dropdown-item
                      v-if="$can('projects-delete') || (($auth.user().roles.includes('Admin'))) || data.item.status_approval!=1 || data.item.status_operational!=1 && data.item.status_operational!=3 "
                      @click="showingdeleteModal = true;  selectUser(data.item)">{{
                        get_text('delete@project_list@l')
                      }}
                    </b-dropdown-item>

                    <b-dropdown-item
                      :disabled="(($auth.user().roles.includes('Admin'))) && (data.item.projteamdefined==1) ? false : true"
                      v-if="$can('projects-approve')  && data.item.status_approval==0 && data.item.status_operational!=3"
                      @click="projectApproveReject(data.item.id, 1)">{{
                        get_text('approve@project_list@l')
                      }}

                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="$can('projects-reject') && data.item.status_approval!=1 || data.item.status_operational!=1 && data.item.status_operational!=2 && data.item.status_operational!=3"
                      @click="projectApproveReject(data.item.id, 2)"
                    >{{
                        get_text('reject@kpi_def@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if=" (($auth.user().roles.includes('Admin')) && data.item.status_approval==1 &&
                      data.item.status_operational!=3) && $can('projects-operationalstatus')"
                    >-----{{
                        get_text("project_operational@project_list@l")
                      }}-----
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="(($auth.user().roles.includes('Admin')) && data.item.status_approval==1 &&
                      data.item.status_operational==0|| data.item.status_operational==2 &&
                      data.item.status_operational!=3) && $can('projects-operationalstatus')"
                      @click="projectoperationalstatus(data.item.id, 1)">{{
                        get_text("in_progress@project_list@l")}}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if=" (($auth.user().roles.includes('Admin')) && data.item.status_approval==1 &&
                      data.item.status_operational==0 || data.item.status_operational==1 &&
                      data.item.status_operational!=3) && $can('projects-operationalstatus')"
                      @click="projectoperationalstatus(data.item.id, 2)">{{
                        get_text("on_hold@project_list@l")}}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="(($auth.user().roles.includes('Admin')) &&  data.item.status_operational==1 ||
                      data.item.status_operational!=3 && data.item.status_approval==1 && data.item.status_operational!=3) && $can('projects-operationalstatus')"
                      @click="projectoperationalstatus(data.item.id, 3)">{{
                        get_text("closed@project_list@l")}}
                    </b-dropdown-item>


                  </b-dropdown>

                </template>

              </b-table>
              <b-modal size="lg" id="projectviewerrorModal"
                       class="modal fade cd-example-modal-lg"
                       v-model="projectviewerrorModal" @ok="projectviewerrorModal = false" ok-variant="danger"
                       v-bind:hide-footer="true">
                <div class="modalcontent">

                  <b-col md="12" class="text-center" style="width: auto !important;">

                    <p>{{ this.get_text('no_data_for_project_view@m') }}</p>
                  </b-col>
                </div>
                <div class="modal-footer">
                  <button @click="hidemodal" type="button" class="btn btn-secondary" data-dismiss="modal"> {{
                      this.get_text('ok@l') }}
                  </button>
                </div>
              </b-modal>

              <b-modal :title="get_text('delete@Users@l')" size="lg" class="modal-danger" v-model="showingdeleteModal"
                       hide-footer="true" ok-variant="danger">
                <div class="modalcontent">
                  <h3 class="text-center" style="width: auto !important;">{{
                      this.get_text('are_you_sure_to_delete@Users@l')
                    }} <b>{{projectDeleteData.name}}</b>?</h3>
                  <b-col md="12" class="text-center" style="width: auto !important;">

                    <button class="btn btn-outline-danger left"
                            @click="showingdeleteModal = false; projectDeletePermanently(projectDeleteData.id)">{{
                        this.get_text('yes@l') }}
                    </button>&nbsp;
                    <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
                        this.get_text('no@l') }}
                    </button>
                  </b-col>
                </div>
              </b-modal>

              <nav>
                <!--              <b-pagination size="sm" :total-rows="getRowCount" :per-page="perPage"-->
                <!--                            v-model="currentPage" :prev-text="this.get_text('prev@l')"-->
                <!--                            :next-text="this.get_text('next@l')"-->
                <!--                            hide-goto-end-buttons/>-->
                <b-pagination size="sm" :total-rows="this.totalRows" :per-page="perPage"
                              :first-text="get_text('first@project_list@l')"
                              :last-text="get_text('last@project_list@l')"
                              v-model="currentPage" :prev-text="get_text('prev@project_list@l')"
                              :next-text="get_text('next@project_list@l')"/>
              </nav>
              <!--                        </div>-->

            </div>
          </b-card>
        </transition>

      </b-col>
    </b-row>
    </div>
    <div v-else-if="!$can('projects-view')">
      <b-row>
        <b-col sm="12">
          <b-card>
            <Unauthorized></Unauthorized>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import {store} from '@/components/projects/store/store'
import Vue from 'vue'
import 'element-ui/lib/theme-chalk/index.css';
import Element from 'element-ui'
//import {Notification} from 'element-ui'
import Loading from 'vue-loading-overlay';
import 'vue-loading-overlay/dist/vue-loading.css';
import Treeselect from "@riophae/vue-treeselect";

import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import lang from 'element-ui/lib/locale/lang/en'
import locale from 'element-ui/lib/locale'
import Unauthorized from '@/views/pages/Unauthorized';

Vue.use(Element);
Vue.use(Loading);
locale.use(lang)
export default {
  store: store,
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  sockets: {
    projectupdate(data) {
      var val = null
      if (localStorage.getItem('session_sector_load')) {
        val = JSON.parse(localStorage.getItem('session_sector_load'));
      }
      var my_search = [{
        sortBySubTenant: val,
        sortByMtp: this.sortByMtp,
        category: this.sortByprojectcategory,
        operation: this.sortByprojectop,
        approve: this.sortByprojectapprove,
        update: this.sortByprojectneedupdate,
        type: this.sortBytype,
        project_start_date: this.project_start_date,
        project_end_date: this.project_end_date,

      }];
      //this.$store.dispatch('loadprojectearch', [my_search]);
      this.$store.dispatch('getNotificationProjectData', [data, my_search]);
    },
    /*dashboard(data) {
      let message = JSON.parse(data);
      console.log(message);
      dashStore.dispatch('realTimeUpdateDashboard', [this.mtp_date, this.sector]);
    }*/
  },
  created() {
    this.$store.dispatch('loadNotificationDefaultData')
    //this.$store.dispatch('loadprojectlist');
    this.loadprojecttypes();
    this.$store.dispatch('loadMTP');
    /*this.isAdmin = ((this.$auth.user().roles.includes('Admin') &&
      this.$auth.user().roles.includes('Strategy Executive')) ? true : false);*/

    //if (this.$auth.user().roles.includes('Admin')) {
    if (this.$auth.user().currentRole == 'Admin') {
      this.isAdmin = true;
    } else if (this.$auth.user().roles.includes('Strategy Executive')) {
      this.isAdmin = false;
    } else {
      this.isAdmin = false;
    }

    this.$store.dispatch('loadSectorOrg', null);
    //this.$store.dispatch('loadTenants');
    this.$store.dispatch('loadCategory');


    /** Session work By Bhavesh for back button with Session Value */
    if (localStorage.getItem('isSession') == 'true') {
      localStorage.removeItem('isSession');
      if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
        this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
        this.loadKpiDataSector(localStorage.getItem('session_sector'), this.sortBySubTenant);
      } else if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit')) {
        this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
        this.sortByTenant = JSON.parse(localStorage.getItem('session_unit'));
        this.$store.dispatch('loadSubTenants', this.sortByTenant);
        this.loadKpiDataSector(localStorage.getItem('session_sector'), localStorage.getItem('session_unit'));
        Vue.axios.get('/subtenanttree/' + localStorage.getItem('session_sector')+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
      } else {
        if (!this.isAdmin) {
          //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
          this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
        }
        if (!this.isAdmin && this.sortByTenant != '') {
          this.sortByTenant = this.$auth.user().subtenant_id;
          this.loadKpiDataSector(this.sortByTenant, this.sortBySubTenant)
        } else {
          //this.$store.dispatch('loadKpiDataSector', null);
          localStorage.removeItem('session_unit');
          localStorage.removeItem('session_sector');
        }
      }
    } else {
      if (!this.isAdmin) {
        //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
        this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
      }
      if (!this.isAdmin && this.sortByTenant != '') {
        this.sortByTenant = this.$auth.user().subtenant_id;
        this.loadKpiDataSector(this.sortByTenant, this.sortBySubTenant)
      } else {
        //this.$store.dispatch('loadKpiDataSector', null);
        localStorage.removeItem('session_unit');
        localStorage.removeItem('session_sector');
      }
      var my_search = {
        sortBySubTenant: this.sortByTenant,
        sortByMtp: this.sortByMtp,
        category: this.sortByprojectcategory,
        operation: this.sortByprojectop,
        approve: this.sortByprojectapprove,
        update: this.sortByprojectneedupdate,
        type: this.sortBytype,
        project_start_date: this.project_start_date,
        project_end_date: this.project_end_date,

      };
      this.$store.dispatch('loadprojectearch', [my_search]);
    }

    /** Cookies work By Sabeeha for back button with Session Value */

  },

  data: () => {
    return {
      isAdmin: false,
      selected: null,
      fieldsreading: [],
      remarkFields:[],
      fields: [
        /*{key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
        {key: 'TypeCode', label: 'PRC Type', sortable: true, sortDirection: 'desc'},
        {key: 'Type', label: 'PRC Type Name'},
        {key: 'Actions'},*/
        //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
        //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
      ],
      button: '',
      currentPage: 1,
      perPage: 25,
      totalRows: 0,
      priorityData: {
        TypeCode: null,
        Type: null,
      },
      priorityInfo: null,
      showingeditModal: false,
      showingViewModal: false,
      projectviewerrorModal: false,
      showingModal: false,
      showingRemarkModal: false,
      showingdeleteModal: false,
      submitted: false,
      updated: false,
      pageOptions: [25, 50, 100],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      translation: [],
      sortByMtp: localStorage.getItem('currentMtpData'),
      project_end_date: null,
      project_start_date: null,
      sortByTenant: null,
      sortBySubTenant: null,
      sortByprojectCat: null,
      sortByprojectop: null,
      sortByprojectcategory: null,
      sortByprojectapprove: null,
      sortByprojectneedupdate: null,
      sortBytype: null,
      valueConsistsOf: "ALL",
      options: '',
      projecttypeoptions: '',
      tenantoptions: '',
      projectDeleteData: {},
      normalizer(node) {
        return {
          id: node.id,
          label: node.name,
          children: node.tree,
        }
      },
      // normalizer(node) {
      //   return {
      //     id: node.id,
      //     label: node.name,
      //     children: node.tree,
      //   }
      // },
    }
  },
  beforeMount() {
    if (localStorage.getItem('translation')) {
      this.translation = JSON.parse(localStorage.getItem('translation'));
    }
  },
  mounted() {

  },
  computed: {
    remarkreadingslist() {
      this.remarkFields = [
        {
          key: '',
          label: '#',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'period_no',
          label: this.get_text('period_no@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'period_dt',
          label: this.get_text('period_dt@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'progress_val',
          label: this.get_text('progress_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'justification',
          label: this.get_text('remark@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'createUpdate',
          label: this.get_text('createupdateby@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
      ];
      return this.$store.getters.remarkreadingslist;
    },
    readingslist() {
      this.fieldsreading = [
        {key: '', label: '#', sortable: true, sortDirection: 'desc'},
        {
          key: 'period_no',
          label: this.get_text('period_no@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'period_dt',
          label: this.get_text('period_dt@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'progress_val',
          label: this.get_text('progress_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        }, {
          key: 'progress_inconsistent',
          label: this.get_text('progress_inconsistent@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'spending_val',
          label: this.get_text('spending_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'spending_det',
          label: this.get_text('spending_det@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'end_dt_projected_val',
          label: this.get_text('end_dt_projected_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'cost_projected_val',
          label: this.get_text('cost_projected_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
      ];
      return this.$store.getters.readingslist;
    },

    projectlist() {
      this.fields = [
        {key: '', label: '#', sortable: true, sortDirection: 'desc'},
        {key: 'symbol', label: this.get_text('project_symbol@project_list@c'), sortable: true, sortDirection: 'desc'},
        {
          key: 'subtenant_name',
          label: this.get_text('responsible_unit@project_list@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {key: 'name_short', label: this.get_text('name@project_list@c'), sortable: true, sortDirection: 'desc'},
        {
          key: 'start_dt_base',
          label: this.get_text('start_date@project_list@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {key: 'end_dt_base', label: this.get_text('end_date@project_list@c'), sortable: true, sortDirection: 'desc'},
        {
          key: 'pd_planned_duration',
          label: this.get_text('duration@project_list@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'has_risks',
          label: this.get_text('has_risk@project_list@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'has_budget',
          label: this.get_text('has_budget@project_list@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'status_approval',
          label: this.get_text('approval_status@project_list@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'status_operational',
          label: this.get_text('operational_status@project_list@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'next_reading_dt',
          label: this.get_text('next_updation_date@project_list@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {key: 'Actions', label: this.get_text('actions@l')},
        {key: 'Manage', label: this.get_text('manage@l'), thClass: 'text-center'},
        // {key: 'Actions',label: this.get_text('actions@l')},
        //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
        //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
      ];
      if (this.sortByKpiCat != null && this.$store.getters.projectlist.length > 0) {
        var filterData = [];
        filterData = this.$store.getters.priorities.filter(data => {
          return data.kpi_cat != null ? data.kpi_cat.toString().includes(this.sortByKpiCat) : ''
        })
        this.totalRows = filterData.length;
        return filterData;
      } else {
        var filterData = this.$store.getters.projectlist;
        this.totalRows = filterData.length;
        //alert(this.totalRows)
        return filterData;
      }
      return this.$store.getters.projectlist;
    },
    getRowCount() {
      return this.$store.getters.getRowCount
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return {text: f.label, value: f.key}
        })
    }
  },
  watch: {
    showingeditModal: function () {
      if (this.showingeditModal == false) {
        this.$store.dispatch('loadPriorities')
        this.priorityData = {}
      }
    }
  },
  components: {
    'loading': Loading,
    Treeselect,
    Unauthorized
  },
  methods: {
    printtableremark(printdiv) {
      /*var printButton = document.getElementById("hideNavi");
      printButton.style.visibility = 'hidden';*/
      var mywindow = window.open('', 'PRINT', 'height=400,width=600');
      mywindow.document.write('<html><head><style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
        '        width: 100%;\n' +
        '        margin-bottom: 1rem;\n' +
        '        color:#23282c;\n' +
        '        \n' +
        '      }\n' +
        '      .table thead th {\n' +
        '        vertical-align: bottom;\n' +
        '        border-bottom: 2px solid\n' +
        '        #c8ced3;\n' +
        '      }\n' +
        '      table th, .table td {\n' +
        '        padding: 0.75rem;\n' +
        '        vertical-align: top;\n' +
        '        border-top: 1px solid\n' +
        '        #c8ced3;\n' +
        '      }\n</style>');
      mywindow.document.write('</head><body >');
      mywindow.document.write(document.getElementById(printdiv).innerHTML);
      mywindow.document.write('</body></html>');
      mywindow.document.close(); // necessary for IE >= 10
      mywindow.focus(); // necessary for IE >= 10*/
      mywindow.print();
      mywindow.close();
      return true;
    },
    printprojectreadings(elem) {

      var mywindow = window.open('', 'PRINT', 'height=auto,width=auto');
      // if(this.$i18n.locale=='ar')
      mywindow.document.write('<h5>' + this.get_text('project_name@project_change_updation@l') + ':' + this.project_name + '</h5>');
      mywindow.document.write('<h5>' + this.get_text('start_date@project_change_updation@l') + ':' + this.project_start_date + '</h5>');
      mywindow.document.write('<h5>' + this.get_text('end_date@project_change_updation@l') + ':' + this.project_end_date + '</h5>');
      mywindow.document.write('<h5>' + this.get_text('budget@project_change_updation@l') + ':' + this.planned_budget + '</h5>');
      mywindow.document.write('<h5>' + this.get_text('duration@project_list@c') + ':' + this.duration + '</h5>');
      if (this.$i18n.locale == 'ar') {
        mywindow.document.write('<html dir="rtl">');
      }
      if (this.$i18n.locale == 'en') {
        mywindow.document.write('<html dir="ltr">');
      }
      //mywindow.document.write('<head><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" /><style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
      mywindow.document.write('<head>' + '<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font/font-awesome.min.css" media="print"  rel="stylesheet" />' +
        '<style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
        '        width: 100%;\n' +
        '        margin-bottom: 1rem;\n' +
        '        color:#23282c;\n' +
        '        \n' +
        '      }\n' +
        '      .table thead th {\n' +
        '        vertical-align: bottom;\n' +
        '        border-bottom: 2px solid\n' +
        '        #c8ced3;\n' +
        '      }\n' +
        '      table th, .table td {\n' +
        '        padding: 0.75rem;\n' +
        '        vertical-align: top;\n' +
        '        border-top: 1px solid\n' +
        '        #c8ced3;\n' +
        '      }\n' +
        '' +
        'element {\n' +
        '    color: red;\n' +
        '    text-align: center !important;\n' +
        '}\n' +
        '.fa, .fas {\n' +
        '    font-family: \'Font Awesome 5 Free\';\n' +
        '    font-weight: 900;\n' +
        '}\n' +
        '.fa-lg {\n' +
        '    font-size: 1.33333em;\n' +
        '    line-height: 0.75em;\n' +
        '    vertical-align: -.0667em;\n' +
        '}\n' +
        '.fa, .fas, .far, .fal, .fad, .fab {\n' +
        '    -moz-osx-font-smoothing: grayscale;\n' +
        '    -webkit-font-smoothing: antialiased;\n' +
        '    display: inline-block;\n' +
        '    font-style: normal;\n' +
        '    font-variant: normal;\n' +
        '    text-rendering: auto;\n' +
        '    line-height: 1;\n' +
        '}\n' +
        '.fa-lg {\n' +
        '    font-size: 1.33333em;\n' +
        '    line-height: 0.75em;\n' +
        '    vertical-align: -15%;\n' +
        '}\n' +
        '.fa {\n' +
        '    display: inline-block;\n' +
        '    font: normal normal normal 14px/1 FontAwesome;\n' +
        '        font-style: normal;\n' +
        '        font-variant-caps: normal;\n' +
        '        font-weight: normal;\n' +
        '        font-size: 14px;\n' +
        '        line-height: 1;\n' +
        '        font-family: FontAwesome;\n' +
        '        font-variant-alternates: normal;\n' +
        '        font-variant-east-asian: normal;\n' +
        '        font-variant-ligatures: normal;\n' +
        '        font-variant-numeric: normal;\n' +
        '        font-variant-position: normal;\n' +
        '    font-size: inherit;\n' +
        '    text-rendering: auto;\n' +
        '    -webkit-font-smoothing: antialiased;\n' +
        '    -moz-osx-font-smoothing: grayscale;\n' +
        '}' +
        '.centreCls {\n' +
        '    text-align: center !important;\n' +
        '  }</style>');
      mywindow.document.write(document.getElementById(elem).innerHTML);
      mywindow.document.write('</body></html>');
      //
      // mywindow.document.close(); // necessary for IE >= 10
      // mywindow.focus(); // necessary for IE >= 10*/

      mywindow.print();
      mywindow.close();

    },
    showremarks(projectid) {
      this.$store.dispatch('loadremarkreadingslist', projectid);
      this.showingRemarkModal = true;
    },
    showreadings(projectid) {
      Vue.axios.get(`/projectlistbyId/${projectid}`)
        .then(response => {
          if (response.data.code == 200) {
            this.projectid = response.data.projectlist[0]['id'];
            this.duration = response.data.projectlist[0]['duration'] + ' ' + this.get_text('days@project_list@l');
            this.project_symbol = response.data.projectlist[0]['symbol'];
            this.project_name = response.data.projectlist[0]['name'];
            this.project_start_date = response.data.projectlist[0]['start_dt_base'];
            this.project_end_date = response.data.projectlist[0]['end_dt_base'];
            this.actual_start = response.data.projectlist[0]['start_dt_actual'];
            this.planned_budgetoriginal = response.data.projectlist[0]['budget_base'];
            this.planned_budget = response.data.projectlist[0]['budget_base'];
            if (!this.planned_budget) {

              this.hidecostsection = true;
            }
            if (this.planned_budget) {
              this.hidecostsection = false;
              this.planned_budget = new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD',
              }).format(this.planned_budget.replace(',', ''));
            }
            this.spending_total = response.data.projectlist[0]['spending_total'];
            this.actual_spending = this.spending_total;
            this.actual_spendingoriginal = this.spending_total;
            this.actual_spending = 'KWD' + this.actual_spending;
            //this.actual_spending=this.actual_spending;
            // this.planned_budget=parseFloat(this.planned_budget.replace('KWD', '')).toFixed(3);
            this.planned_budgetcalc = this.planned_budget.replace('KWD', '');
            this.actual_spending = this.actual_spending.replace('KWD', '');
            this.planned_budgetcalc = this.planned_budgetcalc.replace(',', '');

            if (parseFloat(this.planned_budgetcalc) * 100 != 0) {
              this.spending = (((parseFloat(this.actual_spending.replace(',', '')) / parseFloat(this.planned_budgetoriginal.replace(',', '')))));
              this.spending = (parseFloat(this.spending) * 100).toFixed(2) + "%"
            } else {
              this.spending = 0;
              this.spending = this.spending.toFixed(2) + "%";

            }
            // alert(this.planned_budgetoriginal)
            // alert(this.actual_spending)
            this.remain_budget = parseFloat(this.planned_budgetoriginal.replace(',', '')) - parseFloat(this.actual_spending.replace(',', ''));
            this.remain_budget = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(this.remain_budget);
            this.actual_spending = new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
            }).format(this.actual_spending.replace(',', ''));

          }

          this.$store.state.isLoading = false;
        })
        .catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      this.showingModal = true;
      this.$store.dispatch('loadreadingslist', projectid);
    },


    hidemodal() {
      this.projectviewerrorModal = false;
    },
    projectviewdetails(project) {
      Vue.axios({
        url: 'projectviewdetails',
        method: 'POST',
        data: {"projectid": project}
      })
        .then(response => {
          if (response.data.code == 200) {
            window.location.replace('/projectview/' + project);

          } else {
            //alert(this.get_text("no_date_for_project_view@m"));
            this.projectviewerrorModal = true;
            return false;
          }
        }).catch(error => {
        console.log(error.response.data.message);
        this.$store.state.isLoading = false;
        if (error.response.status == 403) {
          this.$store.dispatch('get_text_title', 'Success@m');
          this.$store.dispatch('get_text_message', error.response.data.message + '@m');

          Vue.prototype.$notify.error({
            title: this.$store.state.title,
            message: this.$store.state.message,
            type: 'Error',
            position: 'top-right'
          });
        }
      });
    },
    selectUser(project) {
      this.projectDeleteData = project;
    },
    projectDeletePermanently(projectId) {
      this.$store.dispatch('projectDeletePermanently', projectId)
    },
    loadprojecttypes() {
      Vue.axios.get('/getprojecttypes')
        .then(response => {
          if (response.data.code == 200) {
            this.projecttypeoptions = response.data.project_types.map(function (item) {

              return {
                label: item.name,
                id: item.id
              }
              // this.sortbytype.push(item.id);

            });
          }
        });


    },
    loadKpiDataOrgUnit(orgUnit) {
      localStorage.setItem('session_unit', orgUnit);
      this.$store.dispatch('loadKpiDataOrgUnit', orgUnit);
    },
    change_format(dateval) {
      if (!dateval) {
        return (dateval)
      } else {
        let current_datetime = new Date(dateval)
        let formatted_date = ('0' + current_datetime.getDate()).slice(-2) + '/' + ('0' + (current_datetime.getMonth() + 1)).slice(-2) + '/' + current_datetime.getFullYear();
        return (formatted_date)
      }
    },
    loadprojectsearch(val) {
      localStorage.removeItem('session_plistsector');
      localStorage.removeItem('session_plistorg');
      localStorage.removeItem('session_plistcat');
      localStorage.removeItem('session_plistop');
      localStorage.removeItem('session_plistapprove');
      localStorage.removeItem('session_plistupdate');
      // if (this.sortByTenant) {
      //   localStorage.setItem('session_plistsector', this.sortByTenant);
      // }
      // if (this.sortBySubTenant) {
      //   localStorage.setItem('session_plistorg', this.sortBySubTenant);
      // }
      // if (this.sortByprojectCat) {
      //   localStorage.setItem('session_plistcat', this.sortByprojectCat);
      // }
      // if (this.sortByprojectop) {
      //   localStorage.setItem('session_plistop', this.sortByprojectop);
      // }
      // if (this.sortByprojectapprove) {
      //   localStorage.setItem('session_plistapprove', this.sortByprojectapprove);
      //   // alert(this.sortByprojectapprove+"inside")
      // }
      // if (this.sortByprojectneedupdate) {
      //   localStorage.setItem('session_plistupdate', this.sortByprojectneedupdate);
      // }
      //alert((this.sortByprojectcategory).split(','))
      //this.sortByTenant = null;
      var my_search = {
        sortBySubTenant: this.sortByTenant,
        sortByMtp: this.sortByMtp,
        category: this.sortByprojectcategory,
        operation: this.sortByprojectop,
        approve: this.sortByprojectapprove,
        update: this.sortByprojectneedupdate,
        type: this.sortBytype,
        project_start_date: this.project_start_date,
        project_end_date: this.project_end_date,

      };
      this.$store.dispatch('loadprojectearch', [my_search]);
    },
    loadTenants() {
      Vue.axios({
        url: 'loadTenantsministry',
        method: 'GET'
      })
        .then(response => {
          if (response.data.code == 200) {
            this.tenantoptions = response.data.tenants.map(function (item) {
              return {
                text: item.name,
                value: item.id
              }
            });

          }
        });
    },
    removeEmptyNode(nodes) {
      if (!nodes || nodes.length === 0)
        return;

      nodes.forEach(function (node) {

        if (node.tree.length === 0) {
          // alert(node)
          delete node.tree;
        } else {
          // alert(node.tree)
          //this.removeEmptyNode(node.tree);
          node.tree.forEach(function (node) {

            if (node.tree.length === 0) {
              // alert(node)
              delete node.tree;
            } else {
              // alert(node.tree)
              //this.removeEmptyNode(node.tree);
              node.tree.forEach(function (node) {

                if (node.tree.length === 0) {
                  // alert(node)
                  delete node.tree;
                } else {
                  // alert(node.tree)
                  this.removeEmptyNode(node.tree);
                }
              });

            }
          });
        }

      });
    },
    loadKpiDataSector(sector) {
      //this.loadprojectsearch(this.sortByTenant);
      /*this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
      if(!this.$auth.user().roles.includes('Admin') && this.sortBySubTenant != '') {
        this.loadKpiDataSector(this.sortByTenant)
      }
      */
      if (typeof sector != 'undefined' && sector != null) {
        localStorage.setItem('session_sector_load', sector);
      } else {
        localStorage.removeItem('session_sector_load');
      }
      this.options = '';
      if (!this.isAdmin && this.sortBySubTenant == null) {

        Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

          .then(response => {
            if (response.data.code == 200) {

              this.options = response.data.tree;
              this.$store.state.setTenant = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
        // this.sortBySubTenant = this.$auth.user().subtenant_id;

        // this.$store.dispatch('loadKpiDataOrgUnit', this.sortBySubTenant);
      } else {
        Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')
          .then(response => {
            if (response.data.code == 200) {
              this.$store.state.setTenant = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });
        //this.$store.dispatch('loadKpiDataSector', sector);
      }
      localStorage.setItem('session_sector', sector);
      //this.$store.dispatch('loadSubTenants', sector);

    },
    projectoperationalstatus(projectid, status) {
      Vue.axios.post(`/projectoperationalstatus`, {projectid: projectid, status: status})
        .then((response) => {
          if (response.data.code == 400) {
            this.$store.dispatch('get_text_title', 'error@m');
            this.$store.dispatch('get_text_message', response.data.msg + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            })
          } else {
            //.showingeditModal = true;
            this.$store.dispatch('get_text_title', 'success@m');
            this.$store.dispatch('get_text_message', response.data.msg + '@m');
            Vue.prototype.$notify.success({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Success',
              position: 'top-right'
            })
            this.$store.dispatch('loadprojectlist');
          }
          this.$store.state.isLoading = false;
        })
        .catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
    },

    projectApproveReject(projectid, status) {

      // if (status == 2) {
      //   // this.dangerModal = true;
      //   // this.rejectreasontext = '';
      //   // this.selectkpidata = kpi;
      //   return;
      //   //this.kpiRejectsave(kpi, status);
      // } else {

      // return tru;
      Vue.axios.post(`/projectApproveReject`, {projectid: projectid, status: status})
        .then((response) => {
          if (response.data.code == 400) {
            this.$store.dispatch('get_text_title', 'error@m');
            this.$store.dispatch('get_text_message', response.data.msg + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            })
          } else {
            //.showingeditModal = true;
            this.$store.dispatch('get_text_title', 'success@m');
            this.$store.dispatch('get_text_message', response.data.msg + '@m');
            Vue.prototype.$notify.success({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Success',
              position: 'top-right'
            })
            this.$store.dispatch('loadprojectlist');
          }
          this.$store.state.isLoading = false;
        })
        .catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Success@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');

            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });

    },


    getBadge1(status) {
      return status == 1 ? 'success' : status == 0 ? 'danger' : 'primary'
    },
    getNameStatus(status) {
      // alert(status)
      return (
        (status == 0) ? "pending" :
          ((status == 1) ? "approved" :
            ((status == 2) ? "rejected" :
              ((status == 3) ? "rejected" : "pending_for_approval")))
      );
    },
    getNameopStatus(status) {
      // alert(status)
      return (
        (status == 0) ? "planning" :
          ((status == 1) ? "progressing" :
            ((status == 2) ? "on_hold" : "closed"))

      );
    },

    setPriorityData() {
      this.priorityData = {
        TypeCode: '',
        Type: ''
      }
    },
    get_text(textbit) {
      var transtext = this.translation[this.$i18n.locale][textbit];
      if (transtext) {
        return transtext;
      } else {
        var spliteText = (textbit.split("@"));
        if (spliteText.length > 2) {
          var newTxt = (spliteText[0] + '@' + 'l');
          var transtext1 = this.translation[this.$i18n.locale][newTxt];
          if (transtext1) {
            return transtext1;
          } else {
            return "!" + textbit;
          }
        } else {
          return "!" + textbit;
        }
      }

    },
    $can(permissionName) {
      // alert(this.$auth.user().allPermissions);
      return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
    },

    getBadge(status) {
      return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
    },
    getName(status) {
      return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
    },
    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
}
</script>
<style>
.centreCls {
  text-align: center !important;
}

.mb-xl-0.col-sm-4.col-md-2.col-xl-1.col-2 {
  margin: 0;
  padding-left: 0px;
  padding-right: 6px;
}

.customClass button.btn.btn-secondary.btn-sm {
  background-color: transparent;
}

.btnClassCustmAr {
  padding-left: 0px !important;
}

.btnClassCustmEn {
  padding-right: 0px !important;
}

.trtdrow {
  background: #43a9cc;
  color: #ffffff;
  font-weight: bold;
}

.symbolCls {
  white-space: nowrap;
}

.modal-header .close {
  padding: 0 !important;
  margin: 0 !important;
}

.table-responsive {

  overflow-x: visible !important;
  overflow-y: hidden !important;
}
</style>
<style scoped>
.card-body >>> table > tbody > tr > td {
  cursor: pointer;
  vertical-align: middle !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  /*text-align: center!important;*/

}

.card-body >>> table > thead > tr > th {
  text-align: center !important;
}

.b-dropdown {
  margin-top: 0 !important;
}

.text-center {
  width: 260px !important;
}

.setwidth {
  width: 130px !important;
}

.pointerClass {
  pointer-events: none;
  cursor: none;
}

@media print {
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #23282c;

  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c8ced3;
  }

  table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
    text-align: center;
    vertical-align: middle;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

}

</style>
