<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div class="row"  v-if="$can('reportsstp-FiscalYearPerformance-view')">
      <div class="col-md-12"
           :style="$i18n.locale =='en' ? 'padding-left:0; padding-right:0' : 'padding-left:0; padding-right:0'">
        <div class="card" style="margin: 0">
          <div class="card-header">
            <b class="h4">{{ get_text('defination@fiscal_perf@l') }}</b>
            <b-link v-if="$can('reportsstp-FiscalYearPerformance-print')"
                    class="card-header-action btn-close float-right" href="#"
                    v-on:click="printdeptperf('sectiontreemap')">
              <i class="icon-printer"></i>
            </b-link>
          </div>
        </div>
      </div>
    </div>
    <div id="sectiontreemap"  v-if="$can('reportsstp-FiscalYearPerformance-view')">

      <b-row>
        <b-col md="4" sm="4" :style="$i18n.locale =='en' ? 'padding-left:0;padding-right:0' : 'padding-right:0;'"
               style="margin-top: 0.6rem">
          <div class="brand-card" style="margin-bottom: 0">
            <div class="bg-primary" style="height: 3rem; font-size: 18px;">
              <i class="fa fa-calendar-alt p-2" style="font-size: 18px"> {{ get_text('fiscal_year@fiscal_perf@l') }}</i>
            </div>
            <div class="brand-card-body" style="padding: 0;">
              <div class="col-sm-12 card-body p-2 d-flex align-items-center"
                   style="padding: 2.2rem !important;text-align: center"
                   :style="$i18n.locale=='en' ? 'border-left: 0;' : 'border-right: 0;'">
                01-04-2019 - 31-03-2020

              </div>
            </div>
          </div>
        </b-col>
        <b-col md="8" sm="8" :style="$i18n.locale =='en' ? 'padding-right:0' : 'padding-left:0;padding-right:0;'"
               style="margin-top: 0.6rem">
          <div class="brand-card" style="margin-bottom: 0">
            <div class="bg-primary" style="height: 3rem; font-size: 18px">
              <i class="fa fa-list p-3" style="font-size: 18px"> {{ get_text('perf_prog@fiscal_perf@l') }}</i>
            </div>
            <div class="brand-card-body" style="padding: 0;">
              <div class="col-sm-6 card-body p-0 d-flex align-items-center"
                   :style="$i18n.locale=='en' ? 'border-left: 0;' : 'border-right: 0;'">
                <b-list-group style="width: 100%"
                              :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">&nbsp;</b-list-group-item>
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">{{
                    get_text('this_year_values@fiscal_perf@l') }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{
                    get_text('change_from_last_fy@fiscal_perf@l') }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="col-sm-3 card-body p-0 d-flex align-items-center"
                   :style="$i18n.locale=='en' ? 'border-left: 0;' : 'border-right: 0;'">
                <b-list-group style="width: 100%"
                              :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">{{ get_text('progress_val@strategy_cost@l') }}</b-list-group-item>
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(0) }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(0) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="col-sm-3 card-body p-0 d-flex align-items-center">
                <b-list-group style="width: 100%"
                              :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">{{ get_text('performance@strategy_cost@l') }}</b-list-group-item>
                  <b-list-group-item href="#" style="padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(0) }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(0) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="1" style="padding: 0">
          <div class="bg-primary">
            <i class="fa fa-university" style="font-size: 32px; padding: 34% 30% 34% 30%"></i>
          </div>
        </b-col>
        <b-col sm="5">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{ get_text('revenues@fiscal_perf@l')}}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('government@fiscal_perf@l')}}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('ministry@fiscal_perf@l')}}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="2">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold"  style="font-size: 17px; color: #ffffff">{{
              get_text('pro_rata@fiscal_perf@l') }}</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="4">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold"  style="font-size: 17px; color: #ffffff">{{
              get_text('change_from_last_fy@fiscal_perf@l') }}
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color:#1c8c44;"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="1" style="padding: 0" class="bg-primary">
          <div class="bg-primary">
            <i class="fa fa-money-bill-alt" style="font-size: 28px; padding: 80% 30% 80% 30%"></i>
          </div>
        </b-col>
        <b-col sm="5">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{ get_text('expenses@fiscal_perf@l')}}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('government@fiscal_perf@l')}}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('ministry@fiscal_perf@l')}}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{ get_text('cost_details@fiscal_perf@l')}}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('direct@fiscal_perf@l')}}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('indirect@fiscal_perf@l')}}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('projects@fiscal_perf@l')}}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="2">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{
              get_text('pro_rata@fiscal_perf@l') }}</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark" style="font-size: 17px;">&nbsp;</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="4">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold"  style="font-size: 17px; color: #ffffff">{{
              get_text('change_from_last_fy@fiscal_perf@l') }}
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark" style="font-size: 17px;">&nbsp;
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="1" style="padding: 0" class="bg-primary">
          <div class="bg-primary">
            <i class="fa fa-balance-scale-left" style="font-size: 28px; padding: 80% 30% 80% 30%"></i>
          </div>
        </b-col>
        <b-col sm="5">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{
              get_text('dificit@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{
              get_text('government@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{get_text('planned_budget@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{get_text('actual_budget@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{get_text('dificit@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{
              get_text('ministry@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{get_text('planned_budget@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{get_text('actual_budget@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{get_text('dificit@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ new Intl.NumberFormat('en-US', {
                  style: 'currency',
                  currency: 'KWD',
                  }).format(0) }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="2">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold" style="font-size: 17px; color: #ffffff">{{
              get_text('variance@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center border">&nbsp;</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border" style="font-size: 17px; color: #ffffff">{{
              get_text('pro_rata@fiscal_perf@l') }}
            </b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="4">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center bg-gray-dark font-weight-bold"  style="font-size: 17px; color: #ffffff">{{
              get_text('change_from_last_fy@fiscal_perf@l') }}
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center border">&nbsp;
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center border">&nbsp;
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="12" class="p-2 font-2xl font-weight-bolder">{{ get_text('ministry_sectors@fiscal_perf@l') }}</b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="1" style="padding: 0" class="bg-primary">
          <div class="bg-primary">
            <i class="fa fa-project-diagram" style="font-size: 28px; padding: 80% 30% 80% 30%"></i>
          </div>
        </b-col>
        <b-col sm="5">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl font-weight-bold bg-gray-dark" style="font-size: 17px; color: #ffffff">{{ get_text('procesess_projects@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('ministry@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('process_count@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('projects_count@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">222
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">321
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('sectors@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('process_count@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('projects_count@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">432
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">413
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="2">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold  bg-gray-dark" style="font-size: 17px; color: #ffffff">&nbsp;{{
              get_text('pro_rata@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="4">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold  bg-gray-dark" style="font-size: 17px; color: #ffffff">&nbsp;{{
              get_text('change_from_last_fy@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;</b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center border">&nbsp;
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>

      <b-row style="margin-top: 0.6rem; background-color: #ffffff">
        <b-col sm="1" style="padding: 0" class="bg-primary">
          <div class="bg-primary">
            <i class="fa fa-users" style="font-size: 28px; padding: 80% 30% 80% 30%"></i>
          </div>
        </b-col>
        <b-col sm="5">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl font-weight-bold bg-gray-dark" style="font-size: 17px; color: #ffffff">{{ get_text('unit_capacity@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('ministry@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('registered@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('available@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('utilization@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">121
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">432
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">323
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('sectors@fiscal_perf@l') }}</b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: right;' : 'text-align: left;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('registered@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('available@fiscal_perf@l') }}
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">{{ get_text('utilization@fiscal_perf@l') }}
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="6" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">100
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">231
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">344
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('ministry_sectors@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">{{ get_text('utilization@fiscal_perf@l') }}</b-col>
          </b-row>
        </b-col>
        <b-col sm="2">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold bg-gray-dark"  style="font-size: 17px; color: #ffffff">&nbsp;{{
              get_text('pro_rata@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;</b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;
            </b-col>
            <b-col sm="12" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">88.85%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="4">
          <b-row>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold bg-gray-dark" style="font-size: 17px; color: #ffffff">{{
              get_text('change_from_last_fy@fiscal_perf@l') }}</b-col>
            <b-col sm="12" class="p-1 font-1xl text-center font-weight-bold border">&nbsp;</b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">92.33%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="12" class="p-1 font-1xl text-center border">&nbsp;
            </b-col>
            <b-col sm="8" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;">12.99%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;">-1.00%
                </b-list-group-item>
              </b-list-group>
            </b-col>
            <b-col sm="4" style="padding: 0">
              <b-list-group style="width: 100%"
                            :style="$i18n.locale=='en' ? 'text-align: center;' : 'text-align: center;'">
                <b-list-group-item href="#" style="border-top: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-up" style="color: #1c8c44"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
                <b-list-group-item href="#" style="border-bottom: none;padding: 0.25rem 1.25rem; !important;"><i class="fa fa-arrow-alt-circle-down" style="color: #cc1013"></i>
                </b-list-group-item>
              </b-list-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    <div v-else-if="!$can('reportsstp-FiscalYearPerformance-view')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import {store} from '@/components/stp/store/store'
  import {TreeGridPlugin, Toolbar, Page, Resize} from "@syncfusion/ej2-vue-treegrid";
  import {mapState, mapGetters, mapActions} from 'vuex'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(TreeGridPlugin);
  Vue.use(Loading);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      this.loadViewStpData();
    },
    data: () => {
      return {
        translation: [],
        itemsTwo: [],
        fieldsTwo: [],
        planCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_direct_p > 0 ? (data.cost_direct_p + data.cost_indirect_p + data.cost_projects_p) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        actualCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_direct_a > 0 ? (data.cost_direct_a + data.cost_indirect_a + data.cost_projects_a) : 0) }}</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        varianceTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_variance > 0 ? (data.cost_variance) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        variancepctTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong
                    class="text-left"> {{ (data.cost_variance_pct) ? (data.cost_variance_pct * 100).toFixed(2) : (0).toFixed(2) }}
                    %</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        squanderingTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_squandering > 0 ? (data.cost_squandering) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitProgTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <i v-if="data.showProgIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i><strong
                  class="text-left"> {{ (data.prog_sum_w) ? (data.prog_sum_w).toFixed(2) : (0).toFixed(2) }}%</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitPerfTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <!--<strong class="text-left"> {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : 0 }}%</strong>-->
                  <i v-if="data.showPrefIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i>
                  <div v-if="((data.perf_sum_w))===0"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }} %
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=0 && ((data.perf_sum_w))<20 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=20 && ((data.perf_sum_w))<40 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=40 && ((data.perf_sum_w))<60"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=60 && ((data.perf_sum_w))<80"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=80 && ((data.perf_sum_w))<100 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0"
                       aria-valuemax="100">{{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        }
      }
    },
    mounted() {
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      Unauthorized,
      'loading': Loading,
    },
    computed: {
      strategycost() {
        this.fieldsTwo = [
          {
            key: 'index',
            label: '#',
          },
          {
            key: 'name',
            /*thStyle: {'max-width': '100px !important'},*/
            label: this.get_text('stratigic_goal@strategy_cost@l'),
          },
          {
            key: 'planned_cost',
            label: this.get_text('plan_cost@strategy_cost@l'),
            thClass: 'red',
          },
          {
            key: 'actual_cost',
            label: this.get_text('actual_cost_val@strategy_cost@l'),
            thClass: 'red',
          },
          {
            key: 'variation',
            label: this.get_text('variation@strategy_cost@l'),
            thClass: 'red',
          },
          {
            key: 'progress',
            label: this.get_text('progress_val@strategy_cost@l'),
            thClass: 'red',
          },
          {
            key: 'performance',
            label: this.get_text('performance@strategy_cost@l'),
            thClass: 'red',
          }
        ];
        return this.itemsTwo;
      }
    },
    methods: {
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      printdeptperf(deptperfdiv) {
        var dropButton = document.getElementById(deptperfdiv);
        //dropButton.style.visibility = 'hidden';
        window.print()
        // dropButton.style.visibility = 'visible';
        return true;
      },
      loadViewStpData() {
        this.$store.dispatch('loadDefaultSectorOrgMtpFiscal', [2, localStorage.getItem('currentMTP'), 'Y', 1, 'startegic']);
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      }
    },
  }
</script>
<style>
  @media print {
    @page {
      size: A4 landscape;
      padding: 1cm;
    }

    body * {
      visibility: hidden;
    }

    #sectiontreemap {
      margin-top: -10%;
    }

    #sectiontreemap, #sectiontreemap * {
      visibility: visible;
    }
  }

  .customCardBody.brand-card-body {
    padding: 0.02rem 0;
  }

  .text-value {
    font-size: 0.801rem !important;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>

