<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div class="row" v-if="$can('reportsstp-strategiccost')">
      <div class="col-md-12"
           :style="$i18n.locale =='en' ? 'padding-left:0; padding-right:0' : 'padding-left:0; padding-right:0'">
        <div class="card" style="margin: 0">
          <div class="card-header">
            <b class="h4">{{ get_text('strategy_direction@strategy_cost@l') }}</b>
            <b-link v-if="$can('reportsstp-strategiccost-print')" class="card-header-action btn-close float-right" href="#"
                    v-on:click="printdeptperf('sectiontreemap')">
              <i class="icon-printer"></i>
            </b-link>
            <b-link class="card-header-action btn-minimize float-right" v-b-toggle.my-collapse
                    v-if="typeof this.$route.params.id == 'undefined'">
              <i class="icon-arrow-up"></i>
            </b-link>
          </div>
          <b-collapse id="my-collapse">
            <div class="card-body">
              <b-row>
                <b-col sm="6">
                  <b-form-group horizontal :label="get_text('org_unit@l')">
                    <b-input-group>
                      <treeselect :dir="rtl ? 'rtl' : 'ltr'" :placeholder="get_text('please_select@l')"
                                  :normalizer="normalizer" searchable="searchable"
                                  :options="this.$store.state.setTenant"
                                  v-model="sortBySector"
                                  @input="loadViewStpDirectionData"/>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col sm="6">
                  <b-form-group horizontal :label="get_text('mtp@gaugechart@l')">
                    <b-form-select v-model="sortByMtp" :options="this.$store.state.kpi_mtp"
                                   v-on:change=" showingdropModal=false; loadViewStpDirectionData()">
                      <option slot="first" :value="null">-- اختر --</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col sm="6">
                  <b-form-group :label="get_text('as_of_period@stp_view@l')" horizontal>
                    <b-input-group>
                      <b-form-select :options="[
                                            {
                                              text: get_text('please_select@stp_view@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('1st_quarter@stp_view@l'),
                                              value: 'Q1'
                                            }, {
                                              text: get_text('2nd_quarter@stp_view@l'),
                                              value: 'Q2'
                                            }, {
                                              text: get_text('3rd_quarter@stp_view@l'),
                                              value: 'Q3'
                                            },
                                            {
                                              text: get_text('4th_quarter@stp_view@l'),
                                              value: 'Q4'
                                            },
                                            {
                                              text: get_text('annual@stp_view@l'),
                                              value: 'Y'
                                            }

                                            ]" @change="loadViewStpDirectionData"
                                     v-model="sortByPeriod">
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group :label="get_text('fiscal_year@stp@l')" horizontal horizontal>
                    <b-input-group>
                      <!--<treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                                  :normalizer="normalizerOne"
                                  @input="loadViewStpDirectionData"
                                  :required="true" :class="treeselectClassFiscal"
                                  :options="this.$store.getters.fiscalYear" v-model="sortByFiscal"
                      />-->
                      <b-form-select :options="[
                                            {
                                              text: get_text('please_select@kpi_def@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('1year@stp_view@l'),
                                              value: '1'
                                            }, {
                                              text: get_text('2year@stp_view@l'),
                                              value: '2'
                                            }, {
                                              text: get_text('3year@stp_view@l'),
                                              value: '3'
                                            }]" @change="loadViewStpDirectionData"
                                     v-model="sortByFiscal">
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
          </b-collapse>
        </div>
      </div>
    </div>
    <div id="sectiontreemap" v-if="$can('reportsstp-strategiccost')">
      <b-row style="" v-if="Object.keys($store.getters.dataHeading).length > 0"
             v-for="(perfprog, index) in $store.getters.dataHeading['vision']"
             style="" :key="index">
        <b-col :lg="6" :sm="6" :style="$i18n.locale =='en' ? 'padding-left:0;padding-right:0' : 'padding-right:0;'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;" :id="'tooltip-target-vision'+index">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-4 fas p-2 font-2xl mr-3 bg-gray-dark" :class="perfprog.icon_name"
                 style="color: #fff;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">&nbsp;&nbsp;&nbsp;
                <label style="font-size: 18px;">{{ perfprog.obj_name }}</label></i>
              <div class="customCardBody brand-card-body col-sm-8">
                <div>
                  <div class="text-value" style="direction: ltr">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_p) }}
                  </div>
                  <div class="text-muted small">{{ get_text('plan_cost@strategy_cost@l') }}
                  </div>
                </div>
                <div>
                  <div class="text-value" style="direction: ltr">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_a)
                    }}
                  </div>
                  <div class="text-muted small">{{ get_text('actual_cost_val@strategy_cost@l') }}
                  </div>
                </div>
                <div>
                  <div class="text-value" style="direction: ltr">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_a - perfprog.sum_cost_p) }}
                  </div>
                  <div class="text-muted small">{{ get_text('variation@strategy_cost@l') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="6" :sm="6" :style="$i18n.locale =='en' ? 'padding-right:0' : 'padding-right:0;padding-left:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;" :id="'tooltip-target-vision'">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-8 fas p-2 font-2xl mr-3 bg-primary" :class="'fa fa-chart-line'"
                 style="color: #fff;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">&nbsp;&nbsp;&nbsp;
                <label style="font-size: 18px;">{{ get_text('perf_prog@strategy_cost@l') }}</label></i>
              <div class="customCardBody brand-card-body col-sm-4">
                <div>
                  <div class="text-value">
                    {{ (perfprog.prog_sum_w*100).toFixed(2) }}%
                  </div>
                  <div class="text-muted small">{{ get_text('progress_val@strategy_cost@l') }}
                  </div>
                </div>
                <div>
                  <div class="text-value">{{ (perfprog.perf_sum_w*100).toFixed(2) }}%
                  </div>
                  <div class="text-muted small">{{ get_text('performance@strategy_cost@l') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>

      <b-row v-if="Object.keys($store.getters.dataHeading).length > 0">
        <b-col md="6" sm="6"
               :style="$i18n.locale =='en' && (index == 0 || index == 2) ? 'padding-left:0;padding-right:0' : ($i18n.locale =='ar' && (index == 0 || index == 2) ? 'padding-right:0;' : ( $i18n.locale =='en' && (index == 1 || index == 3) ? 'padding-right:0' : 'padding-left:0;padding-right:0;'))"
               style="margin-top: 0.6rem" v-for="(perfprog, index) in $store.getters.dataHeading['targets']"
               :key="index">
          <div class="brand-card" style="margin-bottom: 0">
            <div class="bg-primary" style="height: 3rem; font-size: 18px;">
              <i class="fa p-3" :class="perfprog.icon_name" style="font-size: 18px"> {{ perfprog.obj_name }}</i>
            </div>
            <div class="brand-card-body" style="padding: 0;">
              <div class="col-sm-4 card-body p-0 d-flex align-items-center"
                   :style="$i18n.locale=='en' ? 'border-left: 0;' : 'border-right: 0;'">
                <b-list-group style="width: 100%"
                              :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                  <b-list-group-item href="#" style="border-top: none;padding: 0.55rem 1.25rem; !important;">{{
                    get_text('plan_cost@strategy_cost@l') }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="border-bottom: none;padding: 0.55rem 1.25rem; !important;">{{
                    get_text('actual_cost_val@strategy_cost@l') }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="padding: 0.55rem 1.25rem; !important;">{{
                    get_text('variation@strategy_cost@l') }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="col-sm-4 card-body p-0 d-flex align-items-center"
                   :style="$i18n.locale=='en' ? 'border-left: 0;' : 'border-right: 0;'">
                <b-list-group style="width: 100%"
                              :style="$i18n.locale=='en' ? 'text-align: left;' : 'text-align: right;'">
                  <b-list-group-item href="#"
                                     style="border-top: none;padding: 0.55rem 1.25rem; !important;direction: ltr">{{ new
                    Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_p) }}
                  </b-list-group-item>
                  <b-list-group-item href="#"
                                     style="border-bottom: none;padding: 0.55rem 1.25rem; !important;direction: ltr">{{
                    new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_a) }}
                  </b-list-group-item>
                  <b-list-group-item href="#" style="padding: 0.55rem 1.25rem; !important;direction: ltr">{{ new
                    Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(perfprog.sum_cost_a - perfprog.sum_cost_p) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="col-sm-4 card-body p-0 d-flex align-items-center">
                <div class="customCardBody brand-card-body col-sm-12">
                  <div>
                    <div class="text-value" style="direction: ltr">
                      {{ (perfprog.prog_sum_w*100).toFixed(2) }} %
                    </div>
                    <div class="text-muted small">{{ get_text('progress_val@strategy_cost@l') }}
                    </div>
                  </div>
                  <div>
                    <div class="text-value" style="direction: ltr">{{ (perfprog.perf_sum_w*100).toFixed(2) }} %
                    </div>
                    <div class="text-muted small">{{ get_text('performance@strategy_cost@l') }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>

      </b-row>
      <b-row style="margin-top: 0.6rem" v-if="Object.keys($store.getters.dataHeading).length > 0">
        <b-col sm="12" style="background-color: #ffffff">
          <!--<b-table responsive="sm" :items="strategycost" :fields="fieldsTwo" show-empty>-->
          <b-table :hover="hover" :striped="striped" responsive class="table customDown" :items="strategycost"
                   :fields="fieldsTwo" show-empty style="margin: 0">
            <template slot="index" slot-scope="data">
              {{ data.index + 1 }}
            </template>
            <template v-slot:empty="scope">
              <h5>{{ get_text('no_data_found@stp@l') }}</h5>
            </template>
            <template slot="sum_cost_p" slot-scope="data" style="direction: ltr">
              {{ new Intl.NumberFormat('en-US', {
              style: 'currency',
              currency: 'KWD',
              }).format(((data.item.sum_cost_p) ? data.item.sum_cost_p : 0)) }}
            </template>
            <template slot="sum_cost_a" slot-scope="data" style="direction: ltr">
              <label style="direction: ltr; padding: 0; margin: 0">{{ new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD',
                }).format(((data.item.sum_cost_a) ? data.item.sum_cost_a : 0)) }}</label>
            </template>
            <template slot="variation" slot-scope="data" style="direction: ltr">
              <label style="direction: ltr; padding: 0; margin: 0">{{ new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'KWD',
                }).format(((data.item.sum_cost_p) ? (data.item.sum_cost_a- data.item.sum_cost_p) : 0)) }}</label>
            </template>
            <template slot="variation_pct" slot-scope="data">
              <label style="direction: ltr; padding: 0; margin: 0">{{ ((data.item.sum_cost_p) ? (((data.item.sum_cost_a-
                data.item.sum_cost_p)/data.item.sum_cost_p)*100).toFixed(2) : (0).toFixed(2)) }}%</label>
            </template>
            <template slot="prog_sum_w" slot-scope="data">
              <label style="direction: ltr; padding: 0; margin: 0">{{ (data.item.prog_sum_w) ?
                (data.item.prog_sum_w*100).toFixed(2) : (0).toFixed(2) }}%</label>
            </template>
            <template slot="perf_sum_w" slot-scope="data">
              <div v-if="((data.item.perf_sum_w *100))===0"
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">
                {{((data.item.perf_sum_w *100).toFixed(2)) }}%
              </div>
              <div v-else-if="((data.item.perf_sum_w *100))>=0 && ((data.item.perf_sum_w *100))<20 "
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">{{
                ((data.item.perf_sum_w *100).toFixed(2))
                }}%
              </div>
              <div v-else-if="((data.item.perf_sum_w *100))>=20 && ((data.item.perf_sum_w *100))<40 "
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">{{
                ((data.item.perf_sum_w *100).toFixed(2))
                }}%
              </div>
              <div v-else-if="((data.item.perf_sum_w *100))>=40 && ((data.item.perf_sum_w *100))<60"
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">{{
                ((data.item.perf_sum_w *100).toFixed(2))
                }}%
              </div>
              <div v-else-if="((data.item.perf_sum_w *100))>=60 && ((data.item.perf_sum_w *100))<80"
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">{{
                ((data.item.perf_sum_w *100).toFixed(2))
                }}%
              </div>
              <div v-else-if="((data.item.perf_sum_w *100))>=80 && ((data.item.perf_sum_w *100))<100 "
                   class="progress-bar" role="progressbar"
                   :style="'width:'+((data.item.perf_sum_w *100))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                   :aria-valuenow="((data.item.perf_sum_w *100))" aria-valuemin="0" aria-valuemax="100">{{
                ((data.item.perf_sum_w *100).toFixed(2))
                }}%
              </div>
            </template>
          </b-table>
        </b-col>
      </b-row>
      <b-row style="margin-top: 0.6rem">
        <div class="control-section" style="overflow: auto">
          <div class="content-wrapper customtableclass"
               v-if="Object.keys(this.$store.getters.dataHeirarchy).length > 0">
            <ejs-treegrid v-if="Object.keys(this.$store.getters.dataHeirarchy).length > 0"
                          :dataSource='this.$store.getters.dataHeirarchy'
                          idMapping='sub_id'
                          parentIdMapping='sub_parent'
                          hasChildMapping='isParent'
                          :treeColumnIndex='0'
                          ref="grid"
                          :enableCollapseAll="false"
                          :gridLines="lines"
                          :allowResizing='true'
            >
              <!--:toolbar='toolbar'-->
              <e-columns>
                <e-column field='sub_name' :headerText='this.get_text("org_name@statistics@c")'
                          width='25%' :textAlign="$i18n.locale=='en' ? 'left' : 'right'"></e-column>

                <e-column :customAttributes="customAttributes" field='cost_total_p'
                          :headerText="this.get_text('planned_unit_cost@stp_view@l')" width='15%'
                          :template="planCostTemplate" textAlign='center'></e-column>

                <e-column :customAttributes="customAttributes" field='cost_total_a'
                          :headerText="this.get_text('actual_unit_cost@stp_view@l')" width='15%'
                          :template="actualCostTemplate" textAlign='center'></e-column>

                <e-column :customAttributes="customAttributes" field='cost_variance'
                          :headerText="this.get_text('variance@stp_view@l')" width='15%'
                          :template="varianceTemplate" textAlign='center'></e-column>

                <e-column :customAttributes="customAttributes" field='cost_variance_pct'
                          :headerText="this.get_text('variance_prct@stp_view@l')" width='10%'
                          :template="variancepctTemplate" textAlign='center'></e-column>

                <!--<e-column field='cost_squandering' :headerText="this.get_text('squandering@stp_view@l')" width='15%'
                          :template="squanderingTemplate" textAlign='center'></e-column>-->
                <e-column :customAttributes="customAttributes" field='prog_sum_w'
                          :headerText="this.get_text('unit_prog@stp_view@l')" width='10%'
                          :template="unitProgTemplate" textAlign='center'></e-column>
                <e-column :customAttributes="customAttributesPerf" field='perf_sum_w'
                          :headerText="this.get_text('unit_perf@stp_view@l')" width='10%'
                          :template="unitPerfTemplate" :textAlign="'center'"></e-column>
              </e-columns>
            </ejs-treegrid>
          </div>
        </div>
      </b-row>

      <b-row style="background-color: rgb(255, 255, 255) !important; margin-top: 1%;margin-bottom: 1%;">
        <b-col style="margin-bottom:10px;margin-top:10px;" :class="'col-sm-9 property-section'">
          <div style="margin-left:20px;margin-right:20px;" class="text-value">
            {{ get_text('period@section_performance@l') }} : {{ get_text(this.yearselect) }}({{
            get_text(this.periodselect)
            }})
          </div>
          <div style="margin-left:20px;margin-right:20px;" class="text-value">
            {{ get_text('issue_date@section_performance@l') }} : {{ this.currentdate }}
          </div>


        </b-col>
        <!--<b-col sm='3' style="margin-bottom:10px;margin-top:10px;">
          <div :class="($i18n.locale=='en' ? 'ltrclassicons' : 'rtlclassicons')" class="text-value"><i style="color:red"
                                                                                                       class="fas fa-exclamation-circle fa-1x"></i>
            : {{ get_text('icon_legend_missing_readings@l') }}
            <br> <i style="color:red" class="fas fa-exclamation-triangle fa-1x"> </i> :
            {{ get_text('icon_legend_wrong_perf_or_prog_data@l') }}

          </div>
        </b-col>-->
      </b-row>
    </div>
    <div v-else-if="!$can('reportsstp-strategiccost')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import {store} from '@/components/stp/store/store'
  import {TreeGridPlugin, Toolbar, Page, Resize} from "@syncfusion/ej2-vue-treegrid";
  import {mapState, mapGetters, mapActions} from 'vuex'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(TreeGridPlugin);
  Vue.use(Loading);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      //if (this.$auth.user().roles.includes('Admin')) {
      if (this.$auth.user().currentRole == 'Admin') {
        this.isAdmin = true;
      } else if (this.$auth.user().roles.includes('Strategy Executive')) {
        this.isAdmin = false;
      } else {
        this.isAdmin = false;
      }
      if (!this.isAdmin) {
        //this.sortBySector = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().subtenant_id);
        this.sortBySector = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().subtenant_id);

        Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.$store.state.setTenant = response.data.tree;

              this.removeEmptyNode(this.options);

            }
          });
      }
      this.loadViewStpDirectionData();
    },
    data: () => {
      return {
        currentdate: '',
        yearselect: '',
        periodselect: '',
        customAttributes: {class: 'customcss'},
        customAttributesPerf: {class: 'customcssPerf'},
        translation: [],
        itemsTwo: [],
        fieldsTwo: [],
        sortBySector: 2,
        sortByPeriod: 'Y',
        sortByMtp: 4,
        sortByFiscal: 1,
        lines: 'Vertical',
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerOne(node) {
          return {
            id: node.id,
            label: node.start_date + "-" + node.end_date,
          }
        },
        planCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline; direction: ltr !important;">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_total_p > 0 ? data.cost_total_p : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        actualCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline; direction: ltr !important;">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_total_a > 0 ? data.cost_total_a : 0) }}</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        varianceTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline; direction: ltr !important;">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_variance) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        variancepctTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong
                    class="text-left"> {{ (data.cost_variance_pct) ? (data.cost_variance_pct * 100).toFixed(2) : (0).toFixed(2) }}
                    %</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        squanderingTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_squandering > 0 ? (data.cost_squandering) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitProgTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <i v-if="data.showProgIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i><strong
                  class="text-left"> {{ (data.prog_sum_w) ? (data.prog_sum_w).toFixed(2) : (0).toFixed(2) }}%</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitPerfTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `

                <!--<strong class="text-left"> {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : 0 }}%</strong>-->
                <i v-if="data.showPrefIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i>
                <div v-if="((data.perf_sum_w))===0"
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                  {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }} %
                </div>
                <div v-else-if="((data.perf_sum_w))>=0 && ((data.perf_sum_w))<20 "
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                  {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                </div>
                <div v-else-if="((data.perf_sum_w))>=20 && ((data.perf_sum_w))<40 "
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                  {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                </div>
                <div v-else-if="((data.perf_sum_w))>=40 && ((data.perf_sum_w))<60"
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                  {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                </div>
                <div v-else-if="((data.perf_sum_w))>=60 && ((data.perf_sum_w))<80"
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                  {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                </div>
                <div v-else-if="((data.perf_sum_w))>=80 && ((data.perf_sum_w))<100 "
                     class="progress-bar" role="progressbar"
                     :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                     :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0"
                     aria-valuemax="100">{{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        }
      }
    },
    mounted() {
      var currentDate = new Date();
      var currentDateWithFormat = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
      this.currentdate = currentDateWithFormat;
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      Unauthorized,
      'loading': Loading,
      Treeselect
    },
    computed: {
      strategycost() {
        this.fieldsTwo = [
          {
            key: 'index',
            label: '#',
            tdClass: 'fixed5'
          },
          {
            key: 'obj_name',
            /*thStyle: {'max-width': '100px !important'},*/
            label: this.get_text('stratigic_goal@strategy_cost@l'),
            tdClass: 'fixed20'
          },
          {
            key: 'sum_cost_p',
            label: this.get_text('plan_cost@strategy_cost@l'),
            thClass: 'red',
            tdClass: 'fixed18'
          },
          {
            key: 'sum_cost_a',
            label: this.get_text('actual_cost_val@strategy_cost@l'),
            tdClass: 'fixed18'
          },
          {
            key: 'variation',
            label: this.get_text('variation@strategy_cost@l'),
            tdClass: 'fixed18'
          },
          {
            key: 'variation_pct',
            label: this.get_text('variation_pct@strategy_cost@l'),
            tdClass: 'fixed7'
          },
          {
            key: 'prog_sum_w',
            label: this.get_text('progress_val@strategy_cost@l'),
            // thClass: 'red',
            tdClass: 'fixed7'
          },
          {
            key: 'perf_sum_w',
            label: this.get_text('performance@strategy_cost@l'),
            //thClass: 'red',
            tdClass: 'fixed7'
          }
        ];
        return (Object.keys(this.$store.getters.dataHeading).length > 0 ? this.$store.getters.dataHeading.tabledata : []);
      }
    },
    provide: {
      treegrid: [Page, Toolbar, Resize]
    },
    methods: {
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      printdeptperf(deptperfdiv) {
        var dropButton = document.getElementById(deptperfdiv);
        //dropButton.style.visibility = 'hidden';
        window.print()
        // dropButton.style.visibility = 'visible';
        return true;
      },
      loadViewStpDirectionData() {
        /*if (!this.isAdmin) {
          this.sortBySector = ((this.$auth.user().roles.includes('Admin')) ? 2 : this.$auth.user().subtenant_id);
        }*/
        this.$store.state.dataHeirarchy = [];
        this.$store.state.dataHeading = [];
        this.$store.dispatch('loadDefaultSectorOrgMtpFiscal', [this.sortBySector, this.sortByMtp, this.sortByPeriod, this.sortByFiscal, 'startegic']);

        if (this.sortByPeriod == 'Q1') {
          this.periodselect = '1st_quarter@section_performance@l';
        }
        if (this.sortByPeriod == 'Q2') {
          this.periodselect = '2nd_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'Q3') {
          this.periodselect = '3rd_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'Q4') {
          this.periodselect = '4th_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'H1') {
          this.periodselect = '1st_biannual@section_performance@l'
        }
        if (this.sortByPeriod == 'H2') {
          this.periodselect = '2nd_biannual@section_performance@l'
        }
        if (this.sortByPeriod == 'Y') {
          this.periodselect = 'annual@section_performance@l'
        }
        if (this.sortByFiscal == '1') {
          this.yearselect = 'year1@section_performance@l'
        }
        if (this.sortByFiscal == '2') {
          this.yearselect = 'year2@section_performance@l'
        }
        if (this.sortByFiscal == '3') {
          this.yearselect = 'year3@section_performance@l'
        }
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      }
    },
  }
</script>
<style>
  @media print {
    @page {
      size: A4 landscape;
      padding: 1cm;
    }

    body * {
      visibility: hidden;
    }

    #sectiontreemap {
      margin-top: -10%;
    }

    #sectiontreemap, #sectiontreemap * {
      visibility: visible;
    }
  }

  .customCardBody.brand-card-body {
    padding: 0.02rem 0;
  }

  .text-value {
    font-size: 0.801rem !important;
  }

  /*.customtableclass table thead tr th{
    padding: 0 0.3rem 0 0.3rem !important;
  }

  .customtableclass table tbody tr td {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
  }

  .customtableclass table thead tr th, .customtableclass table tbody tr td, .customtableclass table tfoot tr th {
    border: 1px solid;
    border-color: #e0e0e0;
  }
*/
  .fixed5 {
    width: 5% !important;
    text-align: center;
  }

  .fixed20 {
    width: 20% !important;
    text-align: center;
  }

  .fixed18 {
    width: 15% !important;
    text-align: center;
  }

  .fixed7 {
    width: 10% !important;
    text-align: center;
  }

  .customDown table thead tr th {
    padding: 0.3rem 0.2rem 0.3rem 0.2rem !important;
    text-align: center !important;
    word-break: break-all;
  }

  .customDown table tfoot tr th {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem !important;
    font-size: 13px;
  }

  .customDown thead tr th, .customDown tbody tr td, .customDown tfoot tr th {
    border: 1px solid;
    border-color: #e0e0e0;
    font-size: 12px;
  }

  .customtableclass table {
    padding-right: 15px;
    padding-left: 15px;
  }

  .customtableclass table thead tr th {
    padding: 0 0.3rem 0 0.3rem !important;
  }

  .customtableclass table tbody tr td {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
    text-align: right;
  }

  .customcss {
    direction: ltr;
  }

  .customcssPerf {

  }

  td.e-rowcell.e-focus.e-selectionbackground.e-active {
    font-weight: bolder !important;
  }

  td.e-rowcell.e-selectionbackground.e-active {
    font-weight: bolder !important;
  }

  .e-row[aria-expanded="false"], tr[aria-expanded="true"] {
    font-weight: bolder;
  }

  .e-grid .e-headercell, .e-grid .e-detailheadercell {
    font-weight: 900;
    color: black;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>

