<template>
  <div>
    <!--{{ errors }}-->
    <b-row>
      <b-col sm="6">
        <b-row class="p-2">
          <b-col sm="3" style="padding: 0">
            <label class="float-right" for="actual_cost">{{ this.get_text('planed_cost_yearly@stp@l') }}</label>
          </b-col>
          <b-col sm="3">
            <label for="plan_direct_cost">{{ this.get_text('plan_direct_cost@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          autocomplete="off"
                          v-validate="'required'"
                          name="plan_direct_cost" id="plan_direct_cost" min="0"
                          @keyup="totalPlanned"
                          @change="totalPlannedFormatOne"
                          :class="{ 'is-invalid': errors.has('plan_direct_cost') }"
                          v-model="stp.cost_direct_p"
                          :placeholder="get_text('plan_direct_cost@stp@l')"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3"></b-col>
          <b-col sm="3">
            <label for="plan_indirect_cost">{{ this.get_text('plan_indirect_cost@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          v-validate="'required'"
                          autocomplete="off"
                          name="plan_indirect_cost" id="plan_indirect_cost" min="0"
                          :class="{ 'is-invalid': errors.has('plan_indirect_cost') }"
                          @keyup="totalPlanned"
                          @change="totalPlannedFormatTwo"
                          v-model="stp.cost_indirect_p"
                          :placeholder="get_text('plan_indirect_cost@stp@l')">
            </b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3"></b-col>
          <b-col sm="3">
            <label for="cost_projects_p">{{ this.get_text('cost_projects_p@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          v-validate="'required'"
                          autocomplete="off"
                          name="cost_projects_p" id="cost_projects_p" min="0"
                          :class="{ 'is-invalid': errors.has('cost_projects_p') }"
                          @keyup="totalPlanned"
                          @change="totalPlannedFormatThree"
                          v-model="stp.cost_projects_p"
                          :placeholder="get_text('cost_projects_p@stp@l')">
            </b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3">
          </b-col>
          <b-col sm="3">
            <label for="total">{{ this.get_text('plan_total@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text" readonly
                          v-validate="'required'"
                          name="total" id="stp_total_p" min="0"
                          :class="{ 'is-invalid': errors.has('plan_total') }"
                          v-model="stp.stp_total_p"
                          :placeholder="get_text('plan_total@stp@l')"></b-form-input>
          </b-col>
        </b-row>
      </b-col>
      <b-col sm="6">
        <b-row class="p-2">
          <b-col sm="3">
            <label for="actual_cost">{{ this.get_text('actual_cost@stp@l') }}</label>
          </b-col>
          <b-col sm="3">
            <label for="direct_cost">{{ this.get_text('direct_cost@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          name="direct_cost" id="direct_cost" min="0"
                          v-model="stp.cost_direct_a"
                          :placeholder="get_text('direct_cost@stp@l')" readonly></b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3">
          </b-col>
          <b-col sm="3">
            <label for="indirect_cost">{{ this.get_text('indirect_cost@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          name="indirect_cost" id="indirect_cost" min="0"
                          v-model="stp.cost_indirect_a"
                          :placeholder="get_text('indirect_cost@stp@l')" readonly></b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3">
          </b-col>
          <b-col sm="3">
            <label for="cost_projects_a">{{ this.get_text('cost_projects_a@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          name="cost_projects_a" id="cost_projects_a" min="0"
                          v-model="stp.cost_projects_a"
                          :placeholder="get_text('cost_projects_a@stp@l')" readonly></b-form-input>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3">
          </b-col>
          <b-col sm="3">
            <label for="totala">{{ this.get_text('total@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          name="total" id="totala" min="0"
                          v-model="stp.stp_total_a"
                          :placeholder="get_text('total@stp@l')" readonly></b-form-input>
          </b-col>
        </b-row>
      </b-col>
      <b-col sm="6">
        <b-row class="p-2">
          <b-col sm="3" >
            <label class="float-right" for="capacity">{{ this.get_text('capacity@stp@l') }}</label>
          </b-col>
          <b-col sm="3">
            <label for="registred">{{ this.get_text('registred@stp@l') }}</label>
          </b-col>
          <b-col sm="2">
            <b-form-input type="text"
                          v-validate="'required'"
                          name="registred" id="registred" min="0"
                          :class="{ 'is-invalid': errors.has('registred') }"
                          v-model="registerUser"
                          :placeholder="get_text('registred@stp@l')" readonly></b-form-input>
          </b-col>
          <b-col sm="2" :style="$i18n.locale=='en' ? 'padding-left:0; margin-left: -0.5rem;' : 'padding-right:0;margin-left: -0.5rem;'">
            <b-button variant="primary" v-b-modal.modal-prevent-closing @click="regUser=registerUser"
                      style="font-size: 12px; font-weight: bold">{{ get_text('edit_emp_count@stp@l') }}
            </b-button>
          </b-col>
        </b-row>
        <b-row class="p-2">
          <b-col sm="3">
          </b-col>
          <b-col sm="3">
            <label for="available">{{ this.get_text('available@stp@l') }}</label>
          </b-col>
          <b-col sm="6">
            <b-form-input type="text"
                          v-validate="'required'"
                          name="available" id="available" min="0"
                          :class="{ 'is-invalid': errors.has('available') }"
                          v-model="stp.capacity_available"
                          :placeholder="get_text('available@stp@l')"></b-form-input>
          </b-col>
        </b-row>
      </b-col>
      <b-col sm="6">
        <b-row class="p-2">
          <b-col sm="3">
            <label class="float-right" for="value_period">{{ this.get_text('value_period@stp@l') }}</label>
          </b-col>
          <b-col sm="9">
            <b-form-select id="value_period"
                           :plain="true"
                           value="Please select"
                           v-model="stp.value_period"
                           v-validate="'required'" name="value_period"
                           :class="{ 'is-invalid': errors.has('value_period') }"
                           :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('quarterly@stp@l'),
                      value: 'Q'
                    },{
                      text: get_text('year@stp@l'),
                      value: 'Y'
                    }]">
            </b-form-select>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-modal
      id="modal-prevent-closing"
      ref="modal"
      :title="get_text('update_emp_count@stp@l')"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :label="get_text('emp_count@stp@l')"
          label-for="name-input"
          :invalid-feedback="get_text('value_required@stp@l')"
        >
          <b-form-input
            id="name-input"
            v-model="regUser"
            required
          ></b-form-input>
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>
<script>
  import Vue from 'vue';
  import draggable from 'vuedraggable'
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
  import {mapState} from "vuex";

  Vue.use(RichTextEditorPlugin);

  export default {
    components: {
      draggable
    },
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },
    props: ['stp'],
    data() {
      return {
        regUser: null,
        //stp_register: this.$store.getters.registerUser,
        stp_total_p: null,
        stp_total_a: null,
        translation: [],
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {
      ...mapState(["sectors", "communicationuser", "financialuser", "orgapproveuser", "fiscalYear", "registerUser", "priorities", "processList", "projectList", "projectMinistry"]),
    },
    methods: {
      checkFormValidity() {
        const valid = this.$refs.form.checkValidity()
        this.nameState = valid
        return valid
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        // Exit when the form isn't valid
        if (!this.checkFormValidity()) {
          $("#name-input").addClass('is-invalid')
          return
        }

        //alert(this.regUser)
        this.$store.dispatch('updateEmpCount', [this.stp.subtenant_id, this.regUser]);
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing')
        })
      },
      totalPlannedFormatOne() {
        this.stp.cost_direct_p = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_direct_p);
      },
      totalPlannedFormatTwo() {
        this.stp.cost_indirect_p = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_indirect_p);
      },
      totalPlannedFormatThree() {
        this.stp.cost_projects_p = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_projects_p);
      },
      totalPlanned() {
        var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
        cost_direct_p = cost_direct_p.replace(" ", "");
        var direct = (cost_direct_p != null && cost_direct_p != '') ? cost_direct_p.replace(/,/g, "") : 0;

        var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
        cost_indirect_p = cost_indirect_p.replace(" ", "");
        var indirect = (cost_indirect_p != null && cost_indirect_p != '') ? cost_indirect_p.replace(/,/g, "") : 0;

        var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
        cost_projects_p = cost_projects_p.replace(" ", "");
        var projectP = (cost_projects_p != null && cost_projects_p != '') ? cost_projects_p.replace(/,/g, "") : 0;

        this.stp.stp_total_p = "KWD " + (parseInt(direct) + parseInt(indirect) + parseInt(projectP)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    },
    watch: {
      'stp.capacity_available'() {
        //alert('ss')
      }
    }
  }
</script>
