<template>
  <div>
    <b-row>
      <b-col sm="12">
        <b-form-group>
          <label for="org_unit">{{ get_text('org_unit@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizer" @input="loadSTPUserBySector(stp.subtenant_id, stp.mtp_id, stp.id, stp.fiscal_year)"
                      :required="true" :class="treeselectClassOrg"
                      :options="this.$store.getters.sectors" v-model="stp.subtenant_id"
          />
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="mtp">{{ get_text('mtp@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select v-model="stp.mtp_id"
                         @change="loadSTPUserBySector(stp.subtenant_id, stp.mtp_id, stp.id, stp.fiscal_year)"
                         name="sortBymtp" id="sortBymtp"
                         v-validate="'required'"
                         :class="{ 'is-invalid': errors.has('sortBymtp') }"

                         :options="this.$store.state.kpi_mtp">
            <option slot="first" :value="null">{{
              get_text('please_select@project_definition@l') }}
            </option>
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="stp">{{ get_text('fiscal_year@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizerOne" @input="loadSTPUserBySector(stp.subtenant_id, stp.mtp_id, stp.id, stp.fiscal_year)"
                      :required="true" :class="treeselectClassFiscal"
                      :options="this.$store.getters.fiscalYear" v-model="stp.fiscal_year"
          />
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="org_unit_responsible">{{ get_text('org_unit_responsible@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizerApprove" :options="this.$store.getters.orgapproveuser"
                      v-model="stp.responsible_user" :required="true" :class="treeselectClassOrgRespo"
          />
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="financial_updation_responsible">{{ get_text('financial_updation_responsible@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizerFinanc" :multiple="true" :options="this.$store.getters.financialuser"
                      v-model="stp.stp_user_group.user_finance" :required="true" :class="treeselectClassFinRespo"
          />
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <label for="financial_updation_responsible">{{ get_text('approval_by@stp@l') }}<i
          class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
        <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                    :normalizer="normalizerApprove" :multiple="true" :options="this.$store.getters.orgapproveuser"
                    v-model="stp.stp_user_group.user_approval" :required="true" :class="treeselectClassAprRespo"
        />
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="communication_officer">{{ get_text('communication_officer@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizerCommunication" :options="this.$store.getters.communicationuser"
                      v-model="stp.comm_officer" :required="true" :class="treeselectClassCommRespo"
          />
        </b-form-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col md="12">
        <b-form-group>
          <label for="stp_note">{{ get_text('stp_note@stp@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <ejs-richtexteditor :enableResize="true" ref="rteObj"
                              class="e-contenteditor"
                              :height="340"
                              enableRtl=true
                              locale="de-DE"
                              v-model="stp.notes" name="content" id="content" :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
          <div class="invalid-feedback">{{errors.first('content') }}</div>
        </b-form-group>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {store} from '@/components/stp/store/store'
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  //import { L10n } from '@syncfusion/ej2-base';
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    NodeSelection,
    Count,
    Resize,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';

  Vue.use(RichTextEditorPlugin);

  export default {
    store: store,
    components: {
      Treeselect
    },
    props: ['stp'],
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar, Resize]
    },
    data() {
      return {
        /*stp: {
          description: '',
          channel: '',
          event_id: '',
          contents: '',
          status_active: '0',
          start_dt: '',
          end_dt: '',
          notif_time: '',
          is_recur: '0',
          recur_period: '',
          recur_dow: '',
          recur_dom: '',
          recur_m_condition: 'n',
          recur_q_condition: '',
          recur_qe_diff_days: '',
        },*/
        translation: [],
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerOne(node) {
          return {
            id: node.id,
            label: node.start_date + "-" + node.end_date,
          }
        },
        normalizerApprove(node) {
          return {
            id: node.id,
            label: node.name,
          }
        },
        normalizerCommunication(node) {
          return {
            id: node.id,
            label: node.name,
          }
        },
        normalizerFinanc(node) {
          return {
            id: node.id,
            label: node.name,
          }
        }
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {
      treeselectClassOrg() {
        return {
          'treeselect-invalid': !this.stp.subtenant_id,
        }
      },
      treeselectClassFiscal() {
        return {
          'treeselect-invalid': !this.stp.fiscal_year,
        }
      },
      treeselectClassOrgRespo() {
        return {
          'treeselect-invalid': !this.stp.responsible_user,
        }
      },
      treeselectClassFinRespo() {
        return {
          'treeselect-invalid': !this.stp.stp_user_group.user_finance,
        }
      },
      treeselectClassAprRespo() {
        return {
          'treeselect-invalid': !this.stp.stp_user_group.user_approval,
        }
      },
      treeselectClassCommRespo() {
        return {
          'treeselect-invalid': !this.stp.comm_officer,
        }
      },
      header() {
        return this.get_text('notif_args@stp@l')
      }
    },
    methods: {
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }
      },
      loadSTPUserBySector(org, mtp_id, stpid, fy_id) {
        org = (typeof org != 'undefined' && org != '') ? org : null;
        mtp_id = (typeof mtp_id != 'undefined' && mtp_id != '') ? mtp_id : null;
        stpid = (typeof stpid != 'undefined' && stpid != '') ? stpid : null;
        fy_id = (typeof fy_id != 'undefined' && fy_id != '') ? fy_id : null;

        this.$store.dispatch('loadSTPUserBySector', [org, mtp_id, stpid, fy_id])
      }
    }
  }
</script>
<style scoped>
  #limheight, #limheightSub {
    /*height: 300 px;*/ /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
    padding: 0;
  }

  #limheight li, #limheightSub li {
    display: inline-block; /*necessary*/
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    display: inline-block;
    width: 100%;
  }

  #custom_tbar,
  #custom_tbar div, #custom_tbarSub,
  #custom_tbarSub div {
    cursor: pointer;
    font-size: 16px;
  }

  .e-bigger #custom_tbar div, .e-bigger #custom_tbarSub div {
    font-size: 18px;
  }

  #rteSection, #rteSectionSub {
    height: 350px;
  }

  #rteSpecial_char, #rteSpecial_charSub {
    padding: 15px 0 15px 0;
  }

  .material #rteSpecial_char .char_block.e-active, #rteSpecial_char .char_block.e-active,
  .material #rteSpecial_charSub .char_block.e-active, #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #e3165b;
    border-color: #e3165b;
  }

  .fabric #rteSpecial_char .char_block.e-active, .fabric #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #0078d6;
    border-color: #0078d6;
  }

  .bootstrap #rteSpecial_char .char_block.e-active,
  .bootstrap #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #317ab9;
    border-color: #317ab9;
  }

  .highcontrast #rteSpecial_char .char_block.e-active,
  .highcontrast #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #ffd939;
    border-color: #ffd939;
  }

  .fabric.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 10px;
  }

  .bootstrap.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .bootstrap .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 6px;
  }

  .fabric .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 8px;
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    /*width: 30px;*/
    padding: 6%;
    height: 40px;
    line-height: 20px;
    margin: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .fabric.e-bigger #rteDialog, .fabric.e-bigger #rteDialogSub {
      min-width: 281px;
    }

    #rteSpecial_char, #rteSpecial_charSub {
      padding: 15px 0 15px 20px;
    }

    .fabric #rteDialog, .fabric #rteDialogSub {
      min-width: 241px;
    }

    .bootstrap.e-bigger #rteDialog,
    .bootstrap #rteDialog, .bootstrap.e-bigger #rteDialogSub,
    .bootstrap #rteDialogSub {
      min-width: 223px;
    }

    .highcontrast.e-bigger #rteDialog, .highcontrast.e-bigger #rteDialogSub {
      min-width: 283px;
    }

    .highcontrast #rteDialog, .highcontrast #rteDialogSub {
      min-width: 243px;
    }

    .material #rteDialog, .material #rteDialogSub {
      min-width: 224px;
    }

    .material.e-bigger #rteDialog, .material.e-bigger #rteDialogSub {
      min-width: 236px;
    }
  }
</style>
<style>
  /*.was-validated .form-control:invalid, .form-control.is-invalid*/
  .e-subjecteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
    /*min-height: 100px;
    max-height: 150px;*/
  }

  .e-contenteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
    /* min-height: 100px;
     max-height: 250px;*/
  }

  /* .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
     min-width: 90%;
     max-width: 100%;
     min-height: 80px !important;
   //max-height: 140px !important;
   }

   .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
   .e-content, .e-contenteditor.e-richtexteditor {
     min-width: 90%;
     max-width: 100%;
     min-height: 80px !important;
   //max-height: 340px !important;
   }*/
  .vue-treeselect.treeselect-invalid:not(.vue-treeselect--open) .vue-treeselect__control {
    border-color: red;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
