<template>
  <div>
    <!--{{ errors }}-->
    <b-row>
      <b-col sm="12">
        <!--<button class="btn btn-primary btn-sm" :style="$i18n.locale=='en' ? 'float:right' : 'float:left'">{{ get_text('add_other_project@stp@l') }}</button>-->
        <b-button variant="primary" :style="$i18n.locale=='en' ? 'float:right' : 'float:left'"
                  v-b-modal.modal-prevent-closing-stp>{{ get_text('add_additional_proj@stp@l') }}
        </b-button>
      </b-col>
    </b-row>
    <b-row>
      <!--{{ totalProjectPercent }} -->{{ totalPraticipatePercent}}
      <b-col sm="12">
        <b-table responsive class="mt-4" :items="processListData" :fields="fieldsOne">
          <template slot="index" slot-scope="data">
            {{ data.index + 1 }}
          </template>
          <template slot="percentage" slot-scope="data">
            <b-form-input
              @keyup="calculation(data)"
              @click="calculation(data)"
              type="number" min="0" max="100"
              v-model="data.item.pct_capacity"
            />
          </template>
          <template slot="plan_cost" slot-scope="data">
            <b-form-input readonly
                          type="text" class="plan_cost"
                          v-model="'KWD '+data.item.cost_planned"
            />
          </template>
          <template slot="actual_cost" slot-scope="data">
            <b-form-input readonly
                          type="text" class="actual_cost"
                          v-model="'KWD '+data.item.cost_actual"
            />
          </template>
          <template slot="varitation" slot-scope="data">
            <b-form-input readonly
                          :style="(parseFloat(data.item.varitation) < 0 ? 'background:green;color:#FFFF': (parseFloat(data.item.varitation) > 0 ? 'background:red;color:#FFFF' : ''))"
                          type="text" class="varitation"
                          v-model="'KWD '+data.item.varitation"
            />
          </template>
        </b-table>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="12">
        <!--{{ this.totalPlanCostArray }} {{ totalPlanCostArrayProj}} {{ this.stp.totalPlanCost }}-->
        <b-table responsive class="mt-4" :items="projectListData" :fields="fieldsTwo" foot-clone>
          <template slot="index" slot-scope="data">
            {{ data.index + 1 }}
          </template>
          <template slot="percentage" slot-scope="data">
            <!--{{ data.item.has_budget }}-->
            <b-form-input
              @keyup="calculationProject(data)"
              @click="calculationProject(data)"
              type="number" min="0" max="100"
              v-model="data.item.pct_capacity"
            />
          </template>
          <template slot="percentagep" slot-scope="data">
            <b-form-input
              :disabled="data.item.subtenant_id != stp.subtenant_id || data.item.has_budget != '1'"
              @keyup="calculationProject(data)"
              @click="calculationProject(data)"
              type="number" min="0" max="100"
              v-model="data.item.pct_project"
            />
          </template>
          <template slot="plan_cost" slot-scope="data">
            <b-form-input readonly
                          type="text"
                          v-model="'KWD '+data.item.cost_planned"
            />
          </template>
          <template slot="actual_cost" slot-scope="data">
            <b-form-input readonly
                          type="text"
                          v-model="'KWD '+data.item.cost_actual"
            />
          </template>
          <template slot="varitation" slot-scope="data">
            <b-form-input readonly
                          :style="(parseFloat(data.item.varitation) < 0 ? 'background:green;color:#FFFF': (parseFloat(data.item.varitation) > 0 ? 'background:red;color:#FFFF' : ''))"
                          type="text"
                          v-model="'KWD '+data.item.varitation"
            />
          </template>

          <div style="display: none">{{ this.totalPlanCostArray }}</div>
          <template slot="FOOT_index" slot-scope="scope">&nbsp;</template>
          <template slot="FOOT_project_name" slot-scope="scope">&nbsp;</template>
          <template slot="FOOT_percentagep" slot-scope="scope">&nbsp;</template>
          <template slot="FOOT_percentage" slot-scope="scope">{{ get_text('summery@stp@l') }}</template>
          <template slot="FOOT_plan_cost" slot-scope="scope">&nbsp; KWD {{ (stp.totalPlanCost != 'null') ? stp.totalPlanCost : 0 }}</template>
          <template slot="FOOT_actual_cost" slot-scope="scope">&nbsp; KWD {{ (stp.totalActulCost != 'null') ? stp.totalActulCost : 0 }}</template>
          <template slot="FOOT_varitation" slot-scope="scope">&nbsp; KWD {{ (stp.totalVariationCost != 'null') ? stp.totalVariationCost : 0 }}</template>
        </b-table>
      </b-col>
    </b-row>
    <!--<b-row>
      <table class="table">
        <tr>
          <td class="fixWidth"></td>
          <td class=""></td>
          <td class=""></td>
          <td class="" style="padding: 0.75rem;
vertical-align: top;
border-top: 1px solid #c8ced3;">KD</td>
          <td class="">KD</td>
          <td class="">KD</td>
        </tr>
      </table>
    </b-row>-->
    <b-modal
      id="modal-prevent-closing-stp"
      size="lg"
      ref="modal"
      :title="get_text('select_projects@stp@l')"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :label="get_text('project@stp@l')"
          label-for="name-input"
          :invalid-feedback="get_text('value_required@stp@l')"
        >
          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizerOne" multiple="true"
                      :options="projectMinistry" v-model="ministryProj"
          />
        </b-form-group>
      </form>
    </b-modal>
  </div>
</template>
<script>
  import Vue from 'vue';
  /*import draggable from 'vuedraggable'
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';*/
  import {mapState} from "vuex";
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  /*Vue.use(RichTextEditorPlugin);*/

  export default {
    components: {
      Treeselect
      /*draggable*/
    },
    provide: {
      //richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },
    props: ['stp'],
    computed: {
      ...mapState(["sectors", "communicationuser", "financialuser", "orgapproveuser", "fiscalYear", "registerUser", "priorities", "processList", "projectList", "projectMinistry", "totalPlanCostArray", "totalActulCostArray", "totalVariationArray", "totalPlanCostArrayProj", "totalActulCostArrayProj", "totalVariationArrayProj","dataHeading", "dataHeirarchy", "totalPartciapArray", "totalPartciapArrayPerc", "totalProjectArrayPerc"]),
      processListData() {
        this.fieldsOne = [
          {
            key: 'index',
            label: '#',
          },
          {
            key: 'process_name',
            label: this.get_text('process@stp@l'),
            tdClass: 'fixWidth',
          },
          {
            key: 'percentage',
            label: this.get_text('percentage_from_capacity@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'plan_cost',
            label: this.get_text('planed_cost_yearly@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'actual_cost',
            label: this.get_text('actual_cost@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'varitation',
            label: this.get_text('variation@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          }
        ]
        return this.processList;
      },

      projectListData() {
        this.fieldsTwo = [
          {
            key: 'index',
            label: '#',
          },
          {
            key: 'project_name',
            /*thStyle: {'max-width': '100px !important'},*/
            label: this.get_text('project_participating_in_project@stp@l'),
            tdClass: 'fixWidthOne',
          },
          {
            key: 'percentagep',
            label: this.get_text('percentage_from_project@stp@l'),
            thClass: 'red',
            tdClass: 'fixWidthTwo',
          },
          {
            key: 'percentage',
            label: this.get_text('percentage_from_capacity@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'plan_cost',
            label: this.get_text('planed_cost_yearly@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'actual_cost',
            label: this.get_text('actual_cost@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          },
          {
            key: 'varitation',
            label: this.get_text('variation@stp@l'),
            thClass: 'red',
            tdClass: 'setWidth',
          }
        ]
        return this.projectList;
      }
    },
    data() {
      return {


        /*totalPraticipatePercent: 0,
        totalProjectPercent: 0,*/
        ministryProj: null,
        normalizerOne(node) {
          return {
            id: node.project_id,
            label: node.project_name,
          }
        },
        fieldsOne: [],
        itemsOne: [
          {name: 'Apple', percentage: 5, plan_cost: 10, actual_cost: 14, varitation: 23},
        ],
        itemsTwo: [
          {name: 'Banana', percentage: 10, plan_cost: 8, actual_cost: 24, varitation: 24},
        ],
        fieldsTwo: [],
        translation: [],
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    methods: {
      resetModal() {
        this.ministryProj = []
      },
      handleOk(bvModalEvt) {
        // Prevent modal from closing
        bvModalEvt.preventDefault()
        // Trigger submit handler
        this.handleSubmit()
      },
      handleSubmit() {
        Vue.axios({
          url: `/selectProjects`,
          method: 'POST',
          data: {'ministryProj': this.ministryProj}
        }).then(response => {
          for (var i = 0; i < response.data.ministryProject.length; i++) {
            //alert(i)
            //this.$store.state.projectList.push(response.data.ministryProject[i]);

            const found = this.$store.state.projectList.some(el => el.project_id === response.data.ministryProject[i].project_id);
            if(!found) {
              this.$store.state.projectList.push(response.data.ministryProject[i]);
            }
          }
          //this.$store.state.projectList.push(response.data.ministryProject[0]);
          //this.$store.state.projectList.push(response.data.ministryProject[1]);
        });
        // Exit when the form isn't valid
        //alert(this.ministryProj);
        //return false

        //alert(this.regUser)
        //this.$store.dispatch('updateEmpCount', [this.stp.subtenant_id, this.regUser]);
        // Hide the modal manually
        this.$nextTick(() => {
          this.$bvModal.hide('modal-prevent-closing-stp')
        })
      },
      calculation(val) {
        if (typeof val.item.pct_capacity != "undefined") {
          var total = (this.stp.stp_total_p) / 100;

          var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
          cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");
          var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
          cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

          var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
          cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");
          var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
          cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

          var direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
          var directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);

          directA = (!isNaN(directA)) ? directA : 0;
          Vue.set(this.$store.state.processList[val.index], 'cost_planned', (val.item.pct_capacity / 100 * direct).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
          Vue.set(this.$store.state.processList[val.index], 'cost_actual', (val.item.pct_capacity / 100 * directA).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          var varit = (val.item.pct_capacity / 100 * directA) - (val.item.pct_capacity / 100 * direct);
          Vue.set(this.$store.state.processList[val.index], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          //this.totalPlanCost = this.totalPlanCost + (val.item.pct_capacity / 100 * direct);

          //this.totalPlanCostArray.push({ 'val.index' : val.item.pct_capacity / 100 * direct})
          Vue.set(this.totalPlanCostArray, val.index, (val.item.pct_capacity / 100 * direct));
          Vue.set(this.totalActulCostArray, val.index, (val.item.pct_capacity / 100 * directA));
          Vue.set(this.totalVariationArray, val.index, parseFloat(varit.toFixed(3)));
          Vue.set(this.totalPartciapArray, val.index, val.item.pct_capacity);

          //this.stp.totalActulCost = this.stp.totalActulCost + (val.item.pct_capacity / 100 * directA)
          //this.stp.totalVariationCost = this.stp.totalVariationCost + varit.toFixed(3);
        }
      },
      calculationProject(val) {
        var total = '';
        var direct = '';
        var directA = '';
        var project = '';
        var projectA = '';
        if (typeof val.item.pct_capacity != "undefined" && (typeof val.item.pct_project == "undefined" || val.item.pct_project == "")) {
          //alert(val.item.pct_capacity + '==' + val.item.pct_project)
          total = (this.stp.stp_total_p) / 100;
          /*direct = parseInt(this.stp.cost_direct_p) + parseInt(this.stp.cost_indirect_p);
          directA = parseInt(this.stp.cost_direct_a) + parseInt(this.stp.cost_indirect_a);*/
          var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
          cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");

          var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
          cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

          var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
          cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");

          var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
          cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

          direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
          directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);
          directA = (!isNaN(directA)) ? directA : 0;

          Vue.set(this.$store.state.projectList[val.index], 'cost_planned', ((val.item.pct_capacity / 100) * direct).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.$store.state.projectList[val.index], 'cost_actual', (val.item.pct_capacity / 100 * directA).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          var varit = (val.item.pct_capacity / 100 * directA) - (val.item.pct_capacity / 100 * direct);
          Vue.set(this.$store.state.projectList[val.index], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.totalPlanCostArrayProj, val.index, (val.item.pct_capacity / 100 * direct));
          Vue.set(this.totalActulCostArrayProj, val.index, (val.item.pct_capacity / 100 * directA));
          Vue.set(this.totalVariationArrayProj, val.index, parseFloat(varit.toFixed(3)));

          Vue.set(this.totalPartciapArrayPerc, val.index, val.item.pct_capacity);
        }

        if (typeof val.item.pct_project != "undefined" && val.item.subtenant_id == this.stp.subtenant_id && val.item.has_budget == 1 && (typeof val.item.pct_capacity == "undefined" || val.item.pct_capacity == "")) {
          /*project = this.stp.cost_projects_p;
          projectA = this.stp.cost_projects_a;*/


          var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
          cost_projects_p = cost_projects_p.replace(" ", "").replace(/,/g, "");

          var cost_projects_a = this.stp.cost_projects_a.toLowerCase().replace('kwd', '');
          cost_projects_a = cost_projects_a.replace(" ", "").replace(/,/g, "");

          project = parseInt(cost_projects_p);
          projectA = parseInt(cost_projects_a);
          projectA = (!isNaN(projectA)) ? projectA : 0;

          //alert(project +"==" +val.item.pct_project)
          //alert((val.item.pct_capacity / 100) * project)

          Vue.set(this.$store.state.projectList[val.index], 'cost_planned', ((val.item.pct_project / 100) * project).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.$store.state.projectList[val.index], 'cost_actual', ((val.item.pct_project / 100) * projectA).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          var varit = (val.item.pct_project / 100 * projectA) - (val.item.pct_project / 100 * project);
          Vue.set(this.$store.state.projectList[val.index], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.totalPlanCostArrayProj, val.index, (val.item.pct_project / 100 * project));
          Vue.set(this.totalActulCostArrayProj, val.index, (val.item.pct_project / 100 * projectA));
          Vue.set(this.totalVariationArrayProj, val.index, parseFloat(varit.toFixed(3)));
          Vue.set(this.totalProjectArrayPerc, val.index, val.item.pct_project);

        }


        if (typeof val.item.pct_project != "undefined" && val.item.pct_project != "" && typeof val.item.pct_capacity != "undefined" && val.item.pct_capacity != "") {
          total = (this.stp.stp_total_p) / 100;
          /*direct = parseInt(this.stp.cost_direct_p) + parseInt(this.stp.cost_indirect_p);
          directA = parseInt(this.stp.cost_direct_a) + parseInt(this.stp.cost_indirect_a);
          directA = (!isNaN(directA)) ? directA : 0;
          project = this.stp.cost_projects_p;
          projectA = this.stp.cost_projects_a;*/

          var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
          cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");

          var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
          cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

          var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
          cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");

          var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
          cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

          direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
          directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);
          directA = (!isNaN(directA)) ? directA : 0;

          var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
          cost_projects_p = cost_projects_p.replace(" ", "").replace(/,/g, "");

          var cost_projects_a = this.stp.cost_projects_a.toLowerCase().replace('kwd', '');
          cost_projects_a = cost_projects_a.replace(" ", "").replace(/,/g, "");

          project = parseInt(cost_projects_p);
          projectA = parseInt(cost_projects_a);
          projectA = (!isNaN(projectA)) ? projectA : 0;

          var planCost = ((val.item.pct_project / 100) * project) + ((val.item.pct_capacity / 100) * direct);
          var actualCost = ((val.item.pct_project / 100) * projectA) + ((val.item.pct_capacity / 100) * directA);

          Vue.set(this.$store.state.projectList[val.index], 'cost_planned', planCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.$store.state.projectList[val.index], 'cost_actual', actualCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          var varit = (actualCost) - (planCost);
          Vue.set(this.$store.state.projectList[val.index], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

          Vue.set(this.totalPlanCostArrayProj, val.index, (planCost));
          Vue.set(this.totalActulCostArrayProj, val.index, (actualCost));
          Vue.set(this.totalVariationArrayProj, val.index, parseFloat(varit.toFixed(3)));

          Vue.set(this.totalPartciapArrayPerc, val.index, val.item.pct_capacity);
          Vue.set(this.totalProjectArrayPerc, val.index, val.item.pct_project);
        }
        /*if (typeof val.item.pct_capacity != "undefined") {
          var total = (this.stp.stp_total_p) / 100;
          var direct = parseInt(this.stp.cost_direct_p) + parseInt(this.stp.cost_indirect_p);
          var directA = parseInt(this.stp.cost_direct_a) + parseInt(this.stp.cost_indirect_a);

          var project = this.stp.cost_projects_p;
          var projectA = this.stp.cost_projects_a;

          var varit = (val.item.pct_capacity / 100 * directA) - (val.item.pct_capacity / 100 * direct);
          //alert(direct+"==" + total);
          if (val.item.has_budget == 1) {
            Vue.set(this.$store.state.projectList[val.index], 'cost_planned', (val.item.pct_capacity / 100) * project);

            Vue.set(this.$store.state.projectList[val.index], 'cost_actual', val.item.pct_capacity / 100 * projectA);

            var varit = (val.item.pct_capacity / 100 * projectA) - (val.item.pct_capacity / 100 * project);
            Vue.set(this.$store.state.projectList[val.index], 'varitation', varit.toFixed(3));
          } else {
            //alert(val.item.pct_capacity/100)
            Vue.set(this.$store.state.projectList[val.index], 'cost_planned', (val.item.pct_capacity / 100) * direct);

            Vue.set(this.$store.state.projectList[val.index], 'cost_actual', val.item.pct_capacity / 100 * directA);

            var varit = (val.item.pct_capacity / 100 * directA) - (val.item.pct_capacity / 100 * direct);
            Vue.set(this.$store.state.projectList[val.index], 'varitation', varit.toFixed(3));
          }
        }*/
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    },
    watch: {
      totalPlanCostArray() {
        this.stp.totalPlanCost = 0;
        let merge = this.totalPlanCostArrayProj.concat(this.totalPlanCostArray)
        for (var i = 0; i < merge.length; i++) {
          this.stp.totalPlanCost = this.stp.totalPlanCost + merge[i]
        }
        this.stp.totalPlanCost = this.stp.totalPlanCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalActulCostArray() {
        this.stp.totalActulCost = 0;
        /*for (var i = 0; i < this.totalActulCostArray.length; i++) {
          this.totalActulCost = this.totalActulCost + this.totalActulCostArray[i]
        }*/
        let merge = this.totalActulCostArrayProj.concat(this.totalActulCostArray)
        for (var i = 0; i < merge.length; i++) {
          this.stp.totalActulCost = this.stp.totalActulCost + merge[i]
        }
        this.stp.totalActulCost = this.stp.totalActulCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalVariationArray() {
        this.stp.totalVariationCost = 0;
        /* for (var i = 0; i < this.totalVariationArray.length; i++) {
           this.totalVariationCost = this.totalVariationCost + this.totalVariationArray[i]
         }*/
        let merge = this.totalVariationArrayProj.concat(this.totalVariationArray)
        for (var i = 0; i < merge.length; i++) {
          this.stp.totalVariationCost = this.stp.totalVariationCost + merge[i]
        }
        this.stp.totalVariationCost = this.stp.totalVariationCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalPlanCostArrayProj() {
        this.stp.totalPlanCost = 0;
        let merge = this.totalPlanCostArrayProj.concat(this.totalPlanCostArray)
        //[this.totalPlanCostArray, this.totalPlanCostArrayProj];
        for (var i = 0; i < merge.length; i++) {
          //alert(merge[i])
          this.stp.totalPlanCost = this.stp.totalPlanCost + merge[i]
        }
        this.stp.totalPlanCost = this.stp.totalPlanCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalActulCostArrayProj() {
        //this.totalActulCost = 0;
        this.stp.totalActulCost = 0;
        /*for (var i = 0; i < this.totalActulCostArray.length; i++) {
          this.totalActulCost = this.totalActulCost + this.totalActulCostArray[i]
        }*/
        let merge = this.totalActulCostArrayProj.concat(this.totalActulCostArray)
        for (var i = 0; i < merge.length; i++) {
          this.stp.totalActulCost = this.stp.totalActulCost + merge[i]
        }
        this.stp.totalActulCost = this.stp.totalActulCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalVariationArrayProj() {
        this.stp.totalVariationCost = 0;
        let merge = this.totalVariationArrayProj.concat(this.totalVariationArray)
        for (var i = 0; i < merge.length; i++) {
          //alert(merge[i])
          this.stp.totalVariationCost = this.stp.totalVariationCost + merge[i]
        }
        this.stp.totalVariationCost = this.stp.totalVariationCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");;
      },
      totalPartciapArray() {
        /*totalPraticipatePercent: 0,
          totalProjectPercent: 0,*/
        //, "totalPartciapArray", "totalPartciapArrayPerc", "totalProjectArrayPerc"
        this.stp.totalPraticipatePercent = 0;
        let merge = this.totalPartciapArrayPerc.concat(this.totalPartciapArray)
        //alert(merge)
        for (var i = 0; i < merge.length; i++) {
          //alert(merge[i])
          this.stp.totalPraticipatePercent = parseInt(this.stp.totalPraticipatePercent) + parseInt(merge[i])
        }
        //this.totalVariationCost = this.totalVariationCost.toFixed(3);
      },
      totalPartciapArrayPerc() {
        this.stp.totalPraticipatePercent = 0;
        let merge = this.totalPartciapArray.concat(this.totalPartciapArrayPerc)
        for (var i = 0; i < merge.length; i++) {
          //alert(merge[i])
          this.stp.totalPraticipatePercent = parseInt(this.stp.totalPraticipatePercent) + parseInt(merge[i])
        }
        //this.totalVariationCost = this.totalVariationCost.toFixed(3);
      },
      totalProjectArrayPerc() {
        this.stp.totalProjectPercent = 0;
        //let merge = this.totalVariationArrayProj.concat(this.totalVariationArray)
        for (var i = 0; i < this.totalProjectArrayPerc.length; i++) {
          //alert(merge[i])
          this.stp.totalProjectPercent = parseInt(this.stp.totalProjectPercent) + parseInt(this.totalProjectArrayPerc[i])
        }
        //this.totalVariationCost = this.totalVariationCost.toFixed(3);
      }
    }
  }
</script>
<style>
  .fixWidth {
    width: 40%;
  }
  .setWidth {
    width: 15%;
  }

  .fixWidthOne {
    width: 25%;
  }
  .fixWidthTwo {
    width: 15%;
  }
</style>
