<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row v-if="this.$route.params.view ? $can('stps-view') : ($can('stps-create') && $can('stps-edit'))">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <b class="h4">{{ get_text('title@stp@l') }}</b>
                  <b-link :href="'/stpList'">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="icon-list icons font-1xl"></i> {{ get_text('back_to_list@stp@l') }}</b>
                    </b-button>
                  </b-link>
                </div>
                <div class="card-body" style="padding: 0.1rem">
                  <form-wizard @on-complete="onComplete"
                               validate-on-back
                               ref="wizard"
                               :validate-on-back=false
                               :start-index.sync="activeTabIndex"
                               :back-button-text="get_text('back@stp@l')"
                               :next-button-text="get_text('next@stp@l')"
                               :finish-button-text="get_text('resubmit@stp@l')"
                               shape="circle" color="#20a0ff" error-color="#fa695f" :class="'customForm'">
                    <h2 slot="title">{{ this.get_text('title@stp@l')}}</h2>
                    <h4 slot="title">{{ this.get_text('subtitle@stp@l')}}</h4>
                    <tab-content :title="this.get_text('responsible@stp@l')"
                                 icon="icon icon-user" style=""
                                 :before-change="()=>validateFirstTab('step1')"
                    >
                      <!--:before-change="()=>validateFirstTab('step1')"-->
                      <step1 ref="step1" :stp="stp"></step1>
                    </tab-content>
                    <tab-content :title="this.get_text('costing@stp@l')"
                                 icon="fa fa-crosshairs" :before-change="()=>validateFirstTab('step2')">
                      <step2 ref="step2" :stp="stp"></step2>
                    </tab-content>
                    <tab-content :title="this.get_text('plan_items@stp@l')"
                                 icon="fa fa-list" style=""
                                 :before-change="()=>validateFirstTab('step3')">
                      <step3 ref="step3" :stp="stp"></step3>
                    </tab-content>
                    <!--<template slot="custom-buttons-right" slot-scope="props">
                      <wizard-button @click.prevent.stop="cancel" class="btn btn-danger">{{ get_text('cancel@stp@l')}}
                      </wizard-button>
                    </template>-->
                    <template slot="footer" slot-scope="props">
                      <!--     {{ props }}-->
                      <div class=wizard-footer-left>
                        <wizard-button v-if="props.activeTabIndex > 0"
                                       :style="props.fillButtonStyle" @click="props.prevTab()"
                                       class="btn btn-primary wizardCustom">{{
                          get_text('back@fg_form@l') }}
                        </wizard-button>
                      </div>
                      <div class="wizard-footer-right">
                        <wizard-button @click.prevent.stop="cancel" class="btn btn-danger wizardCustom">{{
                          get_text('cancel@stp@l')}}
                        </wizard-button>&nbsp;

                        <wizard-button v-if="!props.isLastStep" @click="props.nextTab()"
                                       class="wizard-footer-right btn btn-primary wizardCustom" :style="props.fillButtonStyle">{{
                          get_text('next@fg_form@l') }}
                        </wizard-button>

                        <wizard-button v-else-if="showSubmitBtn" @click="onComplete" :disabled="isDisabled"
                                       class="wizard-footer-right finish-button btn btn-primary wizardCustom"
                                       :style="props.fillButtonStyle">{{props.isLastStep ? get_text('submit@fg_form@l') :
                          get_text('next@fg_form@l')}}
                        </wizard-button>
                        <!--{{this.$route.params }}-->
                      </div>
                    </template>
                  </form-wizard>
                </div>

              </div>
            </div>

          </div>


        </transition>

      </b-col>
    </b-row>
    <div v-else-if="(this.$route.params.view) ? !$can('stps-view') : !($can('stps-create') && $can('stps-edit'))">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/stp/store/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import step1 from './step1';
  import step2 from './step2';
  import step3 from './step3';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {FormWizard, TabContent} from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import VueFormGenerator from "vue-form-generator";
  import draggable from 'vuedraggable'
  import {mapState, mapGetters, mapActions} from 'vuex'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(VueFormGenerator);
  Vue.use(Element);
  Vue.use(Loading);
  //Vue.use(RichTextEditorPlugin);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    /*provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },*/
    created() {
      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.showSubmitBtn = false;
      }
      this.$store.dispatch('loadSTPDefaultData')
      this.$store.dispatch('loadMTP');

      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.$store.state.isLoading = true;
        Vue.axios({
          url: `/stpviewonly/${this.$route.params.id}`,
          method: 'GET'
        })
          .then((response) => {
            this.$store.state.isLoading = false;
            this.stp = response.data.stpdata
            //this.$store.state.processList = response.data.getStpProcessItem
            /*this.$store.state.roleList = response.data.role;
            this.$store.state.userList = response.data.users;
            this.$store.state.userIds = response.data.userIds;
            this.notif_roles = response.data.roleIds;*/
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Error@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      } else if (typeof this.$route.params.id != "undefined" && this.$route.params.id) {
        //alert('in')
        this.$store.state.isLoading = true;
        Vue.axios({
          url: `/stpeditview/${this.$route.params.id}`,
          method: 'GET'
        })
          .then((response) => {
            this.$store.state.isLoading = false;
            this.stp = response.data.stpdata
            //this.$store.state.processList = response.data.getStpProcessItem
            /*this.$store.state.roleList = response.data.role;
            this.$store.state.userList = response.data.users;
            this.$store.state.userIds = response.data.userIds;
            this.notif_roles = response.data.roleIds;*/
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Error@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      }

    },
    data: () => {
      return {
        showSubmitBtn: true,
        activeTabIndex: 0,
        list1: [
          {name: "John", id: 1},
          {name: "Joao", id: 2},
          {name: "Jean", id: 3},
          {name: "Gerard", id: 4}
        ],
        stp: {
          id: null,
          stp_total_p: 'KWD',
          stp_total_a: 'KWD',
          mtp_id: localStorage.getItem('currentMtpData'),
          fiscal_year: null,
          subtenant_id: null,
          responsible_user: null,
          comm_officer: null,
          notes: null,
          cost_direct_p: null,
          cost_indirect_p: null,
          cost_projects_p: null,
          cost_direct_a: 'KWD',
          cost_indirect_a: 'KWD',
          cost_projects_a: 'KWD',
          capacity_available: null,
          value_period: 'Q',
          stp_user_group: {
            user_finance: null,
            user_approval: null,
          },
          stp_process: {
            item_type: 1,
            item_id: null,
            pct_capacity: null,
            cost_p: null,
            cost_a: null,
          },
          stp_project: {
            item_type: 2,
            item_id: null,
            pct_capacity: null,
            cost_p: null,
            cost_a: null
          },
          totalPraticipatePercent: 0,
          totalProjectPercent: 0,
          totalPlanCost: 0,
          totalActulCost: 0,
          totalVariationCost: 0,
        },
        userIds: [],
        fieldsRole: [],
        fields: [],
        items: [
          {age: 40, first_name: 'Dickerson', last_name: 'Macdonald', status: 'awesome'},
          {age: 21, first_name: 'Larsen', last_name: 'Shaw'},
          {age: 89, first_name: 'Geneva', last_name: 'Wilson'}
        ],
        /** Gauge */
        options: '',
        projecttypeoptions: '',
        tenantoptions: '',

        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerUser(node) {
          return {
            id: node.id,
            label: node.name + ' (' + node.email + ')',
            //children: node.tree,
          }
        },

        selected: null,
        button: '',
        currentPage: 1,
        currentPageRole: 1,
        perPage: 5,
        totalRows: 0,
        totalRowsRole: 0,
        priorityData: {
          TypeCode: null,
          PRCType: null,
          TypeCodeMin: null,
          TypeCodeMax: null,
        },
        priorityInfo: null,
        showingRoleModal: false,
        showingUserModal: false,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterRole: null,
        translation: [],

        sortByTenant: null,
        sortByStatus: null,
        sortBySubTenant: null,
        status_operational: null,
        approval_status: null,
        project_type: null,
        project_category: null,
        project_short_name: null,
        project_name: null,
        project_description: null,
        project_importance: null,
        project_has_budget: null,
        planned_budget: null,
        actual_cost: null,
        project_forcasting: null,
        actual_start: null,
        actual_closure: null,
        project_update_interval: null,
        project_has_risk: null,
        project_start_date: null,
        project_end_date: null


      }
    },
    mounted() {
      let next = document.querySelector('div.vue-form-wizard');
      if (this.$i18n.locale == 'ar') {
        document.querySelector('html').setAttribute('dir', 'rtl');
        next && next.classList.add('isRtl');
      } else {
        document.querySelector('html').setAttribute('dir', '');
        let dropdown = next && next.classList.contains('isRtl');
        if (dropdown) {
          next.classList.remove('isRtl');
        }
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      Unauthorized,
      //Step3,
      'loading': Loading,
      FormWizard,
      TabContent,
      //Treeselect,
      draggable,
      step1,
      step2,
      step3
    },
    computed: {
      ...mapState(["sectors", "communicationuser", "financialuser", "orgapproveuser", "fiscalYear", "registerUser", "priorities", "processList", "projectList", "projectMinistry", "totalPlanCostArray", "totalActulCostArray", "totalVariationArray", "totalPlanCostArrayProj", "totalActulCostArrayProj", "totalVariationArrayProj", "dataHeading", "dataHeirarchy", "totalPartciapArray", "totalPartciapArrayPerc", "totalProjectArrayPerc"]),
      usersList() {
        this.fields = [
          {key: 'name', label: this.get_text('name@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'email', label: this.get_text('email@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sector_name', label: this.get_text('sector_name@users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sub_name', label: this.get_text('subtenant_name@users@c'), sortable: true, sortDirection: 'desc'},
          {key: 'isCheck', label: this.get_text('ischeck@users@c'), sortable: false, sortDirection: 'desc'},
          /*{key: 'action', label:  this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}*/
        ];

        if (this.sortByTenant != null && this.sortBySubTenant == null && this.$store.state.userList.length > 0) {
          this.loadKpiDataSector(this.sortByTenant);
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.sector_id.toString().includes(this.sortByTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else if (this.sortBySubTenant != null && this.$store.state.userList.length > 0) {
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.subtenant_id.toString().includes(this.sortBySubTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else {

          var filterData = this.$store.state.userList;
          this.totalRows = filterData.length;
          //alert(this.totalRows)
          return filterData;
        }
      },
      rolesList() {
        this.fieldsRole = [
          {key: 'id', label: '#', sortable: false, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('name@Roles@c'), sortable: false, sortDirection: 'desc'},
          {key: 'action', label: this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}];
        var filterData = this.$store.state.roleList;
        this.totalRowsRole = filterData.length;
        //alert(this.totalRows)
        return filterData;
      }
    },
    methods: {
      cancel: function () {
        window.location.replace('/stplist')
      },
      validateFirstTab: function (val) {
        if (this.stp.stp_user_group.user_approval.length > 0) {
          if (this.stp.stp_user_group.user_approval.toString().includes(this.stp.responsible_user) == true) {
            alert(this.get_text('user_cannot_same@m'))
            return false;
          }
        }
        if (this.stp.fiscal_year == null || this.stp.subtenant_id == null || this.stp.responsible_user == null || this.stp.comm_officer == null || this.stp.stp_user_group.user_finance == null || this.stp.stp_user_group.user_approval == null) {
          return false;
        }

        if ($('#available').val() != null && $('#available').val() != '' && parseInt($('#available').val()) > parseInt($('#registred').val()) && val == 'step2') {
          $('#available').addClass('is-invalid');
          return false;
        }
        if (this.stp.capacity_available == null) {
          this.stp.capacity_available = this.registerUser;
        }
        if (val == 'step2') {
          //alert(this.processList.length)
          for (var i = 0; i < this.processList.length > 0; i++) {
            if (typeof this.processList[i].pct_capacity != "undefined") {
              var total = (this.stp.stp_total_p) / 100;

              var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
              cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");
              var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
              cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

              var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
              cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");
              var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
              cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

              var direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
              var directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);

              directA = (!isNaN(directA)) ? directA : 0;
              Vue.set(this.$store.state.processList[i], 'cost_planned', (this.processList[i].pct_capacity / 100 * direct).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));
              Vue.set(this.$store.state.processList[i], 'cost_actual', (this.processList[i].pct_capacity / 100 * directA).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              var varit = (this.processList[i].pct_capacity / 100 * directA) - (this.processList[i].pct_capacity / 100 * direct);
              Vue.set(this.$store.state.processList[i], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              //this.totalPlanCost = this.totalPlanCost + (val.item.pct_capacity / 100 * direct);

              //this.totalPlanCostArray.push({ 'val.index' : val.item.pct_capacity / 100 * direct})
              Vue.set(this.totalPlanCostArray, i, (this.processList[i].pct_capacity / 100 * direct));
              Vue.set(this.totalActulCostArray, i, (this.processList[i].pct_capacity / 100 * directA));
              Vue.set(this.totalVariationArray, i, parseFloat(varit.toFixed(3)));
              Vue.set(this.totalPartciapArray, i, this.processList[i].pct_capacity);

              //this.stp.totalActulCost = this.stp.totalActulCost + (val.item.pct_capacity / 100 * directA)
              //this.stp.totalVariationCost = this.stp.totalVariationCost + varit.toFixed(3);
            }
          }

          for (var j = 0; j < this.projectList.length > 0; j++) {
            var total = '';
            var direct = '';
            var directA = '';
            var project = '';
            var projectA = '';
            if (typeof this.projectList[j].pct_capacity != "undefined" && (typeof this.projectList[j].pct_project == "undefined" || this.projectList[j].pct_project == "")) {
              //alert(val.item.pct_capacity + '==' + val.item.pct_project)
              total = (this.stp.stp_total_p) / 100;
              /*direct = parseInt(this.stp.cost_direct_p) + parseInt(this.stp.cost_indirect_p);
              directA = parseInt(this.stp.cost_direct_a) + parseInt(this.stp.cost_indirect_a);*/
              var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
              cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");

              var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
              cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

              var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
              cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");

              var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
              cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

              direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
              directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);
              directA = (!isNaN(directA)) ? directA : 0;

              Vue.set(this.$store.state.projectList[j], 'cost_planned', ((this.projectList[j].pct_capacity / 100) * direct).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.$store.state.projectList[j], 'cost_actual', (this.projectList[j].pct_capacity / 100 * directA).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              var varit = (this.projectList[j].pct_capacity / 100 * directA) - (this.projectList[j].pct_capacity / 100 * direct);
              Vue.set(this.$store.state.projectList[j], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.totalPlanCostArrayProj, j, (this.projectList[j].pct_capacity / 100 * direct));
              Vue.set(this.totalActulCostArrayProj, j, (this.projectList[j].pct_capacity / 100 * directA));
              Vue.set(this.totalVariationArrayProj, j, parseFloat(varit.toFixed(3)));

              Vue.set(this.totalPartciapArrayPerc, j, this.projectList[j].pct_capacity);
            }

            if (typeof this.projectList[j].pct_project != "undefined" && this.projectList[j].subtenant_id == this.stp.subtenant_id && this.projectList[j].has_budget == 1 && (typeof this.projectList[j].pct_capacity == "undefined" || this.projectList[j].pct_capacity == "")) {
              /*project = this.stp.cost_projects_p;
              projectA = this.stp.cost_projects_a;*/


              var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
              cost_projects_p = cost_projects_p.replace(" ", "").replace(/,/g, "");

              var cost_projects_a = this.stp.cost_projects_a.toLowerCase().replace('kwd', '');
              cost_projects_a = cost_projects_a.replace(" ", "").replace(/,/g, "");

              project = parseInt(cost_projects_p);
              projectA = parseInt(cost_projects_a);
              projectA = (!isNaN(projectA)) ? projectA : 0;

              //alert(project +"==" +this.projectList[j].pct_project)
              //alert((this.projectList[j].pct_capacity / 100) * project)

              Vue.set(this.$store.state.projectList[j], 'cost_planned', ((this.projectList[j].pct_project / 100) * project).toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.$store.state.projectList[j], 'cost_actual', ((this.projectList[j].pct_project / 100) * projectA).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              var varit = (this.projectList[j].pct_project / 100 * projectA) - (this.projectList[j].pct_project / 100 * project);
              Vue.set(this.$store.state.projectList[j], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.totalPlanCostArrayProj, j, (this.projectList[j].pct_project / 100 * project));
              Vue.set(this.totalActulCostArrayProj, j, (this.projectList[j].pct_project / 100 * projectA));
              Vue.set(this.totalVariationArrayProj, j, parseFloat(varit.toFixed(3)));
              Vue.set(this.totalProjectArrayPerc, j, this.projectList[j].pct_project);

            }


            if (typeof this.projectList[j].pct_project != "undefined" && this.projectList[j].pct_project != "" && typeof this.projectList[j].pct_capacity != "undefined" && this.projectList[j].pct_capacity != "") {
              total = (this.stp.stp_total_p) / 100;
              /*direct = parseInt(this.stp.cost_direct_p) + parseInt(this.stp.cost_indirect_p);
              directA = parseInt(this.stp.cost_direct_a) + parseInt(this.stp.cost_indirect_a);
              directA = (!isNaN(directA)) ? directA : 0;
              project = this.stp.cost_projects_p;
              projectA = this.stp.cost_projects_a;*/

              var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
              cost_direct_p = cost_direct_p.replace(" ", "").replace(/,/g, "");

              var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
              cost_indirect_p = cost_indirect_p.replace(" ", "").replace(/,/g, "");

              var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
              cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");

              var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
              cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

              direct = parseInt(cost_direct_p) + parseInt(cost_indirect_p);
              directA = parseInt(cost_direct_a) + parseInt(cost_indirect_a);
              directA = (!isNaN(directA)) ? directA : 0;

              var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
              cost_projects_p = cost_projects_p.replace(" ", "").replace(/,/g, "");

              var cost_projects_a = this.stp.cost_projects_a.toLowerCase().replace('kwd', '');
              cost_projects_a = cost_projects_a.replace(" ", "").replace(/,/g, "");

              project = parseInt(cost_projects_p);
              projectA = parseInt(cost_projects_a);
              projectA = (!isNaN(projectA)) ? projectA : 0;

              var planCost = ((this.projectList[j].pct_project / 100) * project) + ((this.projectList[j].pct_capacity / 100) * direct);
              var actualCost = ((this.projectList[j].pct_project / 100) * projectA) + ((this.projectList[j].pct_capacity / 100) * directA);

              Vue.set(this.$store.state.projectList[j], 'cost_planned', planCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.$store.state.projectList[j], 'cost_actual', actualCost.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              var varit = (actualCost) - (planCost);
              Vue.set(this.$store.state.projectList[j], 'varitation', varit.toFixed(3).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

              Vue.set(this.totalPlanCostArrayProj, j, (planCost));
              Vue.set(this.totalActulCostArrayProj, j, (actualCost));
              Vue.set(this.totalVariationArrayProj, j, parseFloat(varit.toFixed(3)));

              Vue.set(this.totalPartciapArrayPerc, j, this.projectList[j].pct_capacity);
              Vue.set(this.totalProjectArrayPerc, j, this.projectList[j].pct_project);
            }
          }
        }
        /*var direct = ($("#plan_direct_cost").val() != null && $("#plan_direct_cost").val() != '') ? $("#plan_direct_cost").val() : 0;
        var indirect = ($("#plan_indirect_cost").val() != null && $("#plan_indirect_cost").val() != '') ? $("#plan_indirect_cost").val() : 0;

        var projectP = ($("#cost_projects_p").val() != null && $("#cost_projects_p").val() != '') ? $("#cost_projects_p").val() : 0;

        var total = parseInt(direct) + parseInt(indirect) + parseInt(projectP);*/
        /*var cost_direct_p = this.stp.cost_direct_p.toLowerCase().replace('kwd', '');
        cost_direct_p = cost_direct_p.replace(" ", "");
        var direct = (cost_direct_p != null && cost_direct_p != '') ? cost_direct_p : 0;

        var cost_indirect_p = this.stp.cost_indirect_p.toLowerCase().replace('kwd', '');
        cost_indirect_p = cost_indirect_p.replace(" ", "");
        var indirect = (cost_indirect_p != null && cost_indirect_p != '') ? cost_indirect_p : 0;

        var cost_projects_p = this.stp.cost_projects_p.toLowerCase().replace('kwd', '');
        cost_projects_p = cost_projects_p.replace(" ", "");
        var projectP = (cost_projects_p != null && cost_projects_p != '') ? cost_projects_p : 0;

        this.stp.stp_total_p = "KWD " + (parseInt(direct) + parseInt(indirect) + parseInt(projectP));*/
        // alert(total)
        //this.stp.stp_total_p = total;

        console.log(this.$refs.step1);
        //console.log(this.$refs[val].$validator.validate())
        return this.$refs[val].$validator.validate();
      },
      log: function (evt) {
        this.notif_content = (evt.moved.element.name);
      },
      onComplete() {
        if (this.stp.totalPraticipatePercent > 100) {
          alert(this.get_text('participation_pct_validation@m'));
          return false;
        }

        if (this.stp.totalProjectPercent > 100) {
          alert(this.get_text('project_pct_validation@m'));
          return false;
        }

        this.stp.stp_process = this.processList;
        this.stp.stp_project = this.projectList;
        //console.log(this.stp);
        //return false;
        Vue.axios({
          url: 'saveStp',
          method: 'POST',
          data: {stp: this.stp}
        }).then(response => {
          window.location.replace('/stplist')
        }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Error@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      },
      loadKpiDataSector(sector) {
        this.options = '';
        Vue.axios.get('/subtenanttree/' + this.sortByTenant+'/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });
        this.$store.dispatch('loadKpiDataSector', sector);

        localStorage.setItem('session_sector', sector);
        //this.$store.dispatch('loadSubTenants', sector);

      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      onFilteredRole(filteredItemsRole) {
        //this.totalRows = filteredItemsRole.length
        this.currentPageRole = 1
      }
    },
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .e-toolbar-wrapper {
    height: auto !important;
  }

  .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
    /*max-height: 140 px !important;*/
  }

  .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
  .e-content, .e-contenteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
    /*max-height: 340 px !important;*/
  }

  .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    overflow: unset !important;
  }

  .el-step__main {
    text-align: unset;
  }

  .vue-form-wizard.isRtl .wizard-progress-bar {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-left {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-right {
    float: left;
  }

  .vue-form-wizard.isRtl.el-form-item__label {
    float: right;
  }

  .customCardClass .card-body {
    padding: 0.3rem;
  }

  .el-input {
    width: 100% !important;
  }

  .green-btn {
    background-color: green !important;
    color: white !important;
    float: left;
  }
  .wizardCustom {
    cursor: pointer;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
