<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row v-if="$can('stps-costupdation')">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <b class="h4">{{ get_text('title@stp@l') }}</b>&nbsp;
                  <b-button variant="primary" size="md" class="btn" @click="showingModal= true">
                    <b><i class="icon-list icons font-1xl"></i> {{ get_text('previous_reading@stp@l') }}</b>
                  </b-button>
                  <b-link :href="'/stpList'">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="icon-list icons font-1xl"></i> {{ get_text('back_to_list@stp@l') }}</b>
                    </b-button>
                  </b-link>
                </div>
                <div class="card-body" style="padding: 0.1rem">
                  <b-form @submit.prevent="stpcostupdation" class="p-3">
                    <b-row>
                      <b-col sm="12">
                        <b-form-group>
                          <label for="org_unit">{{ get_text('org_unit@stp@l') }}<i
                            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                          <treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                                      :normalizer="normalizer" :options="this.$store.getters.sectors"
                                      v-model="stp.subtenant_id"
                                      :disabled="true"/>
                        </b-form-group>
                      </b-col>
                      <b-col sm="6">
                        <b-form-group>
                          <label for="mtp">{{ get_text('mtp@stp@l') }}<i
                            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                          <b-form-select v-model="stp.mtp_id"
                                         :disabled="true"
                                         name="sortBymtp" id="sortBymtp"
                                         v-validate="'required'"
                                         :class="{ 'is-invalid': submitted && errors.has('sortBymtp') }"

                                         :options="this.$store.state.kpi_mtp">
                            <option slot="first" :value="null">{{
                              get_text('please_select@project_definition@l') }}
                            </option>
                          </b-form-select>
                        </b-form-group>
                      </b-col>
                      <b-col sm="6">
                        <b-form-group>
                          <label for="stp">{{ get_text('fiscal_year@stp@l') }}<i
                            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                          <b-form-input v-model="this.stp.fiscal_dates" readonly></b-form-input>
                          <!--<treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable" :normalizer="normalizerOne" @input="loadSTPUserBySector(stp.subtenant_id, stp.mtp_id)"
                                      :options="this.$store.getters.fiscalYear" v-model="stp.fiscal_year"
                          />-->
                        </b-form-group>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col sm="6">
                        <b-row class="p-2">
                          <b-col sm="3">
                            <label for="actual_cost">{{ this.get_text('planed_cost_yearly@stp@l') }}</label>
                          </b-col>
                          <b-col sm="3">
                            <label for="plan_direct_cost">{{ this.get_text('plan_direct_cost@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          readonly
                                          v-validate="'required'"
                                          name="plan_direct_cost" id="plan_direct_cost" min="0"
                                          :class="{ 'is-invalid': errors.has('plan_direct_cost') }"
                                          v-model="stp.cost_direct_p"
                                          :placeholder="get_text('plan_direct_cost@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3"></b-col>
                          <b-col sm="3">
                            <label for="plan_indirect_cost">{{ this.get_text('plan_indirect_cost@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          readonly
                                          v-validate="'required'"
                                          name="plan_indirect_cost" id="plan_indirect_cost" min="0"
                                          :class="{ 'is-invalid': errors.has('plan_indirect_cost') }"
                                          v-model="stp.cost_indirect_p"
                                          :placeholder="get_text('plan_indirect_cost@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3"></b-col>
                          <b-col sm="3">
                            <label for="cost_project_p">{{ this.get_text('cost_projects_p@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          readonly
                                          v-validate="'required'"
                                          name="cost_project_p" id="cost_project_p" min="0"
                                          :class="{ 'is-invalid': errors.has('cost_project_p') }"
                                          v-model="stp.cost_projects_p"
                                          :placeholder="get_text('cost_projects_p@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                          </b-col>
                          <b-col sm="3">
                            <label for="total">{{ this.get_text('plan_total@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          readonly
                                          v-validate="'required'"
                                          name="total" id="total" min="0"
                                          :class="{ 'is-invalid': errors.has('plan_total') }"
                                          v-model="stp.stp_total_p"
                                          :placeholder="get_text('plan_total@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                            <label for="capacity" class="float-right">{{ this.get_text('capacity@stp@l') }}</label>
                          </b-col>
                          <b-col sm="3">
                            <label for="registred">{{ this.get_text('registred@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          v-validate="'required'"
                                          name="registred" id="registred" min="0"
                                          :class="{ 'is-invalid': errors.has('registred') }"
                                          v-model="this.stp.registerUser"
                                          :placeholder="get_text('registred@stp@l')" readonly></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                          </b-col>
                          <b-col sm="3">
                            <label for="available">{{ this.get_text('available@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          v-validate="'required'"
                                          name="available" id="available" min="0"
                                          :class="{ 'is-invalid': errors.has('available') }"
                                          @keyup="justify"
                                          v-model="stp.capacity_available"
                                          :placeholder="get_text('available@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                      </b-col>
                      <b-col sm="6">
                        <b-row class="p-2">
                          <b-col sm="3">
                            <label for="actual_cost">{{ this.get_text('actual_cost@stp@l') }}</label>
                          </b-col>
                          <b-col sm="3">
                            <label for="direct_cost">{{ this.get_text('direct_cost@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          :readonly="this.stp.cost_direct_p.replace(/[^0-9]/g, '') <= 0"
                                          @keyup="totalPlanned"
                                          @change="totalPlannedFormatOne"
                                          autocomplete="off"
                                          v-validate="this.stp.cost_direct_p.replace(/[^0-9]/g, '') <= 0 ? '' : 'required'"
                                          name="direct_cost" id="direct_cost" min="0"
                                          :class="{ 'is-invalid': errors.has('direct_cost') }"
                                          v-model="stp.cost_direct_a"
                                          :placeholder="get_text('direct_cost@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                          </b-col>
                          <b-col sm="3">
                            <label for="indirect_cost">{{ this.get_text('indirect_cost@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          :readonly="this.stp.cost_indirect_p.replace(/[^0-9]/g, '') <= 0"
                                          @keyup="totalPlanned"
                                          @change="totalPlannedFormatTwo"
                                          autocomplete="off"
                                          v-validate="this.stp.cost_indirect_p.replace(/[^0-9]/g, '') <= 0 ? '' : 'required'"
                                          name="indirect_cost" id="indirect_cost" min="0"
                                          :class="{ 'is-invalid': errors.has('indirect_cost') }"
                                          v-model="stp.cost_indirect_a"
                                          :placeholder="get_text('indirect_cost@stp@l')"
                            ></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3"></b-col>
                          <b-col sm="3">
                            <label for="cost_projects_a">{{ this.get_text('cost_projects_a@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <b-form-input type="text"
                                          :readonly="this.stp.cost_projects_p.replace(/[^0-9]/g, '') <= 0"
                                          @keyup="totalPlanned"
                                          @change="totalPlannedFormatThree"
                                          autocomplete="off"
                                          v-validate="this.stp.cost_projects_p.replace(/[^0-9]/g, '') <= 0 ? '' : 'required'"
                                          name="cost_projects_a" id="cost_projects_a" min="0"
                                          :class="{ 'is-invalid': errors.has('cost_projects_a') }"
                                          v-model="stp.cost_projects_a"
                                          :placeholder="get_text('cost_projects_a@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                          </b-col>
                          <b-col sm="3">
                            <label for="total_a">{{ this.get_text('total@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <div style="display: none"> {{ stp_total_a }}</div>
                            <b-form-input type="text"
                                          readonly
                                          name="total_a" id="total_a" min="0"
                                          :class="{ 'is-invalid': errors.has('total_a') }"
                                          v-model="stp.stp_total_a"
                                          :placeholder="get_text('total@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="3">
                          </b-col>
                          <b-col sm="3">
                            <label for="total_a">{{ this.get_text('accamulated_total@stp@l') }}</label>
                          </b-col>
                          <b-col sm="6">
                            <div style="display: none"> {{ accamulated_total }}</div>
                            <b-form-input type="text"
                                          readonly
                                          name="accamulated_total" id="accamulated_total" min="0"
                                          :class="{ 'is-invalid': errors.has('total_a') }"
                                          v-model="stp.totalAccamulate"
                                          :placeholder="get_text('accamulated_total@stp@l')"></b-form-input>
                          </b-col>
                        </b-row>
                        <b-row class="p-2">
                          <b-col sm="6">
                            <b-form-group>
                              <label for="stp">{{ get_text('pervious_fiscal_year@stp@l') }}<i
                                class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                              <b-form-input v-model="this.stp.perviousDate" readonly></b-form-input>
                            </b-form-group>
                          </b-col>
                          <b-col sm="6">
                            <b-form-group>
                              <label for="stp">{{ get_text('next_fiscal_year@stp@l') }}<i
                                class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                              <b-form-input v-model="this.stp.nextdate" readonly></b-form-input>
                            </b-form-group>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col sm="12">
                        <ejs-richtexteditor :enableResize="true" ref="rteObj"
                                            class="e-contenteditor"
                                            :height="340"
                                            enableRtl=true
                                            locale="de-DE"
                                            v-model="stp.capacity_justification" name="content" id="content"
                                            :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
                      </b-col>
                    </b-row>
                    <b-row>
                      <b-col sm="12">
                        <div class="form-group-row">
                          <div class="form-group">
                            <b-button :disabled="new Date() < new Date(this.stp.nextdate)" class="float-right"
                                      variant="primary" size="lg" type="submit">{{ get_text('save@prcType@l')}}
                            </b-button>
                          </div>
                        </div>
                      </b-col>
                    </b-row>
                  </b-form>
                </div>

              </div>
            </div>
            <b-modal :title="get_text('previous_readings@project_change_updation@l')" size="xl" class="modal-primary"
                     v-model="showingModal"
                     ok-only :ok-title="get_text('close@project_change_updation@l')">

              <b-row>
                <b-table responsive :items="readingslist" :fields="fields" show-empty>
                  <template slot="cost_indirect" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_indirect) }}
                  </template>
                  <template slot="cost_direct" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_direct) }}
                  </template>
                  <template slot="cost_projects" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_projects) }}
                  </template>
                  <template v-slot:empty="scope">
                    <h5>{{ get_text('no_data_found@stp@l') }}</h5>
                  </template>
                </b-table>
              </b-row>

            </b-modal>
          </div>


        </transition>

      </b-col>
    </b-row>
    <div v-else-if="!$can('stps-costupdation')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/stp/store/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    NodeSelection,
    Count,
    Resize,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(RichTextEditorPlugin);
  Vue.use(Loading);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar, Resize]
    },
    created() {
      this.$store.dispatch('loadSTPDefaultData')
      this.$store.dispatch('loadMTP');

      if (typeof this.$route.params.id != "undefined" && this.$route.params.id) {
        Vue.axios({
          url: `/stpviewupdation/${this.$route.params.id}`,
          method: 'GET'
        })
          .then((response) => {
            this.stp = response.data.stpdata
            this.readingsData = response.data.readingslist
            /*this.$store.state.roleList = response.data.role;
            this.$store.state.userList = response.data.users;
            this.$store.state.userIds = response.data.userIds;
            this.notif_roles = response.data.roleIds;*/
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      }

    },
    data: () => {
      return {
        capacityJustify: false,
        activeTabIndex: 0,
        list1: [
          {name: "John", id: 1},
          {name: "Joao", id: 2},
          {name: "Jean", id: 3},
          {name: "Gerard", id: 4}
        ],
        //stp_total_p: null,
        stp_total_a: null,
        accamulated_total: null,
        readingsData: [],
        stp: {
          mtp_id: localStorage.getItem('currentMTP'),
          fiscal_year: null,
          subtenant_id: null,
          cost_direct_p: 'KWD',
          cost_indirect_p: 'KWD',
          cost_projects_p: 'KWD',
          cost_direct_a: '',
          cost_indirect_a: '',
          cost_projects_a: '',
          stp_total_p: 'KWD',
          stp_total_a: 'KWD',
          accamulated_total: null,
          capacity_available: null,
          capacity_justification: null,
          value_period: 'Q',
        },
        userIds: [],
        fieldsRole: [],
        fields: [],
        items: [
          {age: 40, first_name: 'Dickerson', last_name: 'Macdonald', status: 'awesome'},
          {age: 21, first_name: 'Larsen', last_name: 'Shaw'},
          {age: 89, first_name: 'Geneva', last_name: 'Wilson'}
        ],
        /** Gauge */
        options: '',
        projecttypeoptions: '',
        tenantoptions: '',

        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerOne(node) {
          return {
            id: node.id,
            label: node.start_date + "-" + node.end_date,
          }
        },

        selected: null,
        button: '',
        currentPage: 1,
        currentPageRole: 1,
        perPage: 5,
        totalRows: 0,
        totalRowsRole: 0,
        priorityData: {
          TypeCode: null,
          PRCType: null,
          TypeCodeMin: null,
          TypeCodeMax: null,
        },
        priorityInfo: null,
        showingRoleModal: false,
        showingUserModal: false,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        filterRole: null,
        translation: [],

        sortByTenant: null,
        sortByStatus: null,
        sortBySubTenant: null,
        status_operational: null,
        approval_status: null,
        project_type: null,
        project_category: null,
        project_short_name: null,
        project_name: null,
        project_description: null,
        project_importance: null,
        project_has_budget: null,
        planned_budget: null,
        actual_cost: null,
        project_forcasting: null,
        actual_start: null,
        actual_closure: null,
        project_update_interval: null,
        project_has_risk: null,
        project_start_date: null,
        project_end_date: null


      }
    },
    mounted() {

    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      Unauthorized,
      'loading': Loading,
      Treeselect
    },
    computed: {
      readingslist() {
        this.fields = [
          {key: '', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'period_no', label: this.get_text('period_no@stp_updation@c'), sortable: true, sortDirection: 'desc'},
          {key: 'period_dt', label: this.get_text('period_dt@stp_updation@c'), sortable: true, sortDirection: 'desc'},
          {
            key: 'cost_direct',
            label: this.get_text('cost_direct@stp_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'cost_indirect',
            label: this.get_text('cost_indirect@stp_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'cost_projects',
            label: this.get_text('cost_projects@stp_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'capacity_available',
            label: this.get_text('capacity_available@stp_updation@c'),
            sortable: true,
            sortDirection: 'desc'
          },
          {
            key: 'capacity_registered',
            label: this.get_text('registred@stp@l'),
            sortable: true,
            sortDirection: 'desc'
          },
        ];
        return this.readingsData;
      },
    },
    methods: {
      loadPreviousReading() {

        alert(this.$router.id)
      },
      totalPlannedFormatOne() {
        this.stp.cost_direct_a = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_direct_a);
      },
      totalPlannedFormatTwo() {
        this.stp.cost_indirect_a = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_indirect_a);
      },
      totalPlannedFormatThree() {
        this.stp.cost_projects_a = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'KWD',
        }).format(this.stp.cost_projects_a);
      },
      totalPlanned() {
        //alert(this.stp.cost_direct_a)
        /*var direct = (this.stp.cost_direct_a != null && this.stp.cost_direct_a != '') ? this.stp.cost_direct_a : 0;
        var indirect = (this.stp.cost_indirect_a != null && this.stp.cost_indirect_a != '') ? this.stp.cost_indirect_a : 0;

        var projectP = (this.stp.cost_projects_a != null && this.stp.cost_projects_a != '') ? this.stp.cost_projects_a : 0;

        var all = parseInt(direct) + parseInt(indirect) + parseInt(projectP);
        this.stp_total_a = all;
        this.stp.stp_total_a = this.stp_total_a;*/

        var cost_direct_a = this.stp.cost_direct_a.toLowerCase().replace('kwd', '');
        cost_direct_a = cost_direct_a.replace(" ", "").replace(/,/g, "");
        var direct = (cost_direct_a != null && cost_direct_a != '') ? cost_direct_a : 0;

        var cost_indirect_a = this.stp.cost_indirect_a.toLowerCase().replace('kwd', '');
        cost_indirect_a = cost_indirect_a.replace(" ", "").replace(/,/g, "");

        var indirect = (cost_indirect_a != null && cost_indirect_a != '') ? cost_indirect_a : 0;

        var cost_projects_a = this.stp.cost_projects_a.toLowerCase().replace('kwd', '');
        cost_projects_a = cost_projects_a.replace(" ", "").replace(/,/g, "");
        var projectP = (cost_projects_a != null && cost_projects_a != '') ? cost_projects_a : 0;

        this.stp.stp_total_a = "KWD " + ((parseInt(direct) + parseInt(indirect) + parseInt(projectP)).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","));

      },
      justify() {
        this.capacityJustify = true;
      },
      stpcostupdation() {
        if (parseInt(this.stp.capacity_available) > parseInt(this.stp.registerUser)) {
          $('#available').addClass('is-invalid');
          return false;
        } else {
          $('#available').removeClass('is-invalid');
        }

        if (this.capacityJustify == true) {
          alert(this.get_text('capacity_justification@stp@l'))
          return false;
        }
        this.$validator.validate().then(valid => {
          //alert(valid)
          if (valid) {
            Vue.axios({
              url: 'saveStpCostUpdation',
              method: 'POST',
              data: {stp: this.stp}
            }).then(response => {
              window.location.replace('/stpList')
            });
          }
        }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Error@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
      },
      onComplete() {
        Vue.axios({
          url: 'saveStp',
          method: 'POST',
          data: {stp: this.stp}
        }).then(response => {
          //window.location.replace('/notificationList')
          /*if (response.data.code == 200) {
            console.log(response.data)
            this.state.loading = true,
              commit('SET_SELECTED_DATA', (response.data))
          }*/
        }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            this.$store.dispatch('get_text_title', 'Error@m');
            this.$store.dispatch('get_text_message', error.response.data.message + '@m');
            Vue.prototype.$notify.error({
              title: this.$store.state.title,
              message: this.$store.state.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        });
        //Vue.axios.post(`/saveNotification`, this.notification).then(response => {

        //});
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      onFilteredRole(filteredItemsRole) {
        //this.totalRows = filteredItemsRole.length
        this.currentPageRole = 1
      }
    },
    watch: {
      'stp.capacity_justification'() {
        this.capacityJustify = false;
      }
    }
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .e-toolbar-wrapper {
    height: auto !important;
  }

  .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  }

  .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
  .e-content, .e-contenteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
  }

  .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    overflow: unset !important;
  }

  .el-step__main {
    text-align: unset;
  }

  .vue-form-wizard.isRtl .wizard-progress-bar {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-left {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-right {
    float: left;
  }

  .vue-form-wizard.isRtl.el-form-item__label {
    float: right;
  }

  .customCardClass .card-body {
    padding: 0.3rem;
  }

  .el-input {
    width: 100% !important;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
