<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <div v-if="$can('stps-view')">
      <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <!-- Start Header Form -->
            <div slot="header">
              <b class="h4">{{ get_text('stp_list@stp@l') }} - {{ this.totalRows }}</b>
              <b-link :href="'/stp'" v-if="$can('stps-create')">
                <b-button variant="primary" size="md" class="btn float-right">
                  <b><i class="icon-plus icons font-1xl"></i> {{ get_text('add@stp@l') }}</b>
                </b-button>
              </b-link>
            </div>
            <!-- End Header Form -->
            <!-- Check Authentication  -->
            <div v-if="!$auth.ready() || !this.$store.state.loading">
              <div style="text-align:center; padding-top:50px;">
                {{ get_text('loading@stp@l') }}
              </div>
            </div>
            <!-- Start Ready To load table data  -->
            <div v-if="$auth.ready() && this.$store.state.loading">
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('filter@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l')
                          }}
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('sort@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">{{ get_text('please_select@l') }}
                        </option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ get_text('asc@l') }}</option>
                        <option :value="true">{{ get_text('desc@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('subtenant@stp@l')" class="mb-0"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <!--<b-form-select v-model="sortByTenant" @change="loadStpDataSector(sortByTenant, sortBySubTenant)"
                                     :options="this.$store.state.setTenant"
                                     :disabled="((!$auth.user().roles.includes('Admin') &&
                                 !$auth.user().roles.includes('Strategy Executive')) ? true : false)">
                        <option slot="first" :value="null">{{
                          get_text('please_select@stp@l') }}
                        </option>
                      </b-form-select>-->
                      <treeselect :dir="rtl ? 'rtl' : 'ltr'" :placeholder="get_text('please_select@l')"
                                  :normalizer="normalizer" searchable="searchable"
                                  :options="this.$store.state.setTenant"
                                  v-model="sortByTenant"
                                  @input="loadStpDataSector(sortByTenant, sortBySubTenant)"/>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('mtp@stp@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-select v-model="sortByMTP"
                                     name="sortBymtp" id="sortBymtp"
                                     v-validate="'required'"
                                     :class="{ 'is-invalid': errors.has('sortBymtp') }"
                                     :options="this.$store.state.kpi_mtp">
                        <option slot="first" :value="null">{{
                          get_text('please_select@project_definition@l') }}
                        </option>
                      </b-form-select>

                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('fiscal_year@stp@l')" class="mb-0" label-cols="5"
                                :label-align="$i18n.locale=='en' ? 'right' : 'left'">
                    <b-input-group>
                      <b-form-select :options="[
                                            {
                                              text: get_text('please_select@kpi_def@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('1year@stp_view@l'),
                                              value: '1'
                                            }, {
                                              text: get_text('2year@stp_view@l'),
                                              value: '2'
                                            }, {
                                              text: get_text('3year@stp_view@l'),
                                              value: '3'
                                            }]"
                                     v-model="sortByFiscalYear">
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive :items="priorities" :fields="fields"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @filtered="onFiltered">
                <template slot="no" slot-scope="data">
                  <b-col class="mb-3 mb-xl-0">
                    {{ (currentPage - 1) * perPage + data.index + 1 }}
                  </b-col>
                </template>
                <template slot="active_status" slot-scope="data">
                  <b-badge :variant="getBadge1(data.item.active_status)">{{ get_text(
                    getName(data.item.active_status)+'@stp@l') }}
                  </b-badge>
                </template>
                <template slot="status_approval" slot-scope="data">
                  <b-badge v-b-tooltip.hover
                           :variant="getBadge(data.item.status_approval)">{{
                    get_text(getNameStatus(data.item.status_approval)+'@stp@l') }}
                  </b-badge>
                </template>
                <template slot="next_reading_date" slot-scope="data">
                  <b-row class="setwidth">
                    <b-badge>{{ (data.item.next_reading_date) }}
                    </b-badge>

                    <i v-if="new Date() >= new Date(data.item.next_reading_date) && data.item.uptodate !=true" style="color:red;"
                       class="fa fa-exclamation fa-lg"></i>
                    <i v-if="new Date() <= new Date(data.item.next_reading_date) || data.item.uptodate ==true" style="color:green;"
                       class="fa fa-check fa-lg"></i>
                  </b-row>
                </template>
                <!--<template slot="Manage" slot-scope="data">
                  <b-dropdown variant="link"
                              toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' : 'text-center btnClassCustmAr')"
                              no-caret class="">
                    <template slot="button-content">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa-gears fa font-1xl"></i>
                      </button>
                    </template>
                    <b-dropdown-item
                      v-if="data.item.status_approval==0"
                      @click="showingdeleteModal = true;  selectUser(data.item)">{{
                      get_text('delete@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="data.item.status_approval==0"
                                     @click="stpApproveReject(data.item.id, 1)">{{
                      get_text('approve@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="(data.item.status_approval!=1 || data.item.status_approval==0 &&  data.item.status_approval!=2)"
                      @click="stpApproveReject(data.item.id, 2)">{{
                      get_text('reject@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="data.item.active_status!=1 && data.item.status_approval!=2 && data.item.status_approval!=0"
                      @click="stpActiveInactive(data.item.id, 1)"
                      :disabled="(data.item.status_approval==0 || data.item.active_status==1  && data.item.status_approval!=2) ? true : false">
                      {{
                      get_text('activate@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="data.item.active_status==1 && data.item.status_approval!=2"
                                     @click="stpActiveInactive(data.item.id, 0)"
                    > {{
                      get_text('deactivate@stp@l')
                      }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>-->
                <template slot="Manage" slot-scope="data">
                  <b-dropdown variant="link"
                              toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' : 'text-center btnClassCustmAr')"
                              no-caret class="">
                    <template slot="button-content">
                      <button class="btn btn-primary btn-sm">
                        <i class="fa-gears fa font-1xl"></i>
                      </button>
                    </template>

                    <b-dropdown-item
                      v-if="(data.item.status_approval==0 && (data.item.next_reading_date!=null ||
                      data.item.next_reading_date == null)) && $can('stps-delete')"
                      @click="showingdeleteModal = true;  selectUser(data.item)">{{
                      get_text('delete@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="(data.item.status_approval==0) && $can('stps-approve')" @click="stpApproveReject(data.item.id, 1)">{{
                      get_text('approve@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="((data.item.status_approval!=1 || data.item.status_approval==0 &&
                       data.item.status_approval!=2)) && $can('stps-reject')"
                      @click="stpApproveReject(data.item.id, 2)">{{
                      get_text('reject@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item
                      v-if="(data.item.active_status!=1 && data.item.status_approval!=2 &&
                      data.item.status_approval!=0) && $can('stps-active')"
                      @click="stpActiveInactive(data.item.id, 1)"
                      :disabled="(data.item.status_approval==0 || data.item.active_status==1  && data.item.status_approval!=2) ? true : false">
                      {{
                      get_text('activate@stp@l')
                      }}
                    </b-dropdown-item>
                    <b-dropdown-item v-if="(data.item.active_status==1 && data.item.status_approval!=2) &&
                    $can('stps-deactive')"
                                     @click="stpActiveInactive(data.item.id, 0)"
                    > {{
                      get_text('deactivate@stp@l')
                      }}
                    </b-dropdown-item>
                  </b-dropdown>
                </template>
                <template slot="Actions" slot-scope="data">
                  <b-row class="text-center">
                    <b-link :href="'/stp/'+data.item.id" style="height:28px"
                            class="customClass" v-if="$can('stps-edit')">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                             v-if="">
                        <b-button variant="" size="sm" :title="get_text('stp_edit@stp@l')"
                        ><b><i class="fa fa-edit font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link :href="'/stp/'+data.item.id+'/view'" style="height:28px"
                            class="customClass" v-if="$can('stps-view')">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                             v-if="">
                        <b-button variant="" size="sm" :title="get_text('stp_view_data@stp@l')"
                        ><b><i class="fa fa-address-book font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link :disabled="data.item.status_approval==0 ? true : false" :href="'/stpcostupdation/'+data.item.id" style="height:28px"
                            class="customClass"  v-if="$can('stps-costupdation')">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                             v-if="">
                        <b-button variant="" size="sm" :title="get_text('stp_cost_updation@stp@l')"
                        ><b><i class="fa fa-clipboard-list font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                    <b-link :disabled="data.item.status_approval==0 ? true : false" :href="'/stpView/'+data.item.subtenant_id" style="height:28px"
                            class="customClass" v-if="$can('stps-quickview')">
                      <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"
                             v-if="">
                        <b-button variant="" size="sm" :title="get_text('stp_view@stp@l')"
                        ><b><i class="fa fa-eye font-1xl"></i></b></b-button>
                      </b-col>
                    </b-link>
                  </b-row>
                </template>
              </b-table>
              <nav>
                <b-pagination size="sm" :total-rows="this.totalRows" :per-page="perPage"
                              :first-text="get_text('first@stp@l')"
                              :last-text="get_text('last@stp@l')"
                              v-model="currentPage" :prev-text="get_text('prev@stp@l')"
                              :next-text="get_text('next@stp@l')"
                />
              </nav>
            </div>
            <!-- End Ready To load table data  -->
          </b-card>
        </transition>
        <b-modal :title="get_text('delete@Users@l')" size="lg" class="modal-danger" v-model="showingdeleteModal"
                 hide-footer="true" ok-variant="danger">
          <div class="modalcontent">
            <h3 class="text-center" style="width: auto !important;">{{ this.get_text('are_you_sure_to_delete@Users@l')
              }} <b>{{stpDeleteData.symbol}}</b>?</h3>
            <b-col md="12" class="text-center" style="width: auto !important;">

              <button class="btn btn-outline-danger left"
                      @click="showingdeleteModal = false; stpDeletePermanently(stpDeleteData.id)">{{
                this.get_text('yes@l') }}
              </button>&nbsp;
              <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
                this.get_text('no@l') }}
              </button>
            </b-col>
          </div>
        </b-modal>
      </b-col>
    </b-row>
    </div>
    <div v-else-if="!$can('stps-view')">
      <b-row>
        <b-col sm="12">
          <b-card>
            <Unauthorized></Unauthorized>
          </b-card>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/stp/store/store'
  import {dashStore} from '@/views/dashboard/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Treeselect from '@riophae/vue-treeselect'
  // import the styles
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  import Unauthorized from "../../views/pages/Unauthorized";

  Vue.use(Element);
  Vue.use(Loading);
  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    sockets: {
      stpupdate(data) {
        var val = null
        if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
          val = JSON.parse(localStorage.getItem('session_sector'));
        } else if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit')) {
          val = JSON.parse(localStorage.getItem('session_unit'));
        }
        this.$store.dispatch('getNotificationStpData', [data, val]);
      },
      /*dashboard(data) {
        let message = JSON.parse(data);
        console.log(message);
        dashStore.dispatch('realTimeUpdateDashboard', [this.mtp_date, this.sector]);
      }*/
    },
    created() {
      /*this.isAdmin = ((this.$auth.user().roles.includes('Admin') &&
        this.$auth.user().roles.includes('Strategy Executive')) ? true : false);*/

      //if (this.$auth.user().roles.includes('Admin')) {
      if (this.$auth.user().currentRole == 'Admin') {
        this.isAdmin = true;
      } else if (this.$auth.user().roles.includes('Strategy Executive')) {
        this.isAdmin = false;
      } else {
        this.isAdmin = false;
      }
      this.$store.dispatch('loadSectorOrg', null);
      /** Session work By Bhavesh for back button with Session Value */
      if (localStorage.getItem('isSession') == 'true') {
        localStorage.removeItem('isSession');
        if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit') == null) {
          this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
          this.loadStpDataSector(localStorage.getItem('session_sector'), this.sortBySubTenant);
        } else if (localStorage.getItem('session_sector') && localStorage.getItem('session_unit')) {
          this.sortByTenant = JSON.parse(localStorage.getItem('session_sector'));
          this.sortByTenant = JSON.parse(localStorage.getItem('session_unit'));
          this.$store.dispatch('loadSubTenants', this.sortByTenant);
          this.loadStpDataSector(localStorage.getItem('session_sector'), localStorage.getItem('session_unit'));
          Vue.axios.get('/subtenanttree/' + localStorage.getItem('session_sector')+'/false')

            .then(response => {
              if (response.data.code == 200) {
                this.$store.state.setTenant = response.data.tree;

                this.removeEmptyNode(this.options);

              }
            });
        } else {
          if (!this.isAdmin) {
            //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
            this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
          }
          if (!this.isAdmin && this.sortByTenant != '') {
            this.sortByTenant = this.$auth.user().subtenant_id;
            this.loadStpDataSector(this.sortByTenant, this.sortBySubTenant)
          } else {
            this.$store.dispatch('loadStpDataSector', null);
            localStorage.removeItem('session_unit');
            localStorage.removeItem('session_sector');
          }
        }
      } else {
        if (!this.isAdmin) {
          //this.sortByTenant = ((this.$auth.user().roles.includes('Admin')) ? null : this.$auth.user().sector_id);
          this.sortByTenant = ((this.$auth.user().currentRole == 'Admin') ? null : this.$auth.user().sector_id);
        }
        if (!this.isAdmin && this.sortByTenant != '') {
          this.sortByTenant = this.$auth.user().subtenant_id;
          this.loadStpDataSector(this.sortByTenant, this.sortBySubTenant)
        } else {
          this.$store.dispatch('loadStpDataSector', null);
          localStorage.removeItem('session_unit');
          localStorage.removeItem('session_sector');
        }
      }
      this.$store.dispatch('loadMTP');
    },
    data: () => {
      return {
        backlink: 0,
        isAdmin: false,
        stpDeleteData: {},
        rejectreasontext: '',
        selectkpidata: '',
        dangerModal: false,
        exceptionModal: false,
        selected: null,
        selectedLink: null,
        fields: [
          /* {key: 'id', label: '#', sortable: false, sortDirection: 'desc'},
           {key: 'name', label: 'KPI Name', sortable: true, sortDirection: 'desc'},
           {key: 'subtenant_name', label: 'Tenant'},
           {key: 'active_status', label: 'Status'},
           {key: 'Actions'},*/
        ],
        button: '',
        currentPage: 1,
        perPage: 50,
        totalRows: 0,
        sortByTenant: null,
        sortByMTP: localStorage.getItem('currentMtpData'),
        sortByFiscalYear: null,
        sortByStatus: null,
        sortBySubTenant: null,
        sortByKpiCat: null,
        sortByKpiIntetval: null,
        kpiexceptiondata: null,
        priorityData: {
          TypeCode: null,
          Type: null,
        },
        priorityInfo: null,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [10, 20, 50, 100],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        nextreaddate: 0,
        translation: [],
        //showingdeleteModal: false,
        kpiname: '',
        symbol: '',
        options: '',
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    beforeDestroy() {
      if (this.backlink == 0) {
        //localStorage.removeItem('session_sector');
        //localStorage.removeItem('session_unit');
      }
      document.cookie = "sectorname=; domain=.najah.online; path=/;";
      document.cookie = "orgname=; domain=.najah.online; path=/;";
      // document.cookie = "sectorname=;  path=/;";
      // document.cookie = "orgname=;  path=/;";
    },
    computed: {
      /*exceptions() {
        if (this.$i18n.locale == 'en') {
          this.fieldsexceptions = [
            {key: 'no', label: '#'},
            {key: 'short_desc_en', label: this.get_text('short_desc_en@stp@c'), sortable: true},
            {key: 'long_desc_en', label: this.get_text('long_desc_en@stp@c')},
          ];
        } else {
          this.fieldsexceptions = [
            {key: 'no', label: '#'},
            {key: 'short_desc_ar', label: this.get_text('short_desc_ar@stp@c'), sortable: true},
            {key: 'long_desc_ar', label: this.get_text('long_desc_ar@stp@c')},
          ];
        }
        return this.kpiexceptiondata
      },*/
      priorities() {
        this.fields = [
          {key: 'no', label: '#', tdClass: 'trtdrow', thClass: 'text-center'},
          {key: 'symbol', label: this.get_text('symbol@stp@c'), sortable: true, tdClass: 'symbolCls'},
          {key: 'orgname', label: this.get_text('orgname@stp@c'), sortable: true, sortDirection: 'desc'},
          {key: 'stp_year', label: this.get_text('fiscal_year@stp@c'), sortable: true, sortDirection: 'desc'},
          {
            key: 'active_status',
            sortable: true,
            sortDirection: 'desc',
            label: this.get_text('active_status@stp@c')
          },
          {key: 'status_approval', sortable: true, sortDirection: 'desc', label: this.get_text('status_approval@stp@c')},
          {
            key: 'next_reading_date',
            sortable: true,
            sortDirection: 'desc',
            label: this.get_text('next_reading_date@stp@l'),
            thClass: 'setwidth'
          },
          {key: 'Actions', label: this.get_text('actions@stp@l')},
          {key: 'Manage', label: this.get_text('manage@stp@l'), thClass: 'text-center'},
        ];

        /*if (this.sortByTenant != null && this.$store.getters.priorities.length > 0) {
            this.$store.dispatch('loadSubTenants', this.sortByTenant);
            var filterData = [];
            filterData = this.$store.getters.priorities.filter(data => {
                return data.subtenant_id.toString().includes(this.sortByTenant)
            })
            this.totalRows = filterData.length;
            return filterData;
        } else */
        if (this.sortByMTP != null && this.$store.getters.priorities.length > 0) {
          var filterData = [];
          filterData = this.$store.getters.priorities.filter(data => {
            return data.mtp_id != null ? data.mtp_id.toString().includes(this.sortByMTP) : ''
          });

          if (this.sortByFiscalYear != null && this.$store.getters.priorities.length > 0) {
            //var filterData = [];
            filterData = filterData.filter(data => {
              return data.year_no != null ? data.year_no.toString().includes(this.sortByFiscalYear) : ''
            })
            //this.totalRows = filterData.length;
            //return filterData;
          }

          this.totalRows = filterData.length;
          return filterData;
        } else if (this.sortByFiscalYear != null && this.$store.getters.priorities.length > 0) {
          var filterData = [];
          filterData = this.$store.getters.priorities.filter(data => {
            return data.year_no != null ? data.year_no.toString().includes(this.sortByFiscalYear) : ''
          })
          this.totalRows = filterData.length;
          return filterData;
        } else {
          var filterData = this.$store.getters.priorities;
          this.totalRows = filterData.length;
          //alert(this.totalRows)
          return filterData;
        }

        return this.$store.getters.priorities
      },
      getRowCount() {
        return this.$store.getters.getRowCount
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    watch: {
      showingeditModal: function () {
        if (this.showingeditModal == false) {
          //this.$store.dispatch('loadPriorities')
          this.priorityData = {}
        }
      }
    },
    components: {
      Unauthorized,
      'loading': Loading,
      Treeselect
    },
    methods: {
      quickAccessLink(val) {
        this.$router.push(val);
        this.backlink = 1;
        localStorage.setItem('back_link', this.backlink);
        localStorage.setItem('sector_back', this.sortByTenant);
        // this.backlink = 0;
      },
      selectUser(kpi) {
        this.stpDeleteData = kpi;
      },
      removeEmptyNode(nodes) {
        if (!nodes || nodes.length === 0)
          return;

        nodes.forEach(function (node) {

          if (node.tree.length === 0) {
            // alert(node)
            delete node.tree;
          } else {
            // alert(node.tree)
            //this.removeEmptyNode(node.tree);
            node.tree.forEach(function (node) {

              if (node.tree.length === 0) {
                // alert(node)
                delete node.tree;
              } else {
                // alert(node.tree)
                //this.removeEmptyNode(node.tree);
                node.tree.forEach(function (node) {

                  if (node.tree.length === 0) {
                    // alert(node)
                    delete node.tree;
                  } else {
                    // alert(node.tree)
                    this.removeEmptyNode(node.tree);
                  }
                });
              }
            });
          }
        });
      },
      loadStpDataSector(sector, orgUnit) {

        var sectorID = '';
        if (typeof orgUnit != 'undefined' && orgUnit != null) {
          sectorID = orgUnit
          localStorage.setItem('session_unit', orgUnit);
        } else if (typeof sector != 'undefined' && sector != null) {
          sectorID = sector
          localStorage.setItem('session_sector', sector);
        } else {
          sectorID = null;
          localStorage.removeItem('session_unit');
          localStorage.removeItem('session_sector');
        }

        this.options = '';
        if (!this.isAdmin && this.sortBySubTenant == null) {

          if (sectorID != null) {
            //alert(this.$auth.user().subtenant_id);
            Vue.axios.get('/subtenanttree/' + this.$auth.user().subtenant_id+'/false')

              .then(response => {
                if (response.data.code == 200) {
                  this.$store.state.setTenant = response.data.tree;

                  this.removeEmptyNode(this.options);

                }
              });
          }

          this.$store.dispatch('loadStpDataSector', sectorID);
        } else {
          //alert(sector+'=='+orgUnit)
          /*if (sectorID != null) {
            Vue.axios.get('/subtenanttree/' + sector)

              .then(response => {
                if (response.data.code == 200) {
                  this.$store.state.setTenant = response.data.tree;

                  this.removeEmptyNode(this.options);

                }
              });
          }*/
          this.$store.dispatch('loadStpDataSector', sectorID);
        }
      },
      loadKpiDataOrgUnit(orgUnit) {
        localStorage.setItem('session_unit', orgUnit);
        this.$store.dispatch('loadKpiDataOrgUnit', orgUnit);
      },
      stpDeletePermanently(stpId) {
        this.$store.dispatch('removestpPermanently', stpId)
      },
      printtable(printdiv) {

        var mywindow = window.open('', 'PRINT', 'height=400,width=600');
        mywindow.document.write('<html><head><style> tr:nth-child(even) {background-color: #f2f2f2;}\n .table {\n' +
          '        width: 100%;\n' +
          '        margin-bottom: 1rem;\n' +
          '        color:#23282c;\n' +
          '        \n' +
          '      }\n' +
          '      .table thead th {\n' +
          '        vertical-align: bottom;\n' +
          '        border-bottom: 2px solid\n' +
          '        #c8ced3;\n' +
          '      }\n' +
          '      table th, .table td {\n' +
          '        padding: 0.75rem;\n' +
          '        vertical-align: top;\n' +
          '        border-top: 1px solid\n' +
          '        #c8ced3;\n' +
          '      }\n</style>');
        mywindow.document.write('</head><body >');
        mywindow.document.write(document.getElementById(printdiv).innerHTML);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        mywindow.close();
        return true;
      },
      kpiException(kpiid) {
        this.exceptionModal = true;

        Vue.axios.get(`/kpiexceptionlist/${kpiid}`)
          .then((response) => {
            if (response.data.code == 401) {
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              })
            } else {

              this.kpiexceptiondata = response.data.kpiexception;
              this.kpiname = response.data.kpidetails[0].name;
              this.symbol = response.data.kpidetails[0].symbol;


            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })

      },
      stpApproveReject(stpid, status) {
        if (status == 2) {
          this.dangerModal = true;
          this.rejectreasontext = '';
          this.selectkpidata = kpi;
          return;
          //this.kpiRejectsave(kpi, status);
        } else {

          // return tru;
          Vue.axios.post(`/stpApproveReject`, {stpid: stpid, status: status})
            .then((response) => {
              if (response.data.code == 400) {
                this.$store.dispatch('get_text_title', 'error@m');
                this.$store.dispatch('get_text_message', response.data.msg + '@m');
                Vue.prototype.$notify.error({
                  title: this.$store.state.title,
                  message: this.$store.state.message,
                  type: 'Error',
                  position: 'top-right'
                })
              } else {
                this.showingeditModal = true;
                this.$store.dispatch('get_text_title', 'success@m');
                this.$store.dispatch('get_text_message', response.data.msg + '@m');
                Vue.prototype.$notify.success({
                  title: this.$store.state.title,
                  message: this.$store.state.message,
                  type: 'Success',
                  position: 'top-right'
                })
                this.loadStpDataSector(this.sortByTenant, this.sortBySubTenant)
                //this.$store.dispatch('loadPriorities');
              }
              this.$store.state.isLoading = false;
            })
            .catch((error) => {
              console.log(error)
            })
        }
      },

      kpiRejectsave(kpi) {
        this.submitted = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            Vue.axios.post(`/kpiApproveReject`, {
              kpi: this.selectkpidata,
              status: 2,
              rejectreason: this.rejectreasontext
            })
              .then((response) => {
                if (response.data.code == 400) {
                  this.$store.dispatch('get_text_title', 'error@m');
                  this.$store.dispatch('get_text_message', response.data.msg + '@m');
                  Vue.prototype.$notify.error({
                    title: this.$store.state.title,
                    message: this.$store.state.message,
                    type: 'Error',
                    position: 'top-right'
                  })
                } else {
                  this.dangerModal = false;
                  this.rejectreasontext = '';
                  this.$store.dispatch('get_text_title', 'success@m');
                  this.$store.dispatch('get_text_message', response.data.msg + '@m');
                  Vue.prototype.$notify.success({
                    title: this.$store.state.title,
                    message: this.$store.state.message,
                    type: 'Success',
                    position: 'top-right'
                  })
                  this.loadStpDataSector(this.sortByTenant, this.sortBySubTenant)
                  //this.$store.dispatch('loadPriorities');
                }
                this.$store.state.isLoading = false;
              })
              .catch((error) => {
                console.log(error)
              })
            this.$validator.reset();
          }
        });

      },
      stpActiveInactive(stpid, activeStatus) {
        this.$store.state.isLoading = true;
        Vue.axios.post(`/stpActiveInactive`, {stpid: stpid, status: activeStatus})
          .then((response) => {
            if (response.data.code == 400) {
              this.$store.dispatch('get_text_title', 'error@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.showingeditModal = true
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.success({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Success',
                position: 'top-right'
              });
              this.loadStpDataSector(this.sortByTenant, this.sortBySubTenant)
              //this.$store.dispatch('loadPriorities');
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      createPriority() {
        this.submitted = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.resetPasswordBtn = true,
              this.showingModal = false
            this.$store.dispatch('createPriority', {
              data: {
                TypeCode: this.priorityData.TypeCode,
                Type: this.priorityData.Type,
              }
            })
            this.priorityData = {
              TypeCode: null,
              Type: null,
            }
            this.$validator.reset();
          }
        });
      },
      selectPriority(priority) {
        this.priorityData = priority;
      },
      editPriority(priority, value = null) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/PRCTypes/${priority.id}`, priority.PRCTypes)
          .then((response) => {
            if (response.data.code == 401) {
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.priorityInfo = response.data.data
              } else {
                this.showingeditModal = true
                this.priorityData = response.data.data
              }
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      updatePriority() {
        this.updated = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.showingeditModal = false
            this.$store.dispatch('updatePriority', {
              where: this.priorityData.IdPRCType,
              data: {
                TypeCode: this.priorityData.TypeCode,
                Type: this.priorityData.Type,
              }
            })
            this.priorityData = {
              TypeCode: null,
              Type: null,
            }
            this.$validator.reset();
          }
        });
      },
      removePriority(priorities) {
        this.$store.dispatch('removePriority', priorities)
      },
      getBadge(status) {
        return status == 1 ? 'success' : status == 0 ? 'primary' : 'danger'
      },
      getBadge1(status) {
        return status == 1 ? 'success' : status == 0 ? 'danger' : 'primary'
      },
      // getBadge2(next_reading_date) {
      //   return next_reading_date == 1 ? 'success' : next_reading_date == 0 ? 'danger' : 'primary'
      // },

      getName(status) {
        return status == '1' ? 'active' : status == '0' ? 'inactive' : 'danger'
      },
      getNamedate(next_reading_date) {
        var GivenDate = next_reading_date;
        // alert("given date"+GivenDate);

        var CurrentDate = new Date();
        GivenDate = new Date(GivenDate);

        // var mydate=new Date(next_reading_date);
        //  alert("given date"+GivenDate);
        //  alert("current date"+CurrentDate);
        this.nextreaddate = 0;
        if (CurrentDate <= GivenDate) {
          this.nextreaddate = 1;
        }
        //return next_reading_date
      },
      getNameStatus(status) {
        return (
          (status == 0) ? "pending_for_approval" :
            ((status == 1) ? "approved" :
              ((status == 2) ? "rejected" : "pending_for_approval"))
        );
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }

</script>
<style>
  a.disabled {
    pointer-events: none;
    cursor: none;
  }
  .mb-xl-0.col-sm-4.col-md-2.col-xl-1.col-2 {
    margin: 0;
    padding-left: 0px;
    padding-right: 6px;
  }

  .customClass button.btn.btn-secondary.btn-sm {
    background-color: transparent;
  }

  .btnClassCustmAr {
    padding-left: 0px !important;
  }

  .btnClassCustmEn {
    padding-right: 0px !important;
  }

  .trtdrow {
    background: #43a9cc;
    color: #ffffff;
    font-weight: bold;
  }

  .symbolCls {
    white-space: nowrap;
  }

  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

  }

  .b-dropdown {
    margin-top: 0 !important;
  }

  .text-center {
    width: 150px !important;
  }

  .setwidth {
    width: 110px !important;
  }

  .pointerClass {
    pointer-events: none;
    cursor: none;
  }

  @media print {
    .table {
      width: 100%;
      margin-bottom: 1rem;
      color: #23282c;

    }

    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #c8ced3;
    }

    table th, .table td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #c8ced3;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

  }

</style>
