<template>
  <div class="animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>

    <b-row v-if="$can('stps-quickview') || $can('reportsstp-AnnualPlanPerformanceCost-view')">
      <b-col sm="12">
        <div class="card" id="dropdown1" style="margin-bottom: 0">
          <div class="card-header">
            <div class="row">
              <div class="col-md-8">
                <label style="font-size: 15px; font-weight: bold;">{{ get_text('stp_view_report@stp_view@l') }}</label>
              </div>
              <div class="col-md-4" style="text-align:right">
                <b-link v-if="$can('stps-quickview-print') || $can('reportsstp-strategiccost-print')" class="card-header-action btn-close float-right"
                        href="#"
                        v-on:click="printdeptperf('sectiontreemap')">
                  <i class="icon-printer"></i>
                </b-link>
                <b-link class="card-header-action btn-minimize float-right" v-b-toggle.my-collapse
                        v-if="typeof this.$route.params.id == 'undefined'">
                  <i class="icon-arrow-up"></i>
                </b-link>
                <b-link :href="'/stpList'" v-if="typeof this.$route.params.id != 'undefined'">
                  <b-button variant="primary" size="md" class="btn float-right">
                    <b><i class="icon-list icons font-1xl"></i> {{ get_text('back_to_list@stp@l') }}</b>
                  </b-button>
                </b-link>
              </div>
            </div>
          </div>
          <b-collapse id="my-collapse">
            <div class="card-body">
              <b-row>
                <b-col sm="6">
                  <b-form-group horizontal :label="get_text('org_unit@l')">
                    <b-input-group>
                      <treeselect :dir="rtl ? 'rtl' : 'ltr'" :placeholder="get_text('please_select@l')"
                                  :normalizer="normalizer" searchable="searchable"
                                  :options="this.$store.state.setTenant"
                                  v-model="sortBySector"
                                  @input="loadViewStpData"/>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col sm="6">
                  <b-form-group horizontal :label="get_text('mtp@gaugechart@l')">
                    <b-form-select v-model="sortByMtp" :options="this.$store.state.kpi_mtp"
                                   v-on:change=" showingdropModal=false; loadViewStpData()">
                      <option slot="first" :value="null">-- اختر --</option>
                    </b-form-select>
                  </b-form-group>
                </b-col>
                <b-col sm="6">
                  <b-form-group :label="get_text('as_of_period@stp_view@l')" horizontal>
                    <b-input-group>
                      <b-form-select :options="[
                                            {
                                              text: get_text('please_select@stp_view@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('1st_quarter@stp_view@l'),
                                              value: 'Q1'
                                            }, {
                                              text: get_text('2nd_quarter@stp_view@l'),
                                              value: 'Q2'
                                            }, {
                                              text: get_text('3rd_quarter@stp_view@l'),
                                              value: 'Q3'
                                            },
                                            {
                                              text: get_text('4th_quarter@stp_view@l'),
                                              value: 'Q4'
                                            },
                                            {
                                              text: get_text('annual@stp_view@l'),
                                              value: 'Y'
                                            }

                                            ]" @change="loadViewStpData"
                                     v-model="sortByPeriod">
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group :label="get_text('fiscal_year@stp@l')" horizontal horizontal>
                    <b-input-group>
                      <!--<treeselect :style="''" :placeholder="get_text('please_select@l')" searchable="searchable"
                                  :normalizer="normalizerOne"
                                  @input="loadViewStpData"
                                  :required="true" :class="treeselectClassFiscal"
                                  :options="this.$store.getters.fiscalYear" v-model="sortByFiscal"
                      />-->
                      <b-form-select :options="[
                                            {
                                              text: get_text('please_select@kpi_def@l'),
                                              value: null
                                            },
                                            {
                                              text: get_text('1year@stp_view@l'),
                                              value: '1'
                                            }, {
                                              text: get_text('2year@stp_view@l'),
                                              value: '2'
                                            }, {
                                              text: get_text('3year@stp_view@l'),
                                              value: '3'
                                            }]" @change="loadViewStpData"
                                     v-model="sortByFiscal">
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
              </b-row>
            </div>
          </b-collapse>
        </div>
      </b-col>
    </b-row>
    <div id="sectiontreemap" v-if="$can('stps-quickview') || $can('reportsstp-AnnualPlanPerformanceCost-view')">
      <b-row style="">
        <b-col :lg="4" :sm="4" style="">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <!--background-color: #3a4248 !important;color: #fff;-->
              <i class="col-sm-6 fas p-3 font-1xl mr-3 bg-primary" :class="'fa fa-calendar-alt'"
                 style="color: #fff; font-size: 17px; font-weight: bold;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">
                {{
                get_text('fiscal_year@stp_view@l') }}</i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ fiscalDates }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale=='en' ? 'padding-left: 0' : 'padding-right: 0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <!--background-color: #3a4248 !important;color: #fff;-->
              <i class="col-sm-6 fas p-3 font-1xl mr-3 bg-primary" :class="'fa fa-chart-line'"
                 style="color: #fff; font-size: 17px; font-weight: bold;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">
                {{
                get_text('perf_prog@stp_view@l') }}</i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ Object.keys(this.$store.getters.dataHeading).length && this.$store.getters.dataHeading.prog_sum_w
                    > 0 ? (this.$store.getters.dataHeading.prog_sum_w).toFixed(2) : 0 }}%
                  </div>
                  <div class="text-muted small">{{ get_text('progress@stp_view@l') }}
                  </div>
                </div>
                <div>
                  <div class="text-value">{{ Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.perf_sum_w > 0 ?
                    (this.$store.getters.dataHeading.perf_sum_w).toFixed(2) : 0 }}%
                  </div>
                  <div class="text-muted small">{{ get_text('performance@stp_view@l') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale =='en' ? 'padding-left:0' : 'padding-right:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-6 fas p-3 font-1xl mr-3  bg-primary" :class="'fa fa-sliders-h'"
                 style="color: #fff; font-size: 17px; font-weight: bold;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">&nbsp;
                <label style="font-size: 15px; padding: 0; margin-bottom: 2px">{{ get_text('plan_items@stp_view@l')
                  }}</label></i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ Object.keys(this.$store.getters.dataHeading).length && this.$store.getters.dataHeading.proj_count
                    > 0 ? this.$store.getters.dataHeading.proj_count : '0' }}
                  </div>
                  <div class="text-muted small">{{ get_text('proj_count@stp_view@l') }}
                  </div>
                </div>
                <div>
                  <div class="text-value">
                    {{ Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.process_count > 0 ? this.$store.getters.dataHeading.process_count :
                    '0'
                    }}
                  </div>
                  <div class="text-muted small">{{ get_text('process_count@stp_view@l') }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row style="">
        <b-col :lg="4" :sm="4" style="">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;" :id="'tooltip-target-vision-'">
            <div class="card-body p-0 d-flex align-items-center">
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0; float: left">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 4px;">{{
                    get_text('planned_unit_cost@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 4px;">{{
                    get_text('direct@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">{{
                    get_text('indirect@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">{{
                    get_text('project_cost@stp_view@l') }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 4px;">{{ new
                    Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    (this.$store.getters.dataHeading.cost_direct_p+this.$store.getters.dataHeading.cost_indirect_p+this.$store.getters.dataHeading.cost_projects_p)
                    : 0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_direct_p :
                    0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_indirect_p
                    : 0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_projects_p
                    : 0) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale =='en' ? 'padding-left:0' : 'padding-right:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;" :id="'tooltip-target-vision-'">
            <div class="card-body p-0 d-flex align-items-center">
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 4px;">{{
                    get_text('actual_unit_cost@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 4px;">{{
                    get_text('direct@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">{{
                    get_text('indirect@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">{{
                    get_text('project_cost@stp_view@l') }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 4px;">{{ new
                    Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    (this.$store.getters.dataHeading.cost_direct_a+this.$store.getters.dataHeading.cost_indirect_a+this.$store.getters.dataHeading.cost_projects_a)
                    : 0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_direct_a :
                    0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_indirect_a
                    : 0) }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 4px;">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length > 0 ?
                    this.$store.getters.dataHeading.cost_projects_a
                    : 0) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale =='en' ? 'padding-left:0' : 'padding-right:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;" :id="'tooltip-target-vision-'">
            <div class="card-body p-0 d-flex align-items-center">
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 9px;">{{
                    get_text('unit_capacity_data@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 8px;">{{
                    get_text('registered@stp_view@l') }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 9px;">{{
                    get_text('available@stp_view@l') }}
                  </b-list-group-item>
                </b-list-group>
              </div>
              <div class="customCardBody brand-card-body col-sm-6" style="">
                <b-list-group style="padding: 0">
                  <b-list-group-item :class="'customList'" href="#" style="border-top: none; padding: 9px;">&nbsp;
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="border-bottom: none; padding: 8px;">{{
                    Object.keys(this.$store.getters.dataHeading).length > 0 ? this.$store.getters.dataHeading.emp_count
                    : 0 }}
                  </b-list-group-item>
                  <b-list-group-item :class="'customList'" href="#" style="padding: 9px;">{{
                    (Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.emp_available > 0 ? this.$store.getters.dataHeading.emp_available :
                    0) }}
                  </b-list-group-item>
                </b-list-group>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      <b-row>
        <b-col :lg="4" :sm="4" style="">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-6 fas p-3 font-1xl mr-3  bg-primary" :class="'fa fa-sort-amount-up'"
                 style="color: #fff;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">&nbsp;&nbsp;{{
                get_text('unit_utilization@stp_view@l') }}:</i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.emp_utilization > 0 ?
                    (this.$store.getters.dataHeading.emp_utilization*100).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale =='en' ? 'padding-left:0' : 'padding-right:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-6 fas p-3 font-1xl mr-3 bg-primary" :class="'fa fa-hand-holding-usd'"
                 style="color: #fff;"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">&nbsp;&nbsp;{{
                get_text('squandering@stp_view@l')}}</i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.cost_squandering > 0 ?
                    this.$store.getters.dataHeading.cost_squandering : 0) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
        <b-col :lg="4" :sm="4" :style="$i18n.locale =='en' ? 'padding-left:0' : 'padding-right:0'">
          <div class="card" style="margin-top:10px;margin-bottom: 0px;">
            <div class="card-body p-0 d-flex align-items-center">
              <i class="col-sm-6 fas p-3 font-1xl mr-3  bg-primary" :class="'fa fa-wave-square'"
                 style="color: #fff; font-size: 13px"
                 :style="$i18n.locale=='en' ? ' margin-right: 0.2rem !important' : ' margin-left: 0.2rem !important'">
                {{
                get_text('Actual Vs Planned Variance@stp_view@l')}}</i>
              <div class="customCardBody brand-card-body col-sm-6">
                <div>
                  <div class="text-value">
                    {{ Object.keys(this.$store.getters.dataHeading).length &&
                    this.$store.getters.dataHeading.cost_variance_pct > 0 ?
                    (this.$store.getters.dataHeading.cost_variance_pct*100).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                </div>
              </div>
            </div>
          </div>
        </b-col>
      </b-row>
      <br>
      <b-row>
        <b-col sm="12">
          <b-card :header="get_text('org_unit@statistics@l')" style="margin-bottom: 1%">
            <div slot="header">
              <i class="fa fa-plus-square" style="margin-top: 0.2em; cursor: pointer; font-size: 22px" @click='expand'
                 title="Expand"
                 v-if="!showExDe"></i>
              <i class="fa fa-minus-square" style="margin-top: 0.2em; cursor: pointer; font-size: 22px"
                 @click='collapse'
                 title="Collapse" v-else></i>&nbsp;
              <b class="h4">{{ get_text('org_unit_perf@stp_view@l') }}<!--{{ $t('greeting') }}--></b>

              <!--<div class="float-right">
                <input type="checkbox" style="margin-top: -3px;"
                       @change="getAllVals($event)"
                       v-model="getallval"
                       value="1"
                       variant="primary"
                       size="md"
                       class="btn">
                &nbsp;
                <div class="float-right"> {{ get_text('check_all_unit@statistics@l') }} &nbsp;
                </div>
              </div>-->
            </div>

            <div class="control-section" style="overflow: auto">
              <div class="content-wrapper customtableclass" v-if="Object.keys(this.$store.getters.dataHeading).length > 0">
                <!--:allowResizing='true'-->
                <ejs-treegrid v-if="Object.keys(this.$store.getters.dataHeading).length > 0"
                              :dataSource='this.$store.getters.dataHeirarchy'
                              idMapping='sub_id'
                              parentIdMapping='sub_parent'
                              hasChildMapping='isParent'
                              :treeColumnIndex='0'
                              ref="grid"
                              :enableCollapseAll="true"
                              :gridLines="lines"
                              :rowSelected='rowSelected'
                >
                  <!--:toolbar='toolbar'-->
                  <e-columns>
                    <e-column field='sub_name' :headerText='this.get_text("org_name@statistics@c")'
                              width='24%' :textAlign="$i18n.locale=='en' ? 'left' : 'right'"></e-column>

                    <e-column field='cost_direct_p' :headerText="this.get_text('planned_unit_cost@stp_view@l')"
                              width='15%' :customAttributes="customAttributes"
                              :template="planCostTemplate" textAlign='center'></e-column>

                    <e-column field='cost_direct_a' :headerText="this.get_text('actual_unit_cost@stp_view@l')"
                              width='15%' :customAttributes="customAttributes"
                              :template="actualCostTemplate" textAlign='center'></e-column>

                    <e-column field='cost_variance' :headerText="this.get_text('variance@stp_view@l')" width='10%' :customAttributes="customAttributes"
                              :template="varianceTemplate" textAlign='center'></e-column>

                    <e-column field='cost_variance_pct' :headerText="this.get_text('variance_prct@stp_view@l')"
                              width='7%' :customAttributes="customAttributes"
                              :template="variancepctTemplate" textAlign='center'></e-column>

                    <e-column field='cost_squandering' :headerText="this.get_text('squandering@stp_view@l')" width='15%' :customAttributes="customAttributes"
                              :template="squanderingTemplate" textAlign='center'></e-column>
                    <e-column field='prog_sum_w' :headerText="this.get_text('unit_prog@stp_view@l')" width='7%' :customAttributes="customAttributes"
                              :template="unitProgTemplate" textAlign='center'></e-column>
                    <!--:customAttributes="customAttributes"-->
                    <e-column field='perf_sum_w' :headerText="this.get_text('unit_perf@stp_view@l')" width='7%'
                              :template="unitPerfTemplate" textAlign='center'></e-column>

                  </e-columns>
                </ejs-treegrid>
              </div>
            </div>

            <b-row style="margin-top: 0.6rem">
              <!--{{ processDataView}}-->
              <b-col sm="12">
                <b-table :hover="hover" :striped="striped" responsive class="table customDown" :items="processListData"
                         :fields="fieldsOne" show-empty style="margin: 0">
                  <template slot="index" slot-scope="data">
                    {{ data.index + 1 }}
                  </template>
                  <template v-slot:empty="scope">
                    <h5>{{ get_text('no_data_found@stp@l') }}</h5>
                  </template>

                  <!--pct_capacity-->
                  <template slot="pct_capacity" slot-scope="data">
                    {{ (data.item.pct_capacity *100).toFixed(2) }}%
                  </template>
                  <template slot="pct_project" slot-scope="data">
                    {{ (data.item.pct_project *100).toFixed(2) }}%
                  </template>
                  <template slot="cost_p" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_p) }}
                  </template>
                  <template slot="cost_a" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_p) }}
                  </template>
                  <template slot="variance" slot-scope="data">
                    <label style="direction: ltr">{{ new Intl.NumberFormat('en-US', {
                      style: 'currency',
                      currency: 'KWD',
                      }).format(data.item.variance) }}</label>
                  </template>
                  <template slot="variance_pct" slot-scope="data">
                    <label style="direction: ltr">{{ (data.item.variance_pct *100).toFixed(2) }}%</label>
                  </template>
                  <template slot="squandering" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.squandering) }}
                  </template>
                  <template slot="item_prog" slot-scope="data">
                    <label style="direction: ltr">{{ (data.item.item_prog *100).toFixed(2) }}%</label>
                  </template>
                  <template slot="item_perf" slot-scope="data">
                    <div v-if="((data.item.item_perf *100))===0"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">
                      {{((data.item.item_perf *100)) }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=0 && ((data.item.item_perf *100))<20 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100))
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=20 && ((data.item.item_perf *100))<40 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100))
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=40 && ((data.item.item_perf *100))<60"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100))
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=60 && ((data.item.item_perf *100))<80"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100))
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=80 && ((data.item.item_perf *100))<100 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100))
                      }}%
                    </div>
                  </template>
                </b-table>
              </b-col>
            </b-row>
            <b-row>
              <b-col sm="12">
                <b-table responsive class="mt-0 table customDown" :items="projectListData" :fields="fieldsTwo" show-empty foot-clone>
                  <template slot="index" slot-scope="data">
                    {{ data.index + 1 }}
                  </template>
                  <template v-slot:empty="scope">
                    <h5>{{ get_text('no_data_found@stp@l') }}</h5>
                  </template>
                  <template slot="pct_capacity" slot-scope="data">
                    {{ (data.item.pct_capacity *100).toFixed(2) }}%
                  </template>
                  <template slot="pct_project" slot-scope="data">
                    {{ (data.item.pct_project *100).toFixed(2) }}%
                  </template>
                  <template slot="cost_p" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_p) }}
                  </template>
                  <template slot="cost_a" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.cost_p) }}
                  </template>
                  <template slot="variance" slot-scope="data">
                    <label style="direction: ltr">{{ new Intl.NumberFormat('en-US', {
                      style: 'currency',
                      currency: 'KWD',
                      }).format(data.item.variance) }}</label>
                  </template>
                  <template slot="variance_pct" slot-scope="data">
                    <label style="direction: ltr">{{ (data.item.variance_pct *100).toFixed(2) }}%</label>
                  </template>
                  <template slot="squandering" slot-scope="data">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(data.item.squandering) }}
                  </template>
                  <template slot="item_prog" slot-scope="data">
                    {{ (data.item.item_prog *100).toFixed(2) }}%
                  </template>
                  <template slot="item_perf" slot-scope="data">
                    <div v-if="((data.item.item_perf *100))===0"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">
                      {{((data.item.item_perf *100)).toFixed(2) }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=0 && ((data.item.item_perf *100))<20 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100)).toFixed(2)
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=20 && ((data.item.item_perf *100))<40 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100)).toFixed(2)
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=40 && ((data.item.item_perf *100))<60"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100)).toFixed(2)
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=60 && ((data.item.item_perf *100))<80"
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100)).toFixed(2)
                      }}%
                    </div>
                    <div v-else-if="((data.item.item_perf *100))>=80 && ((data.item.item_perf *100))<100 "
                         class="progress-bar" role="progressbar"
                         :style="'width:'+((data.item.item_perf *100))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                         :aria-valuenow="((data.item.item_perf *100))" aria-valuemin="0" aria-valuemax="100">{{
                      ((data.item.item_perf *100)).toFixed(2)
                      }}%
                    </div>
                  </template>
                  <template slot="FOOT_index" slot-scope="scope">&nbsp;</template>
                  <template slot="FOOT_item_name" slot-scope="scope">&nbsp;</template>
                  <template slot="FOOT_pct_capacity" slot-scope="scope">&nbsp;</template>
                  <template slot="FOOT_pct_project" slot-scope="scope">&nbsp;{{ get_text('summery@stp@l') }}</template>
                  <template slot="FOOT_cost_p" slot-scope="scope">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(totalPlan) }}
                  </template>
                  <template slot="FOOT_cost_a" slot-scope="scope">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(totalActul) }}
                  </template>
                  <template slot="FOOT_variance" slot-scope="scope">
                    <label style="direction: ltr">{{ new Intl.NumberFormat('en-US', {
                      style: 'currency',
                      currency: 'KWD',
                      }).format(totalVariance) }}</label>
                  </template>
                  <template slot="FOOT_variance_pct" slot-scope="scope">&nbsp;<label style="direction: ltr">{{
                    (variancePct*100).toFixed(2) }}%</label>
                  </template>
                  <template slot="FOOT_squandering" slot-scope="scope">{{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                    }).format(totalUnutilize ) }}
                  </template>
                  <template slot="FOOT_item_prog" slot-scope="scope">&nbsp;{{ (progPct*100).toFixed(2) }}%</template>
                  <template slot="FOOT_item_perf" slot-scope="scope">&nbsp;{{ (perfPct*100).toFixed(2) }}%</template>
                </b-table>
              </b-col>
            </b-row>
          </b-card>
        </b-col>
      </b-row>

      <!--style="padding: 0.3rem 0.3rem 0rem 0.89rem !important; width: 100% !important; background-color: rgb(255, 255, 255) !important; margin-top: 0.3rem; margin-left: 0%; margin-right: 0%;"-->
      <b-row style="background-color: rgb(255, 255, 255) !important; width: 100%; margin-left: 0%; margin-right: 0%;margin-bottom: 1%;">
          <b-col style="margin-bottom:10px;margin-top:10px;" :class="'col-sm-9 property-section'">
            <div style="margin-left:20px;margin-right:20px;" class="text-value">
              {{ get_text('period@section_performance@l') }} : {{ get_text(this.yearselect) }}({{
              get_text(this.periodselect)
              }})
            </div>
            <div style="margin-left:20px;margin-right:20px;" class="text-value">
              {{ get_text('issue_date@section_performance@l') }} : {{ this.currentdate }}
            </div>


          </b-col>
          <b-col sm='3' style="margin-bottom:10px;margin-top:10px;">
            <!--<div :class="($i18n.locale=='en' ? 'ltrclassicons' : 'rtlclassicons')" class="text-value"><i style="color:red"
                                                                                                         class="fas fa-exclamation-circle fa-1x"></i>
              : {{ get_text('icon_legend_missing_readings@l') }}
              <br> <i style="color:red" class="fas fa-exclamation-triangle fa-1x"> </i> :
              {{ get_text('icon_legend_wrong_perf_or_prog_data@l') }}

            </div>-->
          </b-col>
      </b-row>
    </div>
    <div v-else-if="!$can('stps-quickview') || !$can('reportsstp-AnnualPlanPerformanceCost-view')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script lang="ts">
  import Vue from "vue";
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {store} from '../../views/dashboard/store';
  import {store} from '@/components/stp/store/store'
  import SocialBoxChartExample from '../../views/dashboard/SocialBoxChartExample';
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'

  Vue.use(Loading);
  import {TreeGridPlugin, Toolbar, Page, Resize} from "@syncfusion/ej2-vue-treegrid";

  Vue.use(TreeGridPlugin);
  import {mapState, mapGetters, mapActions} from 'vuex'
  import Unauthorized from "../../views/pages/Unauthorized.vue";

  export default {
    store: store,
    name: 'dashboard',
    components: {
      Unauthorized,
      SocialBoxChartExample,
      //dashboardPivotTable,
      //dashboardTreeGrid,
      'loading': Loading,
      Treeselect
    },
    data: () => {
      return {
        currentdate: '',
        yearselect: '',
        periodselect: '',
        fieldsOne: [],
        fieldsTwo: [],
        translation: [],
        getallval: false,
        org_unit: null,
        options: '',
        customAttributes : {class: 'customcss'},
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerOne(node) {
          return {
            id: node.id,
            label: node.start_date + "-" + node.end_date,
          }
        },
        sortBySector: 2,
        sortByPeriod: 'Y',
        sortByMtp: 4,
        sortByFiscal: 1,
        parent: 2,
        mtp: '',
        selected: 'Month',
        tableFields: [],
        filterSettings: {type: 'Excel'},
        //toolbar: ['Print'],
        pageSettings: {pageCount: 4},
        lines: 'Vertical',
        enableCollapseAll: 'true',
        showExDe: false,
        planCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_direct_p > 0 ? (data.cost_direct_p + data.cost_indirect_p + data.cost_projects_p) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        actualCostTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_direct_a > 0 ? (data.cost_direct_a + data.cost_indirect_a + data.cost_projects_a) : 0) }}</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        varianceTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_direct_p > 0 ? ((data.cost_direct_a + data.cost_indirect_a + data.cost_projects_a)-(data.cost_direct_p + data.cost_indirect_p + data.cost_projects_p)) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        variancepctTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong
                    class="text-left"> {{ (data.cost_variance_pct) ? (data.cost_variance_pct * 100).toFixed(2) : (0).toFixed(2) }}
                    %</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        squanderingTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <strong class="text-left">
                    {{ new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'KWD',
                  }).format(data.cost_squandering > 0 ? (data.cost_squandering) : 0) }}
                  </strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitProgTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <i v-if="data.showProgIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i><strong
                  class="text-left"> {{ (data.prog_sum_w) ? (data.prog_sum_w).toFixed(2) : (0).toFixed(2) }}%</strong>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        },
        unitPerfTemplate: function () {
          return {
            template: Vue.component('notactivetemplate', {
              template:
                  `
                <div class="image" style="display: inline">
                  <!--<strong class="text-left"> {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : 0 }}%</strong>-->
                  <i v-if="data.showPrefIcon" style="color:red;" class="fas fa-exclamation-triangle fa-1x"></i>
                  <div v-if="((data.perf_sum_w))===0"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }} %
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=0 && ((data.perf_sum_w))<20 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #cc163e; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=20 && ((data.perf_sum_w))<40 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #ffbd35; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=40 && ((data.perf_sum_w))<60"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #f9ea60; color:#000000; font-weight:bold;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(3) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=60 && ((data.perf_sum_w))<80"
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #4dbb63; font-weight:bold;color:#000000;'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0" aria-valuemax="100">
                    {{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                  <div v-else-if="((data.perf_sum_w))>=80 && ((data.perf_sum_w))<100 "
                       class="progress-bar" role="progressbar"
                       :style="'width:'+((data.perf_sum_w))+'%'+';background-color: #1c8c44; font-weight:bold;color:#000000'"
                       :aria-valuenow="((data.perf_sum_w))" aria-valuemin="0"
                       aria-valuemax="100">{{ (data.perf_sum_w) ? (data.perf_sum_w).toFixed(2) : (0).toFixed(2) }}%
                  </div>
                </div>`,
              data: function () {
                return {data: {}};
              },
            })
          }
        }
      };
    },
    sockets: {
      /*message(data) {
        //let message = JSON.parse(data);
        //console.log(message);
        this.$store.dispatch('newMessageNotification', data);
      },*/
      dashboard(data) {
        /*alert('ttt');
          let message = JSON.parse(data);
          console.log(message);*/
        this.$store.dispatch('realTimeUpdateDashboard', [this.mtp_date, this.sector]);
        this.$store.dispatch('realTimeDashboardTable', [this.mtp_date, this.sector]);
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
      //  this.$store.dispatch('loadDashboardValues');
    },
    mounted() {
      var currentDate = new Date();
      var currentDateWithFormat = new Date().toJSON().slice(0, 10).replace(/-/g, '-');
      this.currentdate = currentDateWithFormat;
    },
    created() {
      //if (this.$auth.user().roles.includes('Admin')) {
      if (this.$auth.user().currentRole == 'Admin') {
        this.isAdmin = true;
      } else if (this.$auth.user().roles.includes('Strategy Executive')) {
        this.isAdmin = false;
      } else {
        this.isAdmin = false;
      }
      if (!this.isAdmin && typeof this.$route.params.id == "undefined") {
        //this.sortBySector = ((this.$auth.user().roles.includes('Admin')) ? 2 : this.$auth.user().subtenant_id);
        this.sortBySector = ((this.$auth.user().currentRole == 'Admin') ? 2 : this.$auth.user().subtenant_id);
      }

      this.loadViewStpData();
      //this.$store.dispatch('loadDashboardValues', [this.mtp_date, this.sector]);
      /*this.$store.dispatch('loadDefaultSectorOrgMtpFiscal', [this.sortBySector, this.sortByMtp, this.sortByPeriod, this.sortByFiscal]);*/
      //this.$store.dispatch('loadMTP');
      /*this.$store.dispatch('loadStaticDashboardTable', [this.mtp_date, this.sector]);*/

    },
    computed:
      {
        ...mapState(["processDataView", "projectDataView", "totalPlan", "totalActul", "totalVariance", "totalUnutilize", "variancePct", "perfPct", "progPct", "fiscalDates"]),
        processListData() {
          this.fieldsOne = [
            /* {
               key: 'index',
               label: '#',
             },*/
            {
              key: 'item_name',
              /*thStyle: {'max-width': '100px !important'},*/
              label: this.get_text('process_participating_in_project@stp@l'),
              tdClass: 'fixWidth8',
              thClass: 'fixWidth8',
            },
            {
              key: 'pct_capacity',
              label: this.get_text('percentage_from_capacity@stp@l'),
              thClass: 'fixWidth8',
              tdClass: 'fixWidth8',
            },
            {
              key: 'pct_project',
              label: this.get_text('percentage_from_project@stp@l'),
              thClass: 'fixWidth8',
              tdClass: 'fixWidth8',
            },
            {
              key: 'cost_p',
              label: this.get_text('planed_cost_yearly@stp@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'cost_a',
              label: this.get_text('actual_cost_data@stp@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'variance',
              label: this.get_text('variation@stp@l'),
              thClass: 'fixWidth10',
              tdClass: 'fixWidth10',
            },
            {
              key: 'variance_pct',
              label: this.get_text('variance_prct@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            },
            {
              key: 'squandering',
              label: this.get_text('squandering@stp_view@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'item_prog',
              label: this.get_text('progress@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            },
            {
              key: 'item_perf',
              label: this.get_text('performance@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            }
          ]
          return this.processDataView;
        },

        projectListData() {
          this.fieldsTwo = [
            /*{
              key: 'index',
              label: '#',
            },*/
            {
              key: 'item_name',
              /*thStyle: {'max-width': '100px !important'},*/
              label: this.get_text('project_participating_in_project@stp@l'),
              tdClass: 'fixWidth8',
              thClass: 'fixWidth8',
            },
            {
              key: 'pct_capacity',
              label: this.get_text('percentage_from_capacity@stp@l'),
              thClass: 'fixWidth8',
              tdClass: 'fixWidth8',
            },
            {
              key: 'pct_project',
              label: this.get_text('percentage_from_project@stp@l'),
              thClass: 'fixWidth8',
              tdClass: 'fixWidth8',
            },
            {
              key: 'cost_p',
              label: this.get_text('planed_cost_yearly@stp@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'cost_a',
              label: this.get_text('actual_cost_data@stp@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'variance',
              label: this.get_text('variation@stp@l'),
              thClass: 'fixWidth10',
              tdClass: 'fixWidth10',
            },
            {
              key: 'variance_pct',
              label: this.get_text('variance_prct@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            },
            {
              key: 'squandering',
              label: this.get_text('squandering@stp_view@l'),
              thClass: 'fixWidth15',
              tdClass: 'fixWidth15',
            },
            {
              key: 'item_prog',
              label: this.get_text('progress@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            },
            {
              key: 'item_perf',
              label: this.get_text('performance@stp_view@l'),
              thClass: 'fixWidth7',
              tdClass: 'fixWidth7',
            }
          ]
          return this.projectDataView;
        }
      },
    provide: {
      treegrid: [Page, Toolbar, Resize]
    },
    methods: {
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      printdeptperf(deptperfdiv) {
        var dropButton = document.getElementById(deptperfdiv);
        //dropButton.style.visibility = 'hidden';
        window.print()
        // dropButton.style.visibility = 'visible';
        return true;
      },
      rowSelected: function (args) {
        if (typeof args == 'object') {
          let selectedrowindex = this.$refs.grid.getSelectedRowIndexes();  // Get the selected row indexes.
          //alert(selectedrowindex); // To alert the selected row indexes.
          let selectedrecords = this.$refs.grid.getSelectedRecords();  // Get the selected records.
          console.log(selectedrecords[0]['sub_id']);
          this.$store.dispatch('loadProcessProjectData', [selectedrecords[0]['sub_id'], this.sortByMtp, this.sortByPeriod, this.sortByFiscal]);
        } else {
          this.$store.dispatch('loadProcessProjectData', [args, this.sortByMtp, this.sortByPeriod, this.sortByFiscal]);
        }
      },
      loadViewStpData() {

        var fromList = false;
        if (typeof this.$route.params.id != "undefined" && this.$route.params.id != null) {
          this.sortBySector = this.$route.params.id
          this.rowSelected(this.sortBySector);
          fromList = true;
        }


        this.showExDe = false;
        this.$store.dispatch('loadDefaultSectorOrgMtpFiscal', [this.sortBySector, this.sortByMtp, this.sortByPeriod, this.sortByFiscal, fromList]);

        if (this.sortByPeriod == 'Q1') {
          this.periodselect = '1st_quarter@section_performance@l';
        }
        if (this.sortByPeriod == 'Q2') {
          this.periodselect = '2nd_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'Q3') {
          this.periodselect = '3rd_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'Q4') {
          this.periodselect = '4th_quarter@section_performance@l'
        }
        if (this.sortByPeriod == 'H1') {
          this.periodselect = '1st_biannual@section_performance@l'
        }
        if (this.sortByPeriod == 'H2') {
          this.periodselect = '2nd_biannual@section_performance@l'
        }
        if (this.sortByPeriod == 'Y') {
          this.periodselect = 'annual@section_performance@l'
        }
        if (this.sortByFiscal == '1') {
          this.yearselect = 'year1@section_performance@l'
        }
        if (this.sortByFiscal == '2') {
          this.yearselect = 'year2@section_performance@l'
        }
        if (this.sortByFiscal == '3') {
          this.yearselect = 'year3@section_performance@l'
        }
      },
      expand: function () {
        this.showExDe = true;
        this.$refs.grid.ej2Instances.expandAll();
      },
      collapse: function () {
        this.showExDe = false;
        this.$refs.grid.ej2Instances.collapseAll();
      },
      getAllVals(val) {
        //alert(this.getallval)
        this.$store.dispatch('loadStaticDashboardTable', [this.mtp_date, this.sector, this.getallval]);
      },
      removeEmptyNode(nodes) {
        if (!nodes || nodes.length === 0)
          return;
        nodes.forEach(function (node) {
          if (node.tree.length === 0) {
            // alert(node)
            delete node.tree;
          } else {
            // alert(node.tree)
            //this.removeEmptyNode(node.tree);
            node.tree.forEach(function (node) {
              if (node.tree.length === 0) {
                // alert(node)
                delete node.tree;
              } else {
                // alert(node.tree)
                //this.removeEmptyNode(node.tree);
                node.tree.forEach(function (node) {

                  if (node.tree.length === 0) {
                    // alert(node)
                    delete node.tree;
                  } else {
                    // alert(node.tree)
                    this.removeEmptyNode(node.tree);
                  }
                });
              }
            });
          }
        });
      },
      get_text(textbit) {
        if ((typeof this.translation[this.$i18n.locale][textbit] != "undefined" && this.translation[this.$i18n.locale][textbit] != null)) {
          return this.translation[this.$i18n.locale][textbit];
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      flag(value) {
        return 'flag-icon flag-icon-' + value
      }
    }
  };
</script>

<style>
  @media print {
    @page { size: A4 landscape; padding:1cm; }
    body * { visibility: hidden; }
    #sectiontreemap {
      margin-top: -10%;
    }
    #sectiontreemap, #sectiontreemap * { visibility: visible; }
  }
  td.e-rowcell.e-focus.e-selectionbackground.e-active {
    font-weight: bold !important;
  }

  td.e-rowcell.e-selectionbackground.e-active {
    font-weight: bold !important;
  }

  .e-row[aria-expanded="false"], tr[aria-expanded="true"] {
    font-weight: bold;
  }

  .e-grid .e-headercell, .e-grid .e-detailheadercell {
    font-weight: bold;
    color: black;
  }

  /* csslint ignore:start */
  /*.e-grid .e-headercelldiv {
    text-align: center !important;
  }

  td.e-rowcell.e-valuescontent.e-summary.e-gtot {
    text-align: center;
  }

  .e-popup-open {
    background-color: #7aa6da !important;
  }*/

  /* csslint ignore:end */
</style>

<style>
  .customCardBody.brand-card-body {
    padding: 0.15rem 0;
  }

  .text-value {
    font-size: 0.801rem !important;
  }

  .list-group-item.customList {
    display: flex;
  }

  .fixWidth10 {
    width: 10%;
    text-align: center;
  }

  .fixWidth15 {
    width: 15%;
    text-align: center;
  }

  .fixWidth7 {
    width: 7%;
    text-align: center;
  }
.fixWidth8 {
  width: 8%;
  text-align: center;
}
  .customtableclass table thead tr th{
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
    //text-align: center !important;
  }

  .customtableclass table tbody tr td {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
    //text-align: center !important;
  }

  .customtableclass table thead tr th, .customtableclass table tbody tr td, .customtableclass table tfoot tr th {
    border: 1px solid;
    border-color: #e0e0e0;
    font-size: 12px;
  }

  .customDown table thead tr th{
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
    text-align: center !important;
    //word-break: break-all;
  }

  .customDown table tfoot tr th {
    padding: 0.3rem 0.3rem 0.3rem 0.3rem !important;
    font-size: 13px;
  }

  .customDown thead tr th, .customDown tbody tr td, .customDown tfoot tr th {
    border: 1px solid;
    border-color: #e0e0e0;
    font-size: 12px;
  }
  .customcss {
    direction: ltr;
  }
</style>
