<template>
  <div v-if="this.$i18n.locale == 'en'">
    <a :href="toViewTutorial" target="_self" size="md" class="btn btn-primary float-right "
       style="margin-left: 1%; margin-right: 1%">
      <b><i class="fa fa-file-image-o font-1xl"></i> Tutorials </b></a>
  </div>
  <div v-else>
    <a :href="toViewTutorial" target="_self" size="md" class="btn btn-primary float-right "
       style="margin-left: 1%; margin-right: 1%">
      <b><i class="fa fa-file-image-o font-1xl"></i> عرض تعريفي </b></a>
  </div>
</template>
<script>
  import {store} from '@/components/store'
  import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
  import Vue from "vue";
  export default {
    name: 'DefaultHeaderDropdownLang',
    store: store,
    components: {
      AppHeaderDropdown
    },
    data() {
      return {
        itemsCount: 15,
        pdfUrl: 'img/Najah+ User Manual.pdf',
        languages: [
          {
            title: this.$t('languages.english'),
            value: 'en',
          },
          {
            title: this.$t('languages.arabic'),
            value: 'ar',
          },
        ],
      };
    },
    computed: {
      toViewTutorial() {
        //alert('ss'+localStorage.getItem('appId'))
        if (localStorage.getItem('appId') == null) {
          return  '/tutorial'
        } else {
          return  '/tutorials'
        }
      },
    },
    created() {

    },
    methods: {

    },
  }
</script>
