<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <i class="icon-bell"></i>
      <b-badge pill variant="danger">{{itemsCount.length}}</b-badge>
    </template>
    <!--<template slot="dropdown">
      <div class="dropdown-menu-lg">
        <b-dropdown-header tag="div"
                           class="text-center"><strong>You have {{itemsCount.length}} messages</strong>
        </b-dropdown-header>
        <b-dropdown-item v-for="(notification, index) in (itemsCount)" :key="index" :class="'demo'">
          <div class="message">
            <div class="pt-3 mr-1 float-left">
              <div class="avatar">
                <img :src="$auth.user().url + '/images/' + notification.userImage"
                     class="img-avatar" alt="admin@bootstrapmaster.com" onerror="this.src='/img/avatars/no_user.png'">
                <span class="avatar-status bg-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">{{notification.user}}</small>
              <small class="text-muted float-right mt-1">
                <timeago
                  :datetime="notification.message.time"></timeago>
                <i @click="readNotification(notification.id)" class="text-muted float-right mt-1 fa fa-close"></i>
              </small>
            </div>
            <div class="text-truncate font-weight-bold" style="font-size: 13px;"><span
              class="fa fa-exclamation text-danger"></span>
              {{ notification.message.id }} {{ get_text(notification.message.textshow+'@m') }}
            </div>
            <div class="small text-muted text-truncate" style="white-space:normal;">{{ notification.message.kpiname
            }}</div>
          </div>
        </b-dropdown-item>
        <b-dropdown-item href="#" class="text-center"
                         v-on:click.prevent="getAll =true, getAllNotification(getAll)"><strong>View
          all
          messages</strong></b-dropdown-item>
      </div>
    </template>-->
    <template slot="dropdown">
      <div class="dropdown-menu-lg">
        <b-dropdown-header tag="div"
                           class="text-center"><strong>You have {{itemsCount.length}} messages</strong>
        </b-dropdown-header>
        <div v-if="itemsCount.length > 0">
          <b-dropdown-item v-for="(notification, index) in (itemsCount)" :key="index" :class="'demo'">
            <!--{{ notification.data.data.userImage }}-->
            <div class="message">
              <div class="pt-3 mr-1 float-left">
                <div class="avatar">
                  <img :src="$auth.user().url + '/images/' + notification.data.data.userImage"
                       class="img-avatar" alt="admin@bootstrapmaster.com" onerror="this.src='/img/avatars/no_user.png'">
                  <span class="avatar-status bg-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">{{notification.data.data.user}}</small>
                <!--<small class="text-muted float-right mt-1">
                  <timeago
                    :datetime="notification.message.time"></timeago>
                  <i @click="readNotification(notification.id)" class="text-muted float-right mt-1 fa fa-close"></i>
                </small>-->
              </div>
              <!--<div class="text-truncate font-weight-bold" style="font-size: 13px;"><span
                class="fa fa-exclamation text-danger"></span>
                {{ notification.data.data.id }}
              </div>-->
              <div class="small text-muted text-truncate" style="white-space:normal;">
                {{ notification.data.data.id }} {{ notification.data.data.message.replace(/<\/?[^>]+(>|$)/g, "") }}
              </div>
            </div>
            <!--<div class="message">
              <div class="pt-3 mr-1 float-left">
                <div class="avatar">
                  <img :src="$auth.user().url + '/images/' + notification.userImage"
                       class="img-avatar" alt="admin@bootstrapmaster.com" onerror="this.src='/img/avatars/no_user.png'">
                  <span class="avatar-status bg-success"></span>
                </div>
              </div>
              <div>
                <small class="text-muted">{{notification.user}}</small>
                <small class="text-muted float-right mt-1">
                  <timeago
                    :datetime="notification.message.time"></timeago>
                  <i @click="readNotification(notification.id)" class="text-muted float-right mt-1 fa fa-close"></i>
                </small>
              </div>
              <div class="text-truncate font-weight-bold" style="font-size: 13px;"><span
                class="fa fa-exclamation text-danger"></span>
                {{ notification.message.id }} {{ get_text(notification.message.textshow+'@m') }}
              </div>
              <div class="small text-muted text-truncate" style="white-space:normal;">{{ notification.message.kpiname
                }}</div>
            </div>-->
          </b-dropdown-item>
        </div>
        <b-dropdown-item href="#" class="text-center"
                         v-on:click.prevent="getAll =true, getAllNotification(getAll)"><strong>View
          all
          messages</strong></b-dropdown-item>
      </div>
    </template>
  </AppHeaderDropdown>
</template>
<script>
  import Vue from 'vue'
  import {HeaderDropdown as AppHeaderDropdown} from '@coreui/vue'
  import pmStore from '../components/store';
  import VueTimeago from 'vue-timeago'

  Vue.use(VueTimeago, {
    name: 'Timeago', // Component name, `Timeago` by default
    locale: 'en', // Default locale
    // We use `date-fns` under the hood
    // So you can use all locales from it
    locales: {
      'zh-CN': require('date-fns/locale/zh_cn'),
      'ja': require('date-fns/locale/ja'),
    }
  });

  export default {
    store: pmStore,
    name: 'DefaultHeaderDropdownNotif',
    components: {
      AppHeaderDropdown
    },
    data: () => {
      return {
        getAll: false,
        translation: [],
        //itemsCount: {}
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    created() {
      this.getAllNotification(this.getAll);
    },
    computed: {
      itemsCount() {
        /*const dataNotification = [];
        for (var i = 0; i < this.$store.state.notifications.length; i++) {
          const user_of_data = this.$store.state.notifications[i]['message']['allowusers']['user_of_data'];
          const user_of_auditing = this.$store.state.notifications[i]['message']['allowusers']['user_of_auditing'];
          const user_of_contact = this.$store.state.notifications[i]['message']['allowusers']['user_of_contact'];
          const user_of_coordination = this.$store.state.notifications[i]['message']['allowusers']['user_of_coordination'];
          //console.log(this.$store.state.notifications[i]['message']['allowusers']);
          //this.$store.state.notifications[i]['user'] != this.$auth.user().name ||
          if (this.$auth.user().roles.includes('Admin') || user_of_data == this.$auth.user().id || user_of_auditing == this.$auth.user().id || user_of_contact == this.$auth.user().id || user_of_coordination == this.$auth.user().id ) {
            if (i < 5 && !this.getAll) {
              console.log(JSON.stringify(this.$store.state.notifications[i]));
              //this.$store.state.notifications[i]['message'] = JSON.parse(this.$store.state.notifications[i]['message']);
              dataNotification.push(this.$store.state.notifications[i]);
            }
            if (this.getAll) {
              dataNotification.push(this.$store.state.notifications[i]);
            }
          }
        }
        return dataNotification;*/
        return (this.$store.state.notifications);
      }
    },
    methods: {
      readNotification(id) {
        Vue.axios.get(`/readNotification/${id}`)
          .then((response) => {
            this.$store.state.notifications = response.data.alertData;
          });
      },
      getAllNotification(getAll) {
        //alert(getAll)
        Vue.axios.get(`/getAllNotification`)
          .then((response) => {
            this.$store.state.notifications = response.data.alertData;
          });
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    }
  }
</script>
<style>
  .demo a.dropdown-item {
    padding: 0.2rem;
  }

  .demo .dropdown-item i {
    margin: 0;
  }
</style>
