<template>
  <div class="app">
    <AppHeader fixed>
      <SidebarToggler class="d-lg-none" display="md" mobile/>
      <b-link class="navbar-brand" to="/landingpage">
        <img class="navbar-brand-full" src="/img/brand/logo-mini.png" width="100" height="45" alt="RMC Logo">
        <img class="navbar-brand-minimized" src="/img/brand/logo-symbol-mini.png" width="30" height="30" alt="RMC Logo">
      </b-link>
      <SidebarToggler class="d-md-down-none" display="lg"/>
      <b-navbar-nav class="d-md-down-none">
        <!--<b-nav-item class="px-3" to="/landingpage">{{ this.get_text('landing_page@l') }}1</b-nav-item>-->

        <!--<b-dropdown variant="link" v-if="this.$auth.user().roles.includes('Under Secretary')"
                    :toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' :
                    'text-center btnClassCustmAr')"
                    no-caret class="float-right">
          <template slot="button-content">
            <button class="btn btn-primary btn-sm">
              <i class="fa-chevron-down fa font-1xl"></i> {{ this.get_text('applications@l') }}
            </button>
          </template>
          <b-col v-if="item.name !='process and task' && item.name !='tenant' && item.name != 'under_secretary' && item.name != 'my_documentation' && item.name != 'notification_management' && item.name != 'translation' && item.name != 'user_management' && item.name != 'organization_management' && item.name != 'admin' && item.name !='my_documentation'" v-for="(item, index) in this.appsValues" :key="index">
            &lt;!&ndash;($auth.user().roles.includes('Admin') ? '/notificationList' : '#')&ndash;&gt;
            <b-dropdown-item
              :href="(item.id ==1 ? '/kpilist' : (item.id ==6 ? '/ministrydepartmentperformance' : (item.id ==7 ? '/projectlist' : (item.id ==8 ? '#' : (item.id == 9 ? '/users' : (item.id == 10 ? '/processdefault' : (item.id == 4 ? '/ministrydepartmentperformance' : (item.id == 12 ? '/stplist' :  '/dashboard'))))))))+'/'+(item.id ==8 ? '' :(item.id != 11 ? '/'+item.name+'-'+item.id : ''))"
              style="text-decoration:
                none" @click="(item.id ==8 ? undermaintanance() : '')">
              {{ get_text(item.name+'@l') }}
            </b-dropdown-item>
          </b-col>
          &lt;!&ndash;<b-dropdown-item v-if="$route.params.id !=1"
                           @click="quickAccess('/newFormGenerator/1/'+$route.params.id)">{{
            get_text('definition@kpi_def@l') }}
          </b-dropdown-item>
          <b-dropdown-item v-if="$route.params.id !=3"
                           @click="quickAccess('/newFormGenerator/3/'+$route.params.id)">{{
            get_text('target@kpi_def@l') }}
          </b-dropdown-item>&ndash;&gt;
        </b-dropdown>-->
        <b-dropdown variant="link"
                    :toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' :
                    'text-center btnClassCustmAr')"
                    no-caret class="float-right">
          <template slot="button-content">
            <button class="btn btn-primary btn-sm">
              <i class="fa-chevron-down fa font-1xl"></i> {{ this.get_text('applications@l') }}
            </button>
          </template>
          <!--item.name !='process and task' && item.name !='tenant' && item.name !='my_documentation' && $can(item.role, $auth.user().roles, item.name)-->
          <b-col v-if="this.appsValues.length > 0">
            <b-dropdown-item :href="'/landingpage'">{{ get_text('main@l')}}</b-dropdown-item>
          </b-col>
          <b-col v-if="" v-for="(item, index) in this.appsValues" :key="index">
            <!--<b-dropdown-item
              :href="(item.id ==1 ? '/kpilist' : (item.id ==6 ? '/ministrydepartmentperformance' : (item.id ==7 ? '/projectlist' : (item.id ==8 ? '/notificationList' : (item.id == 9 ? '/users' : (item.id == 10 ? '/processdefault' : (item.id == 4 ? '/ministrydepartmentperformance' : (item.id == 12 ? '/stplist' :  '/dashboard'))))))))+'/'+item.name+'-'+item.id"
              style="text-decoration:
                none">
              {{ get_text(item.name+'@l') }}
            </b-dropdown-item>-->
            <!--($auth.user().roles.includes('Admin') ? '/notificationList' : '#')-->
            <b-dropdown-item
              :href="(item.id ==1 ? '/kpilist' : (item.id ==6 ? '/ministrydepartmentperformance' : (item.id ==7 ?
              '/projectlist' : (item.id ==8 ? '#' : (item.id == 9 ? '/users' : (item.id == 10 ? '/tenant' : (item.id
              == 4 ? '/audittrial' : (item.id == 12 ? '/stplist' : (item.id == 11 ? '/landingpage' : (item.id == 5 ? '/translations' :'/dashboard'))))))))))+(item.id ==8 ? '' :(item.id != 11 ? '/'+item.name+'-'+item.id : ''))"
              style="text-decoration:
                none" @click="(item.id ==8 ? undermaintanance() : '')">
              {{ item.id != 11 ? get_text(item.name+'@l') : get_text('main@l') }}
            </b-dropdown-item>
          </b-col>
          <!--<b-dropdown-item v-if="$route.params.id !=1"
                           @click="quickAccess('/newFormGenerator/1/'+$route.params.id)">{{
            get_text('definition@kpi_def@l') }}
          </b-dropdown-item>
          <b-dropdown-item v-if="$route.params.id !=3"
                           @click="quickAccess('/newFormGenerator/3/'+$route.params.id)">{{
            get_text('target@kpi_def@l') }}
          </b-dropdown-item>-->
        </b-dropdown>
        <!--<b-nav-item class="px-3" to="/dashboard">{{ this.get_text('Dashboard@l') }}</b-nav-item>
        <b-nav-item class="px-3" to="/users" exact>{{ this.get_text('users@l') }}</b-nav-item>-->
        <!--<b-nav-item class="px-3">Settings</b-nav-item>-->
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto rtlEnArClass">
        <!--<b-nav-item class="d-md-down-none">
          <DefaultHeaderDropdownLang/>
        </b-nav-item>-->
        <DefaultHeaderTutorial/>&nbsp;
        <DefaultHeaderDownload/>&nbsp;
        <DefaultHeaderDropdownLang/>
        <b-nav-item class="d-md-down-none">
          <DefaultHeaderDropdownNotif/>
        </b-nav-item>
        <b-nav-item class="d-md-down-none">
          <DefaultHeaderDropdownMssgs/>
        </b-nav-item>
<!--        <b-nav-item class="d-md-down-none">
          <i class="icon-list"></i>
        </b-nav-item>-->
        <!--<b-nav-item class="d-md-down-none">-->
        <!--<i class="icon-location-pin"></i>-->
        <!--</b-nav-item>-->
        <DefaultHeaderDropdownAccnt/>
      </b-navbar-nav>
      <!--<AsideToggler class="d-none d-lg-block"/>-->
      <!--<AsideToggler class="d-lg-none" mobile />-->
    </AppHeader>
    <div class="app-body">
      <AppSidebar fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main">
        <Breadcrumb :list="list"/>
        <div class="container-fluid">
          <router-view></router-view>
        </div>
      </main>
      <!--<AppAside fixed>
        &lt;!&ndash;aside&ndash;&gt;
        <DefaultAside/>
      </AppAside>-->
    </div>
    <!--<TheFooter>
        &lt;!&ndash;footer&ndash;&gt;
        <div>
            <a href="http://iriyada.com">RMC</a>
            <span class="ml-1">&copy; 2018.</span>
        </div>
        <div class="ml-auto">
            <span class="mr-1">Powered by</span>
            <a href="http://iriyada.com">RMC</a>
        </div>
    </TheFooter>-->
    <TheFooter>

      <div class="col-md-2" dir="rtl">

      </div>
      <div class="col-md-8" dir="rtl" align="center">
        <span style="text-align: center" class="mr-1">جميع الحقوق محفوظة لوزارة المالية – إدارة التخطيط والمتابعة</span>
        <!--<a href="https://coreui.io">CoreUI for Vue</a>-->

      </div>
      <div class="col-md-2" dir="rtl" style="text-align: left">
        <span style="text-align:left;font-size: 12px;" class="mr-1"><span class="mr-1">Powered by</span>&nbsp;&nbsp;<a
          href="http://iriyada.com">RMC</a></span>
      </div>


    </TheFooter>
  </div>
</template>

<script>

  import {store} from '@/components/store'
  import nav from '@/_nav'
  import {
    Header as AppHeader,
    SidebarToggler,
    SidebarFooter,
    SidebarForm,
    SidebarHeader,
    SidebarMinimizer,
    Aside as AppAside,
    AsideToggler,
    Footer as TheFooter
  } from '@coreui/vue'

  import Breadcrumb from '../components/Breadcrumb'
  import AppSidebar from '../components/Sidebar'
  import SidebarNav from '../components/SidebarNav'
  //import DefaultAside from './DefaultAside'
  import DefaultHeaderDropdownAccnt from './DefaultHeaderDropdownAccnt'
  import DefaultHeaderDropdownLang from './DefaultHeaderDropdownLang'
  import DefaultHeaderDownload from './DefaultHeaderDownload'
  import DefaultHeaderTutorial from './DefaultHeaderTutorial'
  import DefaultHeaderDropdownNotif from './DefaultHeaderDropdownNotif'
  import DefaultHeaderDropdownMssgs from './DefaultHeaderDropdownMssgs'
  import Vue from "vue";

  export default {
    name: 'full',
    store: store,
    components: {
      AsideToggler,
      AppHeader,
      AppSidebar,
      AppAside,
      TheFooter,
      Breadcrumb,
      //DefaultAside,
      DefaultHeaderDropdownAccnt,
      DefaultHeaderDropdownLang,
      DefaultHeaderDownload,
      DefaultHeaderTutorial,
      DefaultHeaderDropdownNotif,
      DefaultHeaderDropdownMssgs,
      SidebarForm,
      SidebarFooter,
      SidebarToggler,
      SidebarHeader,
      SidebarNav,
      SidebarMinimizer
    },
    data() {
      return {
        nav: nav.items,
        translation: [],
        appsValues : [],
      }
    },
    created() {
      this.getAllApps()
      //this.$store.dispatch('translation')
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    mounted() {
      let next = document.querySelector('div.vue-form-wizard');

      let head = document.querySelector('body .rtlEnArClass');

      if (this.$i18n.locale == 'ar') {
        document.querySelector('html').setAttribute('dir', 'rtl');
        next && next.classList.add('isRtl');
        head && head.classList.add('rtlArClass');
        head && head.classList.remove('rtlEnClass');
      } else {
        document.querySelector('html').setAttribute('dir', '');
        let dropdown = next && next.classList.contains('isRtl');
        if (dropdown) {
          next.classList.remove('isRtl');
        }
        head && head.classList.add('rtlEnClass');
        head && head.classList.remove('rtlArClass');
      }
    },
    computed: {
      name() {
        return this.$route.name
      },
      list() {
        return this.$route.matched.filter((route) => route.name || route.meta.label)
      }
    },
    methods: {
      undermaintanance() {
        alert(this.get_text('notification_application_under_maintenance@l'))
      },
      $can(permissionName, roles, name) {
        if(roles.includes(permissionName)) {
          return true
        } else if(name=='my kpi' || name =='translation') {
          return true;
        }
      },
      get_text(textbit) {
        var transtext = (typeof this.translation[this.$i18n.locale][textbit] != "undefined" && this.translation[this.$i18n.locale][textbit] != null) ? this.translation[this.$i18n.locale][textbit] : "!" + textbit;
        return transtext;
      },
      getAllApps() {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/getApps`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: this.get_text('Error@m'),
                message: this.get_text(response.data.msg+'@m'),
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.showingeditModal = true
              this.appsValues = response.data.data
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
    }
  }
</script>
<style>
  .rtlEnClass {
    margin-left: auto !important;
  }

  .rtlArClass {
    margin-left: 0 !important;
  }

  .rtlEnClass ul.dropdown-menu.dropdown-menu-right {
    right: 10px;
  }

  .rtlArClass ul.dropdown-menu.dropdown-menu-right {
    right: -122px;
  }
</style>
