<template>
  <div>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <i class="icon-envelope-letter"></i>
      <b-badge pill variant="info">{{itemsCount.length}}</b-badge>
    </template>
    <template slot="dropdown">
      <div class="dropdown-menu-lg">
        <b-dropdown-header tag="div"
                           class="text-center"><strong>You have {{itemsCount.length}} messages</strong>
        </b-dropdown-header>
        <b-dropdown-item v-for="(notification, index) in (itemsCount)" :key="index" :class="'demo'"
                         v-if="itemsCount.length > 0">
          <!--{{ notification.data.data.userImage }}-->
          <div class="message" @click="viewNotification(notification)">
            <div class="pt-3 mr-1 float-left">
              <div class="avatar">
                <img :src="$auth.user().url + '/images/' + notification.data.data.userImage"
                     class="img-avatar" alt="admin@bootstrapmaster.com" onerror="this.src='/img/avatars/no_user.png'">
                <span class="avatar-status bg-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">{{notification.data.data.user}}</small>
              <!--<small class="text-muted float-right mt-1">
                <timeago
                  :datetime="notification.message.time"></timeago>
                <i @click="readNotification(notification.id)" class="text-muted float-right mt-1 fa fa-close"></i>
              </small>-->
            </div>
            <!--<div class="text-truncate font-weight-bold" style="font-size: 13px;"><span
              class="fa fa-exclamation text-danger"></span>
              {{ notification.data.data.id }}
            </div>-->
            <div class="small text-muted text-truncate" style="white-space:normal;">
              {{ notification.data.data.id }} {{ notification.data.data.message.replace(/<\/?[^>]+(>|$)/g, "") }}
            </div>
          </div>
          <!--<div class="message">
            <div class="pt-3 mr-1 float-left">
              <div class="avatar">
                <img :src="$auth.user().url + '/images/' + notification.userImage"
                     class="img-avatar" alt="admin@bootstrapmaster.com" onerror="this.src='/img/avatars/no_user.png'">
                <span class="avatar-status bg-success"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">{{notification.user}}</small>
              <small class="text-muted float-right mt-1">
                <timeago
                  :datetime="notification.message.time"></timeago>
                <i @click="readNotification(notification.id)" class="text-muted float-right mt-1 fa fa-close"></i>
              </small>
            </div>
            <div class="text-truncate font-weight-bold" style="font-size: 13px;"><span
              class="fa fa-exclamation text-danger"></span>
              {{ notification.message.id }} {{ get_text(notification.message.textshow+'@m') }}
            </div>
            <div class="small text-muted text-truncate" style="white-space:normal;">{{ notification.message.kpiname
              }}</div>
          </div>-->
        </b-dropdown-item>
        <b-dropdown-item href="#" class="text-center"
                         v-on:click.prevent="getAll =true, getAllNotification(getAll)"><strong>View
          all
          messages</strong></b-dropdown-item>
      </div>
    </template>
  </AppHeaderDropdown>
  <b-modal :title="get_text('showdetails@notification@l')" size="lg" class="modal-danger"
           v-model="showingnotificModal" v-if="this.showingnotificModal"
           hide-footer="true" ok-variant="danger">
    <div class="modalcontent">
      <!--<h3 class="text-center" style="width: auto !important;">{{ this.get_text('are_you_sure_to_delete@Users@l')
        }} <b>dssdsdsd</b>?</h3>-->
      <!--<b-col md="12" class="text-center" style="width: auto !important;">
{{ shownotiData }}
        <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
          this.get_text('no@l') }}
        </button>
      </b-col>-->
      <b-row>
        <b-col lg="12" md="12" xl="12">
          <h4 class="title">{{ get_text('changes_done_by@notification@l')}} <b>{{ shownotiData.data.data.user }}</b></h4>
          <ejs-richtexteditor  ref="rteObj" :toolbarSettings="toolbarSettings"
                               v-model="shownotiData.data.data.message" name="content" id="content" :height="340" :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
          <!--<div class="card card-user">
            <div class="card-image">
             &lt;!&ndash; <div><img alt="..." src="@/assets/img/background.jpg"></div>&ndash;&gt;
            </div>
            <div class="card-body">
              <div>
                <div class="author">
                  &lt;!&ndash;<img :src="imagePath" alt="..." class="avatar border-white"
                       onerror="this.src='/img/avatars/no_user.png'"
                       v-if="imagePath">
                  <img alt="..." class="avatar border-white" src="@/assets/img/user.jpg" v-if="!imagePath">&ndash;&gt;
                  <h4 class="title">Changes Done By <b>{{ shownotiData.data.data.user }}</b>
                    &lt;!&ndash;<br><a href="#">
                      <small>{{ $auth.user().email }}</small>
                    </a>&ndash;&gt;
                  </h4>
                </div>
                &lt;!&ndash;<p class="description text-center">
                  {{shownotiData.data.data.message.replace(/<\/?[^>]+(>|$)/g, "") }}
                </p>&ndash;&gt;
                <ejs-richtexteditor  ref="rteObj"
                                     v-model="shownotiData.data.data.message" name="content" id="content" :height="340" :enableRtl="$i18n.locale=='ar' ? 'true' :
                               ''"></ejs-richtexteditor>
              </div>
            </div>
          </div>-->
        </b-col>
        <b-col md="12" style="margin-top: 2%">
          <button class="btn btn-primary"
                  @click="showingnotificModal = false">{{ this.get_text('ok@l') }}
          </button>&nbsp;
        </b-col>
      </b-row>
    </div>
  </b-modal>
  </div>
</template>
<script>
  import Vue from 'vue'
  import {HeaderDropdown as AppHeaderDropdown} from '@coreui/vue'
  import pmStore from '../components/store';
  import VueTimeago from 'vue-timeago'
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    NodeSelection,
    Count,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
  Vue.use(RichTextEditorPlugin);
  Vue.use(VueTimeago, {
    name: 'Timeago', // Component name, `Timeago` by default
    locale: 'en', // Default locale
    // We use `date-fns` under the hood
    // So you can use all locales from it
    locales: {
      'zh-CN': require('date-fns/locale/zh_cn'),
      'ja': require('date-fns/locale/ja'),
    }
  });

  export default {
    store: pmStore,
    provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },
    name: 'DefaultHeaderDropdownNotif',
    components: {
      AppHeaderDropdown
    },
    data: () => {
      return {
        toolbarSettings: {
          items: []
        },
        getAll: false,
        translation: [],
        showingnotificModal: false,
        shownotiData: {},

        imagePath: '',
        imageName: ''
        //itemsCount: {}
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    created() {
      this.getAllNotification(this.getAll);
    },
    computed: {
      itemsCount() {
        /*const dataNotification = [];
        for (var i = 0; i < this.$store.state.notifications.length; i++) {
          const user_of_data = this.$store.state.notifications[i]['message']['allowusers']['user_of_data'];
          const user_of_auditing = this.$store.state.notifications[i]['message']['allowusers']['user_of_auditing'];
          const user_of_contact = this.$store.state.notifications[i]['message']['allowusers']['user_of_contact'];
          const user_of_coordination = this.$store.state.notifications[i]['message']['allowusers']['user_of_coordination'];
          //console.log(this.$store.state.notifications[i]['message']['allowusers']);
          //this.$store.state.notifications[i]['user'] != this.$auth.user().name ||
          if (this.$auth.user().roles.includes('Admin') || user_of_data == this.$auth.user().id || user_of_auditing == this.$auth.user().id || user_of_contact == this.$auth.user().id || user_of_coordination == this.$auth.user().id ) {
            if (i < 5 && !this.getAll) {
              console.log(JSON.stringify(this.$store.state.notifications[i]));
              //this.$store.state.notifications[i]['message'] = JSON.parse(this.$store.state.notifications[i]['message']);
              dataNotification.push(this.$store.state.notifications[i]);
            }
            if (this.getAll) {
              dataNotification.push(this.$store.state.notifications[i]);
            }
          }
        }
        return dataNotification;*/
        return (this.$store.state.notificationsInbox);
      }
    },
    methods: {
      viewNotification(data) {
        //alert(data.data.data.userImage);
        this.showingnotificModal = true;
        this.imagePath = this.$auth.user().url + '/images/' + data.data.data.userImage;
        this.imageName = data.data.data.userImage;

        this.shownotiData = data;
      },
      readNotification(id) {
        Vue.axios.get(`/readNotification/${id}`)
          .then((response) => {
            this.$store.state.notifications = response.data.data;
          });
      },
      getAllNotification(getAll) {
        //alert(getAll)
        Vue.axios.get(`/getAllNotification`)
          .then((response) => {
            this.$store.state.notifications = response.data.data;
            this.$store.state.notificationsInbox = response.data.inboxData;
          });
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
    }
  }
</script>
<style>
  .e-toolbar-wrapper {
    height: auto !important;
  }
  .e-richtexteditor .e-rte-content .e-content, .e-richtexteditor .e-source-content .e-content {
    min-height: 300px !important;
  }
  .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    overflow: unset !important;
  }
  .demo a.dropdown-item {
    padding: 0.2rem;
  }

  .demo .dropdown-item i {
    margin: 0;
  }
</style>
<style>
  .card .card-image img {
    width: 100%;
  }

  .card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: -65px;
  }

  .card .author {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

  }

  .card-user .avatar.border-white {
    border: 5px solid #fff;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
  }

  .card-user .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 15px;
  }

  .card-user .author .title {
    color: #403d39;
  }

  .h4, h4 {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
  }

  .h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    font-weight: 400;
    margin: 30px 0 15px;
  }

  .card-user .author {
    text-align: center;
    text-transform: none;
  }

  .card-user .author .title small {
    color: #ccc5b9;
  }

  .card-user .description {
    margin-top: 10px;
  }

  .card .description {
    font-size: 16px;
    color: #66615b;
  }

  .text-center {
    text-align: center !important;
  }

  p {
    font-size: 16px;
    line-height: 1.4em;
  }

  h5 > .small {
    color: #9a9a9a;
    font-weight: 300;
    line-height: 1.4em;
  }

  .card .list-unstyled.team-members .avatar {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 5px;
  }

  .btn-just-icon {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px;
  }
</style>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<style>
  @import "../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
