<template>
  <div v-if="this.$i18n.locale == 'en'">
    <a :href="pdfUrl" target="_blank" size="md" class="btn btn-primary float-right "
       style="margin-left: 1%; margin-right: 1%">
      <b><i class="fa fa-download font-1xl"></i> User Manual </b></a>
  </div>
  <div v-else>
    <a :href="pdfUrl" target="_blank" size="md" class="btn btn-primary float-right "
       style="margin-left: 1%; margin-right: 1%">
      <b><i class="fa fa-download font-1xl"></i> دليل المستخدم</b></a>
  </div>
</template>
<script>
  import {store} from '@/components/store'
  import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
  import Vue from "vue";
  export default {
    name: 'DefaultHeaderDropdownLang',
    store: store,
    components: {
      AppHeaderDropdown
    },
    data() {
      return {
        itemsCount: 15,
        pdfUrl: 'img/Najah+ User Manual.pdf',
        languages: [
          {
            title: this.$t('languages.english'),
            value: 'en',
          },
          {
            title: this.$t('languages.arabic'),
            value: 'ar',
          },
        ],
      };
    },
    created() {

    },
    methods: {
    },
  }
</script>
