<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <img
        :src="imagePath"
        class="img-avatar"
        onerror="this.src='/img/avatars/no_user.png'"
        style="width: 50px; height: 50px;"
        :alt=" this.$auth.user().name"/>
    </template>
    <template slot="dropdown">
      <b-dropdown-header tag="div" class="text-center"><strong><span class="d-md-down-none" v-if="$auth.ready()">
            {{ $auth.user().name }} {{ $auth.user().second_name }} {{ $auth.user().last_name }}</span></strong>
      </b-dropdown-header>
      <!--<b-dropdown-item ><i class="fa fa-bell" /> Updates
        <b-badge variant="info">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item><i class="fa fa-envelope" /> Messages
        <b-badge variant="success">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item><i class="fa fa-tasks" /> Tasks
        <b-badge variant="danger">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      01524021336
      <b-dropdown-item><i class="fa fa-comments" /> Comments
        <b-badge variant="warning">{{ itemsCount }}</b-badge>
      </b-dropdown-item>-->
      <b-dropdown-header
        tag="div"
        class="text-center" style="background: #FFF;">
        <strong>{{ get_text('roles@l') }}</strong>
      </b-dropdown-header>
      <!--{{ $auth().user().currentRole == role ? 'true' : 'false' }}-->
      <b-dropdown-item :active="$auth.user().currentRole == role " v-for="(role, index) in
          $auth.user().roles"  :key="role.id" @click="changeRole(role)" v-if="$auth.user().roles.length > 1"><i
        class="fa fa-code-branch"/>{{
        get_text(role+'@roles@l')
        }}
      </b-dropdown-item>
      <b-dropdown-item :active="$auth.user().currentRole == role " v-for="(role, index) in
          $auth.user().roles" :key="role.id" v-else><i
        class="fa fa-code-branch"/>{{
        get_text(role+'@roles@l')
        }}
      </b-dropdown-item>
      <b-dropdown-header
        tag="div"
        class="text-center border-top" style="background: #FFF;">
        <strong>{{ get_text('settings@l') }}</strong>
      </b-dropdown-header>
      <b-dropdown-item :to="toPathProfile"><i class="fa fa-user"/> {{ get_text('profile@l') }}</b-dropdown-item>
      <b-dropdown-item :to="topathUpdateCrad"><i class="fa fa-wrench"/> {{ get_text('update_credentials@l') }}
      </b-dropdown-item>
      <!--<b-dropdown-item><i class="fa fa-usd" /> Payments
        <b-badge variant="secondary">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-item><i class="fa fa-file" /> Projects
        <b-badge variant="primary">{{ itemsCount }}</b-badge>
      </b-dropdown-item>
      <b-dropdown-divider />
      <b-dropdown-item><i class="fa fa-user-shield" /> Lock Account</b-dropdown-item>-->
      <b-dropdown-item v-on:click="logout()"><i class="fa fa-lock"/> {{ get_text('logout@l') }}</b-dropdown-item>
    </template>
  </AppHeaderDropdown>
</template>
<style>
  .app-header .navbar-nav.rtlEnClass .dropdown-menu-right {
    right: 10px !important;
  }

  .app-header .navbar-nav.rtlArClass .dropdown-menu-right {
    right: -122px;
    left: auto;
  }
</style>
<script>
  import {HeaderDropdown as AppHeaderDropdown} from '@coreui/vue'
  import Vue from "vue";

  export default {
    name: 'DefaultHeaderDropdownAccnt',
    components: {
      AppHeaderDropdown
    },
    data: () => {
      return {itemsCount: 42, imagePath: '', imageName: ''}
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    created() {
      this.imagePath = this.$auth.user().url + '/images/' + this.$auth.user().file_name;
      this.imageName = this.$auth.user().file_name;
    },
    computed: {
      topathUpdateCrad() {
        if (localStorage.getItem('appId') == null) {
          return {path: '/updateCredential'}
        } else {
          return {path: '/updateCredentials'}
        }
      },
      toPathProfile() {
        if (localStorage.getItem('appId') == null) {
          return {path: '/profiles'}
        } else {
          return {path: '/profile'}
        }
      }
    },
    methods: {
      changeRole(role) {
        Vue.axios.get('/updateBranch/' + role+'/'+Vue.auth.user().id)
          .then(response => {
            if (response.data.code == 200) {
              window.location.replace('/landingpage')
            }
          });
      },
      get_text(textbit) {
        var transtext = (typeof this.translation[this.$i18n.locale][textbit] != "undefined" && this.translation[this.$i18n.locale][textbit] != null) ? this.translation[this.$i18n.locale][textbit] : "!" + textbit;
        return transtext;

      },
      logout() {
        localStorage.clear();
        sessionStorage.clear();
        this.$auth.logout();
        this.$router.push('/');
      },
    }
  }
</script>
