<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row v-if="$can('role-create') || $can('role-edit')">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <b class="h4">{{ get_text('title@roles@l') }}</b>
                  <b-link :href="'/roles'">
                    <b-button variant="primary" size="md" class="btn float-right">
                      <b><i class="icon-list icons font-1xl"></i> {{ get_text('back_list@roles@l') }}</b>
                    </b-button>
                  </b-link>
                </div>
                <div class="card-body" style="padding: 0.1rem">
                  <form-wizard @on-complete="onComplete"
                               validate-on-back
                               ref="wizard"
                               :validate-on-back=false
                               :start-index.sync="activeTabIndex"
                               :back-button-text="get_text('back@stp@l')"
                               :next-button-text="get_text('next@stp@l')"
                               :finish-button-text="get_text('resubmit@stp@l')"
                               shape="circle" color="#20a0ff" error-color="#fa695f" :class="'customForm'">
                    <h2 slot="title">{{ this.get_text('title@roles@l')}}</h2>
                    <h4 slot="title">{{ this.get_text('subtitle@roles@l')}}</h4>
                    <tab-content :title="this.get_text('details@roles@l')"
                                 icon="icon icon-user" style=""
                                 :before-change="()=>validateFirstTab('step1')"
                    >
                      <!--:before-change="()=>validateFirstTab('step1')"-->
                      <step1 ref="step1" :roleData="roleData"></step1>
                    </tab-content>
                    <tab-content :title="this.get_text('permissions@roles@l')"
                                 icon="fa fa-crosshairs" :before-change="()=>validateFirstTab('step2')">
                      <step2 ref="step2" :selectPermission="selectPermission"
                             :is_refresh="is_refresh" :roleData="roleData"></step2>
                    </tab-content>
                    <template slot="custom-buttons-right" slot-scope="props">
                      <wizard-button @click.prevent.stop="cancel" class="btn btn-danger">{{ get_text('cancel@stp@l')}}
                      </wizard-button>
                    </template>
                    <template slot="footer" slot-scope="props">
                      <!--{{ props }}-->
                      <div class=wizard-footer-left>
                        <wizard-button v-if="props.activeTabIndex > 0 && props.isLastStep"
                                       :style="props.fillButtonStyle" @click="props.prevTab()"
                                       class="btn btn-primary wizardCustom">{{
                          get_text('back@stp@l') }}
                        </wizard-button>
                      </div>
                      <div class="wizard-footer-right">
                        <wizard-button @click.prevent.stop="cancel" class="btn btn-danger wizardCustom">{{
                          get_text('cancel@stp@l')}}
                        </wizard-button>&nbsp;

                        <wizard-button v-if="!props.isLastStep" @click="props.nextTab()"
                                       class="wizard-footer-right btn btn-primary wizardCustom"
                                       :style="props.fillButtonStyle">{{
                          get_text('next@stp@l') }}
                        </wizard-button>

                        <wizard-button v-else-if="showSubmitBtn" @click="onComplete"
                                       class="wizard-footer-right finish-button btn btn-primary wizardCustom"
                                       :style="props.fillButtonStyle">{{props.isLastStep ? get_text('resubmit@stp@l') :
                          get_text('next@stp@l')}}
                        </wizard-button>
                        <!--{{this.$route.params }}-->
                      </div>
                    </template>
                  </form-wizard>
                </div>

              </div>
            </div>

          </div>


        </transition>

      </b-col>
    </b-row>
    <div v-else-if="!($can('role-create') || $can('role-edit'))">


      <div class="card">
        <unauthorized></unauthorized>
      </div>


    </div>
  </div>
</template>

<script>
  import {store} from '@/components/roles/store/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import step1 from './step1';
  import step2 from './step2';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import {FormWizard, TabContent} from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import VueFormGenerator from "vue-form-generator";
  import draggable from 'vuedraggable'
  import {mapState, mapGetters, mapActions} from 'vuex'
  import Unauthorized from '@/views/pages/Unauthorized';

  Vue.use(VueFormGenerator);
  Vue.use(Element);
  Vue.use(Loading);
  //Vue.use(RichTextEditorPlugin);

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    /*provide: {
      richtexteditor: [Toolbar, Link, Image, HtmlEditor, QuickToolbar]
    },*/
    created() {
      this.$store.dispatch('loadRoleObject')
      this.$store.dispatch('translation');
      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.showSubmitBtn = false;
      }
      if (typeof this.$route.params.id != "undefined" && this.$route.params.id) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/roles/${this.$route.params.id}`, this.$route.params.id)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              /*if (value == 'view') {
                this.showingViewModal = true;
                this.rolesInfo = response.data.data;
                //this.rolesInfo.permissions = response.data.permissionId;
                this.rolesInfo.permissions = response.data.permissionVal;
              } else {*/
              this.showingeditModal = true
              this.roleData = response.data.data,
                //this.roleData.is_main = response.data.is_main,
                this.roleData.permissions = response.data.permissionId;
              this.roleData.apppermissions = response.data.apppermissions;
              this.roleData.work_on_behalf = response.data.work_on_behalf;
              // this.rolePermission = response.data.ped;
              // }
              this.$store.state.isLoading = false;
            }
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            Vue.prototype.$notify.error({
              title: 'Error',
              message: error.response.data.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        })
      }
    },
    data: () => {
      return {
        is_refresh: null,
        showSubmitBtn: true,
        activeTabIndex: 0,
        selectPermission: [],
        fromLoading: true,
        tabIndex: [0, 0],
        tabIndexMain: [0, 0],
        roleData: {
          name: "",
          description: '',
          is_main: 0,
          permissions: [],
          is_full_access: null,
          apppermissions: [],
          work_on_behalf: []
        },
        ormalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
      }
    },
    mounted() {
      let next = document.querySelector('div.vue-form-wizard');
      if (this.$i18n.locale == 'ar') {
        document.querySelector('html').setAttribute('dir', 'rtl');
        next && next.classList.add('isRtl');
      } else {
        document.querySelector('html').setAttribute('dir', '');
        let dropdown = next && next.classList.contains('isRtl');
        if (dropdown) {
          next.classList.remove('isRtl');
        }
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      //Step3,
      'loading': Loading,
      FormWizard,
      TabContent,
      //Treeselect,
      draggable,
      step1,
      step2,
      Unauthorized
    },
    computed: {
      dataobject() {
        return this.$store.getters.objects
      },
      ...mapState(["sectors", "communicationuser", "financialuser", "orgapproveuser", "fiscalYear", "registerUser", "priorities", "processList", "projectList", "projectMinistry", "totalPlanCostArray", "totalActulCostArray", "totalVariationArray", "totalPlanCostArrayProj", "totalActulCostArrayProj", "totalVariationArrayProj", "dataHeading", "dataHeirarchy", "totalPartciapArray", "totalPartciapArrayPerc", "totalProjectArrayPerc"]),
      usersList() {
        this.fields = [
          {key: 'name', label: this.get_text('name@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'email', label: this.get_text('email@Users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sector_name', label: this.get_text('sector_name@users@c'), sortable: false, sortDirection: 'desc'},
          {key: 'sub_name', label: this.get_text('subtenant_name@users@c'), sortable: true, sortDirection: 'desc'},
          {key: 'isCheck', label: this.get_text('ischeck@users@c'), sortable: false, sortDirection: 'desc'},
          /*{key: 'action', label:  this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}*/
        ];

        if (this.sortByTenant != null && this.sortBySubTenant == null && this.$store.state.userList.length > 0) {
          this.loadKpiDataSector(this.sortByTenant);
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.sector_id.toString().includes(this.sortByTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else if (this.sortBySubTenant != null && this.$store.state.userList.length > 0) {
          var filterData = [];
          filterData = this.$store.state.userList.filter(data => {
            return data.subtenant_id.toString().includes(this.sortBySubTenant)
          })
          this.totalRows = filterData.length;
          return filterData;
        } else {

          var filterData = this.$store.state.userList;
          this.totalRows = filterData.length;
          //alert(this.totalRows)
          return filterData;
        }
      },
      rolesList() {
        this.fieldsRole = [
          {key: 'id', label: '#', sortable: false, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('name@Roles@c'), sortable: false, sortDirection: 'desc'},
          {key: 'action', label: this.get_text('actions@l'), sortable: false, sortDirection: 'desc'}];
        var filterData = this.$store.state.roleList;
        this.totalRowsRole = filterData.length;
        //alert(this.totalRows)
        return filterData;
      }
    },
    methods: {
      /*dataobject() {
        return this.$store.getters.objects
      },*/
      cancel: function () {
        window.location.replace('/roles')
      },
      nextpermission() {
        const options = [];
        var demo = Object.values(this.roleData.apppermissions).map(function (item) {
          for (var i = 0; i < item.length; i++) {
            options.push(item[i]);
          }
        });
        this.selectPermission = [...new Set(options)];
        var permss = [];
        if (this.roleData.is_full_access == 1) {
          Object.values(this.dataobject).map(function (item) {
            for (var i = 0; i < Object.keys(item).length; i++) {
              if (typeof Object.values(item)[i]['name'] != "undefined") {
                const dataval = Object.values(item)[i]['name'].split('-');

                //alert([...new Set(options)].length)
                if ([...new Set(options)].length > 0) {
                  if ([...new Set(options)].includes(dataval[0])) {
                    permss.push(Object.values(item)[i]['id']);
                  }
                }
              }
            }
          });
          this.roleData.permissions = permss;
        } /*else {
          this.roleData.permissions = permss;
        }*/
        this.is_refresh = 1
      },
      validateFirstTab: function (val) {
        if (val == 'step1') {
          this.nextpermission();
        }
        console.log(this.$refs.step1);
        //console.log(this.$refs[val].$validator.validate())
        return this.$refs[val].$validator.validate();
      },
      log: function (evt) {
        this.notif_content = (evt.moved.element.name);
      },
      isLastStep() {
        alert('dd');
        if (this.$refs.wizard) {

          return this.$refs.wizard.isLastStep
        }
        return false
      },
      onComplete() {
        /*if(this.stp.totalPraticipatePercent > 100) {
          alert(this.get_text('participation_pct_validation@m'));
          return false;
        }

        if(this.stp.totalProjectPercent > 100) {
          alert(this.get_text('project_pct_validation@m'));
          return false;
        }

        this.stp.stp_process = this.processList;
        this.stp.stp_project = this.projectList;
        //console.log(this.stp);
        //return false;
        Vue.axios({
          url: 'saveStp',
          method: 'POST',
          data: {stp: this.stp}
        }).then(response => {
          window.location.replace('/stplist')
        });*/
        if (typeof this.$route.params.id != "undefined" && this.$route.params.id) {
          this.$store.dispatch('updateGroup', {
            where: this.roleData.id,
            data: {
              name: this.roleData.name,
              description: this.roleData.description,
              permission: this.roleData.permissions,
              is_main: this.roleData.is_main,
              is_full_access: this.roleData.is_full_access,
              apppermissions: this.roleData.apppermissions,
              work_on_behalf: this.roleData.work_on_behalf,
            }
          })
        } else {
          this.$store.dispatch('createGroup', {
            data: {
              name: this.roleData.name,
              description: this.roleData.description,
              is_main: this.roleData.is_main,
              permission: this.roleData.permissions,
              apppermissions: this.roleData.apppermissions,
              is_full_access: this.roleData.is_full_access,
              work_on_behalf: this.roleData.work_on_behalf,
            }
          })
        }
      },
      loadKpiDataSector(sector) {
        this.options = '';
        Vue.axios.get('/subtenanttree/' + this.sortByTenant + '/false')

          .then(response => {
            if (response.data.code == 200) {
              this.options = response.data.subTenants;

              this.removeEmptyNode(this.options);

            }
          });
        this.$store.dispatch('loadKpiDataSector', sector);

        localStorage.setItem('session_sector', sector);
        //this.$store.dispatch('loadSubTenants', sector);

      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      },
      onFilteredRole(filteredItemsRole) {
        //this.totalRows = filteredItemsRole.length
        this.currentPageRole = 1
      }
    },
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .e-toolbar-wrapper {
    height: auto !important;
  }

  .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
    /*max-height: 140 px !important;*/
  }

  .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
  .e-content, .e-contenteditor.e-richtexteditor {
    min-width: 90%;
    max-width: 100%;
    min-height: 80px !important;
    /*max-height: 340 px !important;*/
  }

  .e-richtexteditor .e-rte-content, .e-richtexteditor .e-source-content {
    overflow: unset !important;
  }

  .el-step__main {
    text-align: unset;
  }

  .vue-form-wizard.isRtl .wizard-progress-bar {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-left {
    float: right;
  }

  .vue-form-wizard.isRtl .wizard-card-footer .wizard-footer-right {
    float: left;
  }

  .vue-form-wizard.isRtl.el-form-item__label {
    float: right;
  }

  .customCardClass .card-body {
    padding: 0.3rem;
  }

  .el-input {
    width: 100% !important;
  }

  .green-btn {
    background-color: green !important;
    color: white !important;
    float: left;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
<style>
  .customcheck .form-check-label {
    margin-right: 4% !important;
  }

  .wizardCustom {
    cursor: pointer;
  }

  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
