<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row>
      <b-col cols="12" xl="12">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4"> {{ get_text('title@roleAndPremission@l') }}</b>
              <!--<b-button variant="success" size="md" class="btn float-right" @click="showingModal= true"
                        v-if="$can('role-create')"><i
                class="icon-plus icons font-1xl"></i>{{ get_text('add@roleAndPremission@l') }}
              </b-button>-->
              <a href="/rolescreate" class="btn btn-success float-right" v-if="$can('role-create')"><i
                class="icon-plus icons font-1xl"></i> {{ get_text('add@roleAndPremission@l') }}</a>
            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading">
              <div style="text-align:center; padding-top:50px;">
                {{ get_text('loading@l') }}
              </div>
            </div>
            <div v-if="$auth.ready() && this.$store.state.loading && $can('role-view')">
              <b-row>
                <b-col md="3" class="my-1">
                  <b-form-group horizontal :label="get_text('filter@l')" class="mb-0">
                    <b-input-group>
                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l') }}</b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="3" class="my-1">
                  <b-form-group horizontal :label="get_text('sort@l')" class="mb-0">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">{{ get_text('none@l') }}</option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ get_text('asc@l') }}</option>
                        <option :value="true">{{ get_text('desc@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="3" class="my-1">
                  <b-form-group horizontal :label="get_text('rolestatus@l')" class="mb-0">
                    <b-input-group>
                      <b-form-select v-model="sortByStatus">
                        <option slot="first" :value="null">{{ get_text('none@l') }}</option>
                        <option :value="'1'">{{ get_text('active@l') }}</option>
                        <option :value="'0'">{{ get_text('inactive@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="3" class="my-1">
                  <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive="sm" :items="roles" :fields="fields"
                       :current-page="currentPage" :per-page="perPage"
                       :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-description.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @filtered="onFiltered">
                <template slot="id" slot-scope="data">
                  <b-col class="mb-3 mb-xl-0">
                    {{ data.index + 1 }}
                  </b-col>
                </template>
                <template slot="is_main" slot-scope="data">
                  {{ getName(data.item.is_main) }}
                </template>
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{ getNameStatus(data.item.status) }}
                  </b-badge>
                </template>
                <template slot="Actions" slot-scope="data">
                  <b-row class="text-center">
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('role-view')">
                      <!--<b-button variant="primary" size="sm"
                                @click="editGroupTenant(data.item, 'view') "><i
                        class="icon-eye icons font-1xl"></i>
                      </b-button>-->
                      <a class="btn btn-primary btn-sm" size="sm" :href="'/rolescreate/'+data.item.id+'/view'"><i
                        class="icon-eye icons font-1xl"></i></a>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-1" v-if="$can('role-edit')">
                      <!--<b-button variant="warning" size="sm"
                                @click="editGroupTenant(data.item, 'edit')"><i
                        class="icon-pencil icons font-1xl"></i>
                      </b-button>-->
                      <a class="btn btn-warning btn-sm" size="sm" :href="'/rolescreate/'+data.item.id"><i
                        class="icon-pencil icons font-1xl"></i></a>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('role-delete')">
                      <b-button variant="danger" size="sm"
                                @click="showingdeleteModal = true;  selectUser(data.item)"><i
                        class="icon-trash icons font-1xl"></i>
                      </b-button>
                    </b-col>
                  </b-row>
                </template>
              </b-table>
              <nav>
                <b-pagination size="sm" :total-rows="totalRows" :per-page="perPage"
                              v-model="currentPage" :prev-text="get_text('prev@l')" :next-text="get_text('next@l')"
                              hide-goto-end-buttons/>
              </nav>
            </div>
            <div v-else-if="!$can('role-view')">
              <unauthorized></unauthorized>
            </div>
          </b-card>
        </transition>
        <b-modal :title="get_text('edit@roleAndPremission@l')" size="lg" ref="vueModel" class="modal-primary"
                 v-model="showingeditModal" hide-footer="true">
          <b-form @submit.prevent="updateGroup">
            <b-row>
              <b-col sm="6">
                <b-form-group>
                  <label for="name">{{ get_text('name@roleAndPremission@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                                 style="font-size:10px;color:red;"></i></label>
                  <b-form-input type="text" v-validate="'required'" name="name" id="name"
                                v-model="roleData.name" :placeholder="get_text('enter_your_name@roleAndPremission@l')"
                                :class="{ 'is-invalid': updated && errors.has('name') }"></b-form-input>
                  <div v-if="updated && errors.has('name')" class="invalid-feedback">{{
                    errors.first('name') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group>
                  <label for="is_main">{{ get_text('is_main@roleAndPremission@l') }}<i
                    class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                  <b-form-select id="is_main"
                                 :plain="true"
                                 value="Please select"
                                 v-validate="'required'"
                                 :class="{ 'is-invalid': updated && errors.has('is_main') }"
                                 v-model="roleData.is_main"
                                 name="is_main"
                                 :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('main_role@roles@l'),
                      value: '1'
                    }, {
                      text: get_text('secondary_role@roles@l'),
                      value: '0'
                    }]">
                  </b-form-select>
                  <div v-if="updated && errors.has('is_main')" class="invalid-feedback">{{
                    errors.first('is_main') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="12">
                <b-form-group>
                  <label for="name">{{ get_text('description@roleAndPremission@l') }}<i
                    class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                  <b-form-textarea type="text" v-validate="'required'" name="description" id="description"
                                v-model="roleData.description" :placeholder="get_text('enter_description@roleAndPremission@l')"
                                :class="{ 'is-invalid': updated && errors.has('description') }"></b-form-textarea>
                  <div v-if="updated && errors.has('description')" class="invalid-feedback">{{
                    errors.first('description') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col xs="12" lg="12">
                <b-card>
                  <div slot="header">
                    {{ get_text('permissions@roleAndPremission@l') }}
                  </div>
                  <b-card no-body>
                    <b-tabs card pills vertical nav-wrapper-class="w-40" v-model="tabIndex[1]">
                      <b-tab v-for="(data, key, index) in objects" :key="index">
                        <template slot="title">
                          {{ (key) | uppercase}}
                        </template>
                        <b-form-checkbox-group stacked id="permissions" name="permission[]" :plain="true"
                                               v-model="roleData.permissions">
                          <b-form-checkbox v-for="(item, index) in data" :key="index" :value="item.id">
                            {{ (item.name) }}
                          </b-form-checkbox>
                        </b-form-checkbox-group>
                      </b-tab>
                    </b-tabs>
                  </b-card>
                </b-card>
              </b-col>
            </b-row>
            <b-button class="float-right" variant="primary" size="lg" type="submit">{{
              get_text('update@roleAndPremission@l') }}
            </b-button>
          </b-form>
        </b-modal>
        <b-modal :title="get_text('add@roleAndPremission@l')" size="lg" class="modal-primary" v-model="showingModal"
                 @close="setRoleData" hide-footer="true">
          <b-form @submit.prevent="createGroup">
            <b-row>
              <b-col sm="6">
                <!--{{ permissions }}-->
                <b-form-group>
                  <label for="name">{{ get_text('name@roleAndPremission@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                                 style="font-size:10px;color:red;"></i></label>
                  <b-form-input type="text" v-validate="'required'" name="name" id="name"
                                v-model="roleData.name" :placeholder="get_text('enter_your_name@roleAndPremission@l')"
                                :class="{ 'is-invalid': submitted && errors.has('name') }"></b-form-input>
                  <div v-if="submitted && errors.has('name')" class="invalid-feedback">{{
                    errors.first('name') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group>
                  <label for="is_main">{{ get_text('is_main@roleAndPremission@l') }}<i
                    class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                  <b-form-select id="is_main"
                                 :plain="true"
                                 value="Please select"
                                 v-validate="'required'"
                                 :class="{ 'is-invalid': submitted && errors.has('is_main') }"
                                 v-model="roleData.is_main"
                                 name="is_main"
                                 :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('main_role@roles@l'),
                      value: '1'
                    }, {
                      text: get_text('secondary_role@roles@l'),
                      value: '0'
                    }]">
                  </b-form-select>
                  <div v-if="submitted && errors.has('is_main')" class="invalid-feedback">{{
                    errors.first('is_main') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="12">
                <b-form-group>
                  <label for="name">{{ get_text('description@roleAndPremission@l') }}<i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                  <b-form-textarea type="text" v-validate="'required'" name="description" id="description"
                                   v-model="roleData.description" :placeholder="get_text('enter_description@roleAndPremission@l')"
                                   :class="{ 'is-invalid': updated && errors.has('description') }"></b-form-textarea>
                  <div v-if="submitted && errors.has('description')" class="invalid-feedback">{{
                    errors.first('description') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col xs="12" lg="6">
                <b-form-group>
                  <label for="user_type">{{ get_text('roles@Users@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                           style="font-size:10px;color:red;"></i></label>
                  <treeselect :multiple="true" :placeholder="get_text('please_select@l')" searchable="searchable"
                              :options="this.$store.getters.systemapps" v-model="roleData.notif_roles"/>
                  <div v-if="submitted && errors.has('user_type')" class="invalid-feedback">{{
                    errors.first('user_type') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group>
                  <label for="sector_id">{{ get_text('sector_id@Users@l') }}<i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                  <!--@input="getsubtenants(userData.subtenant_id)"-->
                  <treeselect :multiple="true" :placeholder="get_text('please_select@l')" searchable="searchable"
                              :normalizer="normalizer" id="subtenant_id" v-validate="'required'" name="subtenant_id"
                              :options="this.$store.getters.sectors" v-model="roleData.subtenant_id"/>
                  <div v-if="submitted && errors.has('subtenant_id')" class="invalid-feedback">{{
                    errors.first('subtenant_id') }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col xs="12" lg="12">
                <b-card>
                  <div slot="header">
                    {{ get_text('permissions@roleAndPremission@l') }}
                  </div>
                  <b-card no-body>
                    <b-tabs card pills vertical nav-wrapper-class="w-40" v-model="tabIndex[1]">
                      <b-tab v-for="(data, key, index) in objects" :key="index">
                        <template slot="title">
                          {{ (key) | uppercase}}
                        </template>
                        <b-form-checkbox-group stacked id="permissions" name="permission[]" :plain="true"
                                               v-model="roleData.permissions">
                          <b-form-checkbox v-for="(item, index) in data" :key="index" :value="item.id">
                            {{ item.name }}
                          </b-form-checkbox>
                        </b-form-checkbox-group>
                      </b-tab>
                    </b-tabs>
                  </b-card>
                </b-card>
              </b-col>
            </b-row>
            <b-button class="float-right" variant="primary" size="lg" type="submit">{{
              get_text('save@roleAndPremission@l') }}
            </b-button>
          </b-form>
        </b-modal>
        <b-modal :title="get_text('delete@roleAndPremission@l')" size="lg" class="modal-danger"
                 v-model="showingdeleteModal" hide-footer="true"
                 ok-variant="danger">
          <div class="modalcontent">
            <h3 class="text-center">{{ get_text('are_you_sure_to_delete@roleAndPremission@l') }}
              <b>{{roleData.name}}</b>?</h3>
            <b-col md="12" class="text-center">

              <button class="btn btn-outline-danger left"
                      @click="showingdeleteModal = false; removeUser(roleData)">{{ get_text('yes@roleAndPremission@l')
                }}
              </button>&nbsp;
              <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
                get_text('no@roleAndPremission@l') }}
              </button>
            </b-col>
          </div>
        </b-modal>
        <b-modal title="Role Information" size="lg" class="modal-info" v-model="showingViewModal"
                 ok-variant="info">
          <div class="modalcontent" v-if="this.rolesInfo ">
            <b-row v-for="(item, index) in this.rolesInfo " :key="index">
              <b-col sm="4">{{ get_text(index+'@roles@c') }}</b-col>
              <b-col sm="8">{{ item }}</b-col>
            </b-row>
          </div>
        </b-modal>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {store} from '@/components/roles/store/store'

  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'

  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import VeeValidate from 'vee-validate';
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import SelectTree from '@/components/tree/SelectTree';
  import Unauthorized from '@/views/pages/Unauthorized';

  Vue.use(Loading);
  Vue.use(Element);
  const dict = {
    custom: {
      name: {
        required: 'The Name field is required'
      },
      subtenant_id: {
        required: () => 'The Tenant field is required'
      },
      description: {
        required: () => 'The Description field is required'
      },
      tenant_user_type_id: {
        required: () => 'The Tenant Users Type field is required'
      }
    }
  };
  VeeValidate.Validator.localize('en', dict);

  export default {
    name: 'tables',
    store: store,
    props: {
      caption: {
        type: String,
        default: 'Users'
      },
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      this.$store.dispatch('loadRoles')
      this.$store.dispatch('loadNotificationDefaultData')
      //this.$store.dispatch('loadPermissions')
      this.$store.dispatch('loadRoleObject')
      //this.$store.dispatch('translation');
    },
    data: () => {
      return {
        fields: [
          /* {key: 'id', label: '#', sortable: false, sortDirection: 'description'},
           {key: 'name', label: 'Name', sortable: true, 'class': 'text-center'},
           {key: 'Actions', },*/
          //{key: 'Edit', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center', visible: false }
        ],
        sortByStatus: null,
        button: '',
        currentPage: 1,
        perPage: 25,
        totalRows: 0,
        roleData: {
          name: "",
          description: '',
          is_main: 0,
          permissions: [],
        },
        showingeditModal: false,
        showingModal: false,
        showingdeleteModal: false,
        showingViewModal: false,
        submitted: false,
        updated: false,
        rolesInfo: null,
        pageOptions: [25, 50, 100],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        rolePermission: null,
        tabIndex: [0, 0],
        translation: [],
        tabs: [
          'Calculator',
          'Shopping cart',
          'Charts'
        ],
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    components: {
      'loading': Loading,
      'child': SelectTree,
      Treeselect,
      Unauthorized
    },
    computed: {
      roles() {
        this.fields = [
          {key: 'id', label: '#', sortable: false, sortDirection: 'description'},
          {
            key: 'name',
            label: this.get_text('name@Roles@c'),
            sortable: true,
            sortDirection: 'DESC',
            /*'class': 'text-center'*/
          },
          {
            key: 'status',
            label: this.get_text('rolestatus@Roles@c'),
            sortable: true,
            sortDirection: 'DESC',
            'class': 'text-center'
          },
          {
            key: 'is_main',
            label: this.get_text('is_main@Roles@c'),
            sortable: true,
            /*'class': 'text-center'*/
          },
          {
            key: 'Actions',
            label: this.get_text('actions@l')},
        ];

        if (this.sortByStatus != null && this.$store.getters.roles.length > 0) {
          //var filterData = [];
          var filterData = this.$store.getters.roles.filter(data => {
            return data.status != null ? data.status.toString().includes(this.sortByStatus) : ''
          })
          this.totalRows = filterData.length;
          return filterData;
        }
        //return this.$store.getters.roles
        var filterData = this.$store.getters.roles;
        this.totalRows = filterData.length;
        //alert(this.totalRows)
        return filterData;
      },
      permissions() {
        return this.$store.getters.permissions
      },
      objects() {
        return this.$store.getters.objects
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    watch: {
      showingeditModal: function () {
        if (this.showingeditModal == false) {
          this.$store.dispatch('loadRoles')
          this.roleData = {
            name: "",
            description: '',
            is_main: 0,
            permissions: [],
          }
        }
      }
    },
    methods: {
      getBadge(status) {
        return status == '1' ? 'success' : status === '0' ? 'warning' : 'primary'
      },
      getName(data) {
        return data == '1' ? this.get_text('main_role@roles@l') : data == '0' ?
          this.get_text('secondary_role@roles@l') : ''
      },
      getNameStatus(data) {
        return data == '1' ? this.get_text('active@roles@l') : data == '0' ?
          this.get_text('inactive@roles@l') : ''
      },
      setRoleData() {
        this.roleData = {
          name: "",
          description: '',
          is_main: 0,
          permissions: [],
        }
      },
      get_text(textbit) {

        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {

          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      selectUser(groupTenant) {
        console.log(groupTenant);
        this.roleData = groupTenant;
      },
      removeUser(groupTenant) {
        this.$store.dispatch('removeUser', groupTenant)
      },
      createGroup() {
        this.submitted = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.resetPasswordBtn = true,
              this.showingModal = false
            this.$store.dispatch('createGroup', {
              data: {
                name: this.roleData.name,
                description: this.roleData.description,
                is_main: this.roleData.is_main,
                permission: this.roleData.permissions,
              }
            })
            this.roleData = {
              name: "",
              description: '',
              is_main: 0,
              permissions: [],
            }
            this.$validator.reset();
          }
        });
      },
      editGroupTenant(tenentGroup, value = null) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/roles/${tenentGroup.id}`, tenentGroup.data)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.rolesInfo = response.data.data;
                //this.rolesInfo.permissions = response.data.permissionId;
                this.rolesInfo.permissions = response.data.permissionVal;
              } else {
                this.showingeditModal = true
                this.roleData = response.data.data,
                  //this.roleData.is_main = response.data.is_main,
                  this.roleData.permissions = response.data.permissionId;
                // this.rolePermission = response.data.ped;
              }
              this.$store.state.isLoading = false;
            }
          }).catch(error => {
          console.log(error.response.data.message);
          this.$store.state.isLoading = false;
          if (error.response.status == 403) {
            Vue.prototype.$notify.error({
              title: 'Error',
              message: error.response.data.message,
              type: 'Error',
              position: 'top-right'
            });
          }
        })
        //this.tanentData = tenent;
        //this.showingeditModal= true
        //console.log(data);
      },
      updateGroup() {
        console.log(this.roleData);
        this.updated = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.showingeditModal = false
            this.$store.dispatch('updateGroup', {
              where: this.roleData.id,
              data: {
                name: this.roleData.name,
                description: this.roleData.description,
                permission: this.roleData.permissions,
                is_main: this.roleData.is_main,
              }
            })
            this.roleData = {
              name: "",
              description: "",
              is_main: 0,
              permissions: [],
            }
            this.$validator.reset();
          }
        });
      },
      userLink(id) {
        return `groups/${id.toString()}`
      },
      rowClicked(groupTenant) {
        const userLink = this.userLink(groupTenant.id)
        this.$router.push({path: userLink})
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    filters: {
      uppercase: function (v) {
        return v.charAt(0).toUpperCase() + v.slice(1);
      }
    }
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
