<template>
  <div>
    <b-row>
      <b-col sm="6">
        <b-form-group>
          <label for="name">{{ get_text('name@roleAndPremission@l') }}<i class="fa fa-asterisk danger fa-xs"
                                                                         style="font-size:10px;color:red;"></i></label>
          <b-form-input type="text" v-validate="'required'" name="name" id="name"
                        v-model="roleData.name"
                        :class="{ 'is-invalid': errors.has('name') }"
                        :placeholder="get_text('enter_your_name@roleAndPremission@l')"></b-form-input>
          <div v-if="errors.has('name')" class="invalid-feedback">{{
            errors.first('name') }}
          </div>
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="is_main">{{ get_text('is_main@roleAndPremission@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="is_main"
                         :plain="true"
                         value="Please select"
                         :class="{ 'is-invalid': errors.has('is_main') }"
                         v-validate="'required'"
                         v-model="roleData.is_main"
                         name="is_main"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('main_role@roles@l'),
                      value: '1'
                    }, {
                      text: get_text('secondary_role@roles@l'),
                      value: '0'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>
      <b-col sm="12">
        <b-form-group>
          <label for="name">{{ get_text('description@roleAndPremission@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-textarea type="text" v-validate="'required'" name="description" id="description"
                           v-model="roleData.description"
                           :class="{ 'is-invalid': errors.has('description') }"
                           :placeholder="get_text('enter_description@roleAndPremission@l')"></b-form-textarea>
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="sector_id">{{ get_text('work_on_behalf@Users@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <!--@input="getsubtenants(userData.subtenant_id)"-->
          <treeselect :multiple="true" :placeholder="get_text('please_select@l')" searchable="searchable"
                      :normalizer="normalizer" id="work_on_behalf" name="work_on_behalf"
                      :options="this.$store.getters.sectors" v-model="roleData.work_on_behalf"/>
        </b-form-group>
      </b-col>
      <b-col sm="6">
        <b-form-group>
          <label for="sector_id">{{ get_text('application_access@Users@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="is_full_access"
                         :plain="true"
                         value="Please select"
                         v-validate="'required'"
                         @change="getFullAccessPermission"
                         :class="{ 'is-invalid': errors.has('is_full_access') }"
                         v-model="roleData.is_full_access"
                         name="is_full_access"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('full_access@roles@l'),
                      value: '1'
                    }, {
                      text: get_text('partial@roles@l'),
                      value: '0'
                    }]">
          </b-form-select>
          <div v-if="errors.has('is_full_access')" class="invalid-feedback">{{
            errors.first('is_full_access') }}
          </div>
        </b-form-group>
      </b-col>
      <!--<b-col sm="4">
        <b-form-group>
          <label for="is_main">{{ get_text('reload_permission@roleAndPremission@l') }}<i
            class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
          <b-form-select id="is_refresh"
                         :plain="true"
                         @change="nextpermission"
                         value="Please select"
                         :required="true"
                         v-model="is_refresh"
                         name="is_refresh"
                         :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('main_role@roles@l'),
                      value: '1'
                    }]">
          </b-form-select>
        </b-form-group>
      </b-col>-->
      <b-col xs="12" lg="12">
        <b-card>
          <div slot="header">
            {{ get_text('modelpermissions@roles@l') }}
          </div>
          <!--{{ errors }}-->
          <!--<div v-if="errors.items.length > 0 && errors.items[0].field == 'apppermissions[]'">
            <div class="alert alert-danger">This Field Required</div>
          </div>-->
          <b-card no-body>
            <b-tabs card pills vertical nav-wrapper-class="w-40" v-model="tabIndexMain[1]">
              <b-tab v-for="(data, index) in this.$store.getters.systemapps" :key="data.id"
                     v-if="fromLoading">
                <template slot="title">
                  {{ get_text(data.label+'@l') }}<!--{{ data.id}}-->
                </template>
                <b-form-checkbox-group stacked id="apppermissions" name="apppermissions[]" :plain="true"
                                       v-validate="roleData.is_full_access === '1' ? '' :
                                                   (Object.values(roleData.apppermissions).length > 0 ? '' :
                                                   'required')"
                                       v-model="roleData.apppermissions[data.id]">
                  <b-form-checkbox :class="$i18n.locale=='en' ? 'labelCustom' : 'customcheck labelCustom'" v-for="(item,
                              key, index) in
                              objects"
                                   :key="key"
                                   :value="key" @change="changerefresh">
                    <!--<b-row>
                      <b-col :sm="(objects[key]['en']) ? '3' : '12'" >{{ key }}</b-col>
                      <b-col :sm="(objects[key]['en']) ? '9' : '12'">{{ ($i18n.locale == 'en' ? objects[key]['en'] :
                        objects[key]['ar'])
                        }}</b-col>
                    </b-row>-->
                    <div :class="$i18n.locale=='en' ? 'rightEn' : 'rightAr'">
                      {{ ($i18n.locale == 'en' ? objects[key]['en'] :
                      objects[key]['ar'])
                      }}
                    </div>
                    <div :class="$i18n.locale=='en' ? 'leftEn' : 'leftAr'">
                      {{ key }}
                    </div>
                  </b-form-checkbox>
                </b-form-checkbox-group>
              </b-tab>
              <b-tab v-for="(data, index) in this.$store.getters.systemapps" :key="data.id"
                     v-if="!fromLoading">
                <template slot="title">
                  {{ get_text(data.label+'@l') }}<!--{{ data.id}}-->
                </template>
                <!--<b-form-checkbox-group stacked id="apppermissions" name="apppermissions[]" :plain="true"
                                       v-validate="roleData.is_full_access === '1' ? '' :
                                                   (Object.values(roleData.apppermissions).length > 0 ? '' :
                                                   'required')"
                                       v-model="roleData.apppermissions[data.id]">
                  <b-form-checkbox :class="$i18n.locale=='en' ? '' : 'customcheck'" v-for="(item, key,
                              index) in objects" :key="key" :value="key" @change="changerefresh">
                    <b-row>
                      <b-col :sm="(objects[key]['en']) ? '3' : '12'" >{{ key }}</b-col>
                      <b-col :sm="(objects[key]['en']) ? '9' : '12'">{{ ($i18n.locale == 'en' ? objects[key]['en'] :
                        objects[key]['ar'])
                        }}</b-col>
                    </b-row>
                  </b-form-checkbox>
                </b-form-checkbox-group>-->
                <b-form-checkbox-group stacked id="apppermissions" name="apppermissions[]" :plain="true"
                                       v-validate="roleData.is_full_access === '1' ? '' :
                                                   (Object.values(roleData.apppermissions).length > 0 ? '' :
                                                   'required')"
                                       v-model="roleData.apppermissions[data.id]">
                  <b-form-checkbox :class="$i18n.locale=='en' ? 'labelCustom' : 'customcheck labelCustom'" v-for="(item,
                              key, index) in
                              objects"
                                   :key="key"
                                   :value="key" @change="changerefresh">
                    <!--<b-row>
                      <b-col :sm="(objects[key]['en']) ? '3' : '12'" >{{ key }}</b-col>
                      <b-col :sm="(objects[key]['en']) ? '9' : '12'">{{ ($i18n.locale == 'en' ? objects[key]['en'] :
                        objects[key]['ar'])
                        }}</b-col>
                    </b-row>-->
                    <div :class="$i18n.locale=='en' ? 'rightEn' : 'rightAr'">
                      {{ ($i18n.locale == 'en' ? objects[key]['en'] :
                      objects[key]['ar'])
                      }}
                    </div>
                    <div :class="$i18n.locale=='en' ? 'leftEn' : 'leftAr'">
                      {{ key }}
                    </div>
                  </b-form-checkbox>
                </b-form-checkbox-group>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {store} from '@/components/roles/store/store'
  import Treeselect from '@riophae/vue-treeselect'
  import '@riophae/vue-treeselect/dist/vue-treeselect.css'
  //import { L10n } from '@syncfusion/ej2-base';
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    NodeSelection,
    Count,
    Resize,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';

  Vue.use(RichTextEditorPlugin);

  export default {
    store: store,
    components: {
      Treeselect
    },
    props: ['roleData'],
    data() {
      return {
        //is_refresh: null,
        fromLoading: true,
        tabIndex: [0, 0],
        tabIndexMain: [0, 0],
        translation: [],
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
        normalizerOne(node) {
          return {
            id: node.id,
            label: node.start_date + "-" + node.end_date,
          }
        },
        normalizerApprove(node) {
          return {
            id: node.id,
            label: node.name,
          }
        },
        normalizerCommunication(node) {
          return {
            id: node.id,
            label: node.name,
          }
        },
        normalizerFinanc(node) {
          return {
            id: node.id,
            label: node.name,
          }
        }
      }
    },
    created() {
      this.$store.dispatch('loadRoles')
      this.$store.dispatch('loadNotificationDefaultData')
      //this.$store.dispatch('loadPermissions')
      this.$store.dispatch('loadRoleObject')
      //this.$store.dispatch('translation');
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    computed: {
      permissions() {
        return this.$store.getters.permissions
      },
      objects() {
        return this.$store.getters.objects
      },
      treeselectClassCommRespo() {
        return {
          'treeselect-invalid': !this.stp.comm_officer,
        }
      },
      header() {
        return this.get_text('notif_args@stp@l')
      }
    },
    methods: {
      getFullAccessPermission() {
        //if (typeof this.$route.params.id == "undefined") {
          if (this.roleData.is_full_access == 1) {
            this.$store.state.isLoading = true;
            Vue.axios.get(`/roles/1`, this.$route.params.id)
              .then((response) => {
                if (response.data.code == 401) {
                  Vue.prototype.$notify.error({
                    title: 'Error',
                    message: response.data.msg,
                    type: 'Error',
                    position: 'top-right'
                  })
                } else {
                  this.fromLoading = true;
                  this.showingeditModal = true
                  this.roleData.permissions = response.data.permissionId;
                  this.roleData.apppermissions = response.data.apppermissions;
                  this.$store.state.isLoading = false;
                }
              }).catch(error => {
              console.log(error.response.data.message);
              this.$store.state.isLoading = false;
              if (error.response.status == 403) {
                Vue.prototype.$notify.error({
                  title: 'Error',
                  message: error.response.data.message,
                  type: 'Error',
                  position: 'top-right'
                });
              }
            })
          } else {
            this.fromLoading = false;
            this.roleData.permissions = [];
            this.roleData.apppermissions = [];
          }
        //}
      },
      changerefresh() {
        this.is_refresh = null;
      },
      giveaccess(ss) {
        if (ss == 1) {
          Vue.axios.get(`/rolespermissions/${ss}`)
            .then((response) => {
              this.roleData.apppermissions = response.data.apppermissions;
              this.fromLoading = false;
            })
        } else {
          Vue.axios.get(`/rolespermissions/${ss}`)
            .then((response) => {
              this.roleData.apppermissions = response.data.apppermissions;
              this.fromLoading = true;
            })
        }
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }
      },
      loadSTPUserBySector(org, mtp_id, stpid, fy_id) {
        org = (typeof org != 'undefined' && org != '') ? org : null;
        mtp_id = (typeof mtp_id != 'undefined' && mtp_id != '') ? mtp_id : null;
        stpid = (typeof stpid != 'undefined' && stpid != '') ? stpid : null;
        fy_id = (typeof fy_id != 'undefined' && fy_id != '') ? fy_id : null;

        this.$store.dispatch('loadSTPUserBySector', [org, mtp_id, stpid, fy_id])
      }
    }
  }
</script>
<style scoped>
  #limheight, #limheightSub {
    /*height: 300 px;*/ /*your fixed height*/
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; /*3 in those rules is just placeholder -- can be anything*/
    padding: 0;
  }

  #limheight li, #limheightSub li {
    display: inline-block; /*necessary*/
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    display: inline-block;
    width: 100%;
  }

  #custom_tbar,
  #custom_tbar div, #custom_tbarSub,
  #custom_tbarSub div {
    cursor: pointer;
    font-size: 16px;
  }

  .e-bigger #custom_tbar div, .e-bigger #custom_tbarSub div {
    font-size: 18px;
  }

  #rteSection, #rteSectionSub {
    height: 350px;
  }

  #rteSpecial_char, #rteSpecial_charSub {
    padding: 15px 0 15px 0;
  }

  .material #rteSpecial_char .char_block.e-active, #rteSpecial_char .char_block.e-active,
  .material #rteSpecial_charSub .char_block.e-active, #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #e3165b;
    border-color: #e3165b;
  }

  .fabric #rteSpecial_char .char_block.e-active, .fabric #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #0078d6;
    border-color: #0078d6;
  }

  .bootstrap #rteSpecial_char .char_block.e-active,
  .bootstrap #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #317ab9;
    border-color: #317ab9;
  }

  .highcontrast #rteSpecial_char .char_block.e-active,
  .highcontrast #rteSpecial_charSub .char_block.e-active {
    outline: 1px solid #ffd939;
    border-color: #ffd939;
  }

  .fabric.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 10px;
  }

  .bootstrap.e-bigger .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .bootstrap .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 6px;
  }

  .fabric .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text,
  .highcontrast .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn .e-tbar-btn-text {
    padding-right: 8px;
  }

  #rteSpecial_char .char_block, #rteSpecial_charSub .char_block {
    /*width: 30px;*/
    padding: 6%;
    height: 40px;
    line-height: 20px;
    margin: 0 5px 5px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #DDDDDD;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .fabric.e-bigger #rteDialog, .fabric.e-bigger #rteDialogSub {
      min-width: 281px;
    }

    #rteSpecial_char, #rteSpecial_charSub {
      padding: 15px 0 15px 20px;
    }

    .fabric #rteDialog, .fabric #rteDialogSub {
      min-width: 241px;
    }

    .bootstrap.e-bigger #rteDialog,
    .bootstrap #rteDialog, .bootstrap.e-bigger #rteDialogSub,
    .bootstrap #rteDialogSub {
      min-width: 223px;
    }

    .highcontrast.e-bigger #rteDialog, .highcontrast.e-bigger #rteDialogSub {
      min-width: 283px;
    }

    .highcontrast #rteDialog, .highcontrast #rteDialogSub {
      min-width: 243px;
    }

    .material #rteDialog, .material #rteDialogSub {
      min-width: 224px;
    }

    .material.e-bigger #rteDialog, .material.e-bigger #rteDialogSub {
      min-width: 236px;
    }
  }
</style>
<style>
  /*.was-validated .form-control:invalid, .form-control.is-invalid*/
  .e-subjecteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
    /*min-height: 100px;
    max-height: 150px;*/
  }

  .e-contenteditor.e-richtexteditor {
    /*min-width: 90%;
    max-width: 100%;*/
    /* min-height: 100px;
     max-height: 250px;*/
  }

  /* .e-subjecteditor.e-richtexteditor .e-rte-content .e-content, .e-subjecteditor.e-richtexteditor .e-source-content .e-content, .e-subjecteditor.e-richtexteditor {
     min-width: 90%;
     max-width: 100%;
     min-height: 80px !important;
   //max-height: 140px !important;
   }

   .e-contenteditor.e-richtexteditor .e-rte-content .e-content, .e-contenteditor.e-richtexteditor .e-source-content
   .e-content, .e-contenteditor.e-richtexteditor {
     min-width: 90%;
     max-width: 100%;
     min-height: 80px !important;
   //max-height: 340px !important;
   }*/
  .vue-treeselect.treeselect-invalid:not(.vue-treeselect--open) .vue-treeselect__control {
    border-color: red;
  }
  .rightEn {
    width: 80%;
    float: right;
    /*background: #aafed6;*/
  }

  .leftEn {
    float: none; /* not needed, just for clarification */
    /*background: #e8f6fe;*/
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
  }

  .rightAr {
    width: 80%;
    float: left;
    /*background: #aafed6;*/
  }

  .leftAr {
    float: none; /* not needed, just for clarification */
    /*background: #e8f6fe;*/
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
  }

  .labelCustom label {
    width: 100%;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
