<template>
  <div>
    <!--{{ errors }}-->
    <b-row>
      <b-col xs="12" lg="12" v-if="is_refresh=='1'">
        <b-card>
          <div slot="header">
            {{ get_text('permissions@roleAndPremission@l') }}
          </div>
          <b-card no-body>
            <b-tabs card pills vertical nav-wrapper-class="w-40" v-model="tabIndex[1]">
              <b-tab v-for="(data, key, index) in objects" :key="index"
                     v-if="selectPermission.includes(key)">
                <template slot="title">
                  {{ (key) | uppercase}}
                </template>
                <b-form-checkbox-group stacked id="permissions" name="permission[]" :plain="true"
                                       v-model="roleData.permissions">
                  <b-form-checkbox :class="$i18n.locale=='en' ? '' : 'customcheck'" v-for="(item, index)
                              in data" :key="index" :value="item.id" v-if="item.name">
                    {{ item.name }}
                  </b-form-checkbox>
                </b-form-checkbox-group>
                <b-row>
                  <b-col sm="12" class="border-top">
                    {{ ($i18n.locale == 'en' ? objects[key]['en'] :
                    objects[key]['ar'])
                    }}
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </b-card>
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {store} from '@/components/roles/store/store'
  import draggable from 'vuedraggable'
  import {
    RichTextEditorPlugin,
    Toolbar,
    Link,
    Image,
    HtmlEditor,
    QuickToolbar
  } from '@syncfusion/ej2-vue-richtexteditor';
  import {mapState} from "vuex";

  Vue.use(RichTextEditorPlugin);

  export default {
    components: {

    },
    computed: {
      objects() {
        return this.$store.getters.objects
      },
    },
    props: ['roleData', 'selectPermission', 'is_refresh'],
    data() {
      return {
        //is_refresh: null,
        fromLoading: true,
        tabIndex: [0, 0],
        tabIndexMain: [0, 0],
        translation: [],
        normalizer(node) {
          return {
            id: node.id,
            label: node.name,
            children: node.tree,
          }
        },
      }
    },
    created() {
      this.$store.dispatch('loadRoles')
      this.$store.dispatch('loadNotificationDefaultData')
      //this.$store.dispatch('loadPermissions')
      this.$store.dispatch('loadRoleObject')
      //this.$store.dispatch('translation');
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    methods: {
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }
      },
    },
    filters: {
      uppercase: function (v) {
        return v.charAt(0).toUpperCase() + v.slice(1);
      }
    }
  }
</script>
