<template>
  <div class="animated fadeIn">
    <!--<loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>-->
    <div class="row" v-if="$can('projects-quickview')">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" :style="$i18n.locale=='en' ? ' text-align:left' : 'text-align:right;'">

            <!--            {{ this.get_text('reading_date@project_view@l') }} : {{this.project_readingsdate}}-->
            <strong> {{ this.get_text('mtp@project_view@l') }}</strong>
            <span style="margin-left:5px;margin-right: 5px;">{{ this.mtpstartdate }}</span>
            <span style="margin-left:5px;margin-right: 5px;"> {{ this.mtpenddate }}</span>
            &nbsp;&nbsp;<span style="margin-left:5px;margin-right: 5px;" v-html="getUpToDateStatus()"></span>

            <b-link v-if="this.routelink" @click="backTodashboard" variant="warning" size="md" class="btn float-right"

                    style="background-color:#ffc107;"
                    :class="($i18n.locale=='en' ? 'ltrclassbck' : 'rtlclassbck')">
              <b><i class="fa fa-arrow-left"></i>{{
                  get_text('back@department_performance@l')
                }}</b></b-link>

<!--            <b class="float-right" style="margin-left:1%" > {{ this.get_text('view@project_view@l') }}</b>-->
            <b-button v-if="$i18n.locale=='ar'" variant="warning" size="md" class="btn float-right printNo"   @click="backToList"

                      style="margin-left: 1%; margin-right: 1%">
              <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('project_list@project_view@l') }}</b></b-button>
            <b-button v-if="$i18n.locale=='en'" variant="warning" size="md" class="btn float-right printNo"
                      @click="backToList"
                      style="margin-left: 1%; margin-right: 1%">
              <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('project_list@project_view@l') }}</b></b-button>
            <button id="myPrntbtn" class="float-right" v-on:click="loaded"
                    style=" height: 2.2pc"><i class="fa fa-print "></i></button>
            <b-dropdown id="dropdown-1" text="" class="m-md-2 float-right" auto-close="disabled" ref="dropdown"
                        :style="($i18n.locale=='en') ? 'margin: 0px 1% 0px 0px !important;' : 'margin: 0px 0px 0px 1% !important;'">
              <b-dropdown-form style="width:400px;">
                <b-form-group horizontal :label="get_text('project_readings@project_dashboard@l')">
                  <b-form-select v-model="project_readings" :options="project_readings_options"
                                 v-on:change=" showingdropModal=false;getreadingsdatalist()">

                  </b-form-select>
                </b-form-group>
              </b-dropdown-form>


            </b-dropdown>
            <label class="float-right" style="margin: 2%;margin-top: 1%;">{{ this.get_text('view@project_view@l')}}</label>
          </div>
          <div class="card-body">
            <b-container class="bv-example-row">
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="4">
                  {{this.projectgeneraldetails[0].symbol}} - {{ this.projectgeneraldetails[0].proj_name }}
                </b-col>
                <b-col cols="2"></b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_mportance@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.get_text(this.projectgeneraldetails[0].proj_importance+'@project_view@l')}}
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;
                    {{ this.get_text('responsible_unit@project_view@l') }}
                  </strong>
                </b-col>
                <b-col cols="10">
                  {{ this.projectgeneraldetails[0].resp_unit_name }}
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_type@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].proj_type }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_category@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.get_text(this.projectgeneraldetails[0].proj_category+ '@project_view@l') }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('operational_status@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.get_text(this.projectgeneraldetails[0].status_operational+ '@project_view@l') }}
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_start_date@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].start_date }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_end_date@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].end_date }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('duration@project_view@l')
                    }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].duration }} {{this.get_text('days@project_view@l')}}
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;
                    {{ this.get_text('actual_start@project_view@l') }}
                  </strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].actual_start_date }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('actual_closure@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].closure_date }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('schedule_variance@project_view@l')
                    }}</strong>
                </b-col>
                <b-col v-if="this.projectgeneraldetails[0].has_budget==1" cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">
                  [{{ this.projectreadinglist[0].schedule_variance }}]  {{ currencyformattingactualcost(this.projectreadinglist[0].schedule_variance_amount) }}
                </b-col>
                <b-col v-if="this.projectgeneraldetails[0].has_budget==0" cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">
                  [{{ this.projectreadinglist[0].schedule_variancenopct }}]  {{ currencyformattingactualcost(this.projectreadinglist[0].schedule_variance_days)}} {{this.get_text('days@project_view@l') }}
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('open_risk_issues@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  <a :href="'/risklist/'+this.$route.params.id">{{ this.projectgeneraldetails[0].open_risk_count }}</a>
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('risk_priority@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectgeneraldetails[0].risks_priority }}

                </b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('spi@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectreadinglist[0].spi ?
                  this.projectreadinglist[0].spi: 0 }}<i style="padding-left:5px;padding-right:5px;color:blue;cursor:pointer" v-if="projectreadinglist[0].spi>1" class="far fa-arrow-alt-circle-up" data-toggle="tooltip" :title="get_text('project_ahead_schedule@project_view@l')" ></i><i style="padding-left:5px;padding-right:5px;color:red;cursor:pointer" v-if="projectreadinglist[0].spi<1 && projectreadinglist[0].spi!=0" class="far fa-arrow-alt-circle-down" data-toggle="tooltip" :title="get_text('project_behind_schedule@project_view@l')"></i><i style="padding-left:5px;padding-right:5px;color:green;cursor:pointer" v-if="projectreadinglist[0].spi==1" class="fas fa-check-circle" data-toggle="tooltip" :title="get_text('project_on_schedule@project_view@l')"></i><i style="padding-left:5px;padding-right:5px;cursor:pointer" v-if="projectreadinglist[0].spi==0" class="fas fa-circle" data-toggle="tooltip" :title="get_text('project_has_no_state@project_view@l')"></i>
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                     this.get_text('last_reading_date@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ this.projectreadinglist[0].last_readingdate }}

                </b-col>
                <b-col cols="2" v-if="$can('projects-remark')">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                    this.get_text('projectremark@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2" v-if="$can('projects-remark')">
                  <b-link @click="showremarks($route.params.id)" style="height:28px" class="customClass">
                    <div>
                      <b-button variant="" size="sm" :title="get_text('remarks@kpi_def@l')">
                        <b><i style="font-weight: bold"
                              class="el-icon-s-comment icons font-1xl"></i></b></b-button>
                    </div>
                  </b-link>

                </b-col>
              </b-row>
              <br>
              <br>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('planned_budget@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ currencyformattingactualcost(this.projectreadinglist[0].planned_budget) }}
                </b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('actual_cost@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">
                  {{ currencyformattingactualcost(this.projectreadinglist[0].b_actual_cost) }} [{{ this.projectreadinglist[0].costratio }}]
                </b-col>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                    this.get_text('cost_variance@project_view@l')
                  }}</strong></b-col>
                <b-col cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">{{ currencyformattingactualcost(this.projectreadinglist[0].cost_variance) }}</b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('spendingremaining@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">{{ currencyformattingactualcost(this.projectreadinglist[0].remaining_cost) }}</b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('planned_value@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">{{ currencyformattingactualcost(this.projectreadinglist[0].planned_value) }}</b-col>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                    this.get_text('earned_value@project_view@l')
                  }}</strong></b-col>
                <b-col cols="2">{{ currencyformattingactualcost(this.projectreadinglist[0].b_ev_earned_val) }}</b-col>

              </b-row>
              <b-row>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                    this.get_text('cost_performance_index@project_view@l')
                  }}</strong></b-col>

                <b-col cols="2">{{ this.projectreadinglist[0].cpi }}<i style="padding-left:5px;padding-right:5px;color:blue;cursor:pointer" v-if="projectreadinglist[0].cpi>1" class="far fa-arrow-alt-circle-up" data-toggle="tooltip" :title="get_text('project_under_budget@project_view@l')"></i><i style="padding-left:5px;padding-right:5px;color:red;cursor:pointer" v-if="projectreadinglist[0].cpi<1 && projectreadinglist[0].cpi!=0" class="far fa-arrow-alt-circle-down" data-toggle="tooltip" :title="get_text('project_over_budget@project_view@l')"></i><i style="padding-left:5px;padding-right:5px;color:green;cursor:pointer" v-if="projectreadinglist[0].cpi==1" class="fas fa-check-circle" data-toggle="tooltip" :title="get_text('project_on_budget@project_view@l')"></i><i style="padding-left:5px;padding-right:5px;cursor:pointer" v-if="projectreadinglist[0].cpi==0" class="fas fa-circle" data-toggle="tooltip" :title="get_text('project_has_no_state@project_view@l')"></i></b-col>
              </b-row>
              <b-row>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('spending_graph@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="6"></b-col>
              </b-row>
              <b-row v-if="this.$i18n.locale=='en'">
                <b-col v-if="this.$i18n.locale=='en'" cols="8" style="direction:ltr;height: 100px">
                  <!--title="Package Downloads"-->
                  <ejs-bulletchart v-if="this.$i18n.locale=='en'"   style="margin-left: -15px;direction:ltr"
                                     :theme="theme"
                                     id="bulletChart"

                                     :tooltip="tooltipSettingsval"
                                     :dataSource="databullet"
                                     valueField="value"
                                     targetField="target"
                                     :minimum="minimum1"
                                     :maximum="maximum1"
                                     :interval="interval1"
                                     subtitle="in %"
                                     :legendSettings="legendSettings"
                                     height="70"
                                     labelFormat="{value}KWD"
                                     :legendRender="legendRender"

                  >
                    <e-bullet-range-collection>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost == this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="green"></e-bullet-range>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost < this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="orange" ></e-bullet-range>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost > this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="red"></e-bullet-range>
                      <e-bullet-range :end="this.maximum1" color="grey"></e-bullet-range>
                    </e-bullet-range-collection>
                  </ejs-bulletchart>

                </b-col>

              </b-row>
              <b-row v-if="this.$i18n.locale=='ar'">
                <b-col v-if="this.$i18n.locale=='ar'" cols="8" style="direction:rtl;height: 100px">
                  <!--title="Package Downloads"-->
                  <ejs-bulletchart v-if="this.$i18n.locale=='ar'"  style="margin-left: -15px;"
                                     :theme="theme"
                                     id="bulletChart"
                                   :enableRtl="enableRtl"
                                     :tooltip="tooltipSettingsval1"
                                     :dataSource="databullet"
                                     valueField="value"
                                     targetField="target"
                                     :minimum="minimum1"
                                     :maximum="maximum1"
                                     :interval="interval1"
                                     subtitle="in %"
                                     :legendSettings="legendSettings"
                                     height="70"
                                     labelFormat="KWD{value}"
                                     :legendRender="legendRender"
                  >
                    <e-bullet-range-collection>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost == this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="green"></e-bullet-range>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost < this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="orange" ></e-bullet-range>
                      <e-bullet-range v-if="this.projectreadinglist[0].b_actual_cost > this.projectreadinglist[0].planned_value" :end="this.projectreadinglist[0].b_actual_cost" color="red"></e-bullet-range>
                      <e-bullet-range :end="this.maximum1" color="grey"></e-bullet-range>
                    </e-bullet-range-collection>
                  </ejs-bulletchart>

                </b-col>

              </b-row>
              <b-row style="margin-top: -10px;">

                <b-col align="right" cols="8"  :style="this.$i18n.locale=='ar' ?'margin-right: -22.5%;':''"  >
                  <ul  :class="this.$i18n.locale=='en' ?'legend':'legendar'">
                    <li  ><span  class="greenlegend"></span> {{ this.get_text("appropriate_spending@project_view@l") }}</li>
                    <li><span class="orangelegend"></span> {{ this.get_text("spending_less_than_planned_value@project_view@l") }}</li>
                    <li><span class="redlegend"></span> {{ this.get_text("spending_over_budget@project_view@l") }}</li>

                  </ul>
<!--                  <ul v-if="this.$i18n.locale=='ar'" class="legend" :style="this.$i18n.locale=='ar' ?'direction:rtl':''">-->
<!--                    <li :style="this.$i18n.locale=='ar' ?'margin-right:-6%':''">{{ this.get_text("appropriate_spending@project_view@l") }}<span  class="greenlegend"></span> </li>-->
<!--                    <li><span class="orangelegend"></span> {{ this.get_text("spending_less_than_planned_value@project_view@l") }}</li>-->
<!--                    <li><span class="redlegend"></span> {{ this.get_text("spending_over_budget@project_view@l") }}</li>-->

<!--                  </ul>-->
                </b-col>
              </b-row>
              <b-row style="margin-top:30px;">
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' : 'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_progress@project_view@l')
                    }}</strong>
                </b-col>
                <b-col cols="2">{{ this.projectreadinglist[0].projprogressval }}</b-col>
              </b-row>
              <b-row>
                <b-col cols="6">
                  <strong
                    style="" :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                    'border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_status@project_view@l')
                    }}</strong>
                  <table class="table-light" style="font-weight: bold">
                    <thead>
                    <tr>
                      <td style="width:80px;">SPI & CPI</td>
                      <td>SPI < 1</td>
                      <td>SPI = 1</td>
                      <td>SPI > 1</td>
                    </tr>
                    </thead>
                    <tbody :style="$i18n.locale=='ar' ? 'font-size:13px;word-wrap: break-word;padding-left:5px;width:100px;' : ''" v-if="this.projectgeneraldetails[0].has_budget==1">
                    <tr>
                      <td >CPI < 1</td>
                      <td  v-if="this.projectreadinglist[0].proj_status_name=='Over Budget / Behind Schedule'"   :style="'background-color:#'+(this.projectreadinglist[0].proj_status_color)+';color:#ffffff;'">{{ this.get_text('over budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Over Budget / Behind Schedule'"   :style="'background-color:grey;color:#ffffff;'">{{ this.get_text('over budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Over Budget / On Schedule'" :style="'background-color:#'+(this.projectreadinglist[0].proj_status_color)+';color:#ffffff;'">{{ this.get_text('over budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Over Budget / On Schedule'"   :style="'background-color:grey;color:#ffffff;'">{{ this.get_text('over budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='Over Budget / Ahead of Schedule'" :style="'color:#A9A9A9;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('over budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Over Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('over budget / ahead of schedule@project_dashboard@l')}}</td>

                    </tr>
                    <tr>
                      <td>CPI = 1</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='On Budget / Behind Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / Behind Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / behind schedule@project_dashboard@l')}}</td>

                      <td  v-if="this.projectreadinglist[0].proj_status_name=='On Budget / On Schedule'" :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / On Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='On Budget / Ahead of Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / ahead of schedule@project_dashboard@l')}}</td>
                    </tr>
                    <tr>
                      <td>CPI > 1</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / Behind Schedule'"  :style="'color:dark grey;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / Behind Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / On Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / On Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / Ahead of Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / ahead of schedule@project_dashboard@l')}}</td>

                    </tr>
                    </tbody>
                    <tbody :style="$i18n.locale=='ar' ? 'font-size:13px;word-wrap: break-word;padding-left:5px;' : ''" v-if="this.projectgeneraldetails[0].has_budget==0">
                    <tr v-if="this.projectreadinglist[0].cpi<1">
                      <td>CPI < 1</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='over budget / behind schedule'"   :style="'background-color:#'+(this.projectreadinglist[0].proj_status_color)+';color:#ffffff;'">{{ this.get_text('over budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='over Budget / behind schedule'"   :style="'background-color:grey;color:#ffffff;'"> {{ this.get_text('over budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Over Budget / On Schedule'" :style="'background-color:#'+(this.projectreadinglist[0].proj_status_color)+';color:#ffffff;'">{{ this.get_text('over budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Over Budget / On Schedule'"   :style="'background-color:grey;color:#ffffff;'">{{ this.get_text('over budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='Over Budget / Ahead of Schedule'" :style="'color:#A9A9A9;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('over budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Over Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('over budget / ahead of schedule@project_dashboard@l')}}r</td>

                    </tr>
                    <tr v-if="this.projectreadinglist[0].cpi==1">
                      <td>CPI = 1</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='On Budget / Behind Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / Behind Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / behind schedule@project_dashboard@l')}}</td>

                      <td  v-if="this.projectreadinglist[0].proj_status_name=='On Budget / On Schedule'" :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / On Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='On Budget / Ahead of Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('on budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='On Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('on budget / ahead of schedule@project_dashboard@l')}}</td>
                    </tr>
                    <tr v-if="this.projectreadinglist[0].cpi>1">
                      <td>CPI > 1</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / Behind Schedule'"  :style="'color:dark grey;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / Behind Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / behind schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / On Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / on schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / On Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / on schedule@project_dashboard@l')}}</td>

                      <td v-if="this.projectreadinglist[0].proj_status_name=='Under Budget / Ahead of Schedule'"  :style="'color:#ffffff;background-color:#'+(this.projectreadinglist[0].proj_status_color)+';'">{{ this.get_text('under budget / ahead of schedule@project_dashboard@l')}}</td>
                      <td v-if="this.projectreadinglist[0].proj_status_name!='Under Budget / Ahead of Schedule'"   :style="'color:#ffffff;background-color:grey'">{{ this.get_text('under budget / ahead of schedule@project_dashboard@l')}}</td>

                    </tr>
                    </tbody>
                  </table>

                </b-col>
                <b-col cols="4" :style="$i18n.locale=='ar' ? 'float:right;margin-left:10px;' : 'float:left;margin-left:10px;'" >
                  <center><strong
                    style="text-align: center"
                    :style="$i18n.locale=='en' ? 'margin-left:-80px;border-left: 4px solid #999999' : 'margin-right:-180px;border-right: 4px solid #999999' ">&nbsp;{{
                      this.get_text('project_performance@project_view@l')
                    }}</strong></center>
                  <br> <br> <br> <br>

                  <ejs-circulargauge

                    :tooltip='tooltip' align='center' id='tooltip-container1' style='display:block'>
                    <e-axes>
                      <e-axis :annotations='annotations' :endAngle=90 :labelStyle='labelStyle' :lineStyle='lineStyle'
                              :majorTicks='majorTicks' :minorTicks='minorTicks' :radius='gaugeradius' :ranges='ranges'
                              :startAngle=270 maximum=100 minimum=0>
                        <e-pointers>
                          <e-pointer :animation='animation' :cap='cap' :color='color' :radius='pointerRadius'
                                     :value='this.unitperformance'></e-pointer>
                        </e-pointers>
                      </e-axis>
                    </e-axes>
                  </ejs-circulargauge>
                  <div align="center" class="card" style="border:0px;margin-top:-150px;margin-left: 25px;direction: ltr;
                       unicode-bidi: bidi-override;">
                    {{ this.unitperformance + "%" }}
                  </div>
                </b-col>
                <b-col cols="2" class="clearfix" :style="$i18n.locale=='ar' ? 'margin-left:-10px;' : 'margin-left:-10px;'">
                  <br>
                  <br>
                  <div class="row">
                    <div class="col-sm-12">
                      <strong>{{ this.get_text('legend@gaugechart@l') }}</strong>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="decoratedLine1 vlabelBold"
                           :class="($i18n.locale=='en' ? 'decoratedLine1En' : 'decoratedLine1Ar')"
                           :style="($i18n.locale=='en' ? 'padding-left: 40px;' : 'padding-right: 40px;')">
                        <span>{{ this.get_text('very_poor@section_performance@l') }}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="decoratedLine2 vlabelBold"
                           :class="($i18n.locale=='en' ? 'decoratedLine2En' : 'decoratedLine2Ar')"
                           :style="($i18n.locale=='en' ? 'padding-left: 40px;' : 'padding-right: 40px;')">
                        <span>{{ this.get_text('poor@section_performance@l') }}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="decoratedLine3 vlabelBold"
                           :class="($i18n.locale=='en' ? 'decoratedLine3En' : 'decoratedLine3Ar')"
                           :style="($i18n.locale=='en' ? 'padding-left: 40px;' : 'padding-right: 40px;')">
                        <span>{{ this.get_text('fair@section_performance@l') }}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="decoratedLine4 vlabelBold"
                           :class="($i18n.locale=='en' ? 'decoratedLine4En' : 'decoratedLine4Ar')"
                           :style="($i18n.locale=='en' ? 'padding-left: 40px;' : 'padding-right: 40px;')">
                        <span>{{ this.get_text('good@section_performance@l') }}</span></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="decoratedLine5 vlabelBold"
                           :class="($i18n.locale=='en' ? 'decoratedLine5En' : 'decoratedLine5Ar')"
                           :style="($i18n.locale=='en' ? 'padding-left: 40px;' : 'padding-right: 40px;')">
                        <span>{{ this.get_text('excellent@section_performance@l') }}</span></div>
                    </div>
                  </div>
                </b-col>
              </b-row>
              <b-row tyle="margin-top: 0px;">
                <b-col align="left" cols="6" :style="this.$i18n.locale=='en' ?'direction:ltr;margin-top: -40px;float:left;margin-left: 3.5%;':'direction:rtl;margin-top: -40px;margin-right: 2.2%;float:right'" >
                  <ul class="legendstatus" v-if="$i18n.locale=='en'" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'">
                    <li><span class="redlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("project_failure@project_view@l") }}</li>

                    <li><span class="yellowlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("project_going_on@project_view@l") }}</li>
                    <li><span class="greenlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("on_track@project_view@l") }}</li>
                    <li><span class="bluelegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("project_excellence@project_view@l") }}</li>

                  </ul>
                  <ul class="legendstatus" v-if="$i18n.locale=='ar'" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'">
                    <li>{{ this.get_text("project_failure@project_view@l") }}<span class="redlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> </li>

                    <li><span class="yellowlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("project_going_on@project_view@l") }}</li>
                    <li><span class="greenlegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("on_track@project_view@l") }}</li>
                    <li><span class="bluelegendstatus" :style="this.$i18n.locale=='en' ?'direction:ltr;float:left':'direction:rtl;float:right'"></span> {{ this.get_text("project_excellence@project_view@l") }}</li>

                  </ul>
                </b-col>
              </b-row>
              <h5 style="padding: 0.2rem; background-color: #edebeb; margin: 1% 0% 1% 0%">{{this.get_text('project_forcasting@project_view@l') }}</h5>
              <b-row>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('edac@project_view@l') }}</strong></b-col>
                <b-col v-if="$i18n.locale=='en'" cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">({{ this.projectreadinglist[0].edac }}) {{this.get_text('days@project_view@l') }}</b-col>
                <b-col v-if="$i18n.locale=='ar'" cols="2" >({{ this.projectreadinglist[0].edac }}) {{this.get_text('days@project_view@l') }}</b-col>
<!--                <b-col cols="2"><strong-->
<!--                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :-->
<!--                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('eac@project_view@l') }}</strong></b-col>-->
<!--                <b-col cols="2">{{ currencyformattingactualcost(this.projectreadinglist[0].eac) }}</b-col>-->
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('etc@project_view@l') }}</strong></b-col>
                <b-col cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">{{ currencyformattingactualcost(this.projectreadinglist[0].etc) }}</b-col>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('eac@project_view@l') }}</strong></b-col>
                <b-col cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">{{ currencyformattingactualcost(this.projectreadinglist[0].eac_amount) }}</b-col>
                <b-col cols="2"><strong
                  :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('vac@project_view@l') }}</strong></b-col>
                <b-col cols="2" style="direction: ltr;
  unicode-bidi: bidi-override;">{{ currencyformattingactualcost(this.projectreadinglist[0].vac) }}</b-col>
                <b-col cols="2">
                  <strong
                    :style="$i18n.locale=='en' ? 'border-left: 4px solid #999999' :
                  'border-right: 4px solid #999999' ">&nbsp;{{ this.get_text('bac@project_view@l') }}</strong>
                </b-col>
                <b-col v-if="projectreadinglist[0].tcpi>1" cols="2" >
                  {{ this.projectreadinglist[0].tcpi }} <i data-toggle="tooltip" :title="get_text('project_has_less_funds@project_view@l')"  v-if="projectreadinglist[0].tcpi>1" style="padding-left:5px;padding-right:5px;color:red;cursor:pointer" class="far fa-arrow-alt-circle-down"></i>

                </b-col>
                <b-col v-if="projectreadinglist[0].tcpi<1 && projectreadinglist[0].tcpi!=0" cols="2" >
                  {{ this.projectreadinglist[0].tcpi }} <i style="padding-left:5px;padding-right:5px;color:blue;cursor:pointer" v-if="projectreadinglist[0].tcpi<1" class="far fa-arrow-alt-circle-up" data-toggle="tooltip" :title="get_text('project_has_more_funds@project_view@l')"></i>

                </b-col>
                <b-col v-if="projectreadinglist[0].tcpi==1" cols="2" >
                  {{ this.projectreadinglist[0].tcpi }} <i data-toggle="tooltip" :title="get_text('project_has_just_exact_funds@project_view@l')" style="padding-left:5px;padding-right:5px;color:green;cursor:pointer" v-if="projectreadinglist[0].tcpi==1" class="fas fa-check-circle"></i>

                </b-col>
                <b-col v-if="projectreadinglist[0].tcpi==0" cols="2" >
                  {{ this.projectreadinglist[0].tcpi }} <i data-toggle="tooltip" :title="get_text('project_has_no_state@project_view@l')" style="padding-left:5px;padding-right:5px;cursor:pointer" v-if="projectreadinglist[0].tcpi==0" class="fas fa-circle"></i>

                </b-col>
              </b-row>
            </b-container>
            <br>
            <br>
            <b-container class="bv-example-row">

            </b-container>
          </div>
        </div>
      </div>
      <b-modal size="xl"
               class="modal-primary" v-model="showingRemarkModal"
               ok-only :ok-title="get_text('close@project_change_updation@l')" v-if="$can('projects-readings')">
        <h3 style="margin-top: 1px;">{{ this.get_text('remarks_readings@project_change_updation@l') }}</h3>
        <b-row id="printThiss">

          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                   :fixed="fixed" responsive :items="remarkreadingslist" :fields="remarkFields" show-empty >
            <template v-slot:empty="scope">
              <h5>{{ get_text('no_data_found@stp@l') }}</h5>
            </template>
          </b-table>

        </b-row>
      </b-modal>
    </div>
    <div v-else-if="!$can('projects-quickview')">
      <div class="row">
        <div class="col-sm-12">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
#control-container {
  padding: 0px !important;
}
</style>
<script>
import Vue from 'vue';
import {CircularGaugePlugin, Annotations} from "@syncfusion/ej2-vue-circulargauge";
import circulargauge from './circulargauge.vue';
import {store} from '@/components/projects/store/store';
import moment from 'moment';
import 'vue-loading-overlay/dist/vue-loading.css';
import 'element-ui/lib/theme-chalk/index.css';
import Element from 'element-ui'

Vue.use(CircularGaugePlugin);

import {Browser} from "@syncfusion/ej2-base";
import {BulletChart,
  BulletChartPlugin,
  BulletTooltip,
  BulletChartLegend,
  IBulletLegendRenderEventArgs
} from "@syncfusion/ej2-vue-charts";


Vue.use(BulletChartPlugin);

let selectedTheme = location.hash.split("/")[1];
selectedTheme = selectedTheme ? selectedTheme : "Material";
let theme = (selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1))
  .replace(/-dark/i, "Dark")
  .replace(/light/i, "Light")
  .replace(/contrast/i, "Contrast");

import Loading from 'vue-loading-overlay';
import Unauthorized from "../../../views/pages/Unauthorized";

Vue.use(Loading);
let TooltipTemplate = Vue.component("tooltipTemp", {
  template: '',
  data() {
    return {
      data: {},

    };
  }
});
let tooltipTemp = function() {
  return { template: TooltipTemplatenew };
};


export default {
  store: store,
  props: {
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: function () {
    return {
      remarkFields:[],
      showingRemarkModal: false,
      annotations: [{
        content: '', zIndex: '1', angle: 180
      }],
      ratiospending:'',
      pvratio:'',
      mtpstartdate:'',
      mtpenddate:'',
      projectgeneraldetails: null,
      projectreadinglist: null,
      project_readings_options: '',
      project_readings: '',
      project_readingsdate: '',
      gaugeradius: '100%',
      startAngle: 240,
      endAngle: 120,
      lineStyle: {
        width: 0
      },
      majorTicks: {
        color: 'white',
        offset: -5,
        height: 12
      },
      minorTicks: {
        width: 0
      },

      labelStyle: {

        format: '{value}%',

        useRangeColor: false,
        font: {
          color: '#424242',
          size: '13px',
          fontFamily: 'Roboto'
        }
      },
      value: this.unitperformance,
      pointerRadius: '70%',
      color: '#5c9eb7',
      cap: {
        radius: 10,
        border: {
          color: '#5c9eb7',
          width: 5
        }
      },
      animation: {
        enable: true,
        duration: 1500
      },
      ranges: [{
        start: 0,
        end: 20,
        startWidth: 10,
        endWidth: 10,
        radius: '102%',
        color: '#cc163e',
      }, {
        start: 20,
        end: 40,
        radius: '102%',
        startWidth: 10,
        endWidth: 10,
        color: '#ffbd35',
      },
        {
          start: 40,
          end: 60,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#f9ea60',
        },
        {
          start: 60,
          end: 80,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#4dbb63',
        },
        {
          start: 80,
          end: 100,
          radius: '102%',
          startWidth: 10,
          endWidth: 10,
          color: '#1c8c44',
        }
      ],
      tooltip: {
        type: ['Pointer', 'Range', 'Annotation'],
        enable: true,
        enableAnimation: false,
        annotationSettings: {template: '<div>CircularGauge</div>'},
        rangeSettings: {fill: 'red'}
      },
      enablePointerDrag: true,

      /**Bullet Setting*/
      theme: theme,
      width: Browser.isDevice ? "100%" : "70%",
      databullet: [{ value: 40, target: 100 }],
      animation1: {enable: false},
      minimum1: '',
      maximum1: '',
      interval1: 15000,
      tooltip1:{ enable: true,template: tooltipTemp },
      enableRtl:true,
      enableRtlbullet1:false,
      height: "100",
      legendSettings: {visible: false},
      backlink:0,
      routelink:'',
      routeparams:''
    }

  },
  provide: {
    bulletChart: [BulletTooltip, BulletChartLegend],
    circulargauge: [Annotations]
  },
  beforeMount() {
    if (localStorage.getItem('translation')) {
      this.translation = JSON.parse(localStorage.getItem('translation'));
    }

      this.routeparams = this.$route.query.query;

      if (this.routeparams) {
        this.backlink=1;
        var fromdashboard = this.routeparams;
        if(fromdashboard=='fromprojectdashboard'){
          this.routelink="/projectdashboard?query=fromprojectview"

        }

      }



      },
  beforeCreate() {
  },
  mounted() {
    this.getprojectviewdetails();
  },

  components: {
    Unauthorized,
    circulargauge,
    Loading
  },
  watch: {},
  computed: {
    remarkreadingslist() {
      this.remarkFields = [
        {
          key: '',
          label: '#',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'period_no',
          label: this.get_text('period_no@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'period_dt',
          label: this.get_text('period_dt@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'progress_val',
          label: this.get_text('progress_val@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'justification',
          label: this.get_text('remark@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc',
          tdClass: 'centreCls'
        },
        {
          key: 'createUpdate',
          label: this.get_text('createupdateby@project_change_updation@c'),
          sortable: true,
          sortDirection: 'desc'
        },
      ];
      return this.$store.getters.remarkreadingslist;
    },
    tooltipSettingsval() {
      var tooltipSettings = {
        enable: true,
        /*format: '<div><p>'+this.get_text("symbol@section_performance@l") + " : " + "${KPIdata}<br>" +
        this.get_text("performance@section_performance@l") + " : " + "${performancetxt}<br>" +
        this.get_text("weight@section_performance@l") +" : " + "${adjustedweight}<br>" +
        this.get_text("progress@section_performance@l") + " : " + "${progress}<br>"+
        this.get_text("name@section_performance@l") + ' :${KPIname}<br>' +
        this.get_text("weighted_performance@section_performance@l") + ' : ${weightedperformance}</p></div>',
    */
        template:
          '<div style="opacity: 0.9;padding-left:30px;padding-right:30px; border:2px solid;background-color:#ffffff; color: #000000 width:auto; white-space: nowrap;">' + this.get_text("planned_budget@project_view@l") + ':${target}KWD<br>'
          +this.get_text("actual_cost@project_view@l") + " : " + "${value}<br>" +
            '</div>',
      }
      return tooltipSettings;
    },
    tooltipSettingsval1() {
      var tooltipSettings1 = {
        enable: true,
        /*format: '<div><p>'+this.get_text("symbol@section_performance@l") + " : " + "${KPIdata}<br>" +
        this.get_text("performance@section_performance@l") + " : " + "${performancetxt}<br>" +
        this.get_text("weight@section_performance@l") +" : " + "${adjustedweight}<br>" +
        this.get_text("progress@section_performance@l") + " : " + "${progress}<br>"+
        this.get_text("name@section_performance@l") + ' :${KPIname}<br>' +
        this.get_text("weighted_performance@section_performance@l") + ' : ${weightedperformance}</p></div>',
    */
        template:
          '<div style="direction:rtl;opacity: 0.9;padding-left:30px;padding-right:30px; border:2px solid;background-color:#ffffff; color: #000000 width:auto; white-space: nowrap;">' + this.get_text("planned_budget@project_view@l") + ':${target}KWD<br>'
          +this.get_text("actual_cost@project_view@l") + " : " + "${value}<br>" +
            '</div>',
      }
      return tooltipSettings1;
    }
  },
  methods: {
    showremarks(projectid) {
      this.$store.dispatch('loadremarkreadingslist', projectid);
      this.showingRemarkModal = true;
    },
    $can(permissionName) {
      // alert(this.$auth.user().allPermissions);
      return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
    },
    loaded: function (args) {
      var printButton = document.getElementById("myPrntbtn");
      printButton.style.visibility = 'hidden';
      var dropButton = document.getElementById("dropdown-1");
      dropButton.style.visibility = 'hidden';

      window.print()
      printButton.style.visibility = 'visible';
      dropButton.style.visibility = 'visible';

    },
    backToList() {

      window.location.replace('/projectlist')
    },
    backTodashboard() {

      window.location.replace('/projectdashboard?query=fromprojectview')
    },
    getUpToDateStatus: function () {
      if (this.projectgeneraldetails[0].up_to_date == 0) {
        return '<font color="red"><strong>' + this.get_text('out_of_date_reading@project_view@l') + '</strong></font><i class="fa fa-exclamation-circle" style="color:#cc043e;font-size:22px;"></i>'

      }  else {
        return '<font color="green"><strong>' + this.get_text('updated_reading@project_view@l') + '</strong></font><i class="fa fa-check-circle" style="color:#01996d; font-size:22px;"></i>'
      }





    },


    currencyformattingactualcost(value) {


      value = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'KWD',
      }).format(value);


      return value;
    },


    getprojectviewdetails() {

      // alert(this.$route.params.id);

      Vue.axios({
        url: 'projectviewdetails',
        method: 'POST',
        data: {"projectid": this.$route.params.id}
      })
        .then(response => {
          if (response.data.code == 200) {
            this.projectgeneraldetails = response.data.projectgeneraldetails;
            this.projectreadingsdata = response.data.projectreadings;
            if (this.projectreadingsdata != 'undefined') {
              this.project_readings_options = this.projectreadingsdata.map(function (item) {

                return {
                  text: item.reading_date,
                  value: item.id
                }
              });

            }
            this.project_readings = response.data.selectedreadingid;
            this.project_readingsdate = response.data.selectedreadingdate;
            //this.project_readingsdate = response.data.selectedreadingdate;
            this.mtpstartdate = response.data.projectgeneraldetails[0].mtpstartdate;
            this.mtpenddate = response.data.projectgeneraldetails[0].mtpenddate;
            this.getreadingsdatalist();
          }

        });

    },
    getreadingsdatalist() {


      Vue.axios.get(`/getprojectreadigdetails/${this.project_readings}`)
        .then(response => {
          if (response.data.code == 200) {
            // alert(this.project_readings)

            this.projectreadinglist = response.data.projectreadingslist;
            this.unitperformance = this.projectreadinglist[0].proj_performance;
            this.plannedvalue=this.projectreadinglist[0].planned_value;
            this.pvratio=this.projectreadinglist[0].pvratio;
            this.spendingratio=this.projectreadinglist[0].spendingratio;
            // alert(this.projectreadinglist[0].remaining_cost);
            // alert(this.projectreadinglist[0].b_actual_cost);
            // alert(this.projectreadinglist[0].planned_budget);alert(this.projectreadinglist[0].b_actual_cost);
            this.databullet=[{ value: this.projectreadinglist[0].b_actual_cost, target: this.projectreadinglist[0].planned_budget }];

            this.minimum1=0,
              this.maximum1=this.projectreadinglist[0].planned_budget+10000;
              this.interval1=this.projectreadinglist[0].planned_budget/5;
            //alert(this.projectreadinglist[0].planned_budget)

          }
        }).catch(error => {
        console.log(error.response.data.message);
        this.$store.state.isLoading = false;
        if (error.response.status == 403) {
          this.$store.dispatch('get_text_title', 'success@m');
          this.$store.dispatch('get_text_message', error.response.data.message + '@m');

          Vue.prototype.$notify.error({
            title: this.$store.state.title,
            message: this.$store.state.message,
            type: 'Error',
            position: 'top-right'
          });
        }
      });
    },

    legendRender: function (args) {
      if (args.text === "Target_0") {
        args.text = "Previous Target";
      }
      if (args.text === "Target_1") {
        args.text = "Current Target";
      }
      if (args.text === "Target_2") {
        args.text = "Future Target";
      }
    },
    get_text(textbit) {
      var transtext = this.translation[this.$i18n.locale][textbit];
      if (transtext) {
        return transtext;
      } else {
        var spliteText = (textbit.split("@"));
        if (spliteText.length > 2) {
          var newTxt = (spliteText[0] + '@' + 'l');
          var transtext1 = this.translation[this.$i18n.locale][newTxt];
          if (transtext1) {
            return transtext1;
          } else {
            return "!" + textbit;
          }
        } else {
          return "!" + textbit;
        }
      }

    },
  }
}
</script>
<style>
.btnClassCustmEn, .btnClassCustmAr {
  padding: 0;
}
#circulargauge_control_1_Axis_0_Pointer_Marker_0 {
  fill: rgb(224, 170, 57);
  /*stroke: rgb(221, 221, 221);
  stroke-width: 0;
  stroke-dasharray: 0;*/
  /*d: path("M 349.4 225 L 385.4 207.5 L 384.4 240.5 Z");
  transform: rotate(210deg, 222, 225);*/
}

.decoratedLine1, .decoratedLine2, .decoratedLine3, .decoratedLine4, .decoratedLine5 {
  overflow: hidden;
}

.decoratedLine1 > span, .decoratedLine2 > span, .decoratedLine3 > span, .decoratedLine4 > span, .decoratedLine5 > span {
  position: relative;
  display: inline-block;
}

.decoratedLine1 > span:before, .decoratedLine2 > span:before, .decoratedLine3 > span:before, .decoratedLine4 > span:before, .decoratedLine5 > span:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 591px;
  margin: 0 20px;
}

.decoratedLine1 > span:before {
  border-bottom: 12px solid #cc043e;
}

.decoratedLine2 > span:before {
  border-bottom: 12px solid #ffa500;
}

.decoratedLine3 > span:before {
  border-bottom: 12px solid yellow;
}

.decoratedLine4 > span:before {
  border-bottom: 12px solid #4dbb63;
}

.decoratedLine5 > span:before {
  border-bottom: 12px solid #1c8c44;
}

.decoratedLine1En > span:before, .decoratedLine2En > span:before, .decoratedLine3En > span:before, .decoratedLine4En > span:before, .decoratedLine5En > span:before {
  right: 100%;
}

.decoratedLine1Ar > span:before, .decoratedLine2Ar > span:before, .decoratedLine3Ar > span:before, .decoratedLine4Ar > span:before, .decoratedLine5Ar > span:before {
  left: 100%;
}

.labelCircle1, .labelCircle2, .labelCircle3 {
  display: flex !important;
  align-items: center !important;;
  justify-content: center !important;
  width: 70%;
}

.labelCircle1:before,
.labelCircle1:after {
  background: #FF3333 !important;;
  height: 12px !important;;
  flex: 1 !important;;
  content: '';
}

.labelCircle2:before,
.labelCircle2:after {
  background: #01996d !important;;
  height: 12px !important;;
  flex: 1 !important;;
  content: '';
}

.labelCircle3:before,
.labelCircle3:after {
  background: #0475CC !important;;
  height: 12px !important;;
  flex: 1 !important;;
  content: '';
}

.labelCircle1.left:after {
  background: none !important;;
}

.labelCircle2.left:after {
  background: none !important;;
}

.labelCircle3.left:after {
  background: none !important;;
}

@media print {
  body {
    margin-top: 0 !important;
  }

  body *, html * {
    visibility: hidden;
    margin: 0;
    padding: 0;
  }

  body *, html * {
    top: 0;
    margin-top: 0;
  }

  .printNo {
    display: none;
  }

  .card, .card * {
    visibility: visible;
    margin-bottom: -0.03rem;
    top: auto;
    clear: both;
  }

  @page {
    margin: 0;
    padding: 0;
  }

  .progress-group {
    margin-bottom: 1rem;
  }

  #dropdown-1, #myPrntbtn {
    display: none;
  }

  .donut-label {
    display: block;
    transform: translate(15px, 0px);
  }

  .col-2 {
    font-size: 10px;
  }

  @page {
    size: auto;
    margin: 0mm;
  }

  .sidebar, .breadcrumb, .app-footer {
    display: none;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .card {
    margin-bottom: 0px;
  }
  .legend { list-style: none; }
  .legend li { float: right; margin-right: 10px; }
  .legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

  .legendar { list-style: none;margin-right: -6%; }
  .legendar li { float: left; margin-left: 10px; }
  .legendar span { border: 1px solid #ccc; float: right; width: 12px; height: 12px; margin: 2px; }
  /* your colors */
  .legend .greenlegend { background-color: green; }
  .legend .orangelegend { background-color: darkorange; }
  .legend .redlegend { background-color: red; }
  .legendar .greenlegend { background-color: green; }
  .legendar .orangelegend { background-color: darkorange; }
  .legendar .redlegend { background-color: red; }

  .legendstatus { list-style: none; }
  .legendstatus li { float: right; margin-right: 10px; }
  .legendstatus span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
  /* your colors */
  .legendstatus .greenlegendstatus { background-color: green; }
  .legendstatus .bluelegendstatus { background-color: blue; }
  .legendstatus .redlegendstatus { background-color: red; }
  .legendstatus .yellowlegendstatus { background-color: yellow; }

}

.donut-head {
  text-align: center;
  transform: translate(200px, 0px);
}

#tooltip-container1_svg {
  max-height: 300px;

  fill: none;
  box-sizing: content-box;
  transform: scale(0.8) translate(20px, -110px);
}

/*rect {*/
/*  fill: none;*/
/*}*/

.quarter-map1 {
  transform: scale(0.9) translate(0px, -100px);
}

.donut {
  text-align: center;
  transform: scale(0.9) translate(-50px, 10px);
}

.row {
  max-height: 18%;
}

.col {
  max-height: 50%;
}

.card-header {
  max-height: 60px;
}

.main .container-fluid {
  padding: 0 0;
  margin-top: 0;
}

.breadcrumb {
  max-height: 40px;
}
td {
  border: 1px solid white;

  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  word-wrap: break-word;

}

#bulletChart_chart_legend_translate_g{
  display:none;
}
.legend { list-style: none; }
.legend li { float: right; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.legendar { list-style: none;margin-right: -6%; }
.legendar li { float: left; margin-left: 10px; }
.legendar span { border: 1px solid #ccc; float: right; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legend .greenlegend { background-color: green; }
.legend .orangelegend { background-color: darkorange; }
.legend .redlegend { background-color: red; }
.legendar .greenlegend { background-color: green; }
.legendar .orangelegend { background-color: darkorange; }
.legendar .redlegend { background-color: red; }

.legendstatus { list-style: none; }
.legendstatus li { float: right; margin-right: 10px; }
.legendstatus span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
/* your colors */
.legendstatus .greenlegendstatus { background-color: green; }
.legendstatus .bluelegendstatus { background-color: blue; }
.legendstatus .redlegendstatus { background-color: red; }
.legendstatus .yellowlegendstatus { background-color: yellow; }


</style>
