<template>
  <div class="app flex-row align-items-center">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <div class="clearfix">
            <h5 class="float-center display-4 mr-4" style="text-align:center;">{{get_text('unauthorized access@l')
              }}</h5>
          </div>
          <p class="text-muted" style="text-align:center;">{{get_text('you are unauthorized to view this page@l')}}</p>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Unauthorized',
 beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
      this.url = Vue.axios.defaults.baseURL;

    },
    methods: {

    $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
}
}


</script>
