<template>
  <div class="app animated fadeIn">
<!--    <b-row v-if="$auth.user().roles.includes('Under Secretary')">
      <b-col v-if="item.name !='process and task' && item.name !='tenant' && item.name != 'under_secretary' && item.name != 'my_documentation' && item.name != 'notification_management' && item.name != 'translation' && item.name != 'user_management' && item.name != 'organization_management' && item.name != 'admin'" :sm="(item.css_class).split(',')[0]"
             v-for="(item, index) in this.appsValues" :key="index">
        <b-link
          :href="(item.id ==1 ? 'kpilist' : (item.id ==6 ? 'ministrydepartmentperformance' : (item.id ==7 ? 'projectlist' : (item.id ==8 ? 'notificationList' : (item.id == 9 ? 'users' : (item.id == 10 ? 'processdefault' : (item.id == 4 ? 'ministrydepartmentperformance' : (item.id == 12 ? 'stplist' :  'dashboard'))))))))+'/'+item.name+'-'+item.id"
          style="text-decoration:
                none">
          <b-card no-body :img-src="'/landing_page_img/'+($i18n.locale=='en' ? (item.css_class).split(',')[2] : (($i18n.locale=='ar' && item.id ==6) ? (item.css_class).split(',')[3] : (item.css_class).split(',')[2]))" alt="Card image" class="bg-dark text-white border-0">
            <div class="card-img-overlay d-flex align-items-end" style="padding: 2%"  :class="'addCust'+index">
              <div :class="item.css_class.split(',')[1]" style="">
                <b-card-title title-tag="h5" class="" style="margin: 0">
                  <label style="font-size: 20px; font-weight: bold; color: #ffffff; background-color: #5f6870; opacity: 1;padding: 2%;">{{get_text(item.name+'@l')}}</label>
                </b-card-title>
                <b-card-text v-if="$i18n.locale=='ar'" style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;"  :style="item.id==6 ? 'height: 70px;' : 'height: 90px;'">{{ item.description_ar }}</b-card-text>
                <b-card-text v-else  style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;" :style="item.id==6 ? 'height: 70px;' : 'height: 110px;'">{{ item.description_en }}</b-card-text>
                &lt;!&ndash;<b-card-text class="text-sm font-weight-bold">Last updated 3 mins ago</b-card-text>&ndash;&gt;
              </div>
            </div>
          </b-card>
        </b-link>
      </b-col>
    </b-row>-->
    <b-row>
      <b-col  :sm="(item.css_class).split(',')[0]"
             v-for="(item, index) in this.appsValues" :key="index">
        <b-link
          :href="(item.id ==1 ? 'kpilist' : (item.id ==6 ? 'ministrydepartmentperformance' : (item.id ==7 ?
          'projectlist' : (item.id ==8 ? 'notificationList' : (item.id == 9 ? 'users' : (item.id == 10 ?
          'tenant' : (item.id == 4 ? ($auth.user().roles.includes('mofSystemAdmin') ? '/audittrial' :
          'audittrial') : (item.id == 12 ? 'stplist' :  (item.id == 5 ? '/translations' :'/dashboard')))))))))+'/'+item.name+'-'+item.id"
          style="text-decoration:
                none">
          <b-card no-body :img-src="'/landing_page_img/'+($i18n.locale=='en' ? (item.css_class).split(',')[2] : (($i18n.locale=='ar' && item.id ==6) ? (item.css_class).split(',')[3] : (item.css_class).split(',')[2]))" alt="Card image" class="bg-dark text-white border-0">
            <div class="card-img-overlay d-flex align-items-end" style="padding: 2%"  :class="'addCust'+index">
              <div :class="item.css_class.split(',')[1]" style="">
                <b-card-title title-tag="h5" class="" style="margin: 0">
                  <label style="font-size: 20px; font-weight: bold; color: #ffffff; background-color: #5f6870; opacity: 1;padding: 2%;">{{get_text(item.name+'@l')}}</label>
                </b-card-title>
                <b-card-text v-if="$i18n.locale=='ar'" style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;"  :style="item.id==6 ? 'height: 70px;' : 'height: 90px;'">{{ item.description_ar }}</b-card-text>
                <b-card-text v-else  style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;" :style="item.id==6 ? 'height: 70px;' : 'height: 110px;'">{{ item.description_en }}</b-card-text>
                <!--<b-card-text class="text-sm font-weight-bold">Last updated 3 mins ago</b-card-text>-->
              </div>
            </div>
          </b-card>
        </b-link>
      </b-col>
    </b-row><!--/.row-->
  </div>
</template>

<script>
  import {store} from '@/components/store'
  import Vue from 'vue';

  export default {
    store: store,
    name: 'cards',
    data: function () {
      return {
        appsValues: [],
        translation: []
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    created() {
      this.getAllApps()
      //this.$store.dispatch('translation')
    },
    methods: {
      $can(permissionName, roles, name) {
        if (roles.includes(permissionName)) {
          return true
        } else if (name == 'my kpi' || name == 'translation') {
          return true;
        }
      },
      get_text(textbit) {
        var transtext = (typeof this.translation[this.$i18n.locale][textbit] != "undefined" && this.translation[this.$i18n.locale][textbit] != null) ? this.translation[this.$i18n.locale][textbit] : "!" + textbit;
        return transtext;
      },
      getAllApps() {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/getApps`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: this.get_text('Error@m'),
                message: this.get_text(response.data.msg + '@m'),
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.showingeditModal = true
              this.appsValues = response.data.data
            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
    }
  }
</script>


<style scoped>
  .fade-enter-active {
    transition: all .3s ease;
  }

  .fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }

  .fade-enter, .fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
<style>
  [class*="myclass"]:hover {
    /*.myclass:hover {*/
    /*color: white;
    border-color: #2b669a;
    background-image:
      linear-gradient(to top, #2b669a 51%, transparent 100%);
    background-position: 0 100%;
    -webkit-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -moz-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -ms-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    -o-transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;*/
  }

  [class*="addCust"]:hover {
    /*color: rgba(256,256,256,1);*/
    /*background: rgba(0,0,0,.5);*/
    /*width: 280px;
    height: 450px;*/
    /*margin: 0;*/
    box-shadow: 0 8px 20px #555, 0 8px 30px #555;
    line-height: 450px;
  }
</style>
