<template>
  <div class='wrapper' ref="circulargauge1">
    <ejs-circulargauge :id="'customizationgauge'+(index+1)" :ref="'customizationgauge'+(index+1)" style="display:block"
                       height="110"
                       :centerY="'centerY'+(index+1)">
      <e-axes>
        <e-axis :ranges="'ranges'+(index+1)" :radius="'radius'+(index+1)" startAngle=300 endAngle=60
                :annotations="'annotations'+(index+1)"
                :endAngle=90 :startAngle=270
                :majorTicks="'majorTicks'+(index+1)" :minorTicks="'minorTicks'+(index+1)" :lineStyle="'lineStyle'+(index+1)"
                :labelStyle="'labelStyle'+(index+1)" minimum=999 maximum=2000 :pointers="'pointers'+(index+1)"></e-axis>
      </e-axes>
    </ejs-circulargauge>
  </div>
</template>
<script>
  import Vue from 'vue';
  import {CircularGaugePlugin, GaugeTooltip, Annotations} from "@syncfusion/ej2-vue-circulargauge";
  Vue.use(CircularGaugePlugin);
  export default {
    data() {
      return {
        html: '',

        centerY1 : '',
        centerY2 : '',
        centerY3 : '',
        centerY4 : '',
        centerY5 : '',
        centerY6 : '',
        centerY7 : '',
        centerY8 : '',

        annotations1: [],
        annotations2: [],
        annotations3: [],
        annotations4: [],
        annotations5: [],
        annotations6: [],
        annotations7: [],
        annotations8: [],

        lineStyle1: {},
        lineStyle2: {},
        lineStyle3: {},
        lineStyle4: {},
        lineStyle5: {},
        lineStyle6: {},
        lineStyle7: {},
        lineStyle8: {},

        radius1: '',
        radius2: '',
        radius3: '',
        radius4: '',
        radius5: '',
        radius6: '',
        radius7: '',
        radius8: '',

        labelStyle1: {},
        labelStyle2: {},
        labelStyle3: {},
        labelStyle4: {},
        labelStyle5: {},
        labelStyle6: {},
        labelStyle7: {},
        labelStyle8: {},

        majorTicks1: {},
        majorTicks2: {},
        majorTicks3: {},
        majorTicks4: {},
        majorTicks5: {},
        majorTicks6: {},
        majorTicks7: {},
        majorTicks8: {},

        minorTicks1: {},
        minorTicks2: {},
        minorTicks3: {},
        minorTicks4: {},
        minorTicks5: {},
        minorTicks6: {},
        minorTicks7: {},
        minorTicks8: {},

        ranges1: [],
        ranges2: [],
        ranges3: [],
        ranges4: [],
        ranges5: [],
        ranges6: [],
        ranges7: [],
        ranges8: [],

        pointers1: [],
        pointers2: [],
        pointers3: [],
        pointers4: [],
        pointers5: [],
        pointers6: [],
        pointers7: [],
        pointers8: [],
      }
    },
    props: ['axis_gauge', 'index'],
    created() {

      //this.$store.dispatch('translation');

      this.html =this.axis_gauge;
    },
    watch: {
      html: {
        handler() {
          var pronter = 'pointers'+(this.index+ 1);
          var centerY = 'centerY'+(this.index+ 1);
          var annotations = 'annotations'+(this.index+ 1);
          var lineStyle = 'lineStyle'+(this.index+ 1);
          var radius = 'radius'+(this.index+ 1);
          var labelStyle = 'labelStyle'+(this.index+ 1);
          var majorTicks = 'majorTicks'+(this.index+ 1);
          var minorTicks = 'minorTicks'+(this.index+ 1);
          var ranges = 'ranges'+(this.index+ 1);
          //alert(pronter+centerY)
          pronter= [{
            type: 'RangeBar',
            value: 26, radius: '90%',
            color: '#FFDD00', animation: {duration: 0},
            pointerWidth: 10
          }, {
            radius: '90%', value: 26,
            color: '#424242',
            animation: {duration: 0},
            pointerWidth: 9,
            cap: {radius: 10, color: '#424242', border: {width: 0}}
          }];

          centerY= '90%';

            annotations = [{
            content: '<div style="color:#666666;font-size:15px;">1800</div>',
            angle: 0,
            zIndex: '1',
            radius: '110%'
          }];
            lineStyle = {width: 0};
          radius='140%';
            labelStyle= {font: {size: '0px'}};
          majorTicks = {width: 0};
          minorTicks = {height: 0};
          ranges = [{
            start: 0, end: 100,
            radius: '90%',
            startWidth: 10, endWidth: 10,
            color: '#E0E0E0'
          }];

        }
      }
    }
  }
</script>
