<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>

    <b-row id="printdiv" v-if="$can('kpi-value')">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <!--<h5> {{ this.kpivalueData}}</h5>-->
              <b class="h4"> {{ this.get_text('kpi_name@kpi_values@l') }}: {{
                this.kpivalueData.kpiname
                }}</b><br>
              <b class="h4"> {{ this.get_text('organization_unit@kpi_values@l') }}: {{
                this.kpivalueData.orgunit
                }}</b><br>
              <b class="h4"> {{ this.get_text('symbol@kpi_values@l') }}: {{ this.kpivalueData.symbol }}</b><br>
              <b class="h4"> {{ this.get_text('value_type@kpi_def@c') }}: {{
                ((this.kpivalueData.value_type ==
                'Number') ?
                this.get_text('number@fg_form@l') :
                ((this.kpivalueData.value_type == 'Percentage') ?
                this.get_text('percentage@fg_form@l') :
                ((this.kpivalueData.value_type == 'Ratio') ?
                this.get_text('ratio@fg_form@l') :
                ((this.kpivalueData.value_type == 'Rate') ?
                this.get_text('rate@fg_form@l') :
                ((this.kpivalueData.value_type == 'Grade') ?
                this.get_text('grade@fg_form@l') : ''
                )))))
                }}</b>


              <b-dropdown id="dropdown" v-if="this.$route.params.id" variant="link"
                          :title="get_text('quick_access@l')"
                          :toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' : 'text-center btnClassCustmAr')"
                          no-caret class="float-right">
                <template slot="button-content">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa-chevron-down fa font-1xl"></i>
                  </button>
                </template>
                <b-dropdown-item v-if="$route.params.id !=1"
                                 @click="quickAccess('/newFormGenerator/1/'+$route.params.id)">{{
                  get_text('definition@kpi_def@l')
                  }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=3"
                                 @click="quickAccess('/newFormGenerator/3/'+$route.params.id)">{{
                  get_text('target@kpi_def@l')
                  }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=2"
                                 @click="quickAccess('/newFormGenerator/2/'+$route.params.id)">{{
                  get_text('benchmark@kpi_def@l')
                  }}
                </b-dropdown-item>
                <!-- <b-dropdown-item :disabled="(this.kpi_status==0 ||
                 this.kpi_active_status==0) ? true: false" @click="quickAccess('/kpivalues/'+$route.params.kpi)" class="customClass" :class="( this.kpi_status==0 || this.kpi_active_status==0) ? 'pointerClass' : ''">{{ get_text('readings@kpi_def@l') }}
                 </b-dropdown-item>-->
                <b-dropdown-item :disabled="(this.kpi_target_determining_method!=1) ? true: false"
                                 class="customClass" :class="(this.kpi_target_determining_method!=1) ?
                                             'pointerClass' : ''"
                                 @click="quickAccess('/kpivalueshistory/'+$route.params.id)">{{
                  get_text('historic_readings@kpi_def@l')
                  }}
                </b-dropdown-item>
                <b-dropdown-item :class="( this.kpi_status==0 || this.kpi_active_status==0) ? 'pointerClass' : ''"
                                 :disabled="(this.kpi_status==0 ||
                             this.kpi_active_status==0) ? true: false"
                                 @click="quickAccess('/kpivalues/'+$route.params.id)"
                                 class="customClass">{{
                  get_text('readings@kpi_def@l')
                  }}
                </b-dropdown-item>
                <b-dropdown-item :disabled="(this.kpi_status==0 ||
                            this.kpi_active_status==0)" class="customClass" :class="(this.kpi_status==0 ||
                            this.kpi_active_status==0) ? 'pointerClass' : ''"
                                 @click="quickAccess('/gaugechart/'+$route.params.id)">
                  {{ get_text('quick_view@kpi_def@l') }}
                </b-dropdown-item>
              </b-dropdown>
              <!--<b class="h4">{{ this.get_text('KPI Values@kpi_values@l') }}</b>-->


              <b-button id="list1" variant="warning" size="md" class="btn float-right" @click="backToList"
                        style="">

                <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('kpi_list@kpi_def@l')
                  }}</b></b-button>
              <b-link id="myPrntbtn"
                      :style="$i18n.locale=='en' ? 'float: right;margin-left:5px; margin-right: 5px;margin-top:7px;': 'float: left;margin-right: 5px;margin-top:7px;'"
                      class="card-header-action btn-close" href="#"
                      v-on:click="loaded('printThis')">
                <i class="icon-printer"></i>
              </b-link>
             <!-- <div v-if="isAdmin" id="showfuturediv"
                   :style="$i18n.locale=='en' ? 'float: right;margin-top: 10px;' : 'float: left;margin-top: 10px;'"
                   class="form-check form-check-inline mr-1">
                <input class="form-check-input" id="inline-checkbox1" type="checkbox" v-model="showfuture"
                       value="check1" @change="check($event)">
                <label class="form-check-label" for="inline-checkbox1">{{
                  get_text('show_future_readings@kpi_values@l')
                  }}</label>
              </div>-->

            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading">
              <div style="text-align:center; padding-top:50px;">


                {{ this.get_text('loading@kpi_values@l') }}
              </div>
            </div>
            <div v-if="$auth.ready() && this.$store.state.loading">
             <!-- <b-row id="filterdiv">
                <b-col md="3">
                  <b-form-group horizontal :label="this.get_text('filter@l')" class="mb-0">
                    <b-input-group>
                      <b-form-input v-model="filter"
                                    :placeholder="this.get_text('type_to_search@kpi_values@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{
                          this.get_text('clear@l')
                          }}
                        </b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>

                <b-col md="4">
                  <b-form-group horizontal :label="this.get_text('sort@l')" class="mb-0">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">&#45;&#45; {{ this.get_text('none@l') }} &#45;&#45;
                        </option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ this.get_text('asc@l') }}</option>
                        <option :value="true">{{ this.get_text('desc@l') }}
                        </option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4">
                  <b-form-group horizontal :label="this.get_text('per_page@l') " class="mb-0">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>-->
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive="sm" :items="kpivalueslists" :fields="fields"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @filtered="onFiltered">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{ getName(data.item.status) }}
                  </b-badge>
                </template>
                <!--<template id="actionsdiv" slot="actions" slot-scope="data">
                  <b-row class="text-center printNo">
                    &lt;!&ndash;<b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0" v-if="$can('prctype-delete')">&ndash;&gt;
                    &lt;!&ndash;<b-button variant="primary" size="sm"&ndash;&gt;
                    &lt;!&ndash;@click="editPriority(data.item, 'view') "><b><i&ndash;&gt;
                    &lt;!&ndash;class="icon-eye icons font-1xl"></i></b></b-button>&ndash;&gt;
                    &lt;!&ndash;</b-col>&nbsp;&ndash;&gt;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0"
                           v-if="$can('kpi-edit') && !isAdmin">
                      <b-button v-bind:class="[data.item.actual_date ? 'highlight1' : '']" variant="warning" size="sm"
                                @click="editKpivalues(data.item, 'edit') && !isAdmin"><b><i
                        v-bind:class="[data.item.actual_date ? 'highlight1' : '']"
                        class="icon-pencil icons font-1xl"></i></b></b-button>
                    </b-col>
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0"
                           v-if="$can('kpi-edit') && isAdmin">
                      <b-button variant="warning" size="sm"
                                @click="editKpivalues(data.item, 'edit') && isAdmin"><b><i
                        class="icon-pencil icons font-1xl"></i></b></b-button>
                    </b-col>
                    &lt;!&ndash;<b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0"&ndash;&gt;
                    &lt;!&ndash;v-if="$can('prctype-edit')">&ndash;&gt;
                    &lt;!&ndash;<b-button variant="danger" size="sm"&ndash;&gt;
                    &lt;!&ndash;@click="showingdeleteModal = true;  selectTranslation(data.item)">&ndash;&gt;
                    &lt;!&ndash;<b><i&ndash;&gt;
                    &lt;!&ndash;class="icon-trash icons font-1xl"></i></b></b-button>&ndash;&gt;
                    &lt;!&ndash;</b-col>&nbsp;&ndash;&gt;
                  </b-row>
                </template>-->
              </b-table>
              <nav id="pagenav">
                <b-pagination size="sm" :total-rows="getRowCount" :per-page="perPage"
                              v-model="currentPage" :prev-text="this.get_text('prev@l')"
                              :next-text="this.get_text('next@l')"
                              hide-goto-end-buttons/>
              </nav>
              <!--<b-button id="submitbtt" @click="editdatatable() " class="float-right" variant="primary" size="lg"
                        type="submit">{{ get_text('submit@kpi_values@l') }}
              </b-button>-->

            </div>
          </b-card>
        </transition>
        <b-modal :title="get_text('edit@kpi_values@l')" size="lg" ref="vueModel" class="modal-primary"
                 v-model="showingeditModal"
                 hide-footer>
          <b-form @submit.prevent="updatekpivalues">
            <b-row>
              <b-col sm="6" v-if="this.kpivalueData.value_type==='Number'">
                <b-form-group>
                  <label for="actualvalue">{{ get_text('actual_value@kpi_values@l') }}<i
                    class="fa fa-asterisk danger fa-xs"
                    style="font-size:10px;color:red;"></i></label>
                  <b-form-input v-if="this.kpivalueData.value_type==='Number'" type="text"
                                id="actualvalue" name="actualvalue"
                                v-model="actual_value"

                                :class="{ 'is-invalid': updated && errors.has('actualvalue') }"></b-form-input>

                  <div v-if="updated && errors.has('actualvalue')" class="invalid-feedback">{{
                    errors.first('actualvalue')
                    }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6" v-if="this.kpivalueData.value_type!='Number' && this.kpivalueData.value_type == 'Grade'">
                <b-form-group>
                  <label for="actualvalue">{{ get_text('actual_value@kpi_values@l') }}<i
                    class="fa fa-asterisk danger fa-xs"
                    style="font-size:10px;color:red;"></i></label>
                  <!--                  <b-form-input v-if="this.kpivalueData.value_type==='Number'" type="text"-->
                  <!--                                id="actualvalue" name="actualvalue"-->
                  <!--                                v-model="actual_value"-->

                  <!--                                :class="{ 'is-invalid': updated && errors.has('actualvalue') }"></b-form-input>-->

                  <b-form-select v-model="actualvaluegrade"
                                 :options="gradevalueoptions">

                    <option slot="first" value=null>{{
                      get_text('please_select@kpi_def@l')
                      }}
                    </option>
                  </b-form-select>

                  <div v-if="updated && errors.has('actualvalue')" class="invalid-feedback">{{
                    errors.first('actualvalue')
                    }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6" v-if="this.kpivalueData.value_type!='Number' && this.kpivalueData.value_type != 'Grade'">
                <b-form-group>
                  <label for="actualnumerator">{{ this.kpivalueData.numeratorname }}<i
                    class="fa fa-asterisk danger fa-xs"
                    style="font-size:10px;color:red;"></i></label>
                  <b-form-input type="text" id="actualnumerator" name="actualnumerator"
                                v-model="actual_numerator"

                                :class="{ 'is-invalid': updated && errors.has('actualnumerator') }"></b-form-input>

                  <div v-if="updated && errors.has('actualnumerator')" class="invalid-feedback">{{
                    errors.first('actualnumerator')
                    }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6" v-if="this.kpivalueData.value_type!='Number' && this.kpivalueData.value_type != 'Grade'">
                <b-form-group>
                  <label for="actualdenominator">{{ this.kpivalueData.denominatorname }}<i
                    class="fa fa-asterisk danger fa-xs"
                    style="font-size:10px;color:red;"></i></label>
                  <b-form-input type="text" id="actualdenominator" name="actualdenominator"
                                v-model="actual_denominator"

                                :class="{ 'is-invalid': updated && errors.has('actualdenominator') }"></b-form-input>

                  <div v-if="updated && errors.has('actualdenominator')" class="invalid-feedback">{{
                    errors.first('actualdenominator')
                    }}
                  </div>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <b-form-group>
                  <label for="Type">{{ get_text('notes@kpi_values@l') }}</label>
                  <b-form-textarea id="notes" v-model="notes" rows="8"
                  >
                  </b-form-textarea>

                </b-form-group>
              </b-col>
            </b-row>
            <b-button class="float-right" variant="primary" size="lg" type="submit">{{
              get_text('update@kpi_values@l')
              }}
            </b-button>
          </b-form>
        </b-modal>
        <b-modal title="Delete Priority" size="lg" class="modal-danger" v-model="showingdeleteModal"
                 ok-variant="danger">
          <div class="modalcontent">
            <h3 class="text-center">{{ this.get_text('are_you_sure_to_delete@@trans_table@l') }} ?</h3>
            <b-col md="12" class="text-center">

              <button class="btn btn-outline-danger left"
                      @click="showingdeleteModal = false; deleteTabledata(translationData)">{{
                this.get_text('yes@trans_table@l')
                }}
              </button>&nbsp;
              <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{
                this.get_text('no@trans_table@l')
                }}
              </button>
            </b-col>
          </div>
        </b-modal>
      </b-col>
    </b-row>
    <div v-else-if="!$can('kpi-value')">
      <b-card>
        <unauthorized></unauthorized>
      </b-card>
    </div>
  </div>
</template>

<script>
  import {store} from '@/components/store'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import Unauthorized from '@/views/pages/Unauthorized';

  Vue.use(Element);
  Vue.use(Loading);
  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      //if (this.$auth.user().roles.includes('Admin')) {
      if (this.$auth.user().currentRole == 'Admin') {
        this.isAdmin = true;
        this.showfuture = true;
      }

      this.$store.dispatch('loadTranslations');
      this.$store.dispatch('loadkpivalues', [this.$route.params.id, this.showfuture]);
    },
    data: () => {
      return {
        kpidatavalues: [],
        tableslist: [],
        tablesdata: [],
        tablecolumnlist: [],
        tablecolumndata: [],
        tablesselect: '',
        selected: null,
        tablecolumns: null,
        keytypeselected: null,
        keyname: '',
        keynameEn: '',
        keynameAr: '',
        keynameshortEn: '',
        keynameshortAr: '',
        keyid: '',
        items: '',

        fields: '',
        button: '',
        currentPage: 1,
        perPage: 10,
        totalRows: 0,
        actual_value: '',
        notes: '',
        kpivalueData: {
          actual_value: null,
          notes: null,
          id: null,
          kpiname: null,
          orgunit: null,
          kpiid: null,
          symbol: null

        },
        kpi_status: '',
        kpi_active_status: '',
        kpi_target_determining_method: '',
        key_typefilter: null,
        priorityInfo: null,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [10, 20, 30],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,

        translationData: '',
        translateData: {
          key_type: "",
        },
        translation: [],
        sortOptions: [],
        showfuture: false,
        isAdmin: false,
        gradeid: '',
        gradevalueoptions: null,
        actualvaluegrade: null,

      }
    },
    beforeMount() {
      // this.loadKpivaluesdata();
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
      //this.$store.dispatch('loadkpivalues', this.$route.params.id);

    },
    computed: {
      kpivalueslists() {
        //console.log(this.$store.getters.kpivalues);
        this.kpivaluelistdata = this.$store.getters.kpivalues;
        for (var key in this.kpivaluelistdata) {
          this.kpidatavalues.push(this.kpivaluelistdata[key]);
          if (this.kpivaluelistdata[0].value_type == 'Percentage') {
            this.kpivaluelistdata[key].actual_value + '%';
          }
          //alert(this.kpivaluelistdata[key].id);

        }
        this.kpivalueData.kpiname = this.kpivaluelistdata[0].kpiname;
        this.kpivalueData.orgunit = this.kpivaluelistdata[0].subtenant_name;
        this.kpivalueData.kpiid = this.kpivaluelistdata[0].kpiid;
        this.kpivalueData.value_type = this.kpivaluelistdata[0].value_type;
        this.kpivalueData.denominatorname = this.kpivaluelistdata[0].denominatorname;
        this.kpivalueData.numeratorname = this.kpivaluelistdata[0].numeratorname;
        this.kpivalueData.symbol = this.kpivaluelistdata[0].symbol;
        this.gradeid = this.kpivaluelistdata[0].grade_id;
        this.kpi_status = this.kpivaluelistdata[0].status;
        this.kpi_active_status = this.kpivaluelistdata[0].active_status;
        this.kpi_target_determining_method = this.kpivaluelistdata[0].target_determining_method;
        // alert( this.kpivalueData.denominatorname);
        this.items = this.kpidatavalues;
        // alert( this.items);
        var filterData = [];

        filterData = this.items
        this.totalRows = filterData.length;
        //return filterData;

        var keys = [];
        for (var k in this.items[0]) keys.push(k);
        //keys.push('actions');
        keys = keys.filter(e => e !== 'id');
        keys = keys.filter(e => e !== 'kpi_target_id');
        keys = keys.filter(e => e !== 'target_year');
        keys = keys.filter(e => e !== 'target_month');
        keys = keys.filter(e => e !== 'symbol');
        keys = keys.filter(e => e !== 'kpiname');
        keys = keys.filter(e => e !== 'value_type');
        keys = keys.filter(e => e !== 'subtenant_name');
        keys = keys.filter(e => e !== 'kpiid');
        keys = keys.filter(e => e !== 'numeratorname');
        keys = keys.filter(e => e !== 'denominatorname');
        keys = keys.filter(e => e !== 'created_at');
        keys = keys.filter(e => e !== 'updated_at');
        keys = keys.filter(e => e !== 'deleted_at');
        keys = keys.filter(e => e !== 'actual_valueperc');
        keys = keys.filter(e => e !== 'target_determining_method');
        keys = keys.filter(e => e !== 'active_status');
        keys = keys.filter(e => e !== 'status');
        keys = keys.filter(e => e !== 'grade_id');
        keys = keys.filter(e => e !== 'created_by');
        keys = keys.filter(e => e !== 'updated_by');
        keys = keys.filter(e => e !== 'actual_denominator');
        keys = keys.filter(e => e !== 'actual_numerator');
        keys = keys.filter(e => e !== 'actual_value');
        keys = keys.filter(e => e !== 'target_date');

        var arr = [];
        var len = keys.length;
        for (var i = 0; i < len; i++) {
          var test = true;
          /*if (keys[i] == 'actual_denominator' || keys[i] == 'actual_numerator' || keys[i] == 'notes' || keys[i] == 'actual_value' || keys[i] == 'actual_date') {
            test = false;
          }*/
          arr.push({
            key: keys[i],
            label: this.get_text(keys[i] + '@kpi_values@c'),
            sortable: test,
            resizeable: true,
            sortDirection: 'desc'
          });
        }

        /*arr.push({
          key: 'actions',
          label: this.get_text('actions@kpi_values@c'),
          sortable: false,
          resizeable: true,
          thClass: 'printNo'
        });*/
        // alert(arr[2].label);
        /*var numerator = arr[2].label;
        arr[2].label = arr[2].label.replace(arr[2].label, this.kpivalueData.numeratorname);
        arr[3].label = arr[3].label.replace(arr[3].label, this.kpivalueData.denominatorname);
        if (this.kpivalueData.value_type == 'Number' || this.kpivalueData.value_type == 'Grade') {
          arr.splice(2, 2);
        }*/
        this.fields = arr;

        this.sortOptions = this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })

        return this.$store.getters.kpivalues;

      },
      getRowCount() {
        return this.$store.getters.kpivalues.length
      },
      sortOptions() {
        // Create an options list from our fields
        // return this.fields
        //   .filter(f => f.sortable)
        //   .map(f => {
        //     return {text: f.label, value: f.key}
        //   })
      }
    },
    watch: {
      showingeditModal: function () {
        if (this.showingeditModal == false) {
          this.$store.dispatch('loadTranslations')
          this.priorityData = {}
        }
      }
    },
    components: {
      'loading': Loading,
      Unauthorized
    },
    methods: {
      loaded: function (args) {
        var printButton = document.getElementById("myPrntbtn");
        printButton.style.visibility = 'hidden';
        var dropButton = document.getElementById("dropdown");
        dropButton.style.visibility = 'hidden';
        var list1 = document.getElementById("list1");
        list1.style.visibility = 'hidden';
        //var showfuturediv1 = document.getElementById("showfuturediv");
        //showfuturediv1.style.visibility = 'hidden';
        /*var filterdiv = document.getElementById("filterdiv");
        filterdiv.style.visibility = 'hidden';*/
        /*var submitbtt = document.getElementById("submitbtt");
        submitbtt.style.visibility = 'hidden';*/
        var pagenav = document.getElementById("pagenav");
        pagenav.style.visibility = 'hidden';
        // var actionsdiv = document.getElementById("actionsdiv");
        // actionsdiv.style.visibility = 'hidden';


        window.print()
        printButton.style.visibility = 'visible';
        dropButton.style.visibility = 'visible';
        dropButton.style.visibility = 'visible';
        list1.style.visibility = 'visible';
        showfuturediv1.style.visibility = 'visible';
        filterdiv.style.visibility = 'visible';
        submitbtt.style.visibility = 'visible';
        pagenav.style.visibility = 'visible';
        // actionsdiv.style.visibility = 'visible';

      },
      loadgrades() {

        Vue.axios.get(`/getgrades/${this.gradeid}`)

          .then(response => {
            if (response.data.code == 200) {
              this.gradevalueoptions = response.data.kpigrades.map(function (item) {
                return {
                  text: item.label,
                  value: item.label
                }


              });
            }
          });
      },
      quickAccess(val) {
        window.location.replace(val)
      },
      check: function (e) {
        this.$store.dispatch('loadkpivalues', [this.$route.params.id, this.showfuture]);

      },
      backToList() {
        localStorage.setItem('isSession', 'true');
        sessionStorage.removeItem('kpi_id');
        window.location.replace('/kpilist')
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },

      editdatatable() {
        Vue.axios.post(`/kpivaluesUpdate`, {kpivalues: this.$store.getters.kpivalues})
          .then((response) => {
            if (response.data.code == 400) {
              this.$store.dispatch('get_text_title', 'error@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              this.dangerModal = false;
              this.rejectreasontext = '';
              this.$store.dispatch('get_text_title', 'success@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.success({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Success',
                position: 'top-right'
              })
              this.$store.dispatch('loadkpivalues', [this.$route.params.id, this.showfuture]);
              this.kpivaluelistdata = this.$store.getters.kpivalues;

            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })


      },


      updatekpivalues() {
        this.updated = true;
        // alert("in1");
        // alert(this.actual_value);
        this.$validator.validate().then(valid => {
          if (valid) {
            //alert("in2");
            this.showingeditModal = false;
            //console.log("xcdds");
            console.log(this.$store.getters.kpivalues);
            for (var key in this.$store.getters.kpivalues) {
              // alert(this.kpivalueData[0].id);
              //alert(this.actual_value);
              if (this.kpivalueData.value_type != 'Number') {
                this.actual_value = (this.actual_numerator / this.actual_denominator);
              }
              if (this.kpivalueData.value_type == 'Percentage') {
                // var actualvalue=this.actual_value;
                this.actual_value = (this.actual_numerator / this.actual_denominator) * 100;
                this.actual_value = this.actual_value.toFixed(2);
                this.actual_value = (this.actual_value) + "%";
              }
              if (this.kpivalueData.value_type == 'Rate' || this.kpivalueData.value_type == 'Ratio') {
                // var actualvalue=this.actual_value;
                this.actual_value = this.actual_value;

              }
              if (this.kpivalueData.value_type == 'Grade') {
                this.actual_value = this.actualvaluegrade;
              }

              //alert(this.actual_value);
              if (this.$store.getters.kpivalues[key].id == this.kpivalueData[0].id) {
                this.$store.getters.kpivalues[key].actual_value = this.actual_value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                this.$store.getters.kpivalues[key].actual_numerator = this.actual_numerator;
                this.$store.getters.kpivalues[key].actual_denominator = this.actual_denominator;
                this.$store.getters.kpivalues[key].notes = this.notes;

                // if(this.notes==='')
                // this.$store.getters.kpivalues[key].notes='';
                // else
                //   this.$store.getters.kpivalues[key].notes=this.notes;

              }

            }

            this.actual_value = '';
            this.notes = '';
            this.actual_numerator = '';
            this.actual_denominator = '';

            this.$validator.reset();
          }
        });

      },


      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },

      editKpivalues(kpivalueid, value = null) {
        this.loadgrades();
        this.$store.state.isLoading = true;
        Vue.axios.get(`/kpivaluesbyId/${kpivalueid.id}`)
          .then((response) => {
            if (response.data.code == 401) {
              this.$store.dispatch('get_text_title', 'error@m');
              this.$store.dispatch('get_text_message', response.data.msg + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (this.kpivalueData.value_type == "Percentage") {
                this.actual_numerator = response.data.data[0].actual_numerator;
                this.actual_denominator = response.data.data[0].actual_denominator;
              }
              this.actual_value = response.data.data[0].actual_value;
              this.notes = response.data.data[0].notes;
              this.showingeditModal = true

              this.kpivalueData = response.data.data;
              console.log(this.kpivalueData);

            }
            this.$store.state.isLoading = false;
          })
          .catch((error) => {
            console.log(error)
          })
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }
</script>
<style>
  @media print {
    body *, html * {
      top: 0;
      margin-top: 0;
      background-color: #ffffff;
    }

    .printNo {
      display: none;
    }

    .card-header {
      background-color: #ffffff;
    }


    @page {
      margin: 0;
      padding: 0;
    }


    @page {
      size: auto;
      margin: 0mm;
    }

    .sidebar, .breadcrumb, .app-footer {
      display: none;
      margin-bottom: 0px;
      margin-top: 0px;
    }


  }

</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .highlight1 {
    opacity: 0.7;
    background-color: #a4b7c1 !important;
    border: none !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
  }
</style>
