<template>
  <div class="app animated fadeIn" v-if="this.$route.params.view ? $can('kpi-view') : ($can('kpi-create') &&
  $can('kpi-edit'))">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row>
      <b-col cols="12" xl="12">
        <transition name="slide">
          <b-card>
            <div slot="header" v-if="this.$route.params.id == 1">
              <b-dropdown v-if="this.$route.params.kpi" variant="link"
                          :toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' :
                          'text-center btnClassCustmAr')" :title="get_text('quick_access@l')" no-caret
                          class="float-right">
                <template slot="button-content">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa-chevron-down fa font-1xl"></i>
                  </button>
                </template>
                <b-dropdown-item v-if="$route.params.id !=1"
                                 @click="quickAccess('/newFormGenerator/1/'+$route.params.kpi)">
                  {{get_text('definition@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=3"
                                 @click="quickAccess('/newFormGenerator/3/'+$route.params.kpi)">{{
                  get_text('target@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=2"
                                 @click="quickAccess('/newFormGenerator/2/'+$route.params.kpi)">{{
                  get_text('benchmark@kpi_def@l') }}
                </b-dropdown-item>

                <b-dropdown-item :disabled="(
                              this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ?
                            true: false" @click="quickAccess('/kpivalues/'+$route.params.kpi)" class="customClass"
                                 :class="( this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''">
                  {{ get_text('readings@kpi_def@l') }}
                </b-dropdown-item>

                <b-dropdown-item :disabled="(this.$store.state.kpi_target_determining_method!=1) ? true:
                            false" class="customClass"
                                 :class="(this.$store.state.kpi_target_determining_method!=1) ? 'pointerClass' : ''"
                                 @click="quickAccess('/kpivalueshistory/'+$route.params.kpi)">
                  {{ get_text('historic_readings@kpi_def@l') }}
                </b-dropdown-item>

                <b-dropdown-item :disabled="(this.$store.state.kpi_status==0 ||
                            this.$store.state.kpi_active_status==0)" class="customClass"
                                 :class="(this.$store.state.kpi_status==0 ||
                                             this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''"
                                 @click="quickAccess('/gaugechart/'+$route.params.kpi)">
                  {{ get_text('quick_view@kpi_def@l') }}
                </b-dropdown-item>
                <!--<b-dropdown-item :disabled="(
                              this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ?
                            true: false" @click="quickAccess('/kpiremark/'+$route.params.kpi)" class="customClass"
                                 :class="( this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''">
                  {{ get_text('remarks@kpi_def@l') }}
                </b-dropdown-item>-->
              </b-dropdown>
              <b-button variant="warning" size="md" class="btn float-right" @click="backToList"
                        styaddBorderClassle="margin-left: 1%; margin-right: 1%">
                <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('kpi_list@kpi_def@l') }}</b></b-button>
              <b-button v-if="showmindmap==1" variant="warning" size="md" class="btn float-right"
                        @click="mindmap"
                        style="margin-left: 1%; margin-right: 1%">
                <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('kpi_map@kpi_def@l') }}</b></b-button>
            </div>
            <div slot="header" v-if="this.$route.params.id == 3 || this.$route.params.id == 2">
              <b class="h4"> {{ this.get_text('name@kpi_def@c')}}: {{ this.$store.state.kpi_name
                }}</b><br>
              <b class="h4"> {{ this.get_text('symbol@kpi_def@c') }}: {{
                this.$store.state.kpi_symbol }}</b>
              <b class="h4"><br> {{
                this.get_text(this.$store.state.explanation_name+'@kpi_def@l') }} <label
                  v-if="this.$store.state.specific_value !=0">: {{
                  this.$store.state.specific_value }}</label></b><br>
              <b class="h4"> {{ this.get_text('value_type@kpi_def@c') }}: {{
                this.$store.state.value_type_name }}</b>
              <b-dropdown v-if="this.$route.params.kpi" variant="link"
                          :toggle-class="($i18n.locale == 'en' ? 'text-center btnClassCustmEn' :
                          'text-center btnClassCustmAr')" :title="get_text('quick_access@l')" no-caret
                          class="float-right">
                <template slot="button-content">
                  <button class="btn btn-primary btn-sm">
                    <i class="fa-chevron-down fa font-1xl"></i>
                  </button>
                </template>
                <b-dropdown-item v-if="$route.params.id !=1"
                                 @click="quickAccess('/newFormGenerator/1/'+$route.params.kpi)">{{
                  get_text('definition@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=3"
                                 @click="quickAccess('/newFormGenerator/3/'+$route.params.kpi)">{{
                  get_text('target@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item v-if="$route.params.id !=2"
                                 @click="quickAccess('/newFormGenerator/2/'+$route.params.kpi)">{{
                  get_text('benchmark@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item :disabled="(this.$store.state.kpi_status==0 ||
                            this.$store.state.kpi_active_status==0) ? true: false"
                                 @click="quickAccess('/kpivalues/'+$route.params.kpi)" class="customClass"
                                 :class="( this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''">
                  {{ get_text('readings@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item :disabled="(this.$store.state.kpi_target_determining_method!=1) ? true: false"
                                 class="customClass"
                                 :class="(this.$store.state.kpi_target_determining_method!=1) ? 'pointerClass' : ''"
                                 @click="quickAccess('/kpivalueshistory/'+$route.params.kpi)">{{
                  get_text('historic_readings@kpi_def@l') }}
                </b-dropdown-item>
                <b-dropdown-item :disabled="(this.$store.state.kpi_status==0 ||
                            this.$store.state.kpi_active_status==0)" class="customClass"
                                 :class="(this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''"
                                 @click="quickAccess('/gaugechart/'+$route.params.kpi)">
                  {{ get_text('quick_view@kpi_def@l') }}
                </b-dropdown-item>
                <!--<b-dropdown-item :disabled="(this.$store.state.kpi_status==0 ||
                            this.$store.state.kpi_active_status==0) ? true: false"
                                 @click="quickAccess('/kpiremark/'+$route.params.kpi)" class="customClass"
                                 :class="( this.$store.state.kpi_status==0 || this.$store.state.kpi_active_status==0) ? 'pointerClass' : ''">
                  {{ get_text('remarks@kpi_def@l') }}
                </b-dropdown-item>-->
              </b-dropdown>
              <b-button v-if="showmindmap==1" variant="warning" size="md" class="btn float-right"
                        @click="mindmap"
                        style="margin-left: 1%; margin-right: 1%">
                <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('kpi_map@kpi_def@l') }}</b></b-button>
              <button v-if="$can('kpi-target-print')" id="myPrntbtn" v-on:click="loaded" class="float-right"
                      style="height: 34px"><i class="fa fa-print "></i></button>
              <b-button variant="warning" size="md" class="btn float-right printNo" @click="backToList"
                        style="margin-left: 1%; margin-right: 1%">
                <b><i class="glyphicon-list glyphicon font-1xl"></i> {{
                  get_text('kpi_list@kpi_def@l') }}</b></b-button>

            </div>
            <!--<div slot="header">
                <b-button variant="primary" @click="goBack"><i class="icon-arrow-left icons font-1xl"></i>Back
                </b-button>
            </div>-->
            <div v-if="this.$store.state.type == 'f' && this.$route.params.id != 3">
              <!--{{ this.$store.state.nom_value}}-->
              <!--{{ this.$store.getters.getChild }}-->
              <form action="" @submit.prevent="onSubmit">
                <legend>{{ get_text(this.$store.state.formData[1]['groups'][0]['legends']+'@fg_form@l')
                  }}
                </legend>
                <!--@validated="setValidState"-->
                <vue-form-generator :model="this.$store.state.model"
                                    :schema="this.$store.state.formData[1]"
                                    :options="formOptions"
                                    :ref="index">
                </vue-form-generator>
              </form>
            </div>
            <div v-else-if="this.$store.state.type == 'w' && this.$route.params.id != 3">
              <mycomponent :routepath="this.$route.params.id" :model="this.$store.state.model"
                           :db_name="this.$store.state.db_name"
                           :tree="this.$store.state.formData"/>
            </div>

            <div v-else-if="this.$route.params.id == 3">
              <b-form @submit.prevent="onSubmitForm">
                <b-row>

                  <b-col sm="4">
                    <b-form-group>
                      <label for="mtp">{{ get_text('mtp_id@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-select v-model="model.mtp_id"
                                     disabled
                                     class="mtp_id"
                                     name="sortBymtp" id="sortBymtp"
                                     v-validate="'required'"
                                     :options="kpi_mtp"
                                     :class="{ 'is-invalid': errors.has('sortBymtp') }">
                        <option slot="first" :value="null">{{
                          get_text('please_select@kpi_target@l') }}
                        </option>
                      </b-form-select>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group>
                      <label for="target_start_date">{{ get_text('target_start_date@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input type="text" v-model="model.target_start_date"
                                    name="target_start_date" id="target_start_date"
                                    disabled
                                    v-validate="'required'"
                                    :class="{ 'is-invalid': errors.has('target_start_date') }"
                                    class="target_start_date"></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="4">
                    <b-form-group>
                      <label for="mtp">{{ get_text('target_determining_method@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-select v-model="model.target_determining_method"
                                     name="target_determining_method" id="target_determining_method"
                                     class="target_determining_method"
                                     v-validate="'required'"
                                     readonly="true"
                                     disabled
                                     @change="targetMethod(model.target_determining_method)"
                                     :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('from history@fg_form@l'),
                      value: '1'
                    },{
                      text: get_text('by analysis@fg_form@l'),
                      value: '2'
                    },{
                      text: get_text('variable@fg_form@l'),
                      value: '3'
                    }]"
                                     :class="{ 'is-invalid': errors.has('target_determining_method') }">
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col sm="12">
                    <b-form-group>
                      <label for="mtp">{{ get_text('analysis_resource@kpi_target@c') }}</label>
                      <b-textarea v-model="model.analysis_resource"
                                  :placeholder="get_text('analysis_resource@kpi_target@c')"
                                  class="analysis_resource"></b-textarea>
                    </b-form-group>
                  </b-col>

                  <b-col sm="3" :style="model.target_determining_method == 2 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="mtp">{{ get_text('base_fy@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.base_fy" :placeholder="get_text('base_fy@kpi_target@c')"
                                    class="base_fy" readonly></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="3">
                    <b-form-group>
                      <label for="mtp">{{ get_text('base_y_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;" :style="model.target_determining_method == 2 ? 'display:none' : ''"></i></label>
                      <b-form-input v-model="model.base_y_value" v-validate="'required'"
                                    :placeholder="get_text('base_y_value@kpi_target@c')" class="base_y_value"
                                    @change="targetCalculationOneData(model.base_y_value)" name="base_y_value"
                                    id="base_y_value"
                                    :class="{ 'is-invalid': errors.has('base_y_value') }"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3" :style="model.target_determining_method == 2 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="mtp">{{ get_text('min_y_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.min_y_value" :placeholder="get_text('min_y_value@kpi_target@c')"
                                    class="min_y_value" readonly></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="3" :style="model.target_determining_method == 2 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="mtp">{{ get_text('max_y_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.max_y_value" :placeholder="get_text('max_y_value@kpi_target@c')"
                                    class="max_y_value" readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="mtp">{{ get_text('value_periodicity@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-select v-model="model.value_periodicity"
                                     @change="changeDetermine(model.value_periodicity)"
                                     name="value_periodicity" id="value_periodicity"
                                     v-validate="'required'"
                                     readonly="true"
                                     disabled
                                     :options="[
                    {
                      text: get_text('please_select@l'),
                      value: null
                    },
                    {
                      text: get_text('monthly@kpi_target@l'),
                      value: '1'
                    },{
                      text: get_text('quarterly@kpi_target@l'),
                      value: '3'
                    },{
                      text: get_text('biannual@kpi_target@l'),
                      value: '6'
                    },{
                      text: get_text('annual@kpi_target@l'),
                      value: '12'
                    }]"
                                     :class="{ 'is-invalid': errors.has('value_periodicity') }">
                      </b-form-select>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="margin_pct">{{ get_text('margin_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.margin_pct" :placeholder="get_text('enter_margin_pct@kpi_target@c')"
                                    name="margin_pct" id="margin_pct"
                                    :class="{ 'is-invalid': errors.has('margin_pct') }" class="margin_pct"
                                    v-validate="'required'"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="min_value">{{ get_text('min_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.min_value" :placeholder="get_text('enter_min_value@kpi_target@c')"
                                    name="min_value" id="min_value" class="min_value" v-validate="'required'"
                                    :class="{ 'is-invalid': errors.has('min_value') }"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="max_value">{{ get_text('max_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.max_value" :placeholder="get_text('enter_max_value@kpi_target@c')"
                                    class="max_value" name="max_value" id="max_value" v-validate="'required'"
                                    :class="{ 'is-invalid': errors.has('max_value') }"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="12">
                    <label
                      style="background-color: #f0f3f5; width: 100%; padding: 0.4rem; font-size: 16px; font-weight: bold;">{{
                      get_text('year targets@kpi_target@c') }}</label>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="annual_rate_h">{{ get_text('annual_rate_h@kpi_target@c') }}<i v-if="model.target_determining_method != 2"
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.annual_rate_h"
                                    v-validate="model.target_determining_method == 2 ? '' : 'required'"
                                    :placeholder="model.target_determining_method != 2 ? get_text('enter_annual_rate_h@kpi_target@c') : null" class="annual_rate_h"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_rate_p">{{ get_text('y1_rate_p@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_rate_p" :placeholder="get_text('y1_rate_p@kpi_target@c')" name="y1_rate_p" id="y1_rate_p" v-validate="'required'" :class="{ 'is-invalid': errors.has('y1_rate_p') }"
                                    @change="targetCalculationOneData(model.y1_rate_p)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_rate_p">{{ get_text('y2_rate_p@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_rate_p" :placeholder="get_text('y2_rate_p@kpi_target@c')" name="y2_rate_p" id="y2_rate_p" v-validate="'required'" :class="{ 'is-invalid': errors.has('y2_rate_p') }"
                                    @change="targetCalculationOneData(model.y2_rate_p)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_rate_p">{{ get_text('y3_rate_p@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_rate_p" :placeholder="get_text('y3_rate_p@kpi_target@c')" name="y3_rate_p" id="y3_rate_p" v-validate="'required'" :class="{ 'is-invalid': errors.has('y3_rate_p') }"
                                    @change="targetCalculationOneData(model.y3_rate_p)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <!--<b-col sm="12">
                    <label
                      style="background-color: #f0f3f5; width: 100%; padding: 0.4rem; font-size: 16px; font-weight: bold;">{{
                      get_text('year targets@kpi_target@c') }}</label>
                  </b-col>-->
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_value">{{ get_text('y1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_value" :placeholder="get_text('y1_value@kpi_target@c')" name="y1_value" id="y1_value" v-validate="'required'" :class="{ 'is-invalid': errors.has('y1_value') }"
                                    @change="targetCalculationTwoData(model.y1_value, 'y1')"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_value">{{ get_text('y2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_value" :placeholder="get_text('y2_value@kpi_target@c')" name="y2_value" id="y2_value" v-validate="'required'" :class="{ 'is-invalid': errors.has('y2_value') }"
                                    @change="targetCalculationTwoData(model.y2_value)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_value">{{ get_text('y3_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_value" :placeholder="get_text('y3_value@kpi_target@c')" name="y3_value" id="y3_value" v-validate="'required'" :class="{ 'is-invalid': errors.has('y3_value') }"
                                    @change="targetCalculationTwoData(model.y3_value)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3" :style="model.value_type != 1 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="mtp_value">{{ get_text('mtp_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.mtp_value" :placeholder="get_text('mtp_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>

                <b-row class="hideQut" v-if="isShowQut">
                  <b-col sm="12">
                    <label
                      style="background-color: #f0f3f5; width: 100%; padding: 0.4rem; font-size: 16px; font-weight: bold;">{{
                      get_text('quarter targets@kpi_target@c') }}</label>
                  </b-col>
                </b-row>
                <b-row v-if="isShowQut" :style="value_typeID ==2 ? 'display:none' : ''">
                  <b-col sm="3">
                    <b-form-group>
                      <label for="q1_pct">{{ get_text('q1_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.q1_pct" :placeholder="get_text('q1_pct@kpi_target@c')"
                                    @change="targetCalculationThreeData(model.q1_pct)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="q2_pct">{{ get_text('q2_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.q2_pct" :placeholder="get_text('q2_pct@kpi_target@c')"
                                    @change="targetCalculationThreeData(model.q2_pct)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="q3_pct">{{ get_text('q3_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.q3_pct" :placeholder="get_text('q3_pct@kpi_target@c')"
                                    @change="targetCalculationThreeData(model.q3_pct)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="q4_pct">{{ get_text('q4_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.q4_pct" :placeholder="get_text('q4_pct@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row v-if="isShowQut">
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_q1_value">{{ get_text('y1_q1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_q1_value" :placeholder="get_text('y1_q1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_q2_value">{{ get_text('y1_q2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_q2_value" :placeholder="get_text('y1_q2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_q3_value">{{ get_text('y1_q3_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_q3_value" :placeholder="get_text('y1_q3_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y1_q4_value">{{ get_text('y1_q4_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_q4_value" :placeholder="get_text('y1_q4_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_q1_value">{{ get_text('y2_q1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_q1_value" :placeholder="get_text('y2_q1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_q2_value">{{ get_text('y2_q2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_q2_value" :placeholder="get_text('y2_q2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_q3_value">{{ get_text('y2_q3_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_q3_value" :placeholder="get_text('y2_q3_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y2_q4_value">{{ get_text('y2_q4_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_q4_value" :placeholder="get_text('y2_q4_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_q1_value">{{ get_text('y3_q1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_q1_value" :placeholder="get_text('y3_q1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_q2_value">{{ get_text('y3_q2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_q2_value" :placeholder="get_text('y3_q2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_q3_value">{{ get_text('y3_q3_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_q3_value" :placeholder="get_text('y3_q3_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="3">
                    <b-form-group>
                      <label for="y3_q4_value">{{ get_text('y3_q4_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_q4_value" :placeholder="get_text('y3_q4_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-row class="hideH1H2" v-if="isShowH1H2">
                  <b-col sm="12">
                    <label
                      style="background-color: #f0f3f5; width: 100%; padding: 0.4rem; font-size: 16px; font-weight: bold;">{{
                      get_text('semi_annual_target@kpi_target@l') }}</label>
                  </b-col>
                  <b-col sm="6" :style="value_typeID ==2 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="h1_pct">{{ get_text('h1_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input :readonly="model.value_periodicity == 1 || model.value_periodicity == 3 "
                                    v-model="model.h1_pct" :placeholder="get_text('h1_pct@kpi_target@c')"
                                    @change="targetCalculationThreeData(model.h1_pct)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6" :style="value_typeID ==2 ? 'display:none' : ''">
                    <b-form-group>
                      <label for="h2_pct">{{ get_text('h2_pct@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input
                        :readonly="model.value_periodicity == 1 || model.value_periodicity == 3 || model.value_periodicity == 6 "
                        v-model="model.h2_pct" :placeholder="get_text('h2_pct@kpi_target@c')"
                        @change="targetCalculationThreeData(model.h2_pct)"></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <label for="y1_h1_value">{{ get_text('y1_h1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_h1_value" :placeholder="get_text('y1_h1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <label for="y1_h2_value">{{ get_text('y1_h2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y1_h2_value" :placeholder="get_text('y1_h2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>

                  <b-col sm="6">
                    <b-form-group>
                      <label for="y2_h1_value">{{ get_text('y2_h1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_h1_value" :placeholder="get_text('y2_h1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <label for="y2_h2_value">{{ get_text('y2_h2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y2_h2_value" :placeholder="get_text('y2_h2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <label for="y3_h1_value">{{ get_text('y3_h1_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_h1_value" :placeholder="get_text('y3_h1_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                  <b-col sm="6">
                    <b-form-group>
                      <label for="y3_h2_value">{{ get_text('y3_h2_value@kpi_target@c') }}<i
                        class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i></label>
                      <b-form-input v-model="model.y3_h2_value" :placeholder="get_text('y3_h2_value@kpi_target@c')"
                                    readonly></b-form-input>
                    </b-form-group>
                  </b-col>
                </b-row>
                <b-button v-if="showSubmitBtn" class="float-right" variant="primary" size="lg"
                           :disabled="this.$store.state.isDisabled"
                          type="submit">{{
                  get_text('save@Users@l') }}
                </b-button>
              </b-form>
            </div>
          </b-card>
        </transition>
      </b-col>
    </b-row>
    <b-row
      v-if="this.$store.state.is_kpi != true && this.$store.state.is_linked == 'false' && this.$store.state.next_form_id== null">
      <b-col cols="12" xl="12">
        <b-card>
          <b-row>
            <b-col md="4" class="my-1">
              <b-form-group horizontal :label="get_text('filter@l')" class="mb-0">
                <b-input-group>
                  <b-form-input v-model="filter" :placeholder="get_text('type_to_search@fg_form@l')"/>
                  <b-input-group-append>
                    <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l') }}
                    </b-btn>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col md="4" class="my-1">
              <b-form-group horizontal :label="get_text('sort@l')" class="mb-0">
                <b-input-group>
                  <b-form-select v-model="sortBy" :options="sortOptions">
                    <option slot="first" :value="null">{{ get_text('none@l') }}</option>
                  </b-form-select>
                  <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                    <option :value="false">{{ get_text('asc@l') }}</option>
                    <option :value="true">{{ get_text('desc@l') }}</option>
                  </b-form-select>
                </b-input-group>
              </b-form-group>
            </b-col>
            <b-col md="4" class="my-1">
              <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0">
                <b-form-select :options="pageOptions" v-model="perPage"/>
              </b-form-group>
            </b-col>
          </b-row>
          <b-table id="tabledatas" responsive="sm"
                   :items="tableData"
                   :fields="fields"
                   :current-page="currentPage"
                   :per-page="perPage"
                   :filter="filter" sort-by.sync="sortBy"
                   :sort-description.sync="sortDesc"
                   :sort-direction="sortDirection" @filtered="onFiltered">
            <template slot="Actions" slot-scope="data">
              <b-row class="text-center">
                <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-0">
                  <b-button variant="warning" size="sm" @click="editTabledata(data.item, 'edit')"
                  ><b><i
                    class="icon-pencil icons font-1xl"></i></b></b-button>
                </b-col>&nbsp;
                <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-0">
                  <b-button variant="danger" size="sm"
                            @click="showingdeleteModal = true;selectfromdata(data.item)"
                  ><b><i
                    class="icon-trash icons font-1xl"></i></b></b-button>
                </b-col>
              </b-row>
              <!--<b-modal title="Edit Form Data" size="lg" ref="vueModel" class="modal-primary"
                       v-model="showingeditModal"
                       hide-footer>
                  <b-form @submit.prevent="updateformdata">
                      <b-row>
                          <b-col sm="6">
                              <b-form-group>
                                  <label for="Name">Name<i class="fa fa-asterisk danger fa-xs"
                                                           style="font-size:10px;color:red;"></i></label>
                                  <b-form-input type="text" id="TypeCodeMin" v-validate="'required'"
                                                name="TypeCodeMin"
                                                v-model="tableeditadata"
                                                placeholder="Enter your Min Value"
                                  ></b-form-input>
                              </b-form-group>
                          </b-col>
                      </b-row>
                      <b-button class="float-right" variant="primary" size="lg" type="submit">UPDATE
                      </b-button>
                  </b-form>
              </b-modal>-->
              <b-modal title="Delete Form Data" size="lg" class="modal-danger"
                       v-model="showingdeleteModal"
                       ok-variant="danger">
                <div class="modalcontent">
                  <h3 class="text-center">{{get_text('are_you_sure_to_delete@fg_form@m')}}?</h3>
                  <b-col md="12" class="text-center">

                    <button class="btn btn-outline-danger left"
                            @click="showingdeleteModal = false; deleteTabledata(tableformdata, 'delete')">
                      {{ get_text('YES@fg_form@l') }}
                    </button>&nbsp;
                    <button class="btn btn-outline-success right"
                            @click="showingdeleteModal = false;">{{ get_text('NO@fg_form@l')}}
                    </button>
                  </b-col>
                </div>
              </b-modal>
            </template>
          </b-table>
          <nav>
            <b-pagination :total-rows="totalRows" aria-controls="tabledatas"
                          :per-page="get_text('per_page@l')" v-model="currentPage"
                          :prev-text="get_text('prev@fg_form@l')" :next-text="get_text('next@fg_form@l')"
                          hide-goto-end-buttons/>
          </nav>
        </b-card>
      </b-col>
    </b-row>
    <!--{{ searchViewModal }} === {{ this.$store.getters.getShow }}-->
    <div v-if="this.$store.getters.getShow == true" v-model="showdata"></div>

    <b-modal ref="my-modal" :title="get_text('msg_label_should_you_proceed_to_recording_kpi_target@fg_form@l')"
             size="lg" class="modal-info" v-model="searchViewModal"
             ok-variant="info" :cancel-title="get_text('just_save@fg_form@l')"
             :ok-title="get_text('continue@fg_form@l')" @ok="goToNext" @cancel="goToList">
      {{ get_text('msg_body_should_you_proceed_to_recording_kpi_target@fg_form@l') }}
      <!--<button class="btn btn-outline-danger left"
              @click="goToNext">YES
      </button>&nbsp;-->
    </b-modal>

    <div v-if="this.$store.getters.getHistoryShow == true && this.$route.params.id ==3"
         v-model="showhistorydata"></div>
    <b-modal ref="my-modal" :title="get_text('msg_label_should_you_proceed_to_recording_kpi_target@fg_form@l')"
             size="lg" class="modal-info" v-model="searchHistoryModal"
             ok-variant="info" :cancel-title="get_text('just_save@fg_form@l')"
             :ok-title="get_text('continue@fg_form@l')" @ok="goToHistory" @cancel="backForm">
      {{ get_text('msg_body_should_you_proceed_to_recording_kpi_target@fg_form@l') }}
    </b-modal>
    <div v-if="this.$route.params.id == 1" v-model="showhistorydatavaluetype"></div>
    <b-modal ref="my-modal" :title="get_text('msg_label_should_you_proceed_to_recording_kpi_target@fg_form@l')"
             size="lg" class="modal-info" v-model="searchHistoryvalutypeModal"
             ok-variant="hidden">
      {{ get_text('kpi_history_value_type_message@fg_form@l') }}
    </b-modal>


    <!--<b-modal ref="my-modal" :title="get_text('KPIInformation@fg_form@l')" size="lg" class="modal-info" v-model="searchHistoryModal"-->
    <!--ok-variant="info" :cancel-title="get_text('cancel@fg_form@l')"   @cancel="backForm">-->
    <!--{{ get_text('KPIHistoryMessage@@fg_form@ll') }}-->
    <!--</b-modal>-->
  </div>
  <div v-else-if="(this.$route.params.view) ? !$can('kpi-view') : !($can('kpi-create') && $can('kpi-edit'))">
    <b-card>
      <unauthorized></unauthorized>
    </b-card>
  </div>
  <div v-else></div>
</template>
<style>
  @media print {
    body {
      margin-top: 0 !important;
    }

    body *, html * {
      visibility: hidden;
      margin: 0;
      padding: 0;
    }

    body *, html * {
      top: 0;
      margin-top: 0;
    }

    .printNo {
      display: none;
    }

    .card, .card * {
      visibility: visible;
      margin-bottom: -0.03rem;
      top: auto;
      clear: both;
    }

    @page {
      margin: 0;
      padding: 0;
    }

    .progress-group {
      margin-bottom: 1rem;
    }

    #dropdown-1, #myPrntbtn {
      display: none;
    }

    .donut-label {
      display: block;
      transform: translate(15px, 0px);
    }

    .col-2 {
      font-size: 10px;
    }

    @page {
      size: auto;
      margin: 0mm;
    }

    .sidebar, .breadcrumb, .app-footer {
      display: none;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .card {
      margin-bottom: 0px;
    }
  }
  .pointerClass {
    cursor: not-allowed;
  }

  .vue-form-generator .form-control.min_value, .vue-form-generator .form-control.max_value {
    color: #FF0000 !important;
    font-weight: bold !important;
  }

  input[type=text]:disabled, input[type=number]:disabled, input:read-only, input:-moz-read-only {
    background: #E4E5E6 !important;
  }

  .form-control:disabled, .form-control[readonly] {
    background: #E4E5E6 !important;
  }

  /*select.disSelect {
    background-color: #E4E5E6 !important;
  }*/

  .addYellow .field-wrap input {
    background: #f6f7c1;
  }

  .submit_Data {
    cursor: not-allowed !important;
    pointer-events: none !important;
  }

  .display-inline label {
    display: inline !important;
  }

  .btn.btn-hidden {
    display: none;
  }

  .form-group.has-success.col-sm-12.addBorderClass.field-select {
    /*border-bottom: 1px solid;
    border-top: 1px solid;
    border-style: ridge;
    padding-top: 1%;*/
    font-size: 16px;
    font-weight: bold;
    background-color: #F0F3F5;
  }

  .form-group.has-success.col-sm-12.addBorderClass.field-select label span {
    font-weight: bold;
  }

  .form-group.has-success.col-sm-12.addBorderClass.field-select > div > select {
    display: none;
  }

  .skipEn .field-wrap {
    float: right;
  }

  .skipAr .field-wrap {
    float: left;
    display: grid;
  }

  .submitEn .field-wrap {
    float: left;
  }

  .submitEn {
    padding-left: 0;
  }

  .submitAr {
    padding-right: 0;
  }

  .vue-form-generator .skipEn input, .vue-form-generator .skipAr input {
    color: #fff !important;
    background-color: #e3392d !important;
    border-color: #e3392d !important;
  }

  select.disSelect {
    background-color: #E4E5E6 !important;
  }

  /*.submitEn {
      margin-left: 92% !important;
  }
  .submitAr {
      margin-right: 92% !important;;
  }*/
  .btnClassCustmEn, .btnClassCustmAr {
    padding-top: 0px;
  }

  .btnClassCustmEn button, .btnClassCustmAr button {
    height: 33px;
  }
</style>
<script>
  import {store} from '@/components/store'
  import GetFormDA from '@/components/GetFormDA';
  import Vue from 'vue'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import 'vue-form-generator/dist/vfg.css'
  import {FormWizard, TabContent} from 'vue-form-wizard'
  import 'vue-form-wizard/dist/vue-form-wizard.min.css'
  import VueFormGenerator from "vue-form-generator";
  import {mapState, mapGetters, mapActions} from 'vuex'
  // let key = 'Item 1';
  //sessionStorage.setItem(key, 'demo');
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  import Unauthorized from '@/views/pages/Unauthorized';

  Vue.use(Element);

  Vue.use(VueFormGenerator);
  Vue.use(Loading);

  export default {
    name: 'tables',
    store: store,

    data: () => {
      return {
        showSubmitBtn: true,
        //isDisabled: false,
        showmindmap: 0,
        tableeditadata: '',
        finalModel: {},
        activeTabIndex: 0,
        searchViewModal: false,
        searchHistoryModal: false,
        searchHistoryvalutypeModal: false,
        Datadetails: '',
        /*model: {
            db_name: '',
            tenant_id: 0,
        },*/
        count: 0,
        index: '',
        formOptions: {
          validationErrorClass: "has-error",
          validationSuccessClass: "has-success",
          //validateAfterLoad: true,
          validateAfterChanged: true,
        },
        items: '',
        pageOptions: [5, 10, 15],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        tableformdata: '',
        showingeditModal: false,
        showingdeleteModal: false,
        fields: [],
        currentPage: 1,
        perPage: 5,
        totalRows: 0,
        translation: []
      }
    },
    // beforeRouteEnter(to, from, next) {
    //   let vm = this;
    //   next(vm => {
    //     // this.prevRoute = to.params.name
    //     // vm.prevRoute=from,
    //     alert(from.path)
    //     console.log(from) // this is the Vue instance
    //   })
    //
    // },
    components: {
      'loading': Loading,
      FormWizard,
      TabContent,
      mycomponent: GetFormDA,
      Unauthorized
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
      //alert(this.$route.params.kpi);
      if (this.$route.params.kpi) {
        this.$store.state.is_kpi = true;
        sessionStorage.setItem('kpi_id', this.$route.params.kpi);
        /* if(this.$store.state.type == 'f') {
             this.editTabledata(this.$route.params.kpi);
         } else {
             this.editTabledata12(this.$route.params.kpi);
         }*/

      }

      if(this.$route.params.id != 1 && this.$route.params.id != 3) {
        this.$store.state.is_kpi = true;
      }
      //alert(sessionStorage.getItem('kpi_id'));
      if (typeof this.$route.params.kpi == 'undefined' && !sessionStorage.getItem('kpi_id')) {
        sessionStorage.removeItem('kpi_id')
      }
      //if(this.$route.params.kpi)
      this.$store.dispatch('loadFormData', this.$route.params.id);
      if (!this.$store.state.is_kpi) {
        this.$store.commit('loadTableData', [this.$route.params.id]);
      }
    },
    created() {

      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.showSubmitBtn = false;
      }

      if (typeof this.$route.params.id != "undefined" && this.$route.params.id == 3) {
        this.$store.dispatch('loadMtpAndDefault');
      }
      //this.$store.dispatch('translation');
    },
    mounted() {
      //alert(document.referrer);
      if (document.referrer.indexOf("mindmap") > -1) {
        this.showmindmap = 1;
      } else {
        this.showmindmap = 0;
      }
      if (sessionStorage.getItem('kpi_id')) {
        //alert('in')
        this.$store.state.model.kpi_id = sessionStorage.getItem('kpi_id');
        //sessionStorage.removeItem('kpi_id');
      }

      if (typeof this.$route.params.view != "undefined" && this.$route.params.view) {
        this.viewTabledata1(this.$route.params.kpi);
      } else if (this.$route.params.kpi) {
        this.editTabledata(this.$route.params.kpi);
      }
      this.$store.state.model.tenant_id = this.$auth.user().tenant_id;
      if (!this.$store.state.is_kpi) {
        Vue.axios.get('/fg_form_tabledata/' + this.$route.params.id)
          .then((response) => {
            this.Datadetails = response.data;
            this.items = this.Datadetails;
            var keys = [];
            for (var k in this.items[0]) keys.push({
              'key': k,
              'label': this.get_text(k + '@' + this.$store.state.db_name + '@c')
            });
            keys.push({'key': 'Actions', 'label': this.get_text('actions@fg_form@l')});
            keys = keys.filter(e => e.key !== 'id');
            keys = keys.filter(e => e.key !== 'created_at');
            keys = keys.filter(e => e.key !== 'updated_at');
            this.fields = keys;
          })
          .catch((error) => {
            console.log(error)
          })
      }
    },
    computed: {
      ...mapState(["model", "kpi_mtp", "isShowH1H2", "isShowQut", "value_typeID"]),
      tableData() {

        var filterData = this.$store.state.tableData;
        this.totalRows = filterData.length;
        //alert(this.totalRows)
        return filterData;
      },
      showdata() {
        //alert('in');
        this.searchViewModal = this.$store.state.searchViewModal;
        this.$store.state.searchViewModal = false
      },
      showhistorydata() {
        //alert('in');
        this.searchHistoryModal = this.$store.state.searchHistoryModal;
        this.$store.state.searchHistoryModal = false
      },
      showhistorydatavaluetype() {
        //alert('in');
        this.searchHistoryvalutypeModal = this.$store.state.searchHistoryvalutypeModal;
        this.$store.state.searchHistoryvalutypeModal = false
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    methods: {
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      loaded: function (args) {
        var printButton = document.getElementById("myPrntbtn");
        printButton.style.visibility = 'hidden';
        /*var dropButton = document.getElementById("dropdown-1");
        dropButton.style.visibility = 'hidden';*/

        window.print()
        printButton.style.visibility = 'visible';
        //dropButton.style.visibility = 'visible';

      },
      targetMethod(val) {
        this.$store.dispatch('targetCalculation', [val, this.model]);
      },
      targetCalculationOneData(val) {
        this.$store.dispatch('targetCalculationOne', [val, this.model])
      },
      targetCalculationTwoData(val, text = null) {
        if(text == 'y1') {
          if(this.model.base_y_value == 0) {
            this.model.base_y_value = val;
          }
          this.$store.dispatch('targetCalculationTwo', [val, this.model])
        } else {
          this.$store.dispatch('targetCalculationTwo', [val, this.model])
        }
      },
      targetCalculationThreeData(val) {
        this.$store.dispatch('targetCalculationThree', [val, this.model])
      },
      changeDetermine(terget) {
        if (terget == 1 || terget == 3) {
          this.$store.state.isShowH1H2 = true;
          this.$store.state.isShowQut = true;
        } else if (terget == 6) {
          this.$store.state.isShowH1H2 = true;
          this.$store.state.isShowQut = false;
          //alert(this.model.value_type)
          this.model.h1_pct = 50;
        } else if (terget == 12) {
          this.$store.state.isShowH1H2 = false;
          this.$store.state.isShowQut = false;
        }
        this.$store.dispatch('targetCalculationOne', [this.model.base_y_value, this.model])
      },
      quickAccess(val) {
        window.location.replace(val)
      },
      setValidState(isValid) {
        /*this.$store.state.isValid = false;
        var base_y_value = $(".base_y_value").val();
        var y1_value = $(".y1_value").val();
        var y2_value = $(".y2_value").val();
        var y3_value = $(".y3_value").val();
        var max_value = $(".max_value").val();
        var array = [base_y_value, y1_value, y2_value,y3_value];
        var grater = Math.max.apply(Math, array);
        max_value = grater > max_value ? grater : max_value;
        this.$store.state.model.max_value = max_value;*/
      },
      mindmap() {
        //sessionStorage.removeItem('kpi_id');
        window.location.replace('/mindmap')
      },
      backToList() {
        localStorage.setItem('isSession', 'true');
        sessionStorage.removeItem('kpi_id');
        window.location.replace('/kpilist')
      },
      goToList() {
        sessionStorage.removeItem('kpi_id');
        window.location.replace('/kpilist')
      },
      goToHistory() {
        window.location.replace('/kpivalueshistory/' + this.$route.params.kpi);
      },
      backForm() {
        this.$store.state.model.target_determining_method = '';
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      processTaskLink(id) {
        this.$store.state.processInstance = [];
        return `/newFormGenerator/${id.toString()}`
      },
      goToNext(processId) {
        this.$store.state.searchViewModal = false;
        const processTaskLink = this.processTaskLink(this.$store.state.next_form_id);
        window.location.replace(processTaskLink);
      },
      selectfromdata(dataitem) {
        this.tableformdata = dataitem;
      },
      goBack() {
        this.$router.go(-1)
      },
      editTabledata(tabledataedit, value = null) {
        //alert('sdfsdfsdf');
        const editId = (tabledataedit.id) ? tabledataedit.id : tabledataedit;

        this.$store.state.isLoading = true;
        Vue.axios.get(`/tabledatabyId/${this.$route.params.id}/${editId}`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.priorityInfo = response.data.data
              } else {
                if (typeof response.data[0] != "undefined") {
                  console.log(response.data[0]);
                  this.$store.state.model = response.data[0];
                }
              }
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      viewTabledata1(tabledataedit, value = null) {
        //alert('sdfsdfsdf');
        const editId = (tabledataedit.id) ? tabledataedit.id : tabledataedit;

        this.$store.state.isLoading = true;
        Vue.axios.get(`/tabledatabyIdagain/${this.$route.params.id}/${editId}`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: 'Error',
                message: response.data.msg,
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.priorityInfo = response.data.data
              } else {
                if (typeof response.data[0] != "undefined") {
                  console.log(response.data[0]);
                  this.$store.state.model = response.data[0];
                }
              }
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      onSubmitForm: function () {
        this.$validator.validate().then(valid => {
          if (valid) {
            //this.isDisabled = true;
            this.$store.dispatch('onSubmit', [this.model, 'save']);
          }
        })
      },
      /*onSubmit: function () {
          alert('Yay. Done!');
          Vue.axios.post(`/fg_form`, this.model).then(response => {
              this.state.isLoading = false;
              if (response.data.code == 200) {
                  console.log('Created user', response.data.code, 'from the server')
                  Vue.prototype.$notify({
                      title: 'Success',
                      message: response.data.msg,
                      type: 'success',
                      position: 'top-right'
                  });
                  this.$refs.tabledatas.reload();
                  commit('CREATED_USER', user.data)
              } else {
                  Vue.prototype.$notify.error({
                      title: 'Error',
                      message: response.data.msg,
                      type: 'Error',
                      position: 'top-right'
                  })
              }
          })
      },*/
      updateformdata: function () {
        this.showingeditModal = false;
        Vue.axios.post(`/tableeditadataid/${this.$route.params.id}/${this.tableeditadataid}/${this.tableeditadata}`).then(response => {
          this.$store.commit('loadTableData', [this.$route.params.id]);
          if (response.data.code == 200) {

          } else {
            Vue.prototype.$notify.error({
              title: 'Error',
              message: response.data.msg,
              type: 'Error',
              position: 'top-right'
            })
          }
        })
      },
      deleteTabledata(tabledataedit, value = null) {
        this.showingeditModal = false;
        this.showingeditModal = false;
        Vue.axios.delete(`/tabledatadelete/${this.$route.params.id}/${tabledataedit.id}`).then(response => {
          this.$store.commit('loadTableData', [this.$route.params.id]);
          if (response.data.code == 200) {

          } else {
            Vue.prototype.$notify.error({
              title: 'Error',
              message: response.data.msg,
              type: 'Error',
              position: 'top-right'
            })
          }
        })
      },
      getRowCount(items) {
        return items.length
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
    filters: {
      uppercase: function (v) {
        return v.charAt(0).toUpperCase() + v.slice(1);
      }
    }
  }
</script>
