<template>
  <div id="app">
    <b-row style="margin-bottom:1%">
    <b-col sm="12">
      <div class="demmy" v-if="this.$i18n.locale == 'en'">Tutorial</div>
      <div class="demmy" v-else-if="this.$i18n.locale == 'ar'">عرض تعريفي</div>
    </b-col>
    </b-row>
    <b-row>
      <b-col :sm="(index== 0 ? 12 : 4)" v-for="(image, index) in media"
             :key="index">
        <b-link @click="openGallery(index)">
          <b-card no-body :img-src="(index == 0 && $i18n.locale == 'ar' ? image.thumbar : image.thumb)"
                  alt="Card image"
                  class="bg-dark text-white border-0">
            <div class="card-img-overlay d-flex align-items-end" style="padding: 2%"  >
              <div  class="col-sm-12">
                <b-card-title title-tag="h5" class="" style="margin: 0">
                  <label style="font-size: 20px; font-weight: bold; color: #ffffff; background-color: #5f6870;
                  opacity: 1;padding: 2%;">{{ ((image.caption1) ? get_text(image.caption1+'@l')+' &' : '')}}
                    {{get_text(image.caption+'@l')}} {{ ($i18n.locale == 'en' ? 'Tutorial' : 'عرض تعريفي')
                    }}</label>
                </b-card-title>
               <!-- <b-card-text v-if="$i18n.locale=='ar'" style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;"  :style="item.id==6 ? 'height: 70px;' : 'height: 90px;'">{{ item.description_ar }}</b-card-text>
                <b-card-text v-else  style="font-weight: bold; background-color: #24A8D8;  opacity: 0.9; padding: 2%;border: 1px solid;" :style="item.id==6 ? 'height: 70px;' : 'height: 110px;'">{{ item.description_en }}</b-card-text>-->
                <!--<b-card-text class="text-sm font-weight-bold">Last updated 3 mins ago</b-card-text>-->
              </div>
            </div>
          </b-card>
        </b-link>
      </b-col>
    </b-row>
    <LightBox
      ref="lightbox"
      :media="media"
      :show-caption="true"
      :show-light-box="false"
    />
  </div>
</template>

<script>
  import LightBox from 'vue-it-bigger'

  require('vue-it-bigger/dist/vue-it-bigger.min.css')

  export default {
    components: {
      LightBox,
    },
    data() {
      return {
        translation: [],
        media: [
          { // For video
            thumb: '/landing_page_img/minen.jpeg',
            thumbar: '/landing_page_img/minar.jpeg',
            sources: [
              {
                src: '/Tutorials/Ministry Dashboard.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'ministry dashboard',
            caption1: '',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
            thumb: '/landing_page_img/mykpi.jpg',
            sources: [
              {
                src: '/Tutorials/My KPI.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'my kpi',
            caption1: '',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
            thumb: '/landing_page_img/usermanag.jpg',
            sources: [
              {
                src: '/Tutorials/Organization Management.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'organization_management',
            caption1: '',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
            thumb: '/landing_page_img/myyearplan.jpg',
            sources: [
              {
                src: '/Tutorials/Strategy List and Process Management.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'process_list',
            caption1: 'strategy_list',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
            thumb: '/landing_page_img/orgmanage.jpg',
            sources: [
              {
                src: '/Tutorials/User Management.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'user_management',
            caption1: '',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
            thumb: '/landing_page_img/myprojects.jpg',
            sources: [
              {
                src: '/Tutorials/Projects.mp4',
                type: 'video/mp4'
              }
            ],
            type: "video",
            caption: 'my_schedule_projects',
            caption1: '',
            width: 800, // Required
            height: 600, // Required
            autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
          { // For video
              thumb: '/landing_page_img/mtppreparation.jpeg',
              sources: [
                  {
                      src: '/Tutorials/MTPOLD2New.mp4',
                      type: 'video/mp4'
                  }
              ],
              type: "video",
              caption: 'mtp_preparation',
              caption1: '',
              width: 800, // Required
              height: 600, // Required
              autoplay: false, // Optional: Autoplay video when the lightbox opens
          },
        ],
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    methods: {
      openGallery(index) {
        this.$refs.lightbox.showImage(index)
      },
      get_text(textbit) {
        var transtext = (typeof this.translation[this.$i18n.locale][textbit] != "undefined" && this.translation[this.$i18n.locale][textbit] != null) ? this.translation[this.$i18n.locale][textbit] : "!" + textbit;
        return transtext;
      },
    }
  }
</script>
<style>
  .demmy {
    padding: 1%;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight:bold;
    background-color: #ff821c;
  }
</style>

