<template>
  <div class="app animated fadeIn">
    <loading :active.sync="this.$store.state.isLoading"
             :can-cancel="true"
             :is-full-page="this.$store.state.fullPage"></loading>
    <b-row>
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4">{{ get_text('title@mtp@l') }}</b>
              <b-button variant="primary" size="md" class="btn float-right" @click="showingModal= true"
                        v-if="$can('mtp-create')">
                <b><i class="icon-plus icons font-1xl"></i> {{ this.get_text('add@mtp@l') }}</b></b-button>
            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading && $can('mtp-view')">
              <div style="text-align:center; padding-top:50px;">
                {{ this.get_text('loading@mtp@l') }}
              </div>
            </div>
            <div v-if="$auth.ready() && this.$store.state.loading && $can('mtp-view')">
              <b-row>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="this.get_text('filter@l')" class="mb-0">
                    <b-input-group>
                      <b-form-input v-model="filter" :placeholder="get_text('type_to_search@l')"/>
                      <b-input-group-append>
                        <b-btn :disabled="!filter" @click="filter = ''">{{ get_text('clear@l') }}</b-btn>
                      </b-input-group-append>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal label="Sort" class="mb-0">
                    <b-input-group>
                      <b-form-select v-model="sortBy" :options="sortOptions">
                        <option slot="first" :value="null">{{ get_text('none@l') }}</option>
                      </b-form-select>
                      <b-form-select :disabled="!sortBy" v-model="sortDesc" slot="append">
                        <option :value="false">{{ get_text('asc@l') }}</option>
                        <option :value="true">{{ get_text('desc@l') }}</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                </b-col>
                <b-col md="4" class="my-1">
                  <b-form-group horizontal :label="get_text('per_page@l')" class="mb-0">
                    <b-form-select :options="pageOptions" v-model="perPage"/>
                  </b-form-group>
                </b-col>
              </b-row>
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive="sm" :items="priorities" :fields="fields"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection"
                       @row-clicked="expandAdditionalInfo"
                       @filtered="onFiltered">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{ getName(data.item.status) }}
                  </b-badge>
                </template>
                <template slot="id" slot-scope="data">
                  <b-col class="mb-3 mb-xl-0">
                    {{ (currentPage - 1) * perPage + data.index + 1 }}
                  </b-col>
                </template>
                <template slot="Actions" slot-scope="data">
                  <b-row class="text-center">
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('mtp-view')">
                      <b-button variant="primary" size="sm"
                                @click="editPriority(data.item, 'view') "><b><i
                        class="icon-eye icons font-1xl"></i></b></b-button>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-3 mb-xl-1" v-if="$can('mtp-edit')">
                      <b-button variant="warning" size="sm"
                                @click="editPriority(data.item, 'edit')"><b><i
                        class="icon-pencil icons font-1xl"></i></b></b-button>
                    </b-col>&nbsp;
                    <b-col cols="2" sm="4" md="2" xl="1" class="mb-xl-1" v-if="$can('mtp-delete')">
                      <b-button variant="danger" size="sm"
                                @click="showingdeleteModal = true;  selectPriority(data.item)"><b><i
                        class="icon-trash icons font-1xl"></i></b></b-button>
                    </b-col>&nbsp;
                  </b-row>
                </template>
              </b-table>
              <nav>
                <b-pagination size="sm" :total-rows="getRowCount" :per-page="perPage"
                              v-model="currentPage" :prev-text="this.get_text('prev@l')"
                              :next-text="this.get_text('next@l')"
                              hide-goto-end-buttons/>
              </nav>
            </div>
            <div v-else-if="!$can('mtp-view')">
              <unauthorized></unauthorized>
            </div>
          </b-card>
        </transition>
        <b-modal :title="get_text('add@mtp@l')" size="lg" class="modal-primary" v-model="showingModal"
                 @close="setPriorityData" hide-footer>
          <b-form @submit.prevent="createPriority">
            <b-row>
              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('name@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-input type="text" id="name" v-validate="'required'" name="name"
                                v-model="priorityData.name" :placeholder="get_text('enter_name@mtp@l')"
                                :class="{ 'is-invalid': submitted && errors.has('name') }"></b-form-input>
                  <div v-if="submitted && errors.has('name')" class="invalid-feedback">
                    {{ errors.first('name') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('kpi_margin_pct@mtp@l')+ ' (%)' }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-input type="text" id="name" v-validate="'required'" name="kpi_margin_pct"
                                v-model="priorityData.kpi_margin_pct"
                                :placeholder="get_text('enter_kpi_margin_pct@mtp@l')"
                                :class="{ 'is-invalid': submitted && errors.has('kpi_margin_pct') }"></b-form-input>
                  <div v-if="submitted && errors.has('kpi_margin_pct')" class="invalid-feedback">
                    {{ errors.first('kpi_margin_pct') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('mtp_start@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-select v-model="priorityData.mtp_start" :options="this.$store.state.fiscal_year"
                                 id="mtp_start" v-validate="'required'" name="mtp_start"
                                 :class="{ 'is-invalid': submitted && errors.has('mtp_start') }">>
                    <option slot="first" :value="null">{{
                      get_text('please_select@kpi_def@l') }}
                    </option>
                  </b-form-select>
                  <!--<b-form-input type="text" id="mtp_start" v-validate="'required'" name="mtp_start"
                                v-model="priorityData.mtp_start" :placeholder="get_text('enter_mtp_start@mtp@l')" :class="{ 'is-invalid': submitted && errors.has('mtp_start') }"></b-form-input>-->
                  <div v-if="submitted && errors.has('mtp_start')" class="invalid-feedback">
                    {{ errors.first('mtp_start') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('mtp_end@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-select v-model="priorityData.mtp_end" :options="this.$store.state.fiscal_year" id="mtp_end"
                                 v-validate="'required'" name="mtp_end"
                                 :class="{ 'is-invalid': submitted && errors.has('mtp_end') }">>
                    <option slot="first" :value="null">{{
                      get_text('please_select@kpi_def@l') }}
                    </option>
                  </b-form-select>
                  <div v-if="submitted && errors.has('mtp_end')" class="invalid-feedback">
                    {{ errors.first('mtp_end') }}
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-button class="float-right" variant="primary" size="lg" type="submit">{{ get_text('save@mtp@l')}}
            </b-button>
          </b-form>
        </b-modal>
        <b-modal :title="get_text('edit@mtp@l')" size="lg" ref="vueModel" class="modal-primary"
                 v-model="showingeditModal"
                 hide-footer>
          <b-form @submit.prevent="updatePriority">
            <b-row>
              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('name@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-input type="text" id="name" v-validate="'required'" name="name"
                                v-model="priorityData.name" :placeholder="get_text('enter_name@mtp@l')"
                                :class="{ 'is-invalid': updated && errors.has('name') }"></b-form-input>
                  <div v-if="updated && errors.has('name')" class="invalid-feedback">
                    {{ errors.first('name') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('kpi_margin_pct@mtp@l')+ ' (%)' }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-input type="text" id="name" v-validate="'required'" name="kpi_margin_pct"
                                v-model="priorityData.kpi_margin_pct"
                                :placeholder="get_text('enter_kpi_margin_pct@mtp@l')"
                                :class="{ 'is-invalid': updated && errors.has('kpi_margin_pct') }"></b-form-input>
                  <div v-if="updated && errors.has('kpi_margin_pct')" class="invalid-feedback">
                    {{ errors.first('kpi_margin_pct') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('mtp_start@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-select v-model="priorityData.mtp_start" :options="this.$store.state.fiscal_year"
                                 id="mtp_start" v-validate="'required'" name="mtp_start"
                                 :class="{ 'is-invalid': updated && errors.has('mtp_start') }">>
                    <option slot="first" :value="null">{{
                      get_text('please_select@kpi_def@l') }}
                    </option>
                  </b-form-select>
                  <!--<b-form-input type="text" id="mtp_start" v-validate="'required'" name="mtp_start"
                                v-model="priorityData.mtp_start" :placeholder="get_text('enter_mtp_start@mtp@l')" :class="{ 'is-invalid': submitted && errors.has('mtp_start') }"></b-form-input>-->
                  <div v-if="updated && errors.has('mtp_start')" class="invalid-feedback">
                    {{ errors.first('mtp_start') }}
                  </div>
                </b-form-group>
              </b-col>

              <b-col sm="6">
                <b-form-group>
                  <label for="name">
                    {{ get_text('mtp_end@mtp@l') }}
                    <i class="fa fa-asterisk danger fa-xs" style="font-size:10px;color:red;"></i>
                  </label>
                  <b-form-select v-model="priorityData.mtp_end" :options="this.$store.state.fiscal_year" id="mtp_end"
                                 v-validate="'required'" name="mtp_end"
                                 :class="{ 'is-invalid': updated && errors.has('mtp_end') }">>
                    <option slot="first" :value="null">{{
                      get_text('please_select@kpi_def@l') }}
                    </option>
                  </b-form-select>
                  <div v-if="updated && errors.has('mtp_end')" class="invalid-feedback">
                    {{ errors.first('mtp_end') }}
                  </div>
                </b-form-group>
              </b-col>
            </b-row>
            <b-button class="float-right" variant="primary" size="lg" type="submit">{{ get_text('update@mtp@l') }}
            </b-button>
          </b-form>
        </b-modal>
        <b-modal :title="get_text('delete@mtp@l')" size="lg" class="modal-danger" v-model="showingdeleteModal"
                 hide-footer="true"
                 ok-variant="danger">
          <div class="modalcontent">
            <h3 class="text-center">{{ get_text('are_you_sure_to_delete@mtp@l') }} <b>{{priorityData.name}}</b>?</h3>
            <b-col md="12" class="text-center">

              <button class="btn btn-outline-danger left"
                      @click="showingdeleteModal = false; removePriority(priorityData)">{{ get_text('yes@mtp@l') }}
              </button>&nbsp;
              <button class="btn btn-outline-success right" @click="showingdeleteModal = false;">{{ get_text('no@mtp@l')
                }}
              </button>
            </b-col>
          </div>
        </b-modal>
        <b-modal :title="get_text('information@mtp@l')" size="lg" class="modal-info" v-model="showingViewModal"
                 ok-variant="info">
          <div class="modalcontent" v-if="this.priorityInfo">
            <b-row v-for="(item, index) in this.priorityInfo" :key="index">
              <b-col sm="6">{{ get_text(index+'@mtp'+'@c') }}</b-col>
              <b-col sm="6">{{ item }}</b-col>
            </b-row>
          </div>
        </b-modal>
      </b-col>
    </b-row>

    <b-row v-if="this.$store.getters.mtpfiscalyear.length > 0 ">
      <b-col cols="12" xl="12" ref="formContainer">
        <transition name="slide">
          <b-card>
            <div slot="header">
              <b class="h4">{{ get_text('linkedmtpfiscal@mtp@l') }}</b>
            </div>
            <div v-if="!$auth.ready() || !this.$store.state.loading">
              <div style="text-align:center; padding-top:50px;">
                {{ this.get_text('loading@mtp@l') }}
              </div>
            </div>
            <div v-if="$auth.ready() && this.$store.state.loading">
              <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small"
                       :fixed="fixed" responsive="sm" :items="mtpfiscalyear" :fields="fieldsMTPFY"
                       :current-page="currentPage" :per-page="perPage" :filter="filter"
                       :sort-by.sync="sortBy"
                       :sort-desc.sync="sortDesc"
                       :sort-direction="sortDirection">
                <template slot="status" slot-scope="data">
                  <b-badge :variant="getBadge(data.item.status)">{{ getName(data.item.status) }}
                  </b-badge>
                </template>
                <template slot="id" slot-scope="data">
                  <b-col class="mb-3 mb-xl-0">
                    {{ (currentPageMTPFY - 1) * perPageMTPFY + data.index + 1 }}
                  </b-col>
                </template>
              </b-table>
              <nav>
                <b-pagination size="sm" :total-rows="getMtpFyRowCount" :per-page="perPageMTPFY"
                              v-model="currentPageMTPFY" :prev-text="this.get_text('prev@l')"
                              :next-text="this.get_text('next@l')"
                              hide-goto-end-buttons/>
              </nav>
            </div>
          </b-card>
        </transition>
      </b-col>
    </b-row>
  </div>
</template>

<script>
  import {store} from '@/components/mtp/store/mtpstore'
  import Vue from 'vue'
  import 'element-ui/lib/theme-chalk/index.css';
  import Element from 'element-ui'
  //import {Notification} from 'element-ui'
  import Loading from 'vue-loading-overlay';
  import 'vue-loading-overlay/dist/vue-loading.css';
  import lang from 'element-ui/lib/locale/lang/en'
  import locale from 'element-ui/lib/locale'
  import Unauthorized from '@/views/pages/Unauthorized';

  Vue.use(Element);
  Vue.use(Loading);
  locale.use(lang)

  export default {
    store: store,
    props: {
      hover: {
        type: Boolean,
        default: true
      },
      striped: {
        type: Boolean,
        default: true
      },
      bordered: {
        type: Boolean,
        default: false
      },
      small: {
        type: Boolean,
        default: false
      },
      fixed: {
        type: Boolean,
        default: false
      }
    },
    created() {
      //this.$store.dispatch('translation');
      this.$store.dispatch('loadfiscalyeardata');
      this.$store.dispatch('loadmtpdata')
    },
    data: () => {
      return {
        selected: null,
        fields: [
          /*{key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'TypeCode', label: 'PRC Type', sortable: true, sortDirection: 'desc'},
          {key: 'Type', label: 'PRC Type Name'},
          {key: 'Actions'},*/
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ],
        fieldsMTPFY: [],
        button: '',
        currentPage: 1,
        currentPageMTPFY: 1,
        perPage: 25,
        perPageMTPFY: 25,
        totalRows: 0,
        priorityData: {
          mtp_start: null,
          mtp_end: null,
          name: null,
          prev_mtp: null,
          kpi_margin_pct: null,
        },
        priorityInfo: null,
        showingeditModal: false,
        showingViewModal: false,
        showingModal: false,
        showingdeleteModal: false,
        submitted: false,
        updated: false,
        pageOptions: [10, 25, 50, 100],
        sortBy: null,
        sortDesc: false,
        sortDirection: 'asc',
        filter: null,
        translation: []
      }
    },
    beforeMount() {
      if (localStorage.getItem('translation')) {
        this.translation = JSON.parse(localStorage.getItem('translation'));
      }
    },
    /*mounted() {
        this.fields=[
            {key: 'IdPRCType', label: '#', sortable: true, sortDirection: 'desc'},
            {key: 'TypeCode', label: this.get_text('PRC Type'), sortable: true, sortDirection: 'desc'},
            {key: 'Type', label: this.get_text('PRC Type Name')},
            {key: 'Actions',label: this.get_text('Actions')},
            //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
            //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ]
    },*/
    computed: {
      priorities() {
        this.fields = [
          {key: 'id', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('name@mtp@c'), sortable: true, sortDirection: 'desc'},
          {key: 'mtp_start', label: this.get_text('mtp_start@mtp@c')},
          {key: 'mtp_end', label: this.get_text('mtp_end@mtp@c')},
          {key: 'kpi_margin_pct', label: this.get_text('kpi_margin_pct@mtp@c')+' %'},
          {key: 'prev_mtp', label: this.get_text('prev_mtp@mtp@c')},
          {key: 'Actions', label: this.get_text('actions@l')},
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ];
        return this.$store.getters.priorities;
      },

      mtpfiscalyear() {
        this.fieldsMTPFY = [
          {key: 'id', label: '#', sortable: true, sortDirection: 'desc'},
          {key: 'name', label: this.get_text('name@mtp@c'), sortable: true, sortDirection: 'desc'},
          {key: 'start_date', label: this.get_text('mtp_start@mtp@c')},
          {key: 'end_date', label: this.get_text('mtp_end@mtp@c')},
          {key: 'kpi_margin_pct', label: this.get_text('kpi_margin_pct@mtp@c')},
          {key: 'prev_mtp', label: this.get_text('prev_mtp@mtp@c')},
          //{key: 'Actions', label: this.get_text('actions@l')},
          //{key: 'Delete', thClass: 'text-center', tdClass: 'text-center'},
          //{key: 'View', thClass: 'text-center', tdClass: 'text-center'}
        ];
        return this.$store.getters.mtpfiscalyear;
      },

      getRowCount() {
        return this.$store.getters.getRowCount
      },
      getMtpFyRowCount() {
        return this.$store.getters.getMtpFyRowCount
      },
      sortOptions() {
        // Create an options list from our fields
        return this.fields
          .filter(f => f.sortable)
          .map(f => {
            return {text: f.label, value: f.key}
          })
      }
    },
    watch: {
      showingeditModal: function () {
        if (this.showingeditModal == false) {
          this.$store.dispatch('loadmtpdata')
          this.priorityData = {}
        }
      }
    },
    components: {
      'loading': Loading,
      Unauthorized
    },
    methods: {
      expandAdditionalInfo(row) {
        //alert(row.id)
        this.$store.dispatch('loadmtpfiscaldata', row.id)
      },
      setPriorityData() {
        this.priorityData = {
          mtp_start: null,
          mtp_end: null,
          name: null,
          prev_mtp: null,
          kpi_margin_pct: null,
        }
      },
      get_text(textbit) {
        var transtext = this.translation[this.$i18n.locale][textbit];
        if (transtext) {
          return transtext;
        } else {
          var spliteText = (textbit.split("@"));
          if (spliteText.length > 2) {
            var newTxt = (spliteText[0] + '@' + 'l');
            var transtext1 = this.translation[this.$i18n.locale][newTxt];
            if (transtext1) {
              return transtext1;
            } else {
              return "!" + textbit;
            }
          } else {
            return "!" + textbit;
          }
        }

      },
      $can(permissionName) {
        // alert(this.$auth.user().allPermissions);
        return this.$auth.user().totalpermissions.indexOf(permissionName) !== -1;
      },
      createPriority() {
        this.submitted = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.resetPasswordBtn = true,
              this.showingModal = false
            this.$store.dispatch('createPriority', {
              data: {
                mtp_start: this.priorityData.mtp_start,
                mtp_end: this.priorityData.mtp_end,
                name: this.priorityData.name,
                prev_mtp: this.priorityData.prev_mtp,
                kpi_margin_pct: this.priorityData.kpi_margin_pct,
              }
            })
            this.priorityData = {
              mtp_start: null,
              mtp_end: null,
              name: null,
              prev_mtp: null,
              kpi_margin_pct: null,
            }
            this.$validator.reset();
          }
        });
      },
      selectPriority(priority) {
        this.priorityData = priority;
      },
      editPriority(priority, value = null) {
        this.$store.state.isLoading = true;
        Vue.axios.get(`/loadmtpdata/${priority.id}`)
          .then((response) => {
            if (response.data.code == 401) {
              Vue.prototype.$notify.error({
                title: this.get_text('Error@m'),
                message: this.get_text(response.data.msg + '@m'),
                type: 'Error',
                position: 'top-right'
              })
            } else {
              if (value == 'view') {
                this.showingViewModal = true;
                this.priorityInfo = response.data.data
              } else {
                this.showingeditModal = true
                this.priorityData = response.data.data
              }
            }
            this.$store.state.isLoading = false;
          })
          .catch(error => {
            console.log(error.response.data.message);
            this.$store.state.isLoading = false;
            if (error.response.status == 403) {
              this.$store.dispatch('get_text_title', 'Error@m');
              this.$store.dispatch('get_text_message', error.response.data.message + '@m');
              Vue.prototype.$notify.error({
                title: this.$store.state.title,
                message: this.$store.state.message,
                type: 'Error',
                position: 'top-right'
              });
            }
          });
      },
      updatePriority() {
        this.updated = true;
        this.$validator.validate().then(valid => {
          if (valid) {
            this.showingeditModal = false
            this.$store.dispatch('updatePriority', {
              where: this.priorityData.id,
              data: {
                mtp_start: this.priorityData.mtp_start,
                mtp_end: this.priorityData.mtp_end,
                name: this.priorityData.name,
                prev_mtp: this.priorityData.prev_mtp,
                kpi_margin_pct: this.priorityData.kpi_margin_pct,
              }
            })
            this.priorityData = {
              mtp_start: null,
              mtp_end: null,
              name: null,
              prev_mtp: null,
              kpi_margin_pct: null,
            }
            this.$validator.reset();
          }
        });
      },
      removePriority(priorities) {
        this.$store.dispatch('removePriority', priorities)
      },
      getBadge(status) {
        return status == 1 ? 'success' : status === 0 ? 'warning' : 'primary'
      },
      getName(status) {
        return status == '1' ? 'Active' : status == '0' ? 'Deactive' : 'primary'
      },
      onFiltered(filteredItems) {
        // Trigger pagination to update the number of buttons/pages due to filtering
        this.totalRows = filteredItems.length
        this.currentPage = 1
      }
    },
  }
</script>
<style>
  .modal-header .close {
    padding: 0 !important;
    margin: 0 !important;
  }

  .is-invalid {
    border: 1px solid #D30A0A;
  }
</style>
<style scoped>
  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
    vertical-align: middle !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;

  }

  .card-body >>> table > tbody > tr > td {
    cursor: pointer;
  }
</style>
<style>
  @import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
  @import "../../../node_modules/@syncfusion/ej2-vue-richtexteditor/styles/material.css";
</style>
